Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

PAO-ML: Reduce default of MAX_CYCLES from 1000 to 75
  src/pao_input.F
  tests/QS/regtest-pao-2/H2O_pao_equi.inp
  tests/QS/regtest-pao-2/H2O_pao_equi_hybrid.inp
  tests/QS/regtest-pao-2/H2O_pao_exp.inp
  tests/QS/regtest-pao-2/H2O_pao_exp_hybrid.inp
  tests/QS/regtest-pao-2/H2O_pao_fock.inp
  tests/QS/regtest-pao-2/H2O_pao_fock_hybrid.inp
  tests/QS/regtest-pao-2/H2O_pao_gth.inp
  tests/QS/regtest-pao-2/H2O_pao_gth_hybrid.inp
  tests/QS/regtest-pao-2/H2O_pao_minimal.inp
  tests/QS/regtest-pao-2/H2O_pao_rotinv.inp
  tests/QS/regtest-pao-2/H2O_pao_rotinv_hybrid.inp
Due: doxify, prettify, analyze_src

PAO-ML: Stabilize test and add TZV2P basis set
  tools/docker/scripts/test_misc.sh
  tools/pao-ml/pao/model.py
Due: shfmt

Docs: Add more acronyms and empty k-point page
  docs/acronyms.md
  docs/methods/dft/index.md
  docs/methods/dft/k-points.md
Due: none

dbm: improved dbm_shard_copy
  src/dbm/dbm_shard.c
Due: analyze_src, clang-format

dbm: params to literals, miniapp command line, minor changes
  src/dbm/Makefile
  src/dbm/dbm_hyperparams.h
  src/dbm/dbm_miniapp.c
  src/dbm/dbm_multiply_cpu.c
Due: analyze_src, clang-format

dbm: adjusted some OpenMP clauses
  src/dbm/dbm_multiply.c
Due: analyze_src, clang-format

Fix build of libsmeagol with OpenMPI
  tools/toolchain/scripts/stage7/install_libsmeagol.sh
  tools/toolchain/scripts/stage8/install_dftd4.sh
Due: shfmt

dbm: params to literals, miniapp command line, minor changes (#3852)
  src/dbm/Makefile
  src/dbm/dbm_hyperparams.h
  src/dbm/dbm_miniapp.c
  src/dbm/dbm_multiply_cpu.c
Due: analyze_src, clang-format

dbm: adjusted some OpenMP clauses (#3853)
  src/dbm/dbm_multiply.c
Due: analyze_src, clang-format

dbm: improved dbm_shard_copy (#3851)
  src/dbm/dbm_shard.c
Due: analyze_src, clang-format

Specify the requirement to setup the HF section
  src/input_cp2k_xc.F
Due: doxify, prettify, analyze_src

Change lib64 to lib as follow-up to PR #3854
  arch/Eiger-mc-gnu.psmp
  arch/Eiger-mc-intel.psmp
  arch/Linux-amd-x86_64.ssmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
Due: none

Removed LAPACK interface
  src/CMakeLists.txt
  src/aobasis/aux_basis_set.F
  src/atom_fit.F
  src/atom_grb.F
  src/atom_operators.F
  src/atom_optimization.F
  src/atom_utils.F
  src/common/eigenvalueproblems.F
  src/common/lapack.F
  src/common/linear_systems.F
  src/common/splines.F
  src/mao_methods.F
  src/minbas_methods.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Removed LAPACK interface module (#3858)
  src/CMakeLists.txt
  src/aobasis/aux_basis_set.F
  src/atom_fit.F
  src/atom_grb.F
  src/atom_operators.F
  src/atom_optimization.F
  src/atom_utils.F
  src/common/eigenvalueproblems.F
  src/common/lapack.F
  src/common/linear_systems.F
  src/common/splines.F
  src/mao_methods.F
  src/minbas_methods.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Do not enforce usage of internal libs for OpenMPI build
  tools/toolchain/scripts/stage1/install_openmpi.sh
Due: shfmt

Update Darwin arch files (SMEAGOL and TREXIO added)
  arch/Darwin-gnu-arm64.psmp
  arch/Darwin-gnu-arm64.ssmp
Due: none

TDDFPT: add exciton descriptors
  src/bse_full_diag.F
  src/bse_print.F
  src/bse_properties.F
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_properties_dft.F
  src/qs_tddfpt2_methods.F
  src/qs_tddfpt2_properties.F
  tests/QS/regtest-bse/TEST_FILES
  tests/QS/regtest-tddfpt-prop/TEST_FILES
  tests/QS/regtest-tddfpt-prop/h2o_exciton_descriptors.inp
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Rewrite qs_ot_generate_rotation to only use real matrices
  src/cp_dbcsr_diag.F
  src/qs_ot.F
  src/qs_ot_types.F
Due: doxify, prettify, analyze_src

Add openPMD file creation and deletion to output_handling
  src/input/cp_output_handling.F
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

enable spglib in ssmp CMake build
  tools/docker/scripts/build_cp2k_cmake.sh
Due: shfmt

Use MPI communicator from logger
  src/input/cp_output_handling.F
  src/openPMD.F
Due: doxify, prettify, analyze_src

libxsmm
  tools/docker/scripts/build_cp2k_cmake.sh
Due: shfmt

rebase
  CMakeLists.txt
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt

update enable more libs
  CMakeLists.txt
  cmake/modules/FindLibVORI.cmake
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt

enable more libraries
  CMakeLists.txt
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt

remove deprecated packages
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt

make pretty destroys my code???
  src/openPMD.F
Due: doxify, prettify, analyze_src

make pretty
  tools/docker/scripts/build_cp2k_cmake.sh
Due: shfmt

Enable COSMA, ELPA, libVORI, PLUMED, SIRIUS, SPLA in CMake + Spack CI build
  CMakeLists.txt
  cmake/modules/FindLibVORI.cmake
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt

fix libtorch
  src/CMakeLists.txt
  tools/docker/scripts/build_cp2k_cmake.sh
Due: shfmt

Don't use dummy filename
  src/binding/openPMD/auxiliary.c
  src/binding/openPMD/auxiliary.h
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/input/cp_output_handling.F
  src/openPMD.F
Due: doxify, prettify, analyze_src, clang-format
