Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

fix
  ci/docker/build_deps_spack.Dockerfile
Due: none

xpmem
  tools/spack/cp2k_deps_psmp.yaml
Due: none

change spack config
  ci/docker/build_deps_spack.Dockerfile
Due: none

env modification
  ci/docker/build_deps_spack.Dockerfile
Due: none

update
  ci/docker/build_deps_spack.Dockerfile
Due: none

mpich -> cray-mpich
  ci/docker/build_deps_spack.Dockerfile
Due: none

sirius
  ci/docker/build_deps_spack.Dockerfile
  tools/spack/cp2k_deps_psmp.yaml
Due: none

disable elpa
  ci/docker/build_deps_spack.Dockerfile
Due: none

disable
  ci/cscs_eiger_spack_psmp.yaml
  cmake/cmake_cp2k.sh
Due: shfmt

Improved check_diag
  src/fm/cp_fm_diag.F
Due: doxify, prettify, analyze_src

cscs image
  ci/cscs_eiger_spack_psmp.yaml
Due: none

enable dlaf
  cmake/cmake_cp2k.sh
Due: shfmt

remove cmake_cpwk.sh from hash tag
  ci/cscs_eiger_spack_psmp.yaml
Due: none

data: Add the new BASIS_AUG_MOLOPT and BASIS_RI_AUG_MOLOPT basis sets (all electron)
  data/BASIS_AUG_MOLOPT
  data/BASIS_RI_AUG_MOLOPT
Due: regen_data

change tag
  ci/cscs_eiger_spack_psmp.yaml
Due: none

Adhere to conventions
  src/fm/cp_fm_diag.F
Due: doxify, prettify, analyze_src

Don't instantiate makeConstant for vector types
  src/binding/openPMD/openPMD.cpp
Due: analyze_src, clang-format

make image public
  ci/cscs_eiger_spack_psmp.yaml
Due: none

LIBXSMM: support BUILD_SHARED_LIBS
  cmake/modules/FindLibXSMM.cmake
Due: none

run bench
  ci/cscs_eiger_spack_psmp.yaml
Due: none

bench
  ci/cscs_eiger_spack_psmp.yaml
Due: none

try mpich nolocal
  ci/cscs_eiger_spack_psmp.yaml
Due: none

Trying to fix green's function for analytic solver
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

More input keywords update: OP_PARAMETER -> OMEGA
  src/input_cp2k_as.F
  tests/QS/regtest-as-dft/h2_2-2.inp
  tests/QS/regtest-as-dft/h2_iterative_density.inp
  tests/QS/regtest-as-dft/h2_manual_1+2.inp
  tests/QS/regtest-as-dft/h2_manual_1+2_1+3.inp
  tests/QS/regtest-as-dft/h2_manual_1+3.inp
  tests/QS/regtest-as-dft/h2_manual_1+3_1+2.inp
  tests/QS/regtest-as-dft/h2_manual_1+4.inp
  tests/QS/regtest-as-dft/h2_manual_UKS_1+2.inp
Due: doxify, prettify, analyze_src

Fix double conversion of rcut to bohr
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

Add keyword to use larger cell for gpw integrals
  src/qs_active_space_methods.F
  src/qs_active_space_types.F
Due: doxify, prettify, analyze_src

Working on admm
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

Make pretty
  src/pw_env_methods.F
Due: doxify, prettify, analyze_src

Add LR_trunc potential and remove obsolete code
  src/common/errfun.F
  src/qs_active_space_methods.F
  src/qs_active_space_types.F
Due: doxify, prettify, analyze_src

Fix init cell
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

True OBC integrals with GPW analytic Poisson solver
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

Fix MPI output
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

Fix after master rebase + remove Poisson solver option:
  src/input_cp2k_as.F
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
