Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Fxc refactoring: convert last kernel (TDDFT)
  src/qs_tddfpt2_fhxc.F
  src/qs_tddfpt2_operators.F
  tests/QS/regtest-acc-5-1/TEST_FILES.toml
  tests/QS/regtest-acc-5-1/h2o_f01_pbe_fine_xc.inp
Due: doxify, prettify, analyze_src

clean variables
  src/qs_kpp1_env_methods.F
Due: doxify, prettify, analyze_src

Stabilize GFN2 modified Broyden regtest
  tests/xTB/regtest-tblite-gfn2-1/N2_gfn2_cp2k_modified_broyden.inp
  tests/xTB/regtest-tblite-gfn2-1/TEST_FILES.toml
Due: none

Speed up test regtest-acc-5-1/h2o_f01_pbe_fine_xc.inp
  tests/QS/regtest-acc-5-1/TEST_FILES.toml
  tests/QS/regtest-acc-5-1/h2o_f01_pbe_fine_xc.inp
Due: none

Prepare the MPI wrapper for MPI_THREAD_MULTIPLE
  src/CMakeLists.txt
  src/f77_interface.F
  src/mpiwrap/message_passing.F
  src/mpiwrap/message_passing_thread_unittest.F
  src/mpiwrap/mp_perf_env.F
Due: doxify, prettify, analyze_src

Resolve slow test
  tests/xTB/regtest-tblite-gfn2-5/N2_gfn2_cp2k_kp_stress.inp
Due: none

addressed design changes to evgw0
  src/gw_non_periodic_ri_rs.F
Due: doxify, prettify, analyze_src

Declare NNP OpenMP data sharing (#5807)
  src/nnp_force.F
Due: doxify, prettify, analyze_src

Prepare the MPI wrapper for MPI_THREAD_MULTIPLE (#5811)
  src/CMakeLists.txt
  src/f77_interface.F
  src/mpiwrap/message_passing.F
  src/mpiwrap/message_passing_thread_unittest.F
  src/mpiwrap/mp_perf_env.F
  tests/xTB/regtest-tblite-gfn2-5/N2_gfn2_cp2k_kp_stress.inp
Due: doxify, prettify, analyze_src

Remove duplicate kinetic H-r commutator path
  src/CMakeLists.txt
  src/commutator_rkinetic.F
  src/qs_commutators.F
  src/qs_vcd_ao.F
Due: doxify, prettify, analyze_src

Stabilize GFN2 modified Broyden regtest (#5810)
  tests/xTB/regtest-tblite-gfn2-1/N2_gfn2_cp2k_modified_broyden.inp
  tests/xTB/regtest-tblite-gfn2-1/TEST_FILES.toml
Due: none

Cover optimized EMD energy variation
  tests/QS/regtest-ls-rtp/TEST_FILES.toml
Due: none

Stabilize RTP field ramp energy
  tests/QS/regtest-rtp-2/TEST_FILES.toml
Due: none

make_cp2k.sh v2.3: add option for coverage testing
  make_cp2k.sh
Due: shfmt

Add spack-based coverage tester
  tools/dashboard/dashboard.conf
  tools/docker/Dockerfile.test_spack_coverage
  tools/docker/Dockerfile.test_spack_gromacs
  tools/docker/Dockerfile.test_spack_openmpi-pdbg
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_pdbg
  tools/docker/Dockerfile.test_spack_pdbg-P100
  tools/docker/Dockerfile.test_spack_pdbg-rawhide
  tools/docker/Dockerfile.test_spack_performance-openmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc13
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-gcc16
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rockylinux
  tools/docker/Dockerfile.test_spack_sdbg
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/cp2k-ci.conf
  tools/docker/generate_dockerfiles.py
Due: none

Stabilize RTP electric-field ramp energy (#5803)
  tests/QS/regtest-ls-rtp/TEST_FILES.toml
  tests/QS/regtest-rtp-2/TEST_FILES.toml
Due: none

Stabilize open-shell OH reference SCF
  tests/QS/regtest-gauxc-gpw-mol/OH_NATIVE_GPW_PBE_UKS_REFERENCE.inp
  tests/QS/regtest-gauxc-gpw-mol/TEST_FILES.toml
Due: none

pass on gpu path for spla
  tools/toolchain/scripts/stage8/install_spla.sh
Due: shfmt

Remove duplicate lin_mom and orphan diffop
  src/aobasis/ai_moments.F
  src/aobasis/ai_overlap.F
  src/qs_operators_ao.F
Due: doxify, prettify, analyze_src

Stabilize open-shell OH reference SCF (#5808)
  tests/QS/regtest-gauxc-gpw-mol/OH_NATIVE_GPW_PBE_UKS_REFERENCE.inp
  tests/QS/regtest-gauxc-gpw-mol/TEST_FILES.toml
Due: none

Parallelize native Skala one-center contractions
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

Handle wrapped native-grid adjoint stencils
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

Avoid implicit reallocation in OpenMP reduction
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

Add message_passing_thread_unittest to UNIT_TESTS
  tests/UNIT_TESTS
Due: none

Compile message_passing_thread_unittest only with MPI build
  src/CMakeLists.txt
Due: none

Build MPI thread unittest only with MPI enabled (#5812)
  src/CMakeLists.txt
  tests/UNIT_TESTS
Due: none

Unify MPI lifecycle handling and add thread communicator pools
  src/grid/grid_unittest.c
  src/mpiwrap/cp_mpi.c
  src/mpiwrap/cp_mpi.h
  src/mpiwrap/message_passing.F
  src/mpiwrap/message_passing_thread_unittest.F
  src/start/libcp2k.h
Due: doxify, prettify, analyze_src, clang-format

Parallelize native Skala one-center contractions (#5816)
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

Fix degenerate Broyden charge mixing
  src/CMakeLists.txt
  src/qs_charge_mixing.F
  src/qs_charge_mixing_unittest.F
  tests/UNIT_TESTS
Due: doxify, prettify, analyze_src

make_cp2k.sh v2.3: add option for coverage testing (#5813)
  make_cp2k.sh
  tools/dashboard/dashboard.conf
  tools/docker/Dockerfile.test_spack_coverage
  tools/docker/Dockerfile.test_spack_gromacs
  tools/docker/Dockerfile.test_spack_openmpi-pdbg
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_pdbg
  tools/docker/Dockerfile.test_spack_pdbg-P100
  tools/docker/Dockerfile.test_spack_pdbg-rawhide
  tools/docker/Dockerfile.test_spack_performance-openmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc13
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-gcc16
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rockylinux
  tools/docker/Dockerfile.test_spack_sdbg
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/cp2k-ci.conf
  tools/docker/generate_dockerfiles.py
Due: shfmt

Document MPI_THREAD_MULTIPLE requirement
  docs/changelog.md
  docs/technologies/libraries.md
Due: none

Fix degenerate Broyden charge mixing (#5815)
  src/CMakeLists.txt
  src/qs_charge_mixing.F
  src/qs_charge_mixing_unittest.F
  tests/UNIT_TESTS
Due: doxify, prettify, analyze_src

Document MPI_THREAD_MULTIPLE requirement (#5818)
  docs/changelog.md
  docs/technologies/libraries.md
Due: none

Track MPI time on OpenMP worker threads
  src/mpiwrap/message_passing.F
  src/mpiwrap/message_passing_thread_unittest.F
  src/mpiwrap/mp_perf_env.F
Due: doxify, prettify, analyze_src

Update RPM spec
  tools/fedora/cp2k.spec
Due: none

Migrate INSTALL.md to ./docs/getting-started/installation.md
  INSTALL.md
  docs/development/code-structure.md
  docs/development/onboarding.md
  docs/getting-started/build-from-source.md
  docs/getting-started/installation.md
  docs/index.md
  src/README.md
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Remove build instructions and rewrite team membership
  README.md
  docs/development/onboarding.md
  docs/getting-started/installation.md
Due: none

Update RPM spec (#5819)
  tools/fedora/cp2k.spec
Due: none

Fix indentation and rescue some removed contents
  README.md
  docs/getting-started/build-from-source.md
  docs/getting-started/installation.md
Due: none
