Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Add more initializers (#2663)
  src/common/structure_factor_types.F
  src/common/timings_base_type.F
  src/common/timings_types.F
  src/cp2k_debug.F
  src/cp_subsys_methods.F
  src/energy_corrections.F
  src/eri_mme/eri_mme_types.F
  src/force_env_methods.F
  src/motion/averages_types.F
  src/motion/gopt_f77_methods.F
  src/pw_env/gaussian_gridlevels.F
  src/pw_env/pw_env_types.F
  src/pw_env/rs_pw_interface.F
  src/qs_kind_types.F
  src/subsys/atomic_kind_types.F
  src/subsys/atprop_types.F
  src/subsys/cell_types.F
  src/subsys/colvar_types.F
  src/subsys/cp_subsys_types.F
  src/subsys/damping_dipole_types.F
  src/subsys/external_potential_types.F
  src/subsys/force_field_kind_types.F
  src/subsys/molecule_kind_types.F
  src/subsys/molecule_types.F
  src/subsys/multipole_types.F
  src/subsys/particle_types.F
  src/subsys/shell_potential_types.F
  src/subsys/virial_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Refactoring of linres solver (#2665)
  src/mp2_cphf.F
  src/preconditioner.F
  src/preconditioner_makes.F
  src/qs_density_matrices.F
  src/qs_linres_methods.F
  src/qs_scf_diagonalization.F
  src/response_solver.F
  src/rpa_im_time_force_methods.F
  tests/QS/regtest-mp2-grad-2/TEST_FILES
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Retire older Intel testers
  tools/dashboard/dashboard.conf
Due: none

Bug fix for atomic 2nd and 3rd derivatives of XC GGA functionals
  src/cp2k_debug.F
  src/qs_vxc_atom.F
  tests/QS/regtest-debug-6/TEST_FILES
  tests/QS/regtest-debug-6/ch2o_dip45.inp
  tests/QS/regtest-debug-6/ch2o_xc_dip45.inp
  tests/QS/regtest-debug-6/h2o_dip42.inp
  tests/QS/regtest-debug-6/h2o_xc_dip42.inp
Due: doxify, prettify, analyze_src

Bug fix for atomic 2nd and 3rd derivatives of XC GGA functionals (#2667)
  src/cp2k_debug.F
  src/qs_vxc_atom.F
  tests/QS/regtest-debug-6/TEST_FILES
  tests/QS/regtest-debug-6/ch2o_dip45.inp
  tests/QS/regtest-debug-6/ch2o_xc_dip45.inp
  tests/QS/regtest-debug-6/h2o_dip42.inp
  tests/QS/regtest-debug-6/h2o_xc_dip42.inp
Due: doxify, prettify, analyze_src

Added MOs for low scaling RPA forces, some refactoring, regtests
  src/response_solver.F
  src/rpa_im_time_force_methods.F
  tests/QS/regtest-rpa-cubic-scaling-2/H2O_added_mos.inp
  tests/QS/regtest-rpa-cubic-scaling-2/TEST_FILES
Due: doxify, prettify, analyze_src

Added MOs for low scaling RPA forces, some refactoring, regtests (#2669)
  src/response_solver.F
  src/rpa_im_time_force_methods.F
  tests/QS/regtest-rpa-cubic-scaling-2/H2O_added_mos.inp
  tests/QS/regtest-rpa-cubic-scaling-2/TEST_FILES
Due: doxify, prettify, analyze_src

Update Intel arch file
  arch/Linux-intel-x86_64.psmp
Due: none

Toolchain: Restore --no-check-certificate option
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/tool_kit.sh
Due: shfmt

EC| Add regtest for Harris and DCDFT with ADDED_MOS
  tests/QS/regtest-dcdft-force/N2_t17.inp
  tests/QS/regtest-dcdft-force/TEST_FILES
  tests/QS/regtest-ec-force/N2_t15.inp
  tests/QS/regtest-ec-force/TEST_FILES
Due: none

DDED_MOS for EC with MO response solver, some regtests for TDDFPT GAPW dipoles
  src/response_solver.F
  tests/QS/regtest-debug-6/TEST_FILES
  tests/QS/regtest-debug-6/ch2o_dip46.inp
  tests/QS/regtest-debug-6/ch2o_dip47.inp
  tests/QS/regtest-debug-6/ch2o_xc_dip46.inp
  tests/QS/regtest-debug-6/ch2o_xc_dip47.inp
Due: doxify, prettify, analyze_src

reverse associate statement for nl commutators
  src/commutator_rpnl.F
Due: doxify, prettify, analyze_src

ADDED_MOS for EC with MO response solver, some regtests for TDDFPT GAP… (#2673)
  src/response_solver.F
  tests/QS/regtest-debug-6/TEST_FILES
  tests/QS/regtest-debug-6/ch2o_dip46.inp
  tests/QS/regtest-debug-6/ch2o_dip47.inp
  tests/QS/regtest-debug-6/ch2o_xc_dip46.inp
  tests/QS/regtest-debug-6/ch2o_xc_dip47.inp
Due: doxify, prettify, analyze_src

EC| Add regtest for Harris and DCDFT with ADDED_MOS
  tests/QS/regtest-dcdft-force/N2_t17.inp
  tests/QS/regtest-dcdft-force/N2_t18.inp
  tests/QS/regtest-dcdft-force/TEST_FILES
  tests/QS/regtest-ec-force/N2_t15.inp
  tests/QS/regtest-ec-force/N2_t16.inp
  tests/QS/regtest-ec-force/TEST_FILES
Due: none

EC| Add regtest for Harris and DCDFT with ADDED_MOS (#2675)
  tests/QS/regtest-dcdft-force/N2_t17.inp
  tests/QS/regtest-dcdft-force/N2_t18.inp
  tests/QS/regtest-dcdft-force/TEST_FILES
  tests/QS/regtest-ec-force/N2_t15.inp
  tests/QS/regtest-ec-force/N2_t16.inp
  tests/QS/regtest-ec-force/TEST_FILES
Due: none

DBM: Fix Makefile and doxygen
  src/dbm/Makefile
  src/dbm/dbm_distribution.c
Due: analyze_src, clang-format

Disable some debug flags
  arch/Linux-gnu-x86_64.psmp
Due: none

Remove associate constructs within OMP regions
  src/commutator_rpnl.F
  src/qs_mfp.F
  src/qs_vcd_ao.F
Due: doxify, prettify, analyze_src

fixed (#20)
  src/emd/rt_propagation_utils.F
  src/qs_mo_io.F
Due: doxify, prettify, analyze_src

Test wavefunction restart file functionality
  tests/QS/regtest-wfn-restart/H2O-wfn-restart-check-RESTART.wfn
  tests/QS/regtest-wfn-restart/H2O-wfn-restart-check.inp
  tests/QS/regtest-wfn-restart/TEST_FILES
  tests/TEST_DIRS
Due: none

EC| Add reference Belleflamme2023
  src/common/bibliography.F
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

EC| Add reference Belleflamme2023 (#2682)
  src/common/bibliography.F
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

Conventions: Add check for ASSOCIATE inside OMP PARALLEL region
  tools/conventions/analyze_gfortran_ast.py
Due: none

Pretty
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

Add Minimal Basis Type
  src/aobasis/basis_set_container_types.F
  src/input_cp2k_subsys.F
  src/qs_interactions.F
  src/qs_kind_types.F
Due: doxify, prettify, analyze_src

Minimal basis sets for analysis
  data/BASIS_MINBAS
Due: regen_data

Some formatting changes
  src/energy_corrections.F
  src/qs_moments.F
Due: doxify, prettify, analyze_src

Fix some regtests
  tests/QS/regtest-dm-ls-scf-3/TEST_FILES
  tests/QS/regtest-gpw-1/TEST_FILES
Due: none

DC-DFT E-field + regtests
  src/ec_efield_local.F
  src/energy_corrections.F
  tests/QS/regtest-dcdft-force/TEST_FILES
  tests/QS/regtest-dcdft-force/dipole.inp
  tests/QS/regtest-ec/TEST_FILES
  tests/QS/regtest-ec/harris.inp
Due: doxify, prettify, analyze_src

Fix printing and regtests
  src/ec_efield_local.F
  src/energy_corrections.F
  src/qs_moments.F
  tests/QS/regtest-gpw-8/TEST_FILES
Due: doxify, prettify, analyze_src
