Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Fixed an error in the output of MO for ROKS
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Remove regtest for print Wannier and Cube in LOW SPIN ROKS
  tests/QS/regtest-lsroks/TEST_FILES
Due: none

Set CPABORT to PRINT MO_CUBES and WANNIER_CENTERS in the LOW SPIN ROKS method
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

emd output improvement
  src/emd/rt_propagation_output.F
Due: doxify, prettify, analyze_src

clean up
  src/emd/rt_propagation_methods.F
Due: doxify, prettify, analyze_src

improve output
  src/emd/rt_propagation_output.F
Due: doxify, prettify, analyze_src

RTP projection: Allow projection on reference empty states
  src/emd/rt_propagation_methods.F
Due: doxify, prettify, analyze_src

stop if time dependent field in length gauge representation is requested together with active PBC
  src/emd/rt_propagation_methods.F
Due: doxify, prettify, analyze_src

pretty
  src/emd/rt_propagation_output.F
Due: doxify, prettify, analyze_src

refrence accuracy changed
  tests/QS/regtest-rtp-2/TEST_FILES
Due: none

line too long
  src/emd/rt_propagation_output.F
Due: doxify, prettify, analyze_src

reference values changed after adding PERIODIC NONE
  tests/QS/regtest-rtp-2/TEST_FILES
Due: none

prettify
  src/emd/rt_propagation_methods.F
Due: doxify, prettify, analyze_src

add efield output for velocity gauge
  src/efield_utils.F
Due: doxify, prettify, analyze_src

Add Badges!
  README.md
Due: none

EMD: output (#3373)
  src/efield_utils.F
  src/emd/rt_propagation_output.F
Due: doxify, prettify, analyze_src

Extra argument about number of repetitions of a kernel
  src/dbm/dbm_miniapp.c
Due: analyze_src, clang-format

Increment shell version, close files
  src/start/cp2k_shell.F
Due: doxify, prettify, analyze_src

Introduce SETPOSFILE as a command in cp2k_shell
  src/start/cp2k_shell.F
Due: doxify, prettify, analyze_src

Fix docker badge display
  README.md
Due: none

Fix typo
  README.md
Due: none

set nullptr after deleting
  src/deepmd_wrapper.F
Due: doxify, prettify, analyze_src

resolve comments
  src/deepmd_wrapper.F
  tools/toolchain/scripts/stage6/install_deepmd.sh
Due: doxify, prettify, analyze_src, shfmt

miror change
  src/deepmd_wrapper.F
Due: doxify, prettify, analyze_src

bump DeePMD-kit to 2.2.9
  arch/CRAY-XC50-gnu.psmp
  tools/toolchain/scripts/stage6/install_deepmd.sh
Due: shfmt

`fi` should not be deleted
  tools/toolchain/scripts/stage6/install_deepmd.sh
Due: shfmt

fix errors
  src/deepmd_wrapper.F
Due: doxify, prettify, analyze_src

call DP_DeleteDeepPot
  INSTALL.md
  src/deepmd_wrapper.F
Due: doxify, prettify, analyze_src

download package from github
  tools/toolchain/scripts/stage6/install_deepmd.sh
Due: shfmt

add timeset
  src/deepmd_wrapper.F
Due: doxify, prettify, analyze_src

pre-commit
  src/deepmd_wrapper.F
Due: doxify, prettify, analyze_src

DBM: OpenCL implementation
  src/dbm/dbm_multiply_opencl.c
  src/dbm/dbm_multiply_opencl.cl
Due: analyze_src, clang-format

Updated permitted/undocumented/internal macros.
  tools/precommit/check_file_properties.py
Due: none

Support C-comments. Omit checking OpenCL source code as it is usually compiled at runtime (machine-driven rather than user-controlled), i.e., no INSTALL comment etc. necessary.
  tools/precommit/check_file_properties.py
Due: none

DBM: OpenCL implementation (#3375)
  src/dbm/dbm_multiply_opencl.c
  src/dbm/dbm_multiply_opencl.cl
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

Check for not supported stress tensor in TDDFT
  src/response_solver.F
Due: doxify, prettify, analyze_src

Check for not supported stress tensor in TDDFT (#3377)
  src/response_solver.F
Due: doxify, prettify, analyze_src

[PWDFT] SIRIUS returns -T S for the entropic term
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
