Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Fix TOML files and remove empty test directories
  tests/QS/regtest-gauxc-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
Due: none

Move CUDA-enabled tests to regtest-skala-cuda and non-CUDA test to regtest-skala-native-gpw-mol
  1H2_GAUXC_PBE-RESTART.wfn
  H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS-RESTART.kp
  build_tool
  comparing
  cp2k_build.md
  make_cp2k.sh_try
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_INV_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_INV_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mol/H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS_NATIVE.inp
  tests/QS/regtest-skala-native-gpw-mol/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

Update TEST_DIRS for skala and gauxc tests
  tests/TEST_DIRS
Due: none

Refactor scala model installation to shared location via setup_skala
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

small corrections
  docs/technologies/libraries.md
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage5/install_stage5.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

Fix Skala flag handling and shared installation
  CMakeLists.txt
  cp2k_build.md
  docs/methods/dft/gauxc.md
  make_cp2k.sh
  src/CMakeLists.txt
  src/cp2k_info.F
  src/input_cp2k_xc.F
  src/skala_gpw_functional.F
  src/xc/xc_gauxc_functional.F
  status.md
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage5/install_stage5.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
Due: doxify, prettify, analyze_src, shfmt

Move setup_skala to install directory
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

Update gauxc/skala test reference files with values from master branch
  tests/QS/regtest-gauxc-cuda/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-mol/TEST_FILES.toml
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
Due: none

Remove unnecessary files from the last commit
  1H2_GAUXC_PBE-RESTART.wfn
  H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS-RESTART.kp
  build_tool
  comparing
  cp2k_build.md
  make_cp2k.sh_try
Due: none

rename scala flag to skala-ftorch in make_cp2k.sh
  make_cp2k.sh
Due: shfmt

fix some testing and install for gauxc / skala-ftorch
  tests/QS/regtest-skala-native-gpw-coords/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mol/TEST_FILES.toml
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

formatting fixes and removing moved input names
  docs/methods/dft/gauxc.md
  tests/QS/regtest-gauxc-gapw-base/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-ecp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-nlcc/TEST_FILES.toml
  tools/toolchain/scripts/stage5/install_skala.sh
Due: shfmt

fixing problems with testing infrastructure
  tests/QS/regtest-gauxc-cuda/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-ae-kp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-gth-kp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-kp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-mech/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
Due: none

make tests less sensitive
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
Due: none

missing default
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

fixing dependencies for test
  tests/TEST_DIRS
Due: none

clean up toolchain scripts
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

fix formatting for new skala installation
  CMakeLists.txt
  make_cp2k.sh
  src/cp2k_info.F
  src/input_cp2k_xc.F
  src/skala_gpw_functional.F
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: doxify, prettify, analyze_src, shfmt

remove unused skala bindings from install script and fix NLCC test matchers
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

Add TEST_FILES.toml for gauxc-gapw-gth and gauxc-gpw-nlcc, update TEST_DIRS
  tests/QS/regtest-gauxc-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-nlcc/TEST_FILES.toml
Due: none

small fix if skala is not installed
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

Align ska-native/ska-cuda reference values with GauXC master
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-ae-kp/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-ecp/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-coords/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mol/TEST_FILES.toml
Due: none

Disable Skala/FTorch support by default
  CMakeLists.txt
  make_cp2k.sh
  tools/toolchain/scripts/stage5/install_skala.sh
Due: shfmt

cleaning up tests
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/H2_NATIVE_SKALA_GAPW_GPWTYPE_STRESS.inp
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/H2_NATIVE_SKALA_GPW_SMOOTH_FORCE.inp
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mol/H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS_NATIVE.inp
  tests/QS/regtest-skala-native-gpw-mol/TEST_FILES.toml
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

prettify
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Update gauxc/skala test reference files
  tests/QS/regtest-gauxc-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-nlcc/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-ae-kp/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-ecp/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-coords/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mol/TEST_FILES.toml
Due: none

Reorganize SKALA tests: move NATIVE_SKALA tests from gauxc to ska-native/ska-cuda directories
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/TEST_FILES.toml
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GAPW_AE_ATOM_COMPOSITE.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_KP_INV_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_KP_SPGLIB_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/HF_NATIVE_SKALA_GAPW_PAW_NLCC_STRESS.inp
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GPWTYPE_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_KP_SPGLIB_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_XC_GTH_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
Due: none

update make_cp2k
  make_cp2k.sh
Due: shfmt

update tests with master branch and small fix
  tests/QS/regtest-gauxc-gapw-ecp/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-gth/H2_MIXED_AE_GTH_NATIVE_SKALA_DIRECT.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_MIXED_AE_GTH_NATIVE_SKALA_PAW.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_ATOM_COMPOSITE.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_KP_INV_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_KP_SPGLIB_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/TEST_FILES.toml
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

Add shared skala installation for GauXC and skala_ftorch
  CMakeLists.txt
  tests/QS/regtest-gauxc-gpw-coords/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-mol/TEST_FILES.toml
  tests/QS/regtest-gauxc-skala/TEST_FILES.toml
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

restore with_skala case handling and BUILDDIR setup_skala paths for gauxc/skala
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

Rename regtest-skala-cuda to regtest-gauxc-cuda and update TEST_DIRS
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

Docs: fix `dollarmath` environments of MathJax entities for new MyST version (#6066)
  docs/README.md
  docs/conf.py
  docs/methods/dft/cneo.md
  docs/methods/dft/hartree-fock/ri_kpoints.md
  docs/methods/properties/optical/bethe-salpeter.md
  docs/methods/properties/optical/index.md
Due: none

Docker: Fix base image sources
  ci/docker/build_cp2k_spack.Dockerfile
  ci/docker/build_deps_spack.Dockerfile
  tools/docker/Dockerfile.test_spack_pdbg-P100
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-rockylinux
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/generate_dockerfiles.py
Due: none

Address native library ownership and conventions review
  src/f77_interface.F
  src/start/cp2k_runs.F
  src/start/libcp2k.F
  src/start/libcp2k_unittest.c
  src/topology_curvature.F
  tools/conventions/analyze_gfortran_warnings.py
Due: doxify, prettify, analyze_src, clang-format

Add remaining GROMACS benchmark ClC
  benchmarks/GROMACS/ClC/QM_19/ClC.gro
  benchmarks/GROMACS/ClC/QM_19/ClC.mdp
  benchmarks/GROMACS/ClC/QM_19/ClC.ndx
  benchmarks/GROMACS/ClC/QM_19/ClC.top
  benchmarks/GROMACS/ClC/QM_19/ClC_cp2k.inp
  benchmarks/GROMACS/ClC/QM_19/ClC_cp2k.pdb
  benchmarks/GROMACS/ClC/QM_19/README.md
Due: none

Docker: Fix base image sources (#6081)
  ci/docker/build_cp2k_spack.Dockerfile
  ci/docker/build_deps_spack.Dockerfile
  tools/docker/Dockerfile.test_spack_pdbg-P100
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-rockylinux
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/generate_dockerfiles.py
Due: none

Initialize RPA time-frequency grid in explicit constructor
  src/mp2_types.F
Due: doxify, prettify, analyze_src

Dashboard: Update schedule for larger worker pool
  tools/dashboard/dashboard.conf
  tools/dashboard/generate_dashboard.py
  tools/docker/cp2k-ci.conf
Due: none
