Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Add GPW feature builder for Skala grids
  src/CMakeLists.txt
  src/skala_gpw_features.F
Due: doxify, prettify, analyze_src

Extend native Skala GPW periodic tests
  tests/QS/regtest-gauxc/AR4_NATIVE_GPW_PBE_WRAPPED_REFERENCE.inp
  tests/QS/regtest-gauxc/H2O_NATIVE_GPW_PBE_WRAPPED_REFERENCE.inp
  tests/QS/regtest-gauxc/NE4_NATIVE_GPW_PBE_REFERENCE.inp
  tests/QS/regtest-gauxc/NE4_NATIVE_SKALA_GPW.inp
  tests/QS/regtest-gauxc/OH_NATIVE_GPW_PBE_UKS_REFERENCE.inp
  tests/QS/regtest-gauxc/OH_NATIVE_GPW_PBE_UKS_WRAPPED_REFERENCE.inp
  tests/QS/regtest-gauxc/OH_NATIVE_SKALA_GPW_UKS_WRAPPED.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: none

Add Skala Torch protocol wrapper
  src/CMakeLists.txt
  src/skala_torch_api.F
Due: doxify, prettify, analyze_src

Stabilize GauXC UKS reference test
  tests/QS/regtest-gauxc/OH_ONEDFT_PBE_UKS_TZV2PX.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
  tests/SLOW_TESTS_SUPPRESSIONS
Due: none

Guard Skala against NLCC pseudopotentials
  src/qs_vxc.F
  src/xc/xc_gauxc_functional.F
Due: doxify, prettify, analyze_src

Refine GauXC Skala runtime settings
  src/input_cp2k_xc.F
  src/xc/xc_gauxc_functional.F
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src

Support native Skala GPW MPI grids
  docs/technologies/libraries.md
  src/input_cp2k_xc.F
  src/qs_ks_methods.F
  src/skala_gpw_features.F
Due: doxify, prettify, analyze_src

Prepare Torch hooks for native Skala grid path
  docs/technologies/libraries.md
  src/torch_api.F
  src/torch_c_api.cpp
Due: doxify, prettify, analyze_src, clang-format

Add native Skala GPW feature diagnostics
  docs/technologies/libraries.md
  src/input_cp2k_xc.F
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
Due: doxify, prettify, analyze_src

Add native Skala GPW force correction
  docs/technologies/libraries.md
  src/qs_ks_methods.F
  src/qs_vxc.F
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
  tests/QS/regtest-gauxc/H2_NATIVE_SKALA_GPW_FORCE_DEBUG.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Expose OneDFT atom chunk control
  docs/technologies/libraries.md
  src/input_cp2k_xc.F
  src/xc/xc_gauxc_functional.F
  tests/QS/regtest-gauxc/H2_SKALA_ENERGY_CHUNKED.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Add native SKALA CUDA opt-in
  docs/technologies/libraries.md
  src/input_cp2k_xc.F
  src/skala_gpw_functional.F
Due: doxify, prettify, analyze_src

Relax tolerance and revert to manual trigger
  .packit.yaml
  tests/QS/regtest-grid/TEST_FILES.toml
  tests/QS/regtest-nonortho/TEST_FILES.toml
Due: none

Make GAPW noortho localize tests opt in to canonicalization
  tests/QS/regtest-gapw/H2O-gapw-all_localize_crazy_noortho.inp
  tests/QS/regtest-gapw/H2O-gapw-all_localize_noortho.inp
Due: none

Fix GauXC host debug build
  docs/technologies/libraries.md
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src

Remove Skala benchmark helper files
  benchmarks/QS/skala_gauxc_multigpu_benchmark.md
  benchmarks/QS/skala_gauxc_multigpu_benchmark.py
  benchmarks/QS/skala_native_gpw_validation.md
Due: none

Stabilize GauXC pdbg regtest references
  tests/QS/regtest-gauxc/OH_NATIVE_GPW_PBE_UKS_REFERENCE.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: none

Relax OH reference SCF threshold
  tests/QS/regtest-gauxc/OH_NATIVE_GPW_PBE_UKS_REFERENCE.inp
Due: none

Refactoring and bug fixing
  src/grid/cpu/grid_cpu_task_list.c
  src/grid/cpu/grid_cpu_task_list.h
  src/grid/cpu/grid_cpu_task_list_internal.h
  src/grid/dgemm/grid_dgemm_task_list.h
  src/grid/gpu/grid_gpu_collocate.cu
  src/grid/gpu/grid_gpu_context.cu
  src/grid/gpu/grid_gpu_context.h
  src/grid/gpu/grid_gpu_integrate.cu
  src/grid/gpu/grid_gpu_internal_header.h
  src/grid/grid_replay.c
  src/grid/grid_task_list.c
  src/grid/grid_task_list.h
  src/grid/grid_task_list_internal.h
  src/grid/ref/grid_ref_task_list.c
  src/grid/ref/grid_ref_task_list.h
  src/grid/ref/grid_ref_task_list_internal.h
Due: analyze_src, clang-format

More typos
  src/grid/gpu/grid_gpu_collocate.cu
Due: analyze_src

Fix typos
  src/grid/gpu/grid_gpu_context.h
  src/grid/gpu/grid_gpu_integrate.cu
Due: analyze_src, clang-format

Shorten GauXC SKALA regtests
  tests/QS/regtest-gauxc/AR4_NATIVE_SKALA_GPW.inp
  tests/QS/regtest-gauxc/AR4_NATIVE_SKALA_GPW_WRAPPED.inp
  tests/QS/regtest-gauxc/H2O_NATIVE_SKALA_GPW.inp
  tests/QS/regtest-gauxc/H2O_NATIVE_SKALA_GPW_WRAPPED.inp
  tests/QS/regtest-gauxc/H2_GAPW_SKALA_CDFT.inp
  tests/QS/regtest-gauxc/H2_GAPW_SKALA_ENERGY.inp
  tests/QS/regtest-gauxc/H2_NATIVE_SKALA_GPW.inp
  tests/QS/regtest-gauxc/H2_NATIVE_SKALA_GPW_FORCE.inp
  tests/QS/regtest-gauxc/H2_SKALA_CDFT.inp
  tests/QS/regtest-gauxc/H2_SKALA_CDFT_CI.inp
  tests/QS/regtest-gauxc/H2_SKALA_ENERGY.inp
  tests/QS/regtest-gauxc/H2_SKALA_ENERGY_CHUNKED.inp
  tests/QS/regtest-gauxc/NE4_NATIVE_SKALA_GPW.inp
  tests/QS/regtest-gauxc/OH_NATIVE_SKALA_GPW_UKS.inp
  tests/QS/regtest-gauxc/OH_NATIVE_SKALA_GPW_UKS_WRAPPED.inp
  tests/QS/regtest-gauxc/OH_ONEDFT_PBE_UKS.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
  tests/SLOW_TESTS_SUPPRESSIONS
Due: none

Relax GauXC SKALA smoke references
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: none

Reduce GauXC SKALA force smoke runtime
  tests/QS/regtest-gauxc/H2_NATIVE_SKALA_GPW_FORCE.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: none

Update GauXC SKALA force smoke reference
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: none

Drop redundant canonicalization from restart consumers
  tests/Fist/regtest-7-1/uo2_shell_npe_2res.inp
  tests/Fist/regtest-7-2/UO2-2x2x2-binary_restart-cs-6.inp
  tests/Fist/regtest-7-2/UO2-2x2x2-binary_restart-cs-7.inp
  tests/Fist/regtest-7-2/UO2-2x2x2-binary_restart-cs-8.inp
  tests/Fist/regtest-7-2/UO2-2x2x2-nocs2cs-npt-2.inp
  tests/Fist/regtest-7-2/UO2-2x2x2-nocs2cs-npt-3.inp
Due: none

CMake: Fix libint2 Fortran module finding (#5317)
  cmake/modules/FindLibint2.cmake
  tests/QS/regtest-acc-2/HF-nlcc.inp
  tests/QS/regtest-grid/TEST_FILES.toml
  tests/QS/regtest-nonortho/TEST_FILES.toml
  tests/QS/regtest-pcc/TEST_FILES.toml
  tools/fedora/cp2k.spec
Due: none

Add native-grid SKALA periodic image test
  tests/QS/regtest-gauxc/AR4_NATIVE_SKALA_GPW_IMAGE_COORDS.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: none

Canonicalize native-grid SKALA PBC coordinates
  src/skala_gpw_features.F
Due: doxify, prettify, analyze_src

Toolchain: lammps-pace (ACE) 2023.11.25.fix2 -> 2025.12.4.p1
  CMakeLists.txt
  cmake/modules/FindACE.cmake
  src/CMakeLists.txt
  tools/toolchain/scripts/stage6/install_ace.sh
Due: shfmt

Fix some format and convention of WRITE statements in cp_lbfgs.F
  docs/methods/optimization/geometry_and_cell_opt.md
  src/motion/cp_lbfgs.F
  src/motion/cp_lbfgs_optimizer_gopt.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add periodic SKALA validation tests
  tests/QS/regtest-gauxc/H2O_NATIVE_SKALA_GPW_IMAGE_COORDS.inp
  tests/QS/regtest-gauxc/H2P_NATIVE_SKALA_GPW_UKS_PBC_FORCE_DEBUG.inp
  tests/QS/regtest-gauxc/H2_NATIVE_SKALA_GPW_PBC_FORCE_DEBUG.inp
  tests/QS/regtest-gauxc/OH_NATIVE_SKALA_GPW_UKS_IMAGE_COORDS.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: none

Toolchain: Download tblite from cp2k.org
  tools/toolchain/scripts/stage8/install_tblite.sh
Due: shfmt

Handle periodic image coordinates for native-grid SKALA (#5321)
  src/skala_gpw_features.F
  tests/QS/regtest-gauxc/AR4_NATIVE_SKALA_GPW_IMAGE_COORDS.inp
  tests/QS/regtest-gauxc/H2O_NATIVE_SKALA_GPW_IMAGE_COORDS.inp
  tests/QS/regtest-gauxc/H2P_NATIVE_SKALA_GPW_UKS_PBC_FORCE_DEBUG.inp
  tests/QS/regtest-gauxc/H2_NATIVE_SKALA_GPW_PBC_FORCE_DEBUG.inp
  tests/QS/regtest-gauxc/OH_NATIVE_SKALA_GPW_UKS_IMAGE_COORDS.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Add native-grid SKALA CUDA chunk controls
  docs/technologies/libraries.md
  src/input_cp2k_xc.F
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
  src/skala_torch_api.F
  src/torch_api.F
  src/torch_c_api.cpp
  tests/QS/regtest-gauxc/AR4_NATIVE_SKALA_GPW_ATOM_CHUNKS.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: doxify, prettify, analyze_src, clang-format

Pack SKALA chunk gradients from Torch
  src/skala_gpw_functional.F
  src/torch_api.F
  src/torch_c_api.cpp
Due: doxify, prettify, analyze_src, clang-format

Address SKALA Torch API review comments
  src/skala_gpw_functional.F
  src/skala_torch_api.F
  src/torch_api.F
  src/torch_c_api.cpp
Due: doxify, prettify, analyze_src, clang-format

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
