Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Apply pretty formatting to TB sources
  src/qs_environment.F
  src/tblite_interface.F
Due: doxify, prettify, analyze_src

Add UKS coverage for DFTB and xTB methods
  tests/DFTB/regtest-nonscc/TEST_FILES.toml
  tests/DFTB/regtest-nonscc/ch2o_uks_force.inp
  tests/DFTB/regtest-scc-2/TEST_FILES.toml
  tests/DFTB/regtest-scc-2/dftb3_h2o_uks_force.inp
  tests/DFTB/regtest-scc/TEST_FILES.toml
  tests/DFTB/regtest-scc/ch2o_uks_force.inp
  tests/xTB/regtest-gfn0/H2O_gfn0_uks_mol_debug.inp
  tests/xTB/regtest-gfn0/TEST_FILES.toml
  tests/xTB/regtest-gfn1-d/H2O_gfn1_uks_mol_debug.inp
  tests/xTB/regtest-gfn1-d/TEST_FILES.toml
  tests/xTB/regtest-tblite-ipea1/O2_ipea1_uks_force.inp
  tests/xTB/regtest-tblite-ipea1/TEST_FILES.toml
Due: none

Fix remaining PR CI failures
  tests/DFTB/regtest-scc/TEST_FILES.toml
  tests/QS/regtest-acc-1-libxc/TEST_FILES.toml
  tests/QS/regtest-acc-1-libxc/argon-rvv10-gapw-accurate.inp
  tests/QS/regtest-acc-1-libxc/argon-vdW-DF-optB88-gapw-accurate.inp
  tests/QS/regtest-acc-1/TEST_FILES.toml
  tests/TEST_DIRS
  tests/xTB/regtest-tblite-gfn2/Si_gfn2_kp_stress.inp
Due: none

Stabilize GFN0 YZ k-point debug test
  tests/xTB/regtest-gfn0/H2O_gfn0_yz_kp_debug.inp
Due: none

Refine tblite k-point self-image stress
  src/tblite_interface.F
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Keep tblite open-shell occupations in RKS
  src/tblite_interface.F
Due: doxify, prettify, analyze_src

Fix final CIF element scan
  src/particle_methods.F
Due: doxify, prettify, analyze_src

Suppress slow Si GFN2 k-point stress test
  tests/SLOW_TESTS_SUPPRESSIONS
Due: none

Fix k-point symmetry for unconstrained motion
  src/cryssym.F
  src/qs_environment.F
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/QS/regtest-kp-1/c_cell_opt_kpsym_guard.inp
  tests/QS/regtest-kp-1/c_k290_space_group_ops.inp
Due: doxify, prettify, analyze_src

Fix optional k-point symmetry CI paths
  src/cryssym.F
  src/kpoint_methods.F
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/QS/regtest-kp-spglib/TEST_FILES.toml
  tests/QS/regtest-kp-spglib/c_k290_space_group_ops.inp
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Adjust Harris-kp k-point symmetry reference
  tests/QS/regtest-harris-kp/TEST_FILES.toml
Due: none

Refine k-point symmetry reductions and guards (#5152)
  src/cryssym.F
  src/kpoint_methods.F
  src/qs_environment.F
  tests/QS/regtest-harris-kp/TEST_FILES.toml
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/QS/regtest-kp-1/c_cell_opt_kpsym_guard.inp
  tests/QS/regtest-kp-spglib/TEST_FILES.toml
  tests/QS/regtest-kp-spglib/c_k290_space_group_ops.inp
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Improve tblite GFN k-point stress handling
  src/tblite_interface.F
  tests/xTB/regtest-tblite-gfn1-grad/Si_gfn1_kp_stress.inp
  tests/xTB/regtest-tblite-gfn1-grad/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn1-periodic/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
  tests/xTB/regtest-tblite-ipea1/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Improve tblite GFN k-point stress handling (#5153)
  src/tblite_interface.F
  tests/xTB/regtest-tblite-gfn1-grad/Si_gfn1_kp_stress.inp
  tests/xTB/regtest-tblite-gfn1-grad/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn1-periodic/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
  tests/xTB/regtest-tblite-ipea1/TEST_FILES.toml
Due: doxify, prettify, analyze_src

make_cp2k.sh: Introduce --use_cache flag (#5149)
  ci/docker/build_cp2k_spack.Dockerfile
  ci/docker/build_deps_spack.Dockerfile
  docs/getting-started/build-from-source.md
  make_cp2k.sh
  tools/docker/Dockerfile.test_spack_openmpi-pdbg
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_pdbg
  tools/docker/Dockerfile.test_spack_psmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rawhide
  tools/docker/Dockerfile.test_spack_psmp-rockylinux
  tools/docker/Dockerfile.test_spack_sdbg
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/generate_dockerfiles.py
Due: shfmt

Remove unused variables from tblite_interface.F
  src/tblite_interface.F
Due: doxify, prettify, analyze_src

Add TB force and stress regression coverage
  tests/DFTB/regtest-nonscc/TEST_FILES.toml
  tests/DFTB/regtest-nonscc/dftb_nonscc_ch2o_mol_debug.inp
  tests/DFTB/regtest-nonscc/dftb_nonscc_ch2o_x_kp_debug.inp
  tests/DFTB/regtest-scc-2/TEST_FILES.toml
  tests/DFTB/regtest-scc-2/dftb3_h2o_x_direct_kp_debug.inp
  tests/DFTB/regtest-scc/TEST_FILES.toml
  tests/DFTB/regtest-scc/dftb_h2o_x_direct_kp_debug.inp
  tests/xTB/regtest-gfn1-d/H2O_gfn1_x_kp_debug.inp
  tests/xTB/regtest-gfn1-d/TEST_FILES.toml
  tests/xTB/regtest-gfn1-d/si_kp_kpsym_debug_stress.inp
  tests/xTB/regtest-tblite-gfn1-grad/CH2O_gfn1_stress.inp
  tests/xTB/regtest-tblite-gfn1-grad/TEST_FILES.toml
Due: none

Improve GFN2 tblite k-point stress normalization
  src/tblite_interface.F
  tests/xTB/regtest-tblite-gfn2/Si_gfn2_kp_333_stress.inp
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Adjust GFN2 tblite stress k-point reference
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
Due: none

Speed up GFN2 tblite 3x3x3 stress test
  tests/xTB/regtest-tblite-gfn2/Si_gfn2_kp_333_stress.inp
Due: none

Expand TB force/stress coverage and improve GFN2/tblite k-point stress of remaining pathological cases (#5155)
  src/tblite_interface.F
  tests/DFTB/regtest-nonscc/TEST_FILES.toml
  tests/DFTB/regtest-nonscc/dftb_nonscc_ch2o_mol_debug.inp
  tests/DFTB/regtest-nonscc/dftb_nonscc_ch2o_x_kp_debug.inp
  tests/DFTB/regtest-scc-2/TEST_FILES.toml
  tests/DFTB/regtest-scc-2/dftb3_h2o_x_direct_kp_debug.inp
  tests/DFTB/regtest-scc/TEST_FILES.toml
  tests/DFTB/regtest-scc/dftb_h2o_x_direct_kp_debug.inp
  tests/xTB/regtest-gfn1-d/H2O_gfn1_x_kp_debug.inp
  tests/xTB/regtest-gfn1-d/TEST_FILES.toml
  tests/xTB/regtest-gfn1-d/si_kp_kpsym_debug_stress.inp
  tests/xTB/regtest-tblite-gfn1-grad/CH2O_gfn1_stress.inp
  tests/xTB/regtest-tblite-gfn1-grad/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn2/Si_gfn2_kp_333_stress.inp
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Add partial-PBC TB stress diagnostics
  src/cp2k_debug.F
  tests/DFTB/regtest-nonscc/TEST_FILES.toml
  tests/DFTB/regtest-scc-2/TEST_FILES.toml
  tests/DFTB/regtest-scc/TEST_FILES.toml
  tests/matchers.py
  tests/xTB/regtest-gfn0/TEST_FILES.toml
  tests/xTB/regtest-gfn1-d/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn1-grad/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Expose CP2K tblite accuracy control
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_tb.F
  src/qs_environment.F
  src/tblite_interface.F
  src/tblite_types.F
  tests/xTB/regtest-tblite-gfn2/CH2O_gfn2_reference_cli_lone.inp
Due: doxify, prettify, analyze_src

Finalize GFN2/tblite k-point stress for remaining pathological cases (#5156)
  src/cp2k_debug.F
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_tb.F
  src/qs_environment.F
  src/tblite_interface.F
  src/tblite_types.F
  tests/DFTB/regtest-nonscc/TEST_FILES.toml
  tests/DFTB/regtest-scc-2/TEST_FILES.toml
  tests/DFTB/regtest-scc/TEST_FILES.toml
  tests/matchers.py
  tests/xTB/regtest-gfn0/TEST_FILES.toml
  tests/xTB/regtest-gfn1-d/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn1-grad/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn2/CH2O_gfn2_reference_cli_lone.inp
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Add Fedora Rawhide toolchain tester (#5148)
  tools/dashboard/dashboard.conf
  tools/docker/Dockerfile.test_rawhide-psmp
  tools/docker/cp2k-ci.conf
  tools/docker/generate_dockerfiles.py
Due: none

RIRS GW: made the code prettier
  src/gw_large_cell_gamma_ri_rs.F
  src/gw_main.F
  src/gw_utils.F
  src/input_cp2k_properties_dft.F
  src/post_scf_bandstructure_types.F
  src/post_scf_bandstructure_utils.F
  tests/QS/regtest-gw-realspace/01_RIRS_G0W0_PBE_H2O.inp
  tests/QS/regtest-gw-realspace/02_RIRS_G0W0_PBE0_H2O.inp
  tests/QS/regtest-gw-realspace/03_RIRS_G0W0_PBE0_O2.inp
  tests/QS/regtest-gw-realspace/04_RIRS_G0W0_GPW_PBE_H2O.inp
  tests/QS/regtest-gw-realspace/05_RIRS_G0W0_PBE_H2_DIMER.inp
  tests/QS/regtest-gw-realspace/06_RIRS_RESTART_G0W0_PBE_H2O.inp
  tests/matchers.py
Due: doxify, prettify, analyze_src

RIRS GW: added restart file for regtest h2 dimer
  tests/QS/regtest-gw-realspace/05_RIRS_G0W0_PBE_H2_DIMER.inp
  tests/QS/regtest-gw-realspace/RIRS-G0W0-PBE-H2O-RESTART.wfn
Due: none

RIRS GW: resolve slow test issue
  tests/QS/regtest-gw-realspace/01_RIRS_G0W0_PBE_H2O.inp
  tests/QS/regtest-gw-realspace/02_RIRS_G0W0_PBE0_H2O.inp
  tests/QS/regtest-gw-realspace/03_RIRS_G0W0_PBE0_O2.inp
  tests/QS/regtest-gw-realspace/04_RIRS_G0W0_GPW_PBE_H2O.inp
  tests/QS/regtest-gw-realspace/05_RIRS_G0W0_PBE_H2_DIMER.inp
  tests/QS/regtest-gw-realspace/05_RIRS_RESTART_G0W0_PBE_H2O.inp
  tests/QS/regtest-gw-realspace/REGTEST_BASIS
  tests/QS/regtest-gw-realspace/RIRS-G0W0-PBE-H2O-RESTART.wfn
  tests/QS/regtest-gw-realspace/RIRS-RESTART-G0W0-PBE-H2O-RESTART_Z_lP.matrix
  tests/QS/regtest-gw-realspace/TEST_FILES.toml
Due: none

toolchain/build_cp2k.sh: Fix reading "--install-all"
  tools/toolchain/build_cp2k.sh
Due: shfmt

Use para_env instead of MPI in gw_large_cell_gamma_ri_rs.F
  src/gw_large_cell_gamma_ri_rs.F
Due: doxify, prettify, analyze_src

Use para_env instead of MPI in gw_large_cell_gamma_ri_rs.F (#5159)
  src/gw_large_cell_gamma_ri_rs.F
Due: doxify, prettify, analyze_src

Adjust tolerances on cc_s02.inp and H2O_gfn0_yz_kp_debug.inp
  tests/QS/regtest-harris-kp/TEST_FILES.toml
  tests/xTB/regtest-gfn0/TEST_FILES.toml
Due: none

toolchain/build_cp2k.sh: Fix reading "--install-all" (#5158)
  tools/toolchain/build_cp2k.sh
Due: shfmt

Adjust tolerances on cc_s02.inp and H2O_gfn0_yz_kp_debug.inp (#5160)
  tests/QS/regtest-harris-kp/TEST_FILES.toml
  tests/xTB/regtest-gfn0/TEST_FILES.toml
Due: none

Use base image ubuntu 26.04 and gcc 15 as default for the spack tester
  tools/docker/Dockerfile.test_spack_openmpi-pdbg
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_pdbg
  tools/docker/Dockerfile.test_spack_psmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_sdbg
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/generate_dockerfiles.py
Due: none

Relocate OS check
  make_cp2k.sh
Due: shfmt

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
