Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Fix Intel compiler warnings
  src/deepmd_wrapper.F
  src/fm/cp_fm_cusolver_api.F
Due: doxify, prettify, analyze_src

Workarounds for the ICEs of the Intel ifx compiler
  src/mp2_ri_gpw.F
  src/pw/pw_methods.F
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Workarounds for the ICEs of the Intel ifx compiler (#3630)
  src/deepmd_wrapper.F
  src/fm/cp_fm_cusolver_api.F
  src/mp2_ri_gpw.F
  src/pw/pw_methods.F
  src/xc/xc.F
Due: doxify, prettify, analyze_src

IFX: use __INTEL_LLVM_COMPILER instead of __MKL
  INSTALL.md
  src/grid/common/grid_common.h
  src/mp2_ri_gpw.F
  src/pw/pw_methods.F
  tools/precommit/check_file_properties.py
Due: doxify, prettify, analyze_src, clang-format

Fix issue #3631
  tools/toolchain/scripts/stage7/install_libtorch.sh
Due: shfmt

Fix issue #3631 (#3633)
  tools/toolchain/scripts/stage7/install_libtorch.sh
Due: shfmt

Delete outdated arch files
  arch/JURECA-cpu.psmp
  arch/JURECA-gpu.psmp
Due: none

turn off initial perturbationssettings and read new restart wfn
  src/motion/rt_propagation.F
Due: doxify, prettify, analyze_src

set dft default gauge to velocity
  src/input_cp2k_dft.F
Due: doxify, prettify, analyze_src

Use latest Intel HPC Toolkit version
  tools/docker/Dockerfile.test_intel-psmp
  tools/docker/generate_dockerfiles.py
Due: none

Fix behavior of RTP/EMD restart file (#3637)
  src/motion/rt_propagation.F
Due: doxify, prettify, analyze_src

making tests less sensitive, because they are failing on a local cluster
  src/pao_main.F
  tests/Fist/regtest-7-2/TEST_FILES
Due: doxify, prettify, analyze_src

SCF_CONTROL defaults depend on non/self-consistency
  src/qs_environment.F
  src/scf_control_types.F
Due: doxify, prettify, analyze_src

Refactoring of calculate_wavefunction/collocate_function (#3636)
  src/qs_environment.F
  src/scf_control_types.F
Due: doxify, prettify, analyze_src

Docker: Upgrade to DBCSR 2.7.0
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/install_dbcsr.sh
  tools/spack/cp2k-dependencies.yaml
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

Tests: Adopt do_regtest.py for CMake builds
  CMakeLists.txt
  Makefile
  docs/getting-started/CMake.md
  tests/do_regtest.py
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/docker/scripts/test_regtest_cmake.sh
  tools/fedora/cp2k.spec
  tools/fedora/tests/do_regtest.sh
Due: shfmt

Calculate_wavefunction refactoring, fix dropped commit
  src/mp2_eri_gpw.F
  src/mp2_gpw.F
  src/mp2_gpw_method.F
  src/mp2_integrals.F
  src/mp2_ri_grad.F
  src/optimize_embedding_potential.F
  src/qs_collocate_density.F
  src/rpa_im_time_force_methods.F
  src/scf_control_types.F
Due: doxify, prettify, analyze_src

Run prettyfier
  src/mp2_eri_gpw.F
  src/qs_collocate_density.F
Due: doxify, prettify, analyze_src

Calculate_wavefunction refactoring, fix dropped commit (#3643)
  src/mp2_eri_gpw.F
  src/mp2_gpw.F
  src/mp2_gpw_method.F
  src/mp2_integrals.F
  src/mp2_ri_grad.F
  src/optimize_embedding_potential.F
  src/qs_collocate_density.F
  src/rpa_im_time_force_methods.F
  src/scf_control_types.F
Due: doxify, prettify, analyze_src

Update arch file
  arch/Linux-gnu-x86_64.psmp
Due: none

Drop "intel_classic" and introduce "with_ifx" instead
  arch/Linux-intel-x86_64.psmp
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/generate_arch_files.sh
  tools/toolchain/scripts/stage0/install_intel.sh
  tools/toolchain/scripts/stage1/install_intelmpi.sh
Due: shfmt

Retire Intel 22.2 regression tester
  tools/dashboard/dashboard.conf
Due: none

Docker: Fix ASE, i-Pi, and AiiDA tests
  tools/docker/scripts/test_aiida.sh
  tools/docker/scripts/test_ase.sh
  tools/docker/scripts/test_i-pi.sh
Due: shfmt

Tests: Reorder TEST_DIRS to run slower dirs earlier
  tests/TEST_DIRS
Due: none

showing testing information
  CMakeLists.txt
Due: none

always printing test message
  CMakeLists.txt
Due: none

GCC 14.1.0 -> 14.2.0
  arch/Darwin-gnu-arm64.psmp
  arch/Darwin-gnu-arm64.ssmp
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  tools/toolchain/scripts/stage0/install_gcc.sh
Due: shfmt

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
