Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Restrict default distance check to small systems
  src/input_cp2k_subsys.F
  src/particle_methods.F
Due: doxify, prettify, analyze_src

Update conventions
  tools/conventions/conventions.supp
Due: none

Adjust tolerance
  tests/QS/regtest-tddfpt-force-3/TEST_FILES
Due: none

Docker: Switch Gromacs to use pkgconfig
  tools/docker/scripts/test_gromacs.sh
Due: shfmt

Obtain info about group dist only once
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

Fix gradients with subgroups larger than 1
  src/mp2_ri_grad_util.F
Due: doxify, prettify, analyze_src

Refactor degenerate pairs
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

Simplify interface to degenerate orbitals
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

Prevent communication if i==k or j==k
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

OMP parallelize copy operations
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

Add tag to sendrecv calls
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

Use dgemm_counter for pdgemm-like multiplications, not just for every dgemm call
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

Cluster local_aL
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

Remove unnecessary variables
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

Count more DGEMM calls and communication steps in MP2 gradients
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

Refactor my_B_size
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

Use ASSOCIATE block
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

Fix gradients if group size>1
  src/mp2_ri_gpw.F
  src/mp2_ri_grad_util.F
Due: doxify, prettify, analyze_src

Adjust regtests
  tests/QS/regtest-ec/H2_H2O_KSKGeH_MO_an.inp
  tests/QS/regtest-ec/TEST_FILES
Due: none

Reduce maximum system size for default distance check
  src/input_cp2k_subsys.F
  src/particle_methods.F
Due: doxify, prettify, analyze_src

Add INTENT attributes
  src/common/cp_result_methods.F
Due: doxify, prettify, analyze_src

Add further debug options
  arch/Linux-x86-64-gfortran-regtest.psmp
Due: none

Bump LibXC to 5.1.7
  tools/toolchain/scripts/stage3/install_libxc.sh
Due: shfmt

Reorder indices of Gamma_P_ia
  src/mp2_ri_gpw.F
  src/mp2_ri_grad_util.F
Due: doxify, prettify, analyze_src

RI-HFX forces
  src/hfx_admm_utils.F
  src/hfx_ri.F
  src/hfx_types.F
  src/input_cp2k_hfx.F
  src/libint_2c_3c.F
  src/libint_wrapper.F
  src/mp2.F
  src/mp2_cphf.F
  src/qs_linres_kernel.F
  src/qs_tddfpt2_fhxc_forces.F
  src/qs_tddfpt2_forces.F
  src/qs_tensors.F
  src/response_solver.F
  src/rpa_axk.F
  src/rpa_gw_sigma.F
  src/rpa_hfx.F
  src/rpa_rse.F
  src/xc_adiabatic_utils.F
  tests/QS/regtest-hfx-ri-2/CH-hfx-ri-mo.inp
  tests/QS/regtest-hfx-ri-2/CH-hfx-ri-rho.inp
  tests/QS/regtest-hfx-ri-2/CH3-b3lyp-ADMM.inp
  tests/QS/regtest-hfx-ri-2/H2O-hfx-stress-identity.inp
  tests/QS/regtest-hfx-ri-2/H2O-pbe0-stress-truncated.inp
  tests/QS/regtest-hfx-ri-2/Ne-hfx-pbc-metric-mo.inp
  tests/QS/regtest-hfx-ri-2/Ne-hfx-pbc-metric-rho.inp
  tests/QS/regtest-hfx-ri-2/TEST_FILES
  tests/QS/regtest-hfx-ri/CH3-ADMM.inp
  tests/QS/regtest-hfx-ri/H2O-hfx-periodic-ri-truncated.inp
  tests/QS/regtest-mp2-grad/H2O_grad_ri-hfx.inp
  tests/QS/regtest-mp2-grad/O2_dyn_ri-hfx.inp
  tests/QS/regtest-mp2-grad/TEST_FILES
  tests/QS/regtest-rpa-cubic-scaling/Cubic_RPA_CH3_ri-hfx.inp
  tests/QS/regtest-rpa-cubic-scaling/Cubic_RPA_H2O_ri-hfx.inp
  tests/QS/regtest-rpa-cubic-scaling/TEST_FILES
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Dashboard: Retire farming test
  tools/dashboard/dashboard.conf
  tools/docker/Dockerfile.test_farming
  tools/docker/scripts/test_farming.sh
Due: shfmt

regtesting: Add classic mode to do_regtest.py
  tools/regtesting/do_regtest.py
Due: none

Docker: Remove early adoption of do_regtest.py
  tools/docker/Dockerfile.test_cuda-psmp
  tools/docker/Dockerfile.test_hip-psmp
  tools/docker/scripts/test_regtest.sh
Due: shfmt
