Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-ast
        name: Check python ast (with Python 2.7)
        language_version: python2.7
        stages: [manual]
        files: '^tools/build_utils/.*\.py'
    -   id: check-ast
        name: Check python ast (with Python 3)
        language_version: python3
        stages: [manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    -   id: black
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false

Updated QMMM_ClC
  benchmarks/QMMM_ClC/ClC-19.inp
  benchmarks/QMMM_ClC/ClC-253.inp
  benchmarks/QMMM_ClC/README.md
Due: none

Updated QMMM_CBD_PHY benchmark
  benchmarks/QMMM_CBD_PHY/CBD_PHY.inp
Due: none

Updated QMMM_MQAE benchmark
  benchmarks/QMMM_MQAE/MQAE.inp
  benchmarks/QMMM_MQAE/MQAE.pdb
  benchmarks/QMMM_MQAE/MQAE.prmtop
  benchmarks/QMMM_MQAE/README.md
Due: none

Updated QMMM_MQAE README to include paper reference
  benchmarks/QMMM_MQAE/README.md
Due: none

Refactoring of PW HFX routine
  src/hfx_admm_utils.F
  src/hfx_pw_methods.F
Due: doxify, prettify, analyze_src

PW_HFX: add short range interaction potentials
  src/hfx_admm_utils.F
  src/pw/pw_poisson_methods.F
  tests/QS/regtest-hfx/H2O_pw_a.inp
  tests/QS/regtest-hfx/H2O_pw_b.inp
  tests/QS/regtest-hfx/TEST_FILES
Due: doxify, prettify, analyze_src

PW_HFX (#954)
  src/hfx_admm_utils.F
  src/hfx_pw_methods.F
  src/pw/pw_poisson_methods.F
  tests/QS/regtest-hfx/H2O_pw_a.inp
  tests/QS/regtest-hfx/H2O_pw_b.inp
  tests/QS/regtest-hfx/TEST_FILES
Due: doxify, prettify, analyze_src

Update to the latest version
  tools/toolchain/scripts/install_sirius.sh
Due: none

Update of sirius
  src/input_cp2k_pwdft.F
  src/sirius_interface.F
  tools/toolchain/scripts/install_sirius.sh
Due: doxify, prettify, analyze_src

Add trust region optimization of block-diagonal ALMOs
  src/almo_scf.F
  src/almo_scf_env_methods.F
  src/almo_scf_methods.F
  src/almo_scf_optimizer.F
  src/almo_scf_types.F
  src/input_cp2k_almo.F
  tests/QS/regtest-almo-trustr/TEST_FILES
  tests/QS/regtest-almo-trustr/ice-block-diag-trustr.inp
Due: doxify, prettify, analyze_src

Repeat: fix a bug in the quadratic solver that affects all trust region methods
  src/almo_scf_optimizer.F
Due: doxify, prettify, analyze_src

Prettify
  src/almo_scf_optimizer.F
Due: doxify, prettify, analyze_src

Adjust regtest-almo-trustr settings
  tests/QS/regtest-almo-trustr/FHchain-dogleg.inp
  tests/QS/regtest-almo-trustr/TEST_FILES
Due: none

Fix memory leak in block-diagonal trustr
  src/almo_scf_optimizer.F
Due: doxify, prettify, analyze_src

Update LCP tests to account for the new keyword default
  tests/QS/regtest-almo-strong/FH-chain.strong.inp
Due: none

Prettify
  src/almo_scf_env_methods.F
Due: doxify, prettify, analyze_src

Updated CBD_PHY QM/MM benchmark
  benchmarks/QMMM_CBD_PHY/README.md
Due: none

benchmarks: update QMMM READMEs
  benchmarks/QMMM_CBD_PHY/README.md
  benchmarks/QMMM_MQAE/README.md
Due: none

Add D3_EXCLUDE_KIND_PAIR keyword
  src/input_cp2k_xc.F
  src/qs_dispersion_pairpot.F
  src/qs_dispersion_types.F
  src/qs_dispersion_utils.F
  src/qs_environment.F
  tests/QS/regtest-dft-vdw-corr-2/TEST_FILES
  tests/QS/regtest-dft-vdw-corr-2/dftd3_t15.inp
Due: doxify, prettify, analyze_src

Fix the description of the keyword
  src/input_cp2k_xc.F
Due: doxify, prettify, analyze_src

Add D3_EXCLUDE_KIND_PAIR keyword (#956)
  src/input_cp2k_xc.F
  src/qs_dispersion_pairpot.F
  src/qs_dispersion_types.F
  src/qs_dispersion_utils.F
  src/qs_environment.F
  tests/QS/regtest-dft-vdw-corr-2/TEST_FILES
  tests/QS/regtest-dft-vdw-corr-2/dftd3_t15.inp
Due: doxify, prettify, analyze_src

Add an implementation of the GAL19 forcefield and suitable regtests
  src/common/bibliography.F
  src/fist_neighbor_list_control.F
  src/fist_nonbond_env_types.F
  src/fist_nonbond_force.F
  src/force_fields_input.F
  src/input_cp2k_mm.F
  src/manybody_gal.F
  src/manybody_potential.F
  src/pair_potential.F
  src/pair_potential_types.F
  tests/Fist/regtest-gal19/TEST_FILES
  tests/Fist/regtest-gal19/coord.inc
  tests/Fist/regtest-gal19/gcn.inc
  tests/Fist/regtest-gal19/test_gal.inp
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

PW: Prevent halos from overlapping with each other
  src/pw/realspace_grid_types.F
Due: doxify, prettify, analyze_src

toolchain: collection of small fixes
  tools/toolchain/scripts/install_cosma.sh
  tools/toolchain/scripts/install_gsl.sh
  tools/toolchain/scripts/install_libvdwxc.sh
  tools/toolchain/scripts/install_openblas.sh
  tools/toolchain/scripts/install_spfft.sh
  tools/toolchain/scripts/install_spglib.sh
Due: none

Issue #922: fixed side-effect about advancing an iterator inside of an assertion (src/common/cp_linked_list.fypp).
  src/common/cp_linked_list.fypp
Due: analyze_src

Prettified all fypp sources.
  src/common/array_sort.fypp
  src/common/cp_linked_list.fypp
  src/common/hash_map.fypp
  src/common/list.fypp
  src/ewalds_multipole_sr.fypp
  src/grid/colloc_int_kloop.fypp
  src/subsys/subsys_list.fypp
  src/xc/xc_perdew_wang.fypp
Due: analyze_src

grid: Convert collocate_pgf_product to C
  src/grid/.gitignore
  src/grid/Makefile
  src/grid/grid_api.F
  src/grid/grid_collocate_cpu.c
  src/grid/grid_collocate_cpu.h
  src/grid/grid_collocate_miniapp.c
  src/grid/grid_collocate_replay.c
  src/grid/grid_collocate_replay.h
  src/grid/grid_collocate_unittest.c
  src/grid/grid_common.h
  src/grid/grid_prepare_pab.c
  src/grid/grid_prepare_pab.h
  src/grid/sample_tasks/collocate_general_density.task
  src/grid/sample_tasks/collocate_general_subpatch0.task
  src/grid/sample_tasks/collocate_general_subpatch16.task
  src/grid/sample_tasks/collocate_general_tau.task
  src/grid/sample_tasks/collocate_ortho_density_l0000.task
  src/grid/sample_tasks/collocate_ortho_density_l2200.task
  src/grid/sample_tasks/collocate_ortho_density_l3300.task
  src/grid/sample_tasks/collocate_ortho_density_l3333.task
  src/grid/sample_tasks/collocate_ortho_non_periodic.task
  src/grid/sample_tasks/collocate_ortho_tau.task
Due: doxify, prettify, analyze_src

Stabilize tests/QS/regtest-mp2-stress/H2O_stress_an.inp
  tests/QS/regtest-mp2-stress/H2O_stress_an.inp
  tests/QS/regtest-mp2-stress/TEST_FILES
Due: none
