Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Toolchain: new tool_kit.sh function for tail excerpt of log files (#4861)
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage0/install_amd.sh
  tools/toolchain/scripts/stage0/install_cmake.sh
  tools/toolchain/scripts/stage0/install_gcc.sh
  tools/toolchain/scripts/stage0/install_intel.sh
  tools/toolchain/scripts/stage0/install_ninja.sh
  tools/toolchain/scripts/stage1/install_intelmpi.sh
  tools/toolchain/scripts/stage1/install_mpich.sh
  tools/toolchain/scripts/stage1/install_openmpi.sh
  tools/toolchain/scripts/stage2/install_acml.sh
  tools/toolchain/scripts/stage2/install_gmp.sh
  tools/toolchain/scripts/stage2/install_openblas.sh
  tools/toolchain/scripts/stage3/install_fftw.sh
  tools/toolchain/scripts/stage3/install_greenx.sh
  tools/toolchain/scripts/stage3/install_libint.sh
  tools/toolchain/scripts/stage3/install_libxc.sh
  tools/toolchain/scripts/stage4/install_cosma.sh
  tools/toolchain/scripts/stage4/install_libxsmm.sh
  tools/toolchain/scripts/stage4/install_scalapack.sh
  tools/toolchain/scripts/stage5/install_elpa.sh
  tools/toolchain/scripts/stage6/install_ace.sh
  tools/toolchain/scripts/stage6/install_deepmd.sh
  tools/toolchain/scripts/stage6/install_gsl.sh
  tools/toolchain/scripts/stage6/install_plumed.sh
  tools/toolchain/scripts/stage7/install_hdf5.sh
  tools/toolchain/scripts/stage7/install_libsmeagol.sh
  tools/toolchain/scripts/stage7/install_libvdwxc.sh
  tools/toolchain/scripts/stage7/install_libvori.sh
  tools/toolchain/scripts/stage7/install_spglib.sh
  tools/toolchain/scripts/stage8/install_dftd4.sh
  tools/toolchain/scripts/stage8/install_mcl.sh
  tools/toolchain/scripts/stage8/install_pugixml.sh
  tools/toolchain/scripts/stage8/install_sirius.sh
  tools/toolchain/scripts/stage8/install_spfft.sh
  tools/toolchain/scripts/stage8/install_spla.sh
  tools/toolchain/scripts/stage8/install_tblite.sh
  tools/toolchain/scripts/stage8/install_trexio.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
  tools/toolchain/scripts/tool_kit.sh
Due: shfmt

Replace the unreliable ldd by ldconfig
  make_cp2k.sh
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_psmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rawhide
  tools/docker/Dockerfile.test_spack_psmp-rockylinux
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/generate_dockerfiles.py
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp-static.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: shfmt

Gauxc (de)initialization
  src/CMakeLists.txt
  src/f77_interface.F
  src/xc/xc_gauxc.F
Due: doxify, prettify, analyze_src

todo messsage for myself
  src/qs_ks_methods.F
Due: doxify, prettify, analyze_src

Recover Cray specific settings
  tools/spack/cp2k_deps_psmp.yaml
Due: none

Include libcp2k in search
  make_cp2k.sh
Due: shfmt

Split container builds in 3 stages to imorove caching
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_psmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rawhide
  tools/docker/Dockerfile.test_spack_psmp-rockylinux
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/generate_dockerfiles.py
Due: none

Toolchain: Try update of libint
  tools/toolchain/scripts/stage3/install_libint.sh
Due: shfmt

Building of libint via CMake requires system-installed boost header and eigen3
  tools/toolchain/install_requirements_fedora.sh
  tools/toolchain/install_requirements_ubuntu.sh
  tools/toolchain/scripts/stage3/install_libint.sh
Due: shfmt

Fix Cray tester
  ci/docker/build_cp2k_spack.Dockerfile
  ci/docker/build_deps_spack.Dockerfile
  make_cp2k.sh
Due: shfmt

Output effective nuclear charges and atomic coordinates
  src/kpoint_mo_dump.F
Due: doxify, prettify, analyze_src

Use py-torch 2.9.0
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none

Add feature flags and increase time limit for Cray tester
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
  ci/docker/build_cp2k_spack.Dockerfile
  ci/docker/build_deps_spack.Dockerfile
Due: none

Simplify the output to save space
  src/kpoint_mo_dump.F
Due: doxify, prettify, analyze_src

Use old libfabric 1.22.0 for CSCS tester
  make_cp2k.sh
Due: shfmt

Toolchain: fix tblite-0.5.0.tar.xz install behavior
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage8/install_tblite.sh
Due: shfmt

Use popt binary for benchmark runs
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_eiger_spack_psmp.yaml
Due: none

Reduce default number of OMP_NUM_THREADS from 8 to 2 in launch script
  make_cp2k.sh
Due: shfmt

Drop openpmd feature for Daint
  ci/cscs_daint_spack_psmp.yaml
Due: none

Add NDIGITS keyword
  src/input_cp2k_print_dft.F
  src/kpoint_mo_dump.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Fix Cray tester (#4866)
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
  ci/docker/build_cp2k_spack.Dockerfile
  ci/docker/build_deps_spack.Dockerfile
  make_cp2k.sh
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: shfmt

Add OVERLAP_EXPORT_TYPE kerwords, allowing choosing GTO or MATRIX [S(k)]
  src/input_cp2k_print_dft.F
  src/kpoint_mo_dump.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Add Cray psmp H100 tester
  ci/cscs_daint_spack_psmp_h100.yaml
  tools/dashboard/dashboard.conf
  tools/docker/cp2k-ci.conf
Due: none

Various inor fixes of make_cp2k.sh
  make_cp2k.sh
Due: shfmt

Add Cray psmp H100 tester (#4868)
  ci/cscs_daint_spack_psmp_h100.yaml
  make_cp2k.sh
  tools/dashboard/dashboard.conf
  tools/docker/cp2k-ci.conf
Due: shfmt

Set unique PERSIST_IMAGE_NAME and fix typo
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Allow for change of BASE_IMAGE
  ci/docker/build_cp2k_spack.Dockerfile
  ci/docker/build_deps_spack.Dockerfile
Due: none

Fix short-name resolution issue
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Fix disable all features for libxsmm
  make_cp2k.sh
Due: shfmt

Add test runs to tester
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
Due: none

Add stage test to list
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Fix tag and add device flag
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Use netmod ofi instead of ucx
  make_cp2k.sh
  tools/spack/cp2k_deps_psmp.yaml
Due: shfmt

Partially undo last commit
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Various fixes for the Cray H100 tester (#4869)
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
  ci/docker/build_cp2k_spack.Dockerfile
  ci/docker/build_deps_spack.Dockerfile
  make_cp2k.sh
  tools/spack/cp2k_deps_psmp.yaml
Due: shfmt
