Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Use SKALA energy Torch method directly
  src/skala_torch_api.F
  src/torch_c_api.cpp
Due: doxify, prettify, analyze_src, clang-format

Accumulate SKALA subchunk gradients on parent tensors
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
  src/torch_c_api.cpp
Due: doxify, prettify, analyze_src, clang-format

Fix native SKALA CUDA energy wrapper
  src/skala_torch_api.F
  src/torch_api.F
Due: doxify, prettify, analyze_src

Use expanded RKS SKALA dynamic views
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
  src/torch_api.F
  src/torch_c_api.cpp
Due: doxify, prettify, analyze_src, clang-format

Allow SKALA atom chunks on one rank
  src/input_cp2k_xc.F
  src/skala_gpw_features.F
Due: doxify, prettify, analyze_src

Auto-tune native SKALA atom subchunks for CUDA
  src/input_cp2k_xc.F
  src/skala_gpw_functional.F
Due: doxify, prettify, analyze_src

Support periodic native SKALA stress and k-points
  src/input_cp2k_xc.F
  src/qs_ks_methods.F
  src/qs_ks_utils.F
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
  src/skala_torch_api.F
  src/xc/xc_gauxc_functional.F
  src/xc/xc_gauxc_interface.F
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/TEST_FILES.toml
  tests/QS/regtest-gauxc/H2_NATIVE_SKALA_GAPW_AE_STRESS.inp
  tests/QS/regtest-gauxc/H2_NATIVE_SKALA_GAPW_GPWTYPE_STRESS.inp
  tests/QS/regtest-gauxc/H2_NATIVE_SKALA_GPW_STRESS.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

QS/regtest-gpw-6-2/si8_noort_broy*
  tests/QS/regtest-gpw-6-2/TEST_FILES.toml
  tests/QS/regtest-gpw-6-2/si8_noort_broy_wc_direct_ene.inp
  tests/QS/regtest-gpw-6-2/si8_noort_broy_wc_jacobi_all.inp
  tests/QS/regtest-gpw-6-2/si8_noort_broy_wc_jacobi_ene1.inp
  tests/QS/regtest-gpw-6-2/si8_noort_broy_wc_jacobi_ene2.inp
Due: none

Adjust slow tests of k-point symmetry
  tests/QS/regtest-kp-1-spg/TEST_FILES.toml
  tests/QS/regtest-kp-1-spg/c_geo_opt_kpsym_spglib.inp
  tests/QS/regtest-kp-1-spg/h_hex_c3_gamma_macdonald_spglib.inp
  tests/QS/regtest-kp-1-spg/h_hex_c3_gamma_spglib.inp
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/QS/regtest-kp-1/h_hex_c3_gamma_k290.inp
Due: none

Adjust regtests
  tests/QS/regtest-gpw-2-3/Au12_rmsd_AB_mtd.inp
  tests/QS/regtest-gpw-2-3/Au12_rmsd_A_mtd.inp
  tests/QS/regtest-gpw-2-3/Au13ico_mtd.inp
  tests/QS/regtest-gpw-2-3/TEST_FILES.toml
  tests/xTB/regtest-3-spglib/TEST_FILES.toml
  tests/xTB/regtest-3-spglib/si_kp_tblite_mixer_spglib.inp
  tests/xTB/regtest-tblite-gfn2/O2_gfn2_uks_ot.inp
Due: none

Correct reference
  tests/QS/regtest-gpw-2-3/TEST_FILES.toml
  tests/QS/regtest-gpw-6-2/TEST_FILES.toml
Due: none

Use magnitudes instead of signed components for k-point moment tests
  tests/QS/regtest-moments-kpoints/TEST_FILES.toml
  tests/matchers.py
Due: none

tblite: skip SCC mixer residual for OT and LS_SCF
  src/qs_scf.F
Due: doxify, prettify, analyze_src

Revert PR 5351 (#5358)
  src/grid/gpu/grid_gpu_context.h
Due: analyze_src, clang-format

Use Broyden Mixing for ch2o_tblite_mixer test
  tests/DFTB/regtest-scc/TEST_FILES.toml
  tests/DFTB/regtest-scc/ch2o_tblite_mixer.inp
Due: none

Adjust regtests and ignore tblite SCC mixer residual for OT/LS_SCF (#5357)
  src/qs_scf.F
  tests/DFTB/regtest-scc/TEST_FILES.toml
  tests/DFTB/regtest-scc/ch2o_tblite_mixer.inp
  tests/QS/regtest-gpw-2-3/Au12_rmsd_AB_mtd.inp
  tests/QS/regtest-gpw-2-3/Au12_rmsd_A_mtd.inp
  tests/QS/regtest-gpw-2-3/Au13ico_mtd.inp
  tests/QS/regtest-gpw-2-3/TEST_FILES.toml
  tests/QS/regtest-gpw-6-2/TEST_FILES.toml
  tests/QS/regtest-gpw-6-2/si8_noort_broy_wc_direct_ene.inp
  tests/QS/regtest-gpw-6-2/si8_noort_broy_wc_jacobi_all.inp
  tests/QS/regtest-gpw-6-2/si8_noort_broy_wc_jacobi_ene1.inp
  tests/QS/regtest-gpw-6-2/si8_noort_broy_wc_jacobi_ene2.inp
  tests/QS/regtest-kp-1-spg/TEST_FILES.toml
  tests/QS/regtest-kp-1-spg/c_geo_opt_kpsym_spglib.inp
  tests/QS/regtest-kp-1-spg/h_hex_c3_gamma_macdonald_spglib.inp
  tests/QS/regtest-kp-1-spg/h_hex_c3_gamma_spglib.inp
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/QS/regtest-kp-1/h_hex_c3_gamma_k290.inp
  tests/QS/regtest-moments-kpoints/TEST_FILES.toml
  tests/matchers.py
  tests/xTB/regtest-3-spglib/TEST_FILES.toml
  tests/xTB/regtest-3-spglib/si_kp_tblite_mixer_spglib.inp
  tests/xTB/regtest-tblite-gfn2/O2_gfn2_uks_ot.inp
Due: doxify, prettify, analyze_src

Expand documentation on MD and opt
  docs/methods/optimization/geometry_and_cell_opt.md
  docs/methods/sampling/molecular_dynamics.md
Due: none

Trim native SKALA chunk routing overhead
  src/input_cp2k_xc.F
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
Due: doxify, prettify, analyze_src

Subchunk native SKALA atom chunk inference
  src/input_cp2k_xc.F
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
  tests/QS/regtest-gauxc/AR4_NATIVE_SKALA_GPW_ATOM_CHUNKS.inp
Due: doxify, prettify, analyze_src

Use Torch views for SKALA atom subchunks
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
  src/torch_api.F
  src/torch_c_api.cpp
Due: doxify, prettify, analyze_src, clang-format

Cache native SKALA atom chunk return routes
  src/skala_gpw_features.F
Due: doxify, prettify, analyze_src

Improve native SKALA CUDA multi-GPU handling
  src/input_cp2k_xc.F
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
  src/torch_api.F
  src/torch_c_api.cpp
Due: doxify, prettify, analyze_src, clang-format

Enable NLCC for native SKALA grid
  src/input_cp2k_xc.F
  src/qs_ks_methods.F
  src/qs_vxc.F
  src/xc/xc_gauxc_functional.F
  tests/QS/regtest-gauxc/H2O_NATIVE_SKALA_GPW_NLCC_STRESS.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Collapse RKS SKALA dynamic routing payload
  src/skala_gpw_features.F
Due: doxify, prettify, analyze_src

Load SKALA Torch metadata with model
  src/skala_torch_api.F
  src/torch_api.F
  src/torch_c_api.cpp
Due: doxify, prettify, analyze_src, clang-format

Collapse RKS SKALA subchunk gradient routing
  src/skala_gpw_functional.F
Due: doxify, prettify, analyze_src

Fix dashboard code regressions
  src/motion/cp_lbfgs_optimizer_gopt.F
  src/pw/fft/fftw3_lib.F
  src/skala_torch_api.F
  src/xas_tp_scf.F
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src

Run serial GauXC OneDFT calls with one OpenMP thread
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src

Limit Torch threads for serial GauXC OneDFT
  src/torch_api.F
  src/torch_c_api.cpp
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src, clang-format

Fix SKALA CDFT-CI ssmp regtest
  src/torch_api.F
  src/torch_c_api.cpp
  src/xc/xc_gauxc_interface.F
  tests/QS/regtest-gauxc/H2_SKALA_CDFT_CI.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: doxify, prettify, analyze_src, clang-format

Expose GauXC OneDFT GPU runtime controls
  src/input_cp2k_xc.F
  src/xc/xc_gauxc_functional.F
  src/xc/xc_gauxc_interface.F
  tests/QS/regtest-gauxc/H2_ONEDFT_PBE_FORCE_DEBUG.inp
Due: doxify, prettify, analyze_src

Keep GauXC gradient smoke on self runtime
  src/input_cp2k_xc.F
  tests/QS/regtest-gauxc/H2_ONEDFT_PBE_FORCE_DEBUG.inp
Due: doxify, prettify, analyze_src
