Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

revert
  ci/docker/build_deps_spack.Dockerfile
Due: none

try without xpmem and use spack one
  ci/docker/build_deps_spack.Dockerfile
Due: none

try mpich nolocal
  ci/cscs_eiger_spack_psmp.yaml
Due: none

spack
  tools/spack/cp2k_deps_psmp.yaml
Due: none

update
  ci/docker/build_deps_spack.Dockerfile
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none

xpmem
  ci/docker/build_deps_spack.Dockerfile
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none

cscs image
  ci/cscs_eiger_spack_psmp.yaml
Due: none

update
  ci/docker/build_deps_spack.Dockerfile
Due: none

remove cmake_cpwk.sh from hash tag
  ci/cscs_eiger_spack_psmp.yaml
Due: none

revert xpmem
  ci/docker/build_deps_spack.Dockerfile
Due: none

update
  tools/spack/cp2k_deps_psmp.yaml
Due: none

Use RPM macro _lib
  tools/fedora/cp2k.spec
Due: none

run ldd
  ci/cscs_eiger_spack_psmp.yaml
Due: none

fix
  ci/cscs_eiger_spack_psmp.yaml
Due: none

add osu benchmarks to container
  ci/docker/build_deps_spack.Dockerfile
Due: none

Use CMAKE_BUILD_TYPE generic for RPM build
  tools/fedora/cp2k.spec
Due: none

Fix typo "=" -> ":'
  tools/fedora/cp2k.spec
Due: none

Update RELAX_MULTIPLICITY description
  src/input_cp2k_dft.F
Due: doxify, prettify, analyze_src

Fix typo in vdw functional naming convention
  src/CMakeLists.txt
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

enable xpmem
  ci/docker/build_deps_spack.Dockerfile
Due: none

Use CP2K_USE_EVERYTHING flag
  tools/fedora/cp2k.spec
Due: none

Refactoring of QS core matrices.
  src/core_ppl.F
  src/core_ppnl.F
  src/ec_external.F
  src/ed_analysis.F
  src/energy_corrections.F
  src/mp2_cphf.F
  src/qs_core_hamiltonian.F
  src/qs_core_matrices.F
  src/qs_dcdr_ao.F
  src/qs_energy_utils.F
  src/response_solver.F
  src/rpa_im_time_force_methods.F
Due: doxify, prettify, analyze_src

Refactoring of kinetic energy calculation + relativistic correction
  src/ec_external.F
  src/energy_corrections.F
  src/mp2_cphf.F
  src/qs_core_hamiltonian.F
  src/qs_core_matrices.F
  src/qs_dcdr_utils.F
  src/qs_kinetic.F
  src/response_solver.F
  src/rpa_im_time_force_methods.F
Due: doxify, prettify, analyze_src

cray-mpich
  ci/cscs_eiger_spack_psmp.yaml
  ci/docker/build_deps_spack.Dockerfile
  cmake/cmake_cp2k.sh
  tools/spack/cp2k_deps_psmp.yaml
Due: shfmt

Generalize kinetic energy force call (matrix_p options)
  src/qs_kinetic.F
Due: doxify, prettify, analyze_src

Add file
  src/CMakeLists.txt
Due: none

inplace
  ci/docker/build_deps_spack.Dockerfile
Due: none

Revert #4388
  tools/fedora/cp2k.spec
Due: none

updated gfn2 test
  tests/xTB/regtest-tblite-gfn2/Hg2Cl2_gfn2_force.inp
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
Due: none

fixing problems with periodic gfn
  src/tblite_interface.F
  src/tblite_ks_matrix.F
Due: doxify, prettify, analyze_src

fixing one problem with repeatings cells for gfn
  src/tblite_interface.F
Due: doxify, prettify, analyze_src

forgot function call update
  src/tblite_ks_matrix.F
Due: doxify, prettify, analyze_src

update test gfn1 periodic
  tests/xTB/regtest-tblite-gfn1-periodic/CH2O_gfn1.inp
  tests/xTB/regtest-tblite-gfn1-periodic/COBe_gfn1_fd.inp
  tests/xTB/regtest-tblite-gfn1-periodic/Si_gfn1_fd.inp
  tests/xTB/regtest-tblite-gfn1-periodic/TEST_FILES.toml
Due: none

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
