Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

More routines using new cp_fm_release interface
  src/qs_dcdr_utils.F
  src/qs_moments.F
  src/qs_vcd_utils.F
Due: doxify, prettify, analyze_src

Update (partial) to enhanced cp_fm_release
  src/admm_methods.F
  src/admm_types.F
  src/cp_control_types.F
  src/et_coupling_proj.F
  src/et_coupling_types.F
  src/exstates_types.F
  src/fm/cp_fm_types.F
  src/kpoint_methods.F
  src/kpoint_types.F
  src/mp2_cphf.F
  src/mp2_ri_2c.F
  src/qs_scf.F
  src/qs_scf_types.F
  src/rpa_gw.F
  src/rpa_main.F
  src/rpa_rse.F
  src/rpa_util.F
  src/xc_pot_saop.F
Due: doxify, prettify, analyze_src

More updates to new cp_fm_release interface
  src/mixed_cdft_utils.F
  src/negf_env_types.F
  src/negf_methods.F
  src/optimize_basis.F
  src/qs_environment_types.F
  src/qs_ks_utils.F
  src/qs_scf_lanczos.F
  src/qs_scf_post_gpw.F
  src/qs_tddfpt_eigensolver.F
  src/qs_tddfpt_types.F
  src/qs_tddfpt_utils.F
  src/qs_wf_history_types.F
Due: doxify, prettify, analyze_src

More cp_fm_release interface work
  src/qs_diis_types.F
  src/qs_tddfpt2_eigensolver.F
  src/qs_tddfpt2_fhxc_forces.F
  src/qs_tddfpt2_fprint.F
  src/qs_tddfpt2_methods.F
  src/qs_tddfpt2_properties.F
  src/qs_tddfpt2_restart.F
  src/qs_tddfpt2_stda_utils.F
  src/qs_tddfpt2_types.F
  src/qs_tddfpt2_utils.F
Due: doxify, prettify, analyze_src

Final add of new cp_fm_release interface
  src/iao_analysis.F
  src/qs_active_space_methods.F
  src/qs_active_space_types.F
  src/qs_loc_types.F
Due: doxify, prettify, analyze_src

Special array boundaries in moloc_coeff
  src/qs_loc_types.F
Due: doxify, prettify, analyze_src

Remove deleted files from list
  src/CMakeLists.txt
Due: none

Initialize iao_env_type
  src/iao_types.F
Due: doxify, prettify, analyze_src

Fix deallocation of polar_env
  src/qs_linres_types.F
Due: doxify, prettify, analyze_src

Initialize iao_env_type (#2745)
  src/iao_types.F
Due: doxify, prettify, analyze_src

Conventions: Ban calls to EXECUTE_COMMAND_LINE
  tools/conventions/analyze_gfortran_ast.py
Due: none

Fix deallocation of scratch types
  src/qs_linres_op.F
Due: doxify, prettify, analyze_src

Projection mo rtp (#30)
  src/CMakeLists.txt
  src/cp_control_types.F
  src/cp_control_utils.F
  src/emd/rt_projection_mo_utils.F
  src/emd/rt_propagation_output.F
  src/input_constants.F
  src/input_cp2k_dft.F
  src/input_cp2k_field.F
  src/input_cp2k_projection_rtp.F
  src/motion/rt_propagation.F
  src/qs_mo_io.F
  tests/QS/regtest-xastdp/H2O-B3LYP-full.inp
  tests/QS/regtest-xastdp/H2O-projection-mo.inp
  tests/QS/regtest-xastdp/TEST_FILES
Due: doxify, prettify, analyze_src

RTP| fixed ADMM restart
  src/motion/rt_propagation.F
  tests/QS/regtest-admm-1/H2-admm-rtp.inp
  tests/QS/regtest-admm-1/H2-admm-rtp_restart.inp
  tests/QS/regtest-admm-1/TEST_FILES
Due: doxify, prettify, analyze_src

Drop non-existent cmake flag
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Do not transform cell matrix to triangular form by default with CELL_OPT
  src/motion/cell_opt_types.F
  src/motion/cell_opt_utils.F
  tests/Fist/regtest-13/Si_direct_cell_opt.inp
  tests/Fist/regtest-13/Si_direct_cell_opt_sym.inp
  tests/Fist/regtest-13/Si_geo_opt_cell_opt.inp
  tests/Fist/regtest-13/TEST_FILES
Due: doxify, prettify, analyze_src

Adjust tolerances for new tests
  tests/Fist/regtest-13/TEST_FILES
Due: none

Print only 1 instead of 3 backup copies by default
  src/input_cp2k_dft.F
  src/input_cp2k_motion_print.F
  src/input_cp2k_properties_dft.F
  src/input_optimize_input.F
  src/motion/input_cp2k_vib.F
Due: doxify, prettify, analyze_src

Update CMake version (3.25.1 -> 3.26.3)
  tools/toolchain/scripts/stage0/install_cmake.sh
Due: shfmt

corrected Allegro refs. Raise error if .pth not found
  src/common/bibliography.F
  src/force_fields_input.F
Due: doxify, prettify, analyze_src

Bug fix for 2D ANALYTIC Poisson solver (4 regtests)
  src/pw/pw_poisson_types.F
  tests/QS/regtest-ot/TEST_FILES
  tests/QS/regtest-slab/TEST_FILES
Due: doxify, prettify, analyze_src

Bug fix for 2D ANALYTIC Poisson solver (4 regtests) (#2757)
  src/pw/pw_poisson_types.F
  tests/QS/regtest-ot/TEST_FILES
  tests/QS/regtest-slab/TEST_FILES
Due: doxify, prettify, analyze_src

Add cell symmetry keyword hexagonal_gamma_120
  src/input_cp2k_subsys.F
  src/motion/cell_opt_utils.F
  src/subsys/cell_types.F
  tests/Fist/regtest-13/Si_nosym_hexagonal.inp
  tests/Fist/regtest-13/Si_nosym_hexagonal_abc.inp
  tests/Fist/regtest-13/Si_sym_hexagonal_gamma_120.inp
  tests/Fist/regtest-13/TEST_FILES
  tests/Fist/regtest-opt/TEST_FILES
  tests/Fist/regtest-opt/cell_sym_hexagonal_gamma_120.inp
  tests/Fist/regtest-opt/cell_sym_hexagonal_gamma_60.inp
Due: doxify, prettify, analyze_src

precommit: Upgrade Python packages
  tools/precommit/requirements.txt
Due: none

Reformat with black 23.3.0
  src/start/python/sample_force_env.py
  tools/apptainer/generate_apptainer_def_files.py
  tools/build_utils/check_archives.py
  tools/build_utils/discover_programs.py
  tools/conventions/analyze_gfortran_warnings.py
  tools/conventions/summarize_issues.py
  tools/coverage/test_coverage.py
  tools/dashboard/generate_dashboard.py
  tools/dashboard/generate_regtest_survey.py
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/plot_performance.py
  tools/fix_unused_public.py
  tools/logo/gen_cp2k_logo.py
  tools/minimax_tools/minimax_to_fortran_source.py
  tools/precommit/format_makefile.py
  tools/precommit/precommit.py
  tools/precommit/precommit_server.py
  tools/prettify/prettify_test.py
  tools/regtesting/do_regtest.py
  tools/regtesting/prettify_TEST_FILES.py
Due: none

Adjust tolerances
  tests/QS/regtest-ot/TEST_FILES
Due: none

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
