Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

FIx conventions
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
Due: doxify, prettify, analyze_src

Make pretty
  src/xc/xc_libxc.F
Due: doxify, prettify, analyze_src

Fix ASE
  src/xc/xc_libxc_wrap.F
  tests/QS/regtest-libxc/H2O-old_interface.inp
  tests/QS/regtest-libxc/TEST_FILES
Due: doxify, prettify, analyze_src

Fix conventions, make pretty
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
Due: doxify, prettify, analyze_src

Fix bugs in LibXC interface (#1404)
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
  tests/QS/regtest-libxc/H2O-old_interface.inp
  tests/QS/regtest-libxc/TEST_FILES
Due: doxify, prettify, analyze_src

Combine non-orthorhombic corrections in the xz and yz planes
  src/grid/cpu/grid_collocate_dgemm.c
Due: analyze_src

spla was not compiled by default when is sirius is
  tools/toolchain/install_cp2k_toolchain.sh
Due: none

calculation of the subblock was incorrect when the destination grid is split
  src/grid/cpu/utils.c
Due: analyze_src

fix a bug when extracting a block
  src/grid/cpu/grid_collocate_dgemm.c
  src/grid/cpu/grid_integrate_dgemm.c
Due: analyze_src

grid: Half simultaneously processed points in ortho kernel
  src/grid/ref/grid_ref_collint.h
Due: analyze_src

grid: Swap dimensions of pol array in ortho kernel
  src/grid/ref/grid_ref_collint.h
Due: analyze_src

grid: Vectorize inner loop of ortho kernel with intrinsics
  src/grid/ref/grid_ref_collint.h
Due: analyze_src

xTB/DFTB stress tensor with efield
  src/efield_tb_methods.F
  src/xtb_coulomb.F
  tests/xTB/regtest-5/TEST_FILES
  tests/xTB/regtest-5/ef_stress1.inp
  tests/xTB/regtest-5/ef_stress2.inp
  tests/xTB/regtest-5/ef_stress3.inp
  tests/xTB/regtest-5/ef_stress4.inp
Due: doxify, prettify, analyze_src

xTB/DFTB stress tensor with efield (#1405)
  src/efield_tb_methods.F
  src/xtb_coulomb.F
  tests/xTB/regtest-5/TEST_FILES
  tests/xTB/regtest-5/ef_stress1.inp
  tests/xTB/regtest-5/ef_stress2.inp
  tests/xTB/regtest-5/ef_stress3.inp
  tests/xTB/regtest-5/ef_stress4.inp
Due: doxify, prettify, analyze_src

Fixed error in script (caught by shfmt but not turned into "failed" state).
  tools/toolchain/scripts/stage7/install_libvdwxc.sh
Due: none

Removed tab character (we should have pre-commit hook checking this).
  src/grid/cpu/grid_collocate_dgemm.c
Due: analyze_src

Introduced, exported, and triggered citation for LIBXSMM's primary/initial publication (#1407)
  src/common/bibliography.F
  src/cp_dbcsr_cp2k_link.F
Due: doxify, prettify, analyze_src

Conventions: Check for tab characters
  tools/conventions/analyze_src.py
Due: none

precommit: Enable shellcheck for all .sh files
  .pre-commit-config.yaml
  tools/precommit/precommit.py
Due: none

Fix remaining shellcheck errors
  tools/autotools/autogen.sh
  tools/conventions/test_conventions.sh
  tools/doxify/doxify.sh
  tools/doxify/generate_doxygen.sh
  tools/formatting/test_formatting.sh
  tools/plan_mpi_omp/plan.sh
  tools/precommit/deploy.sh
Due: none

Update CRAY arch files (LIBXC and LIBVORI)
  arch/CRAY-XC40_gnu.psmp
  arch/CRAY-XC50_gnu.psmp
Due: none

Refactor conventions/analyse_src.py into precommit/check_file_properties.py
  .pre-commit-config.yaml
  tools/conventions/analyze_src.py
  tools/conventions/conventions.supp
  tools/conventions/test_conventions.sh
  tools/precommit/check_file_properties.py
  tools/precommit/entrypoint.sh
  tools/precommit/precommit.py
Due: none

Adjust tolerance of QS/regtest-rel/h2o-4.inp
  tests/QS/regtest-rel/TEST_FILES
Due: none

Dashboard: Remove gcc6 because of issue #1203
  tools/dashboard/dashboard.conf
Due: none

Docker: Remove test_scaling, it got replaced by test_performance
  tools/dashboard/dashboard.conf
  tools/docker/Dockerfile.test_scaling
  tools/docker/scripts/install_scaling.sh
  tools/docker/scripts/test_scaling.sh
  tools/regtesting/test_scaling.py
Due: none

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
