Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Manual: Migrate howto:tddft from wiki (Orig. Author: Anna Hehn)
  docs/methods/properties/index.md
  docs/methods/properties/tddft.md
Due: none

Fix remaining issues missing in patch file
  tests/QS/regtest-gapw-1/CO_xastpfh_gsot.inp
  tests/QS/regtest-hfx-ri/CH-hfx-ri-rho.inp
  tests/QS/regtest-ot-1/TEST_FILES
Due: none

Use the same EPS_SCF for inner and outer SCF loop
  tests/SE/regtest/h2o_gks_e.inp
Due: none

improve spack env
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
  tools/spack/cp2k-dependencies.yaml
  tools/spack/cp2k-env.yaml
  tools/spack/cp2k-repo/packages/cp2k/package.py
  tools/spack/cp2k-repo/repo.yaml
  tools/spack/packages/cp2k/package.py
  tools/spack/repo.yaml
Due: none

fix path
  tools/docker/generate_dockerfiles.py
Due: none

regenerate dockerfile
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
Due: none

Enabling calculations with ECPs (libgrpp library)
  INSTALL.md
  data/ECP_POTENTIALS_pob-TZVP-rev2
  src/CMakeLists.txt
  src/core_ppl.F
  src/cp2k_info.F
  src/libgrpp_integrals.F
  src/qs_kind_types.F
  tests/QS/regtest-ecp/ECP_BASIS_POT
  tests/QS/regtest-ecp/ICl_lanl2dz_gpw.inp
  tests/QS/regtest-ecp/Rn_stuttgart_gapw.inp
  tests/QS/regtest-ecp/SbH3_def2_gapw.inp
  tests/QS/regtest-ecp/TEST_FILES
  tests/TEST_DIRS
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage3/install_libgrpp.sh
  tools/toolchain/scripts/stage3/install_stage3.sh
Due: doxify, prettify, analyze_src, regen_data, shfmt

dir
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
Due: none

wrong place
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
Due: none

update
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
Due: none

add cp2k patches
  tools/spack/cp2k-repo/packages/cp2k/backport_avoid_null_2022.x.patch
  tools/spack/cp2k-repo/packages/cp2k/backport_avoid_null_9.1.patch
  tools/spack/cp2k-repo/packages/cp2k/cmake-fixes-2023.2.patch
  tools/spack/cp2k-repo/packages/cp2k/package.py
  tools/spack/cp2k-repo/packages/cp2k/posix_c_source.patch
Due: none

turn off libint
  tools/spack/cp2k-env.yaml
Due: none

remove fftw-api version
  tools/spack/cp2k-env.yaml
Due: none

Relax SCF convergence threshold
  tests/xTB/regtest-2/HF-loc-field-debug.inp
Due: none

Ignore SCF convergence for the new ECP test inputs
  tests/QS/regtest-ecp/ICl_lanl2dz_gpw.inp
  tests/QS/regtest-ecp/Rn_stuttgart_gapw.inp
  tests/QS/regtest-ecp/SbH3_def2_gapw.inp
Due: none

Exclude libgrpp from gcc8 test
  tools/docker/Dockerfile.test_gcc10
  tools/docker/Dockerfile.test_gcc11
  tools/docker/Dockerfile.test_gcc12
  tools/docker/Dockerfile.test_gcc8
  tools/docker/Dockerfile.test_gcc9
  tools/docker/Dockerfile.test_i386
  tools/docker/generate_dockerfiles.py
Due: none

Update arch files: add libgrpp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
Due: none

small fix to printing E_DENSITY_CUBE%TOTAL_DENSITY
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Minor cosmetic changes
  src/common/bibliography.F
  src/hfx_types.F
  src/input_cp2k_dft.F
  src/qs_environment.F
  src/rpa_im_time_force_methods.F
Due: doxify, prettify, analyze_src

[SIRIUS] wrong option name for the hubbard file
  src/input_cp2k_dft.F
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

[toolchain] Fix cuda architecture option
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: shfmt

[SIRIUS] Enable more control of hubbard plus U
  src/input_cp2k_dft.F
  src/input_cp2k_pwdft.F
  src/pwdft_environment.F
  src/pwdft_environment_types.F
  src/sirius_interface.F
  tests/SIRIUS/regtest-1/NiO-plus-u.inp
  tests/SIRIUS/regtest-1/TEST_FILES
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: doxify, prettify, analyze_src, shfmt

Minor changes
  src/input_cp2k_dft.F
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

Docker: Copy logs into artifacts after failure
  tools/docker/scripts/test_aiida.sh
  tools/docker/scripts/test_ase.sh
  tools/docker/scripts/test_build.sh
  tools/docker/scripts/test_coverage.sh
  tools/docker/scripts/test_doxygen.sh
  tools/docker/scripts/test_gromacs.sh
  tools/docker/scripts/test_i-pi.sh
  tools/docker/scripts/test_manual.sh
  tools/docker/scripts/test_misc.sh
  tools/docker/scripts/test_performance.sh
  tools/docker/scripts/test_regtest.sh
  tools/docker/scripts/test_regtest_cmake.sh
Due: shfmt

Update vim syntax file generation
  tools/input_editing/vim/vim.xsl
Due: none

DLA-Future Squash (#5)
  CMakeLists.txt
  INSTALL.md
  cmake/cp2kConfig.cmake.in
  cmake/modules/FindGenericBLAS.cmake
  src/CMakeLists.txt
  src/cp2k_info.F
  src/environment.F
  src/f77_interface.F
  src/fm/cp_blacs_types.F
  src/fm/cp_dlaf_utils.F
  src/fm/cp_dlaf_utils.c
  src/fm/cp_fm_cholesky.F
  src/fm/cp_fm_diag.F
  src/fm/cp_fm_dlaf_api.F
  src/global_types.F
  src/input_cp2k_global.F
  src/mpiwrap/message_passing.F
  src/start/cp2k_runs.F
  tests/QS/regtest-dlaf/H2O-6.inp
  tests/QS/regtest-dlaf/TEST_FILES
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src, clang-format

make pretty
  INSTALL.md
  src/f77_interface.F
Due: doxify, prettify, analyze_src

define testopt directly
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/test_regtest_cmake.sh
Due: shfmt

add dlaf to ci
  tests/QS/regtest-dlaf/H2O-6.inp
  tools/docker/scripts/test_regtest_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt
