Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Replace call to dbcsr_norm() with alternatives
  src/almo_scf_optimizer.F
  src/cp_dbcsr_operations.F
  src/ct_methods.F
  src/dbx/cp_dbcsr_api.F
  src/dm_ls_scf_curvy.F
  src/iterate_matrix.F
  src/mao_optimizer.F
  src/qs_scf_block_davidson.F
Due: doxify, prettify, analyze_src

added INTENSITY_LIST, START_FRAME and END_FRAME keywords for periodic efield
  src/cp_control_types.F
  src/cp_control_utils.F
  src/eeq_method.F
  src/efield_tb_methods.F
  src/input_cp2k_field.F
  src/qs_efield_berry.F
Due: doxify, prettify, analyze_src

fix start_frame=0 and formatting errors
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_field.F
  src/qs_efield_berry.F
Due: doxify, prettify, analyze_src

Atom code: add option to write xmgrace wavefunction file
  src/CMakeLists.txt
  src/atom_energy.F
  src/atom_output.F
  src/atom_pseudo.F
  src/common/xmgrace.F
  src/input_cp2k_atom.F
  src/input_cp2k_scf.F
  tests/xTB/regtest-gfn0/ch2o_eper.inp
Due: doxify, prettify, analyze_src

Split build step in deps and cp2k
  ci/cscs-ci.yml
  ci/docker/build_cp2k_psmp.Dockerfile
  ci/docker/build_deps_psmp.Dockerfile
  ci/docker/test_cp2k_psmp.Dockerfile
Due: none

Atom code: add option to write xmgrace wavefunction file (#3962)
  src/CMakeLists.txt
  src/atom_energy.F
  src/atom_output.F
  src/atom_pseudo.F
  src/common/xmgrace.F
  src/input_cp2k_atom.F
  src/input_cp2k_scf.F
  tests/xTB/regtest-gfn0/ch2o_eper.inp
Due: doxify, prettify, analyze_src

Disable test step for the time being
  ci/cscs-ci.yml
  ci/docker/build_cp2k_psmp.Dockerfile
  ci/docker/build_deps_psmp.Dockerfile
Due: none

Split cmake build script
  cmake/cmake_cp2k.sh
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/docker/scripts/install_dbcsr.sh
Due: shfmt

fix
  src/qs_gapw_densities.F
  src/qs_rho0_ggrid.F
  src/qs_tddfpt2_densities.F
  src/qs_tddfpt2_eigensolver.F
  src/qs_tddfpt2_fhxc.F
  src/qs_tddfpt2_operators.F
Due: doxify, prettify, analyze_src

tests
  tests/QS/regtest-tddfpt-force-gapw/TEST_FILES
  tests/QS/regtest-tddfpt-force-gapw/ft1.inp
  tests/QS/regtest-tddfpt-force-gapw/h2o_f01.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_5.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_6.inp
  tests/QS/regtest-tddfpt-gapw/TEST_FILES
Due: none

fix mem leak
  src/qs_tddfpt2_subgroups.F
Due: doxify, prettify, analyze_src

clean and pretty
  src/qs_rho0_ggrid.F
  src/qs_tddfpt2_subgroups.F
  tests/QS/regtest-tddfpt-force-gapw/ft1.inp
  tests/QS/regtest-tddfpt-force-gapw/h2o_f01.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_5.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_6.inp
Due: doxify, prettify, analyze_src

clean
  src/qs_gapw_densities.F
Due: doxify, prettify, analyze_src

Try to fix #3959
  src/nnp_force.F
Due: doxify, prettify, analyze_src

Remove wrong else block for PROFILE test
  cmake/cmake_cp2k.sh
Due: shfmt

Adapt test tolerance
  tests/QS/regtest-rel/TEST_FILES
Due: none

Fix coding convention error
  src/atom_output.F
Due: doxify, prettify, analyze_src

Fix coding convention error (#3973)
  src/atom_output.F
Due: doxify, prettify, analyze_src

Fix grpp library name
  arch/Darwin-gnu-arm64.psmp
  arch/Darwin-gnu-arm64.ssmp
  arch/Eiger-mc-gnu.psmp
  arch/Eiger-mc-intel.psmp
  arch/Linux-amd-x86_64.ssmp
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
Due: none

Add deepmd to psmp tester
  arch/Linux-gnu-x86_64.psmp
Due: none

release task_list_aux_fit_soft
  src/qs_tddfpt2_densities.F
  src/qs_tddfpt2_subgroups.F
Due: doxify, prettify, analyze_src

tests
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_1.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_1_triplet.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_2.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_3.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_5.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_6.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_XC_4.inp
  tests/QS/regtest-tddfpt-gapw/Ne_GAPW_triplet.inp
  tests/QS/regtest-tddfpt-gapw/TEST_FILES
Due: none

fix ref value
  tests/QS/regtest-tddfpt-gapw/TEST_FILES
Due: none

precommit: Ignore very large files
  tools/precommit/precommit.py
Due: none

TDDFPT%MGRID bug fix for GAPW (#3967)
  src/qs_gapw_densities.F
  src/qs_rho0_ggrid.F
  src/qs_tddfpt2_densities.F
  src/qs_tddfpt2_eigensolver.F
  src/qs_tddfpt2_fhxc.F
  src/qs_tddfpt2_operators.F
  src/qs_tddfpt2_subgroups.F
  tests/QS/regtest-tddfpt-force-gapw/TEST_FILES
  tests/QS/regtest-tddfpt-force-gapw/ft1.inp
  tests/QS/regtest-tddfpt-force-gapw/h2o_f01.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_1.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_1_triplet.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_2.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_5.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_6.inp
  tests/QS/regtest-tddfpt-gapw/H2O_GAPW_XC_4.inp
  tests/QS/regtest-tddfpt-gapw/TEST_FILES
Due: doxify, prettify, analyze_src

add reference
  src/common/bibliography.F
  src/qs_tddfpt2_forces.F
Due: doxify, prettify, analyze_src

pretty
  src/common/bibliography.F
  src/qs_tddfpt2_forces.F
Due: doxify, prettify, analyze_src

Include DBCSR library in toolchain build
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
  tools/toolchain/scripts/stage9/install_stage9.sh
Due: shfmt

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
