Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

DBM: use host_malloc, introduced host_free and device_free (#4073)
  src/dbm/Makefile
  src/dbm/dbm_hyperparams.h
  src/dbm/dbm_mempool.c
  src/dbm/dbm_mempool.h
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_comm.c
  src/dbm/dbm_multiply_gpu.c
  src/dbm/dbm_shard.c
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

CMake: resolves inconsistencies with DBCSR
  cmake/cmake_cp2k.sh
  tools/docker/scripts/install_dbcsr.sh
Due: shfmt

Copy pw_to_cube to pw_to_openpmd
  src/cp_realspace_grid_cube.F
  src/input/cp_output_handling.F
  src/pw/realspace_grid_cube.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

insert value for grid with 26 points for test G0W0_OH_PBE_svd (toml file)
  tests/QS/regtest-gw-cubic/TEST_FILES.toml
Due: none

insert value for grid with 12 points for test G0W0_H2O_PBE_periodic
  tests/QS/regtest-gw-cubic/TEST_FILES.toml
Due: none

add regularization option for GreenX minimax
  src/rpa_main.F
Due: doxify, prettify, analyze_src

change to grid with 26 points for test G0W0_OH_PBE_ADMM
  tests/QS/regtest-gw-cubic/G0W0_OH_PBE_ADMM.inp
Due: none

change to grid with 26 points for test G0W0_OH_PBE
  tests/QS/regtest-gw-cubic/G0W0_OH_PBE.inp
Due: none

change to grid with 26 points for test G0W0_OH_PBE_svd
  tests/QS/regtest-gw-cubic/G0W0_OH_PBE_svd.inp
Due: none

clean up greenx print output
  src/rpa_main.F
Due: doxify, prettify, analyze_src

formatting
  src/mp2_grids.F
  src/rpa_gw_kpoints_util.F
  src/rpa_im_time.F
  src/rpa_main.F
  tests/QS/regtest-gw/evGW_H2O_PBE_Fermi_level_offset.inp
Due: doxify, prettify, analyze_src

some cleanup
  src/mp2_grids.F
  src/rpa_gw_kpoints_util.F
  src/rpa_im_time.F
  src/rpa_im_time_force_methods.F
  src/rpa_main.F
Due: doxify, prettify, analyze_src

exclude regtest-gw-kpoints from regression test if greenx is linked since grids are used which are not in greenx
  src/cp2k_info.F
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

insert values for 26 points for test G0W0_H2O_PBE0 (toml file)
  tests/QS/regtest-gw-cubic/TEST_FILES.toml
Due: none

adjust the tolerance for GW test cases with minimal deviation to greenx runs (toml files)
  tests/QS/regtest-ri-rpa-rse/TEST_FILES.toml
  tests/QS/regtest-rpa-cubic-scaling/TEST_FILES.toml
Due: none

interface to greenx library
  src/mp2_grids.F
  src/rpa_gw_kpoints_util.F
  src/rpa_im_time.F
  src/rpa_im_time_force_methods.F
  src/rpa_main.F
Due: doxify, prettify, analyze_src

change to grid with 26 points for test G0W0_H2O_PBE0
  tests/QS/regtest-gw-cubic/G0W0_H2O_PBE0.inp
Due: none

change to grid with 26 points for test evGW_H2O_PBE_Fermi_level_offset and add regularization
  tests/QS/regtest-gw/evGW_H2O_PBE_Fermi_level_offset.inp
Due: none

insert value for grid with 26 points for test G0W0_OH_PBE_ADMM (toml file)
  tests/QS/regtest-gw-cubic/TEST_FILES.toml
Due: none

insert value for grid with 26 points for test G0W0_OH_PBE (toml file)
  tests/QS/regtest-gw-cubic/TEST_FILES.toml
Due: none

bug fix for RPA calculations with internal minimax, factor 4 missing in integration weights for large grids
  src/mp2_grids.F
Due: doxify, prettify, analyze_src

change to grid with 12 points for test G0W0_H2O_PBE_periodic
  tests/QS/regtest-gw-cubic/G0W0_H2O_PBE_periodic.inp
Due: none

insert value grid with 26 points for test evGW_H2O_PBE_Fermi_level_offset (toml file)
  tests/QS/regtest-gw/TEST_FILES.toml
Due: none

exclude regtest-rpa-sigma from the regression tests if greenx is linked (small minimax grids different between greenx and internal routines)
  tests/TEST_DIRS
Due: none

enable cmake build with greenx
  CMakeLists.txt
  cmake/modules/FindgreenX.cmake
  src/CMakeLists.txt
Due: none

cmake build: require only config file, no FindgreenX.cmake
  CMakeLists.txt
  cmake/modules/FindgreenX.cmake
  src/CMakeLists.txt
Due: none

formatting
  src/rpa_main.F
Due: doxify, prettify, analyze_src

added entry for GreenX in INSTALL.md
  INSTALL.md
Due: none

ensure that we have no unused variable when greenx is not enabled
  src/rpa_main.F
Due: doxify, prettify, analyze_src

fix a memory leak
  src/grid/hip/grid_hip_context.h
Due: analyze_src, clang-format

fix syntax in TEST_DIRS
  tests/TEST_DIRS
Due: none

Interface for greenX library
  CMakeLists.txt
  INSTALL.md
  src/CMakeLists.txt
  src/cp2k_info.F
  src/mp2_grids.F
  src/rpa_gw_kpoints_util.F
  src/rpa_im_time.F
  src/rpa_im_time_force_methods.F
  src/rpa_main.F
  tests/QS/regtest-gw-cubic/G0W0_H2O_PBE0.inp
  tests/QS/regtest-gw-cubic/G0W0_H2O_PBE_periodic.inp
  tests/QS/regtest-gw-cubic/G0W0_OH_PBE.inp
  tests/QS/regtest-gw-cubic/G0W0_OH_PBE_ADMM.inp
  tests/QS/regtest-gw-cubic/G0W0_OH_PBE_svd.inp
  tests/QS/regtest-gw-cubic/TEST_FILES.toml
  tests/QS/regtest-gw/TEST_FILES.toml
  tests/QS/regtest-gw/evGW_H2O_PBE_Fermi_level_offset.inp
  tests/QS/regtest-ri-rpa-rse/TEST_FILES.toml
  tests/QS/regtest-rpa-cubic-scaling/TEST_FILES.toml
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Docker: Fix builds of GCC and minimal tests
  cmake/cmake_cp2k.sh
Due: shfmt

WIP actual species output
  src/cp_realspace_grid_cube.F
  src/input/cp_output_handling.F
  src/pw/realspace_grid_cube.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

positionOffset
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/input/cp_output_handling.F
  src/openPMD.F
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src, clang-format

PDOS input description
  src/input_cp2k_print_dft.F
Due: doxify, prettify, analyze_src

PDOS input description (#4083)
  src/input_cp2k_print_dft.F
Due: doxify, prettify, analyze_src

WIP: position_x writing
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/openPMD.F
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src, clang-format

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
