Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Remove unused routines
  src/qs_scf_post_tb.F
Due: doxify, prettify, analyze_src

Enable density matrix and KS matrix output in DFTB/xTB
  src/qs_scf_post_tb.F
Due: doxify, prettify, analyze_src

Output number of basis functions for TDA kernel calculations
  src/qs_tddfpt2_methods.F
Due: doxify, prettify, analyze_src

Output number of basis functions for TDA kernel calculations (#3426)
  data/BASIS_MOLOPT_UZH
  src/qs_tddfpt2_methods.F
Due: doxify, prettify, analyze_src, regen_data

WFC-gradients: Do not free HFX buffers by default
  src/input_cp2k_mp2.F
  src/mp2_setup.F
  src/mp2_types.F
Due: doxify, prettify, analyze_src

Fix RSE
  src/rpa_rse.F
Due: doxify, prettify, analyze_src

fix indexing of elements in cp2k based on allegro & nequip indexing
  data/Allegro/gra-water-deployed-neq060sp.pth
  data/Allegro/si-deployed-neq060dp.pth
  data/Allegro/si-deployed.pth
  data/Allegro/water-gra-film-double.pth
  data/NequIP/water-deployed-neq060dp.pth
  data/NequIP/water-deployed-neq060sp.pth
  data/NequIP/water-double.pth
  data/NequIP/water.pth
  src/fist_force.F
  src/force_fields_input.F
  src/input_cp2k_mm.F
  src/manybody_allegro.F
  src/manybody_nequip.F
  src/manybody_potential.F
  src/nequip_unittest.F
  src/pair_potential_types.F
  tests/Fist/regtest-allegro/Si-dp.inp
  tests/Fist/regtest-allegro/Si.xyz
  tests/Fist/regtest-allegro/TEST_FILES
  tests/Fist/regtest-allegro/water-bulk-sp.inp
  tests/Fist/regtest-allegro/water-gra-film-sp.inp
  tests/Fist/regtest-allegro/water-gra-film.xyz
  tests/Fist/regtest-nequip/TEST_FILES
  tests/Fist/regtest-nequip/water-bulk-dp.inp
  tests/Fist/regtest-nequip/water-bulk.xyz
  tests/Fist/regtest-nequip/water-sp.inp
Due: doxify, prettify, analyze_src, regen_data

Fix indexing and enable stress prediction in NequIP & Allegro (#3428)
  data/Allegro/gra-water-deployed-neq060sp.pth
  data/Allegro/si-deployed-neq060dp.pth
  data/Allegro/si-deployed.pth
  data/Allegro/water-gra-film-double.pth
  data/NequIP/water-deployed-neq060dp.pth
  data/NequIP/water-deployed-neq060sp.pth
  data/NequIP/water-double.pth
  data/NequIP/water.pth
  src/fist_force.F
  src/force_fields_input.F
  src/input_cp2k_mm.F
  src/manybody_allegro.F
  src/manybody_nequip.F
  src/manybody_potential.F
  src/nequip_unittest.F
  src/pair_potential_types.F
  tests/Fist/regtest-allegro/Si-dp.inp
  tests/Fist/regtest-allegro/Si.xyz
  tests/Fist/regtest-allegro/TEST_FILES
  tests/Fist/regtest-allegro/water-bulk-sp.inp
  tests/Fist/regtest-allegro/water-gra-film-sp.inp
  tests/Fist/regtest-allegro/water-gra-film.xyz
  tests/Fist/regtest-nequip/TEST_FILES
  tests/Fist/regtest-nequip/water-bulk-dp.inp
  tests/Fist/regtest-nequip/water-bulk.xyz
  tests/Fist/regtest-nequip/water-sp.inp
Due: doxify, prettify, analyze_src, regen_data

WFC-gradients: Do not free HFX buffers by default (#3427)
  src/input_cp2k_mp2.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_rse.F
Due: doxify, prettify, analyze_src

allow for constant efield with Gaussian envelop fix geo_opt output missing word
  src/efield_utils.F
  src/motion/gopt_f_methods.F
Due: doxify, prettify, analyze_src

allow for constant efield with Gaussian envelop (#3429)
  src/efield_utils.F
  src/motion/gopt_f_methods.F
Due: doxify, prettify, analyze_src

Revise TDA basis set info output
  src/basis_set_output.F
  src/min_basis_set.F
  src/qs_tddfpt2_methods.F
Due: doxify, prettify, analyze_src

Revise TDA basis set info output (#3430)
  src/basis_set_output.F
  src/min_basis_set.F
  src/qs_tddfpt2_methods.F
Due: doxify, prettify, analyze_src

Reduce test output sizes
  tests/Fist/regtest-12/Si_tersoff.inp
  tests/NEB/regtest-4/2gly_IT-NEB-CV.inp
Due: none

Revise optimization output (#3423)
  src/motion/gopt_f_methods.F
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

fixed cutoff and rel_cutoff tutorial
  docs/methods/dft/cutoff.md
  docs/methods/dft/index.md
Due: none

use dlafort
  src/CMakeLists.txt
  src/fm/cp_dlaf_utils_api.F
  src/fm/cp_fm_dlaf_api.F
Due: doxify, prettify, analyze_src

adapt to released version
  CMakeLists.txt
  src/CMakeLists.txt
  src/fm/cp_dlaf_utils_api.F
  src/fm/cp_fm_dlaf_api.F
Due: doxify, prettify, analyze_src

prettify
  CMakeLists.txt
  src/fm/cp_dlaf_utils_api.F
  src/fm/cp_fm_dlaf_api.F
Due: doxify, prettify, analyze_src

update spack tag
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
Due: none

depend on dla-future-fortran
  tools/spack/cp2k-dependencies.yaml
Due: none

guard new use
  src/fm/cp_dlaf_utils_api.F
  src/fm/cp_fm_dlaf_api.F
Due: doxify, prettify, analyze_src

Use new external DLA-Future Fortran interface
  CMakeLists.txt
  src/CMakeLists.txt
  src/fm/cp_dlaf_utils_api.F
  src/fm/cp_fm_dlaf_api.F
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
  tools/spack/cp2k-dependencies.yaml
Due: doxify, prettify, analyze_src

Nequip: Fix parallelization with virials
  src/manybody_nequip.F
Due: doxify, prettify, analyze_src

attempt at support for Nvidia A40
  CMakeLists.txt
  INSTALL.md
  exts/build_dbcsr/Makefile
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage8/install_spfft.sh
  tools/toolchain/scripts/stage8/install_spla.sh
Due: shfmt

Update regtests non-scf DFTB + QMMM (prepare for new functionality)
  tests/DFTB/regtest-nonscc/TEST_FILES
  tests/DFTB/regtest-nonscc/n2.inp
  tests/QMMM/DFTB/regtest/TEST_FILES
Due: none

change due to make pretty
  CMakeLists.txt
Due: none

Update regtests non-scf DFTB + QMMM (prepare for new functionality) (#3436)
  tests/DFTB/regtest-nonscc/TEST_FILES
  tests/DFTB/regtest-nonscc/n2.inp
  tests/QMMM/DFTB/regtest/TEST_FILES
Due: none

add new file to cmake list
  src/CMakeLists.txt
Due: none

Don't run non-scf methods through SCF routines.
  src/qs_energy.F
  src/qs_environment.F
  src/qs_nonscf.F
  src/qs_scf.F
  src/scf_control_types.F
  src/xtb_matrices.F
Due: doxify, prettify, analyze_src

No intermediate energy output if not SCF
  src/qs_dftb_matrices.F
Due: doxify, prettify, analyze_src

Pretty
  src/qs_dftb_matrices.F
Due: doxify, prettify, analyze_src

non-scf methods will not enter SCF loop (#3437)
  src/CMakeLists.txt
  src/qs_dftb_matrices.F
  src/qs_energy.F
  src/qs_environment.F
  src/qs_nonscf.F
  src/qs_scf.F
  src/scf_control_types.F
  src/xtb_matrices.F
Due: doxify, prettify, analyze_src

Add support for Nvidia A40
  CMakeLists.txt
  INSTALL.md
  exts/build_dbcsr/Makefile
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage8/install_spfft.sh
  tools/toolchain/scripts/stage8/install_spla.sh
Due: shfmt

Remove unused local module variables
  src/qs_nonscf.F
Due: doxify, prettify, analyze_src

Remove unused local module variables (#3439)
  src/qs_nonscf.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
