Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

* Harris functional: enable MAO basis for LS solver
  src/dm_ls_scf.F
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

LS: add exit message when convergence is reached
  src/dm_ls_scf.F
Due: doxify, prettify, analyze_src

gspace mixing with lsd
  src/qs_density_mixing_types.F
  src/qs_gspace_mixing.F
  src/qs_mixing_utils.F
Due: doxify, prettify, analyze_src

prettify
  src/qs_gspace_mixing.F
  src/qs_mixing_utils.F
Due: doxify, prettify, analyze_src

Change from accurate sum to standard sum in pw_integral_ab
  src/pw/pw_methods.F
Due: doxify, prettify, analyze_src

Added MAX_OPEN_CYCLES keyword in worm MC sampling of helium to avoid getting trapped in open state for too long.
  src/motion/helium_io.F
  src/motion/helium_methods.F
  src/motion/helium_types.F
  src/motion/helium_worm.F
  src/start/input_cp2k_motion.F
Due: doxify, prettify, analyze_src

Harris Functional bug fix for dipole moments and regtests
  src/ec_efield_local.F
  src/energy_corrections.F
  tests/QS/regtest-debug-5/TEST_FILES
  tests/QS/regtest-debug-5/h2o_dip29.inp
  tests/QS/regtest-debug-5/h2o_dip30.inp
  tests/QS/regtest-debug-5/h2o_dip31.inp
  tests/QS/regtest-debug-5/h2o_dip33.inp
  tests/QS/regtest-debug-5/h2o_dip34.inp
  tests/QS/regtest-debug-5/h2o_dip38.inp
Due: doxify, prettify, analyze_src

GMIX_P is needed when GAPW and G-space mixing
  tests/QS/regtest-gapw-1/c8_broy_gapw_all.inp
  tests/QS/regtest-gapw-1/c8_broy_gapw_all_xashh.inp
Due: none

check that GMIX_P is active for mixing the gapw densities
  src/qs_gspace_mixing.F
Due: doxify, prettify, analyze_src

g-space mixing with spin polarized uses spin up and spin down densities rather than spin up density and spin up minus spin down density
  tests/QS/regtest-gapw-1/TEST_FILES
  tests/QS/regtest-gpw-5/TEST_FILES
  tests/QS/regtest-gpw-6-3/TEST_FILES
Due: none

pretty
  src/qs_gspace_mixing.F
Due: doxify, prettify, analyze_src

changed tolerance
  tests/QS/regtest-gpw-5/TEST_FILES
Due: none

Update regtest (speed)
  tests/QS/regtest-debug-5/TEST_FILES
  tests/QS/regtest-debug-5/h2o_dip27.inp
  tests/QS/regtest-debug-5/h2o_dip32.inp
  tests/QS/regtest-debug-5/h2o_dip38.inp
Due: none

Dipole moments (non periodic) for Harris functionals (#1720)
  src/ec_efield_local.F
  src/energy_corrections.F
  tests/QS/regtest-debug-5/TEST_FILES
  tests/QS/regtest-debug-5/h2o_dip27.inp
  tests/QS/regtest-debug-5/h2o_dip29.inp
  tests/QS/regtest-debug-5/h2o_dip30.inp
  tests/QS/regtest-debug-5/h2o_dip31.inp
  tests/QS/regtest-debug-5/h2o_dip32.inp
  tests/QS/regtest-debug-5/h2o_dip33.inp
  tests/QS/regtest-debug-5/h2o_dip34.inp
  tests/QS/regtest-debug-5/h2o_dip38.inp
Due: doxify, prettify, analyze_src

reference changed
  tests/QS/regtest-gpw-5/TEST_FILES
Due: none

LSD and G-space mixing (#1719)
  src/qs_density_mixing_types.F
  src/qs_gspace_mixing.F
  src/qs_mixing_utils.F
  tests/QS/regtest-gapw-1/TEST_FILES
  tests/QS/regtest-gapw-1/c8_broy_gapw_all.inp
  tests/QS/regtest-gapw-1/c8_broy_gapw_all_xashh.inp
  tests/QS/regtest-gpw-5/TEST_FILES
  tests/QS/regtest-gpw-6-3/TEST_FILES
Due: doxify, prettify, analyze_src

Run make pretty
  src/pw/pw_methods.F
Due: doxify, prettify, analyze_src

gpu target for elpa and cray math-mode for cosma
  tools/toolchain/scripts/stage4/install_cosma.sh
  tools/toolchain/scripts/stage5/install_elpa.sh
Due: shfmt

Prettify
  src/motion/helium_methods.F
  src/motion/helium_worm.F
  src/start/input_cp2k_motion.F
Due: doxify, prettify, analyze_src

Use -n flag common to both mpiexec and srun
  tools/regtesting/do_regtest.py
Due: none

Run tests in classic mode failing with keepalive
  tools/regtesting/do_regtest.py
Due: none

Adjust tolerance
  tests/QS/regtest-gpw-5/TEST_FILES
Due: none

Add flag for work base dir
  tools/regtesting/do_regtest.py
Due: none

Harris Functional with MAOs: Add additional options
  src/ec_env_types.F
  src/ec_environment.F
  src/energy_corrections.F
  src/input_cp2k_ec.F
  src/mao_basis.F
  src/mao_methods.F
  src/mao_optimizer.F
  src/mao_wfn_analysis.F
Due: doxify, prettify, analyze_src

Relax tolerance further
  tests/QS/regtest-gpw-5/TEST_FILES
Due: none

Harris Functional with MAOs: Add additional options (#1726)
  src/ec_env_types.F
  src/ec_environment.F
  src/energy_corrections.F
  src/input_cp2k_ec.F
  src/mao_basis.F
  src/mao_methods.F
  src/mao_optimizer.F
  src/mao_wfn_analysis.F
Due: doxify, prettify, analyze_src

Harris functional MAO: correct printing in parallel case
  src/mao_methods.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
