Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

get correct energy and forces
  tests/Fist/regtest-nequip/water-1.ener
  tests/Fist/regtest-nequip/water-1.restart
  tests/Fist/regtest-nequip/water-1_1.mmLog
  tests/Fist/regtest-nequip/water-1_10.mmLog
  tests/Fist/regtest-nequip/water-1_2.mmLog
  tests/Fist/regtest-nequip/water-1_3.mmLog
  tests/Fist/regtest-nequip/water-1_4.mmLog
  tests/Fist/regtest-nequip/water-1_5.mmLog
  tests/Fist/regtest-nequip/water-1_6.mmLog
  tests/Fist/regtest-nequip/water-1_7.mmLog
  tests/Fist/regtest-nequip/water-1_8.mmLog
  tests/Fist/regtest-nequip/water-1_9.mmLog
  tests/Fist/regtest-nequip/water-pos-1.xyz
  tests/Fist/regtest-quip/Quip_Cu_LJ-1.restart
  tests/Fist/regtest-quip/Quip_Cu_LJ-1.restart.bak-1
  tests/Fist/regtest-quip/Quip_Cu_LJ-1.restart.bak-2
  tests/Fist/regtest-quip/Quip_Cu_LJ-1.restart.bak-3
  tests/Fist/regtest-quip/Quip_Cu_LJ-BFGS.Hessian
  tests/Fist/regtest-quip/Quip_Cu_LJ-pos-1.xyz
Due: none

get correct forces and energy with nequip
  src/fist_nonbond_env_types.F
  src/force_fields_input.F
  src/manybody_nequip.F
  src/manybody_potential.F
  src/nequip_unittest.F
  src/topology_generate_util.F
  tests/Fist/regtest-nequip/NequIP_water_md.inp
  tests/Fist/regtest-nequip/water-1.ener
  tests/Fist/regtest-nequip/water-1.restart
  tests/Fist/regtest-nequip/water-1.restart.bak-1
  tests/Fist/regtest-nequip/water-1_1.mmLog
  tests/Fist/regtest-nequip/water-1_10.mmLog
  tests/Fist/regtest-nequip/water-1_2.mmLog
  tests/Fist/regtest-nequip/water-1_3.mmLog
  tests/Fist/regtest-nequip/water-1_4.mmLog
  tests/Fist/regtest-nequip/water-1_5.mmLog
  tests/Fist/regtest-nequip/water-1_6.mmLog
  tests/Fist/regtest-nequip/water-1_7.mmLog
  tests/Fist/regtest-nequip/water-1_8.mmLog
  tests/Fist/regtest-nequip/water-1_9.mmLog
  tests/Fist/regtest-nequip/water-pos-1.xyz
  tests/Fist/regtest-quip/Quip_Cu_LJ-1.restart
  tests/Fist/regtest-quip/Quip_Cu_LJ-1.restart.bak-1
  tests/Fist/regtest-quip/Quip_Cu_LJ-1.restart.bak-2
  tests/Fist/regtest-quip/Quip_Cu_LJ-1.restart.bak-3
  tests/Fist/regtest-quip/Quip_Cu_LJ-BFGS.Hessian
  tests/Fist/regtest-quip/Quip_Cu_LJ-pos-1.xyz
  tests/Fist/regtest-quip/Quip_Cu_LJ.inp
Due: doxify, prettify, analyze_src

testing nequip
  src/manybody_nequip.F
  tests/Fist/regtest-nequip/NequIP_water_md.inp
  tests/Fist/regtest-nequip/water-1.restart.bak-1
Due: doxify, prettify, analyze_src

debugging to run with mpi
  tests/Fist/regtest-nequip/water-1.ener
  tests/Fist/regtest-nequip/water-1.restart
  tests/Fist/regtest-nequip/water-1.restart.bak-1
  tests/Fist/regtest-nequip/water-1.restart.bak-2
  tests/Fist/regtest-nequip/water-1.restart.bak-3
Due: none

modifying tersoff implementation of neighbor list for nequip
  src/manybody_nequip.F
  src/manybody_potential.F
Due: doxify, prettify, analyze_src

slight changes
  .gitignore
  tests/Fist/regtest-nequip/get_index.sh
Due: shfmt

Fix realspace_grid_types
  src/pw/realspace_grid_types.F
Due: doxify, prettify, analyze_src

Fix MP2 gradients with degenerate occ orbital pairs
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

Regtests for LnPP2
  tests/QS/regtest-LnPP2/TEST_FILES
  tests/QS/regtest-LnPP2/cecl3.inp
  tests/QS/regtest-LnPP2/dycl3.inp
  tests/QS/regtest-LnPP2/ercl3.inp
  tests/QS/regtest-LnPP2/eucl3.inp
  tests/QS/regtest-LnPP2/gdcl3.inp
  tests/QS/regtest-LnPP2/hocl3.inp
  tests/QS/regtest-LnPP2/lucl3.inp
  tests/QS/regtest-LnPP2/ndcl3.inp
  tests/QS/regtest-LnPP2/pmcl3.inp
  tests/QS/regtest-LnPP2/prcl3.inp
  tests/QS/regtest-LnPP2/smcl3.inp
  tests/QS/regtest-LnPP2/tbcl3.inp
  tests/QS/regtest-LnPP2/tmcl3.inp
  tests/QS/regtest-LnPP2/ybcl3.inp
  tests/TEST_DIRS
Due: none

Regtests for LnPP2 (#2491)
  tests/QS/regtest-LnPP2/TEST_FILES
  tests/QS/regtest-LnPP2/cecl3.inp
  tests/QS/regtest-LnPP2/dycl3.inp
  tests/QS/regtest-LnPP2/ercl3.inp
  tests/QS/regtest-LnPP2/eucl3.inp
  tests/QS/regtest-LnPP2/gdcl3.inp
  tests/QS/regtest-LnPP2/hocl3.inp
  tests/QS/regtest-LnPP2/lucl3.inp
  tests/QS/regtest-LnPP2/ndcl3.inp
  tests/QS/regtest-LnPP2/pmcl3.inp
  tests/QS/regtest-LnPP2/prcl3.inp
  tests/QS/regtest-LnPP2/smcl3.inp
  tests/QS/regtest-LnPP2/tbcl3.inp
  tests/QS/regtest-LnPP2/tmcl3.inp
  tests/QS/regtest-LnPP2/ybcl3.inp
  tests/TEST_DIRS
Due: none

periodic GW: RI with truncated Coulomb metric and substantial memory reduction
  src/input_cp2k_mp2.F
  src/mp2_gpw.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_gw.F
  src/rpa_gw_im_time_util.F
  src/rpa_gw_kpoints_util.F
  src/rpa_gw_sigma_x.F
  src/rpa_im_time.F
  src/rpa_main.F
  src/rpa_util.F
  tests/QS/regtest-gw-kpoints/G0W0_kpoints_in_self_energy_RI_trunc_Coulomb_metric.inp
  tests/QS/regtest-gw-kpoints/TEST_FILES
Due: doxify, prettify, analyze_src

fix unallocated matrix
  src/rpa_util.F
Due: doxify, prettify, analyze_src

periodic GW: RI with truncated Coulomb metric and memory reduction
  src/input_cp2k_mp2.F
  src/mp2_gpw.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_gw.F
  src/rpa_gw_im_time_util.F
  src/rpa_gw_kpoints_util.F
  src/rpa_gw_sigma_x.F
  src/rpa_im_time.F
  src/rpa_main.F
  src/rpa_util.F
  tests/QS/regtest-gw-kpoints/G0W0_kpoints_in_self_energy_RI_trunc_Coulomb_metric.inp
  tests/QS/regtest-gw-kpoints/TEST_FILES
Due: doxify, prettify, analyze_src

Remove unused parameters from mp2_ri_2c.F
  src/mp2_ri_2c.F
Due: doxify, prettify, analyze_src

mp_allgather implemented correctly tests pass
  tests/Fist/regtest-nequip/water-1.ener
  tests/Fist/regtest-nequip/water-1.restart
  tests/Fist/regtest-nequip/water-1.restart.bak-1
  tests/Fist/regtest-nequip/water-1.restart.bak-2
  tests/Fist/regtest-nequip/water-1.restart.bak-3
  tests/Fist/regtest-nequip/water-pos-1.xyz
Due: none

mp_allgather implemented correctly tests pass
  src/fist_force.F
  src/force_env_methods.F
  src/force_fields_input.F
  src/manybody_nequip.F
  src/manybody_potential.F
  src/nequip_unittest.F
  src/pair_potential_types.F
  tests/Fist/regtest-nequip/water-1.ener
  tests/Fist/regtest-nequip/water-1.restart
  tests/Fist/regtest-nequip/water-1.restart.bak-1
  tests/Fist/regtest-nequip/water-1.restart.bak-2
  tests/Fist/regtest-nequip/water-1.restart.bak-3
  tests/Fist/regtest-nequip/water-pos-1.xyz
Due: doxify, prettify, analyze_src

Fix build of static CP2K binary
  arch/Linux-gnu-x86_64-static.ssmp
Due: none

Fix build of static CP2K binary
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-x86_64-static.ssmp
Due: none

modified nequip input
  src/force_fields_input.F
  src/input_cp2k_mm.F
  src/manybody_nequip.F
  src/pair_potential_types.F
  tests/Fist/regtest-nequip/NequIP_water_simple.inp
Due: doxify, prettify, analyze_src

Add switch between mpi and mpi_f08
  src/cp2k_info.F
  src/mpiwrap/message_passing.F
  src/mpiwrap/message_passing.fypp
Due: doxify, prettify, analyze_src

Adjust arch files to missing mpi_f08 module
  arch/CRAY-XC40-cce.psmp
  arch/CRAY-XC40-gnu.psmp
  arch/CRAY-XC40-intel-minimal.psmp
  arch/CRAY-XC50-gnu.psmp
Due: none

Fix compilation issues with intel
  src/mpiwrap/message_passing.F
Due: doxify, prettify, analyze_src

Switch to mpi_f08
  src/mpiwrap/message_passing.F
  src/mpiwrap/message_passing.fypp
Due: doxify, prettify, analyze_src

Update installation instructions
  INSTALL.md
Due: none

Require arrays to be contiguous wherever possible
  src/mpiwrap/message_passing.F
  src/mpiwrap/message_passing.fypp
Due: doxify, prettify, analyze_src

Remove never used variables
  src/mpiwrap/message_passing.F
Due: doxify, prettify, analyze_src

Make mpi_f08 opt-in
  INSTALL.md
  src/cp2k_info.F
  src/mpiwrap/message_passing.F
Due: doxify, prettify, analyze_src

Adjust preprocessor flags in arch files and toolchain
  arch/CRAY-XC40-cce.psmp
  arch/CRAY-XC40-gnu.psmp
  arch/CRAY-XC40-intel-minimal.psmp
  arch/CRAY-XC50-gnu.psmp
  tools/toolchain/scripts/stage1/install_intelmpi.sh
  tools/toolchain/scripts/stage1/install_openmpi.sh
Due: shfmt

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
