Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

cmake support, spack compilation works
  CMakeLists.txt
  cmake/modules/Findlibsmeagol.cmake
  src/CMakeLists.txt
Due: none

Remove unneeded details from filename
  src/input/cp_output_handling.F
Due: doxify, prettify, analyze_src

Add some simple logging for created filenames
  src/binding/openPMD/auxiliary.c
  src/binding/openPMD/auxiliary.h
  src/input/cp_output_handling.F
  src/openPMD.F
Due: doxify, prettify, analyze_src, clang-format

prettify
  src/qs_environment.F
Due: doxify, prettify, analyze_src

Fix memory leaks
  src/mp2.F
  src/qs_scf.F
  src/qs_scf_types.F
Due: doxify, prettify, analyze_src

enable libsmeagol
  tools/docker/scripts/build_cp2k_cmake.sh
Due: shfmt

Speedup loading of NequIP and Allegro models
  src/force_fields_input.F
  src/torch_api.F
Due: doxify, prettify, analyze_src

enagle libsmeagol with spack
  CMakeLists.txt
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt

DBM: modified pooled memory allocation
  src/dbm/dbm_mempool.c
Due: analyze_src, clang-format

DBM: modified pooled memory allocation (#3913)
  src/dbm/dbm_mempool.c
Due: analyze_src, clang-format

enable libsmeagol cmake on top of tc
  tools/docker/Dockerfile.test_psmp
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/toolchain/scripts/stage7/install_libsmeagol.sh
Due: shfmt

remove debug
  tools/docker/scripts/build_cp2k_cmake.sh
Due: shfmt

Add openpmd_series_write_iteration
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/openPMD.F
Due: doxify, prettify, analyze_src, clang-format

fix typo
  CMakeLists.txt
Due: none

Fix occurrence of ghost states with SVDs (#3911)
  src/input_cp2k_mp2.F
  src/mp2.F
  src/mp2_gpw.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/mp2_setup.F
  src/mp2_types.F
  src/qs_gspace_mixing.F
  src/qs_mixing_utils.F
  src/qs_mo_occupation.F
  src/qs_mo_types.F
  src/qs_scf.F
  src/qs_scf_diagonalization.F
  src/qs_scf_initialization.F
  src/qs_scf_loop_utils.F
  src/qs_scf_methods.F
  src/qs_scf_types.F
  tests/QS/regtest-gpw-5/TEST_FILES
  tests/QS/regtest-lvlshift/TEST_FILES
  tests/QS/regtest-lvlshift/c2h2-gpw-off_svd.inp
  tests/QS/regtest-rtp-5/TEST_FILES
Due: doxify, prettify, analyze_src

small fix for the rpa grad. data distribution
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Add openPMD_attributable_set_attribute_vec_int
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/openPMD.F
Due: doxify, prettify, analyze_src, clang-format

temporarily turn off Spack build
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/build_cp2k_cmake.sh
Due: shfmt

Fix Intel tester after PR #3893
  tools/docker/Dockerfile.test_intel-psmp
  tools/docker/Dockerfile.test_intel-ssmp
  tools/docker/generate_dockerfiles.py
Due: none

RTBSE : Better guess for next density
  src/emd/rt_bse.F
Due: doxify, prettify, analyze_src

RTBSE - removes duplicite storage for Hartree term
  src/emd/rt_bse.F
  src/emd/rt_bse_io.F
  src/emd/rt_bse_types.F
Due: doxify, prettify, analyze_src

Fixed bug in the reporting of storage of 3c ints
  src/emd/rt_bse_types.F
Due: doxify, prettify, analyze_src

RTBSE : Subtracting initial moments
  src/emd/rt_bse_io.F
Due: doxify, prettify, analyze_src

RTBSE : ETRS loop separation
  src/emd/rt_bse.F
Due: doxify, prettify, analyze_src

RTBSE : Correcting conventions in delta pulse
  src/emd/rt_bse.F
Due: doxify, prettify, analyze_src

RTBSE : Input update and restructuralization
  src/cp_control_utils.F
  src/emd/rt_bse.F
  src/emd/rt_bse_types.F
  src/input_cp2k_dft.F
  src/post_scf_bandstructure_utils.F
Due: doxify, prettify, analyze_src

RTBSE : Warning user about unused print sections
  src/emd/rt_bse_types.F
  src/emd/rt_propagation_utils.F
  src/motion/rt_propagation.F
Due: doxify, prettify, analyze_src

RTBSE : Separation of Hartree calculation routines
  src/emd/rt_bse.F
  src/emd/rt_bse_types.F
Due: doxify, prettify, analyze_src

RTBSE : Updated tests for new input structure
  tests/QS/regtest-rtbse/h2_delta.inp
  tests/QS/regtest-rtbse/h2_delta_cont.inp
  tests/QS/regtest-rtbse/h2_ft.inp
  tests/QS/regtest-rtbse/h2_rt.inp
  tests/QS/regtest-rtbse/h2_rt_cont.inp
Due: none

RTBSE : Separation of get_sigma from rtbse_env
  src/emd/rt_bse.F
  src/emd/rt_bse_types.F
Due: doxify, prettify, analyze_src

GW : Regularization for large minimax grid
  src/gw_utils.F
Due: doxify, prettify, analyze_src

RTBSE : Naming consistency + docs update
  docs/methods/properties/optical/rtbse.md
  src/emd/rt_bse_types.F
  src/input_cp2k_dft.F
  src/post_scf_bandstructure_types.F
Due: doxify, prettify, analyze_src

RTBSE : Updated tests after algorithm polish
  tests/QS/regtest-rtbse/TEST_FILES
Due: none

RTBSE : Fixing restart reading and runs
  src/gw_large_cell_gamma.F
  src/gw_utils.F
Due: doxify, prettify, analyze_src

RTBSE : Running linter
  docs/methods/properties/optical/rtbse.md
  src/emd/rt_bse.F
  src/emd/rt_bse_types.F
  src/emd/rt_propagation_utils.F
  src/input_cp2k_dft.F
  src/motion/rt_propagation.F
  tests/QS/regtest-rtbse/h2_delta.inp
  tests/QS/regtest-rtbse/h2_delta_cont.inp
  tests/QS/regtest-rtbse/h2_ft.inp
  tests/QS/regtest-rtbse/h2_rt.inp
  tests/QS/regtest-rtbse/h2_rt_cont.inp
Due: doxify, prettify, analyze_src

RTBSE : Fix after rebase
  src/input_cp2k_dft.F
Due: doxify, prettify, analyze_src

RTBSE : Interface for get_sigma + get_hartree
  src/emd/rt_bse.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
