Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

DBM: Fix CUDA performance regression
  src/dbm/dbm_multiply_gpu.cu
Due: analyze_src

Motion: Barostat npt for frozen atoms in absolute coordinate
  src/constraint.F
  src/input_constants.F
  src/input_cp2k_check.F
  src/motion/input_cp2k_md.F
  src/motion/integrator.F
  src/motion/integrator_utils.F
  src/motion/mc/tamc_run.F
  src/motion/md_conserved_quantities.F
  src/motion/md_energies.F
  src/motion/md_run.F
  src/motion/md_vel_utils.F
  src/motion/simpar_methods.F
  src/motion/thermal_region_utils.F
  src/motion/thermostat/al_system_mapping.F
  src/motion/thermostat/barostat_types.F
  src/motion/thermostat/barostat_utils.F
  src/motion/thermostat/csvr_system_mapping.F
  src/motion/thermostat/extended_system_init.F
  src/motion/thermostat/extended_system_mapping.F
  src/motion/thermostat/gle_system_dynamics.F
  src/motion/thermostat/thermostat_methods.F
  src/motion/thermostat/thermostat_utils.F
  src/motion/velocity_verlet_control.F
  tests/Fist/regtest-npt_ia/TEST_FILES
  tests/Fist/regtest-npt_ia/coord.inc
  tests/Fist/regtest-npt_ia/test_npt_ia.inp
  tests/TEST_DIRS
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Motion: Simplify NPT_IA ensemble
  src/motion/integrator.F
  src/motion/integrator_utils.F
  src/motion/velocity_verlet_control.F
  tests/Fist/regtest-16/TEST_FILES
  tests/Fist/regtest-16/coord-gal19.inc
  tests/Fist/regtest-16/coord-gal21.inc
  tests/Fist/regtest-16/coord-npt_ia.inc
  tests/Fist/regtest-16/gcn.inc
  tests/Fist/regtest-16/test_gal19.inp
  tests/Fist/regtest-16/test_gal21.inp
  tests/Fist/regtest-16/test_npt_ia.inp
  tests/Fist/regtest-gal19/TEST_FILES
  tests/Fist/regtest-gal21/TEST_FILES
  tests/Fist/regtest-gal21/gcn.inc
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

PW: Avoid confusing make with empty pw_gpu module
  src/pw/gpu/pw_gpu_internal.c
  src/pw/gpu/pw_gpu_kernels.h
  src/pw/gpu/pw_gpu_kernels_cuda.cu
  src/pw/pw_gpu.F
  src/pw/pw_methods.F
Due: doxify, prettify, analyze_src, clang-format

Update arch file (use cuda)
  arch/CRAY-XC50-gnu.psmp
Due: none

Make drho* a 3d array
  src/xc/xc.F
  src/xc/xc_rho_set_types.F
Due: doxify, prettify, analyze_src

Refactor function smoothing
  src/xc/xc.F
  src/xc/xc_rho_set_types.F
  src/xc/xc_util.F
Due: doxify, prettify, analyze_src

Refactor recovery of derivatives
  src/xc/xc.F
  src/xc/xc_derivative_set_types.F
Due: doxify, prettify, analyze_src

Remove reassociation of pointers
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Simplify exc part in vxc
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Refactor normalization of derivatives
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Remove drhoa_drhob
  src/atom_xc.F
  src/xc/xc_atom.F
  src/xc/xc_derivative_desc.F
  src/xc/xc_derivatives.F
  src/xc/xc_rho_cflags_types.F
  src/xc/xc_rho_set_types.F
Due: doxify, prettify, analyze_src

Move some pw_create
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Pushing normalization of derivatives further downstream
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Refactor gradient check in vxc
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Merge normalization of derivs
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Enforce lsd does not use rho and tau
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Refactor src/xc/xc.F and src/xc_rho_set_types.F
  src/xc/xc.F
  src/xc/xc_rho_set_types.F
  src/xc/xc_util.F
  tests/QS/regtest-polar/TEST_FILES
  tests/QS/regtest-tddfpt-2/TEST_FILES
  tests/QS/regtest-tddfpt/TEST_FILES
Due: doxify, prettify, analyze_src

Refactor calculation of a gradient of function on pw
  src/xc/xc_rho_set_types.F
  src/xc/xc_util.F
Due: doxify, prettify, analyze_src

Refactor recover pw in rho_set
  src/qs_kernel_methods.F
  src/qs_kernel_types.F
  src/qs_kpp1_env_methods.F
  src/qs_kpp1_env_types.F
  src/xc/xc.F
  src/xc/xc_rho_set_types.F
Due: doxify, prettify, analyze_src

Remove non-effective option
  src/input_cp2k_xc.F
  src/xc/xc.F
  src/xc/xc_input_constants.F
  src/xc_write_output.F
  tests/QS/regtest-gpw-2-2/H2O-tpss.inp
  tests/QS/regtest-gpw-2-2/H2O-tpss_new.inp
  tests/QS/regtest-libxc/H2O-hybrid-cam-lda0.inp
  tests/QS/regtest-libxc/H2O-tpss_lsd.inp
  tests/QS/regtest-libxc/H2O-tpssx_libxc.inp
Due: doxify, prettify, analyze_src

Fix lsd, forbid use of rho/drho/tau/laplace_rho in lsd and rho_spin/drho_spin/tau_spin/laplace_rho_spin in lda calculations
  src/xc/xc_derivatives.F
  src/xc/xc_rho_set_types.F
  src/xc/xc_vwn.F
Due: doxify, prettify, analyze_src

Improve description of the parameters of xc_functionals_get_needs
  src/atom_xc.F
  src/qs_kernel_methods.F
  src/qs_vxc_atom.F
  src/xas_tdp_atom.F
  src/xc/xc.F
  src/xc/xc_derivatives.F
Due: doxify, prettify, analyze_src

* Account for renamed translation unit/symlink (Makefile). * Print performance in MFLOP/s (1e-9 would be GFLOP/s).
  src/dbm/Makefile
  src/dbm/dbm_miniapp.c
Due: analyze_src, clang-format

RI_HFX| much better sparsity management in RHO flavor forces
  src/hfx_ri.F
  src/hfx_types.F
  src/input_cp2k_hfx.F
Due: doxify, prettify, analyze_src

dbm: minor correction related to miniapp (#2004)
  src/dbm/Makefile
  src/dbm/dbm_miniapp.c
Due: analyze_src, clang-format

DBM: Fix resizing logic for device buffers
  src/dbm/dbm_multiply_gpu.cu
Due: analyze_src

CP2K_FLAGS output regularized
  src/environment.F
Due: doxify, prettify, analyze_src

CP2K_FLAGS output regularized (#2009)
  src/environment.F
Due: doxify, prettify, analyze_src

dbcsr-acc: revised build_dbcsr (#2010)
  exts/build_dbcsr/Makefile
Due: none

dbcsr-acc: allow unknown gpu
  exts/build_dbcsr/Makefile
Due: none
