Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Don't instantiate makeConstant for vector types
  src/binding/openPMD/openPMD.cpp
Due: analyze_src, clang-format

Cleanup, formatting
  src/cp_realspace_grid_openpmd.F
  src/input/cp_output_handling_openpmd.F
  src/openPMD.F
  src/openPMD.cpp
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src, clang-format

Improve default config
  src/input/cp_output_handling_openpmd.F
Due: doxify, prettify, analyze_src

Fix parallel reading of JSON cfg + specification of default cfg
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/input/cp_output_handling_openpmd.F
  src/openPMD.F
Due: doxify, prettify, analyze_src, clang-format

Code formatting
  src/CMakeLists.txt
  src/openPMD.F
Due: doxify, prettify, analyze_src

Move C++ bindings into openPMD.cpp
  src/binding/openPMD/CMakeLists.txt
  src/binding/openPMD/auxiliary.c
  src/binding/openPMD/auxiliary.h
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/openPMD.F
Due: doxify, prettify, analyze_src, clang-format

Same for store_chunk procedures
  src/openPMD.F
  src/pw/realspace_grid_openpmd.F
Due: doxify, prettify, analyze_src

Turn openpmd_series_close into a procedure
  src/input/cp_output_handling_openpmd.F
  src/openPMD.F
Due: doxify, prettify, analyze_src

Further cleanup and documentation
  src/CMakeLists.txt
  src/input_cp2k_print_dft.F
  src/openPMD.F
  src/pw/realspace_grid_openpmd.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Continue
  src/input/cp_output_handling_openpmd.F
  src/openPMD.F
  src/pw/realspace_grid_openpmd.F
Due: doxify, prettify, analyze_src

Cleanup imports
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Further formatting
  INSTALL.md
  src/cp2k_info.F
  src/openPMD.F
  src/openPMD.cpp
  src/pw/realspace_grid_openpmd.F
  src/qs_scf_post_gpw.F
  tools/precommit/precommit.py
Due: doxify, prettify, analyze_src, clang-format

Fix documentation
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Apply the include reformattings...
  src/f77_interface.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Further CI fixes
  CMakeLists.txt
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Fixes and cleanup
  src/input_cp2k_print_dft.F
Due: doxify, prettify, analyze_src

Factor out the creation of MO entries
  src/input_cp2k_print_dft.F
Due: doxify, prettify, analyze_src

Same for e_density
  src/input_cp2k_print_dft.F
Due: doxify, prettify, analyze_src

Factor out creation of ELF section entries
  src/input_cp2k_print_dft.F
Due: doxify, prettify, analyze_src

Further CI fixes
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Do not include openPMD in debug output
  src/input_cp2k_print_dft.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Fixes
  src/input_cp2k_print_dft.F
Due: doxify, prettify, analyze_src

Move use of #ifdef into openPMD-specific files
  src/CMakeLists.txt
  src/f77_interface.F
  src/input/cp_output_handling_openpmd.F
  src/input_cp2k_print_dft.F
  src/openPMD.F
  src/pw/realspace_grid_openpmd.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Replace enum with params
  src/openPMD.F
Due: doxify, prettify, analyze_src

Always use threaded MPI with openPMD
  src/mpiwrap/message_passing.F
Due: doxify, prettify, analyze_src

Break long lines
  src/input/cp_output_handling_openpmd.F
  src/input_cp2k_print_dft.F
  src/mpiwrap/message_passing.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Fix openpmd_finalize()
  src/input/cp_output_handling_openpmd.F
Due: doxify, prettify, analyze_src

Append Cpp sources unconditionally
  CMakeLists.txt
  src/CMakeLists.txt
  src/openPMD.cpp
Due: analyze_src, clang-format

Remove unused param
  src/input_cp2k_print_dft.F
Due: doxify, prettify, analyze_src

Fixes
  src/input/cp_output_handling_openpmd.F
Due: doxify, prettify, analyze_src

Fix ordering in CMake
  src/CMakeLists.txt
Due: none

Remove further unneeded ifdefs
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

CMake: ensure parallel build of openPMD
  CMakeLists.txt
Due: none

Compatibility with openPMD-api 0.16.1 release
  src/openPMD.cpp
Due: analyze_src, clang-format

workaround for API bug in 0.16.1
  src/openPMD.cpp
Due: analyze_src, clang-format

Add openPMD flags to CI's required places
  INSTALL.md
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

Only call close() once per Iteration
  src/input/cp_output_handling_openpmd.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Prerequisites for running openPMD in the CI
  cmake/cmake_cp2k.sh
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
  tools/spack/cp2k_deps_psmp.yaml
Due: shfmt

small fixes
  src/input/cp_output_handling_openpmd.F
  tests/QS/regtest-ot/H2O-geo-ot-lumo-all-openpmd.inp
Due: doxify, prettify, analyze_src

CI fixes
  CMakeLists.txt
  src/input/cp_output_handling_openpmd.F
  src/input_cp2k_print_dft.F
  src/openPMD.F
  src/pw/realspace_grid_openpmd.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
