Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Fix compilation issues with intel
  src/mpiwrap/message_passing.F
Due: doxify, prettify, analyze_src

Adjust arch files to missing mpi_f08 module
  arch/CRAY-XC40-cce.psmp
  arch/CRAY-XC40-gnu.psmp
  arch/CRAY-XC40-intel-minimal.psmp
  arch/CRAY-XC50-gnu.psmp
Due: none

Low-scaling| minor optimization of RI-HFX/post-HF tensor code
  src/hfx_ri.F
  src/rpa_im_time_force_methods.F
  src/rpa_im_time_force_types.F
Due: doxify, prettify, analyze_src

modified nequip input
  tests/Fist/regtest-nequip/NequIP_water.inp
  tests/Fist/regtest-nequip/NequIP_water_md.inp
Due: none

Exclude unused lib from toolchain build
  arch/Linux-gnu-aarch64-static.ssmp
Due: none

cleaned up a bit
  .gitignore
  tests/Fist/H2O-32_NPT.inp
  tests/Fist/regtest-6/C_tersoff-1.restart
  tests/Fist/regtest-6/C_tersoff-md1.cell-1.cell
  tests/Fist/regtest-6/C_tersoff-md1.ener-1.ener
  tests/Fist/regtest-6/C_tersoff-md1.stress-1.stress
  tests/Fist/regtest-6/C_tersoff-md1.xyz-pos-1.xyz
  tests/Fist/regtest-6/Si_tersoff.inp
  tests/Fist/regtest-nequip/NequIP_water_md.inp
  tests/Fist/regtest-nequip/NequIP_water_simple.inp
  tests/Fist/regtest-nequip/TEST_FILES
  tests/Fist/regtest-quip/Quip_Cu_LJ.inp
  tests/TEST_DIRS
Due: none

Bump LibXC to version 6.1.0
  tools/toolchain/scripts/stage3/install_libxc.sh
  tools/toolchain/scripts/stage3/libxc-6.0.0_mgga_xc_b97mv.patch
Due: shfmt

fixed nequip unit conversion
  src/force_fields_input.F
  src/input_cp2k_mm.F
  src/manybody_nequip.F
  src/pair_potential_types.F
  tests/Fist/regtest-nequip/NequIP_water.inp
Due: doxify, prettify, analyze_src

Update arch files (libxc 6.0.0 -> 6.1.0)
  arch/CRAY-XC40-gnu.psmp
  arch/CRAY-XC50-gnu.psmp
  arch/Darwin-gnu-arm64.psmp
  arch/Darwin-gnu-arm64.ssmp
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
Due: none

Fix degenerate orbitals in MP2
  src/mp2_ri_gpw.F
Due: doxify, prettify, analyze_src

nequip working with mpi using gather and bcast
  src/manybody_nequip.F
  src/mpiwrap/message_passing.F
  src/mpiwrap/message_passing.fypp
  tests/Fist/regtest-nequip/NequIP_water_md.inp
Due: doxify, prettify, analyze_src

Remove deprecated do_regtest shell script
  tools/regtesting/do_regtest
  tools/regtesting/timings.py
Due: none

Regtesting: Add --smoketest option
  tools/regtesting/do_regtest.py
Due: none

Regtests for ext basis GAPW
  tests/QS/regtest-gapw-ext/H2O-e1.inp
  tests/QS/regtest-gapw-ext/H2O-e2.inp
  tests/QS/regtest-gapw-ext/H2O-e3.inp
  tests/QS/regtest-gapw-ext/H2S-e1.inp
  tests/QS/regtest-gapw-ext/H2S-e2.inp
  tests/QS/regtest-gapw-ext/H2S-e3.inp
  tests/QS/regtest-gapw-ext/H2S-e4.inp
  tests/QS/regtest-gapw-ext/TEST_FILES
  tests/TEST_DIRS
Due: none

Rebase to master version (pointer changes)
  src/atom_fit.F
  src/gapw_1c_basis_set.F
  src/paw_proj_set_types.F
  src/qs_kind_types.F
  src/qs_linres_atom_current.F
  src/qs_oce_methods.F
  src/xray_diffraction.F
Due: doxify, prettify, analyze_src

New scheme to allow for extended local basis set in GAPW
  src/cp_control_utils.F
  src/gapw_1c_basis_set.F
  src/input_constants.F
  src/input_cp2k_dft.F
  src/paw_proj_set_types.F
  src/qs_integrate_potential_product.F
  src/qs_kind_types.F
  src/qs_ks_atom.F
  src/qs_ks_utils.F
  src/qs_linres_atom_current.F
  src/qs_oce_methods.F
  src/qs_rho_atom_methods.F
  src/qs_vxc_atom.F
  tests/QS/regtest-debug-7/ch2o_gapw_xc_t6.inp
  tests/QS/regtest-gapw/Be_GAPW.inp
Due: doxify, prettify, analyze_src

Node count (comment out for the moment)
  src/atom_fit.F
Due: doxify, prettify, analyze_src

GAPW: Introduce one-center basis set (used to be equ. orb basis).
  src/aobasis/basis_set_container_types.F
  src/cp_control_types.F
  src/cp_control_utils.F
  src/gapw_1c_basis_set.F
  src/hartree_local_methods.F
  src/input_constants.F
  src/input_cp2k_dft.F
  src/qs_interactions.F
  src/qs_kind_types.F
  src/qs_linres_atom_current.F
  src/qs_rho0_ggrid.F
  src/qs_rho0_methods.F
  src/qs_rho_atom_methods.F
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

Pretty and license header
  src/aobasis/paw_basis_types.F
  src/gapw_1c_basis_set.F
Due: doxify, prettify, analyze_src

Pretty
  src/cp_control_utils.F
  src/qs_kind_types.F
  src/qs_oce_methods.F
Due: doxify, prettify, analyze_src

GAPW Refactoring: soft basis moved to container get_qs_kind has no longer special access to the basis
  src/aobasis/basis_set_container_types.F
  src/aobasis/basis_set_types.F
  src/aobasis/soft_basis_set.F
  src/hfx_admm_utils.F
  src/qs_collocate_density.F
  src/qs_integrate_potential_product.F
  src/qs_interactions.F
  src/qs_kind_types.F
  src/qs_ks_atom.F
  src/qs_ks_utils.F
  src/qs_linres_current.F
  src/qs_operators_ao.F
  src/task_list_methods.F
Due: doxify, prettify, analyze_src

GAPW one center basis set generalization Disentangle projector and basis set information
  src/aobasis/basis_set_types.F
  src/aobasis/paw_basis_types.F
  src/cp_control_utils.F
  src/gapw_1c_basis_set.F
  src/input_constants.F
  src/input_cp2k_dft.F
  src/paw_proj_set_types.F
  src/qs_electric_field_gradient.F
  src/qs_environment.F
  src/qs_kind_types.F
  src/qs_linres_atom_current.F
  src/qs_rho_atom_methods.F
  src/qs_vxc_atom.F
  src/xray_diffraction.F
Due: doxify, prettify, analyze_src

Intermediate refactoring of GAPW basis generation and projector setup
  src/aobasis/basis_set_container_types.F
  src/atom_fit.F
  src/gapw_1c_basis_set.F
  src/paw_proj_set_types.F
  src/qs_kind_types.F
  src/qs_linres_atom_current.F
  src/qs_oce_methods.F
Due: doxify, prettify, analyze_src

fix small issue: (i) print already done in anoter subroutine, (ii) print the actual occupation of the mos during rtp
  src/emd/rt_propagation_output.F
  src/emd/rt_propagation_utils.F
Due: doxify, prettify, analyze_src

Add option to set number of MP2 integration groups externally
  src/input_cp2k_mp2.F
  src/mp2_ri_gpw.F
  src/mp2_setup.F
  src/mp2_types.F
  tests/QS/regtest-mp2-grad-1/H2O_grad_gpw_single_group.inp
  tests/QS/regtest-mp2-grad-1/TEST_FILES
  tests/QS/regtest-mp2-grad-2/CH_dyn_screen_single_group.inp
  tests/QS/regtest-mp2-grad-2/TEST_FILES
  tests/QS/regtest-ri-mp2/RI_MP2_CH3_single_group.inp
  tests/QS/regtest-ri-mp2/TEST_FILES
Due: doxify, prettify, analyze_src

fix occupation pb
  src/emd/rt_propagation_utils.F
Due: doxify, prettify, analyze_src

rebase
  src/emd/rt_propagator_init.F
Due: doxify, prettify, analyze_src

Fix rtp partial occ density matrix (#4)
  src/emd/rt_propagation_utils.F
  src/emd/rt_propagator_init.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
