Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

CMake: Reformat status summary (#5466)
  CMakeLists.txt
Due: none

Toolchain cleanup: Follow-up fix and enhancement (#5468)
  tools/docker/Dockerfile.build_hip_rocm_Mi100
  tools/docker/Dockerfile.build_hip_rocm_Mi50
  tools/docker/generate_dockerfiles.py
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/common_vars.sh
  tools/toolchain/scripts/stage0/install_cmake.sh
  tools/toolchain/scripts/stage0/install_gcc.sh
  tools/toolchain/scripts/stage0/install_ninja.sh
  tools/toolchain/scripts/stage1/install_intelmpi.sh
  tools/toolchain/scripts/stage1/install_mpich.sh
  tools/toolchain/scripts/stage1/install_openmpi.sh
  tools/toolchain/scripts/stage2/install_acml.sh
  tools/toolchain/scripts/stage2/install_gmp.sh
  tools/toolchain/scripts/stage2/install_openblas.sh
  tools/toolchain/scripts/stage3/install_eigen.sh
  tools/toolchain/scripts/stage3/install_fftw.sh
  tools/toolchain/scripts/stage3/install_greenx.sh
  tools/toolchain/scripts/stage3/install_libint.sh
  tools/toolchain/scripts/stage4/install_cosma.sh
  tools/toolchain/scripts/stage4/install_libxs.sh
  tools/toolchain/scripts/stage4/install_libxsmm.sh
  tools/toolchain/scripts/stage4/install_libxstream.sh
  tools/toolchain/scripts/stage4/install_scalapack.sh
  tools/toolchain/scripts/stage5/install_elpa.sh
  tools/toolchain/scripts/stage6/install_ace.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_gsl.sh
  tools/toolchain/scripts/stage7/install_fmt.sh
  tools/toolchain/scripts/stage7/install_hdf5.sh
  tools/toolchain/scripts/stage7/install_libvdwxc.sh
  tools/toolchain/scripts/stage7/install_libvori.sh
  tools/toolchain/scripts/stage7/install_spglib.sh
  tools/toolchain/scripts/stage8/install_dftd4.sh
  tools/toolchain/scripts/stage8/install_mcl.sh
  tools/toolchain/scripts/stage8/install_pugixml.sh
  tools/toolchain/scripts/stage8/install_spfft.sh
  tools/toolchain/scripts/stage8/install_spla.sh
  tools/toolchain/scripts/stage8/install_tblite.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
  tools/toolchain/scripts/tool_kit.sh
Due: shfmt

XAS_TDP| Bug fix in Q = 1 - SP projector (#5470)
  src/xas_tdp_methods.F
  tests/QS/regtest-xastdp/TEST_FILES.toml
Due: doxify, prettify, analyze_src

GauXC/SKALA: Handle empty atom chunks in MPI runs (#5440)
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
Due: doxify, prettify, analyze_src

Fix performance regression in the grid backend (#5471)
  src/grid/gpu/grid_gpu_collocate.cu
  src/grid/gpu/grid_gpu_context.cu
  src/grid/gpu/grid_gpu_integrate.cu
  src/grid/gpu/grid_gpu_internal_header.h
Due: analyze_src, clang-format

Toolchain: libxs 1.0.0, libxstrean 1.0.0, dbcsr 2.10.0
  tools/toolchain/scripts/stage4/install_libxs.sh
  tools/toolchain/scripts/stage4/install_libxstream.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

Revise toolchain/build_cp2k.sh
  tools/toolchain/build_cp2k.sh
Due: shfmt

CMake: Remove duplicated option setting
  CMakeLists.txt
Due: none

Spack: switch to libxs 1.0.0
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
  tools/spack/spack_repo/cp2k_dev/packages/libxs/package.py
Due: none

Exclude libfci from static spack build
  make_cp2k.sh
Due: shfmt

Spack: switch to libxs 1.0.0 (#5474)
  make_cp2k.sh
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
  tools/spack/spack_repo/cp2k_dev/packages/libxs/package.py
Due: shfmt

Spack: Switch to dbcsr 2.10.0
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
  tools/spack/spack_repo/cp2k_dev/packages/dbcsr/package.py
Due: none

Replace libxsmm with libxs for smm
  make_cp2k.sh
Due: shfmt

Spack: Switch to dbcsr 2.10.0 (#5475)
  make_cp2k.sh
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
  tools/spack/spack_repo/cp2k_dev/packages/dbcsr/package.py
Due: shfmt

make_cp2k.sh: add --build_path flag
  make_cp2k.sh
Due: shfmt

Recover deleted line
  make_cp2k.sh
Due: shfmt

Remove DBCSR_DIR in docker CUDA tests
  tools/docker/scripts/cmake_cp2k.sh
Due: shfmt

Reftraj: add option to wrap coordinates
  src/motion/input_cp2k_md.F
  src/motion/integrator.F
  src/motion/reftraj_types.F
Due: doxify, prettify, analyze_src

Revise variable exporting of COSMA and DBCSR GPU builds
  tools/toolchain/scripts/stage4/install_cosma.sh
  tools/toolchain/scripts/stage8/install_sirius.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

Toolchain: Update libxs* and DBCSR; fix CUDA/HIP package discovery (#5472)
  tools/docker/scripts/cmake_cp2k.sh
  tools/toolchain/build_cp2k.sh
  tools/toolchain/scripts/stage4/install_cosma.sh
  tools/toolchain/scripts/stage4/install_libxs.sh
  tools/toolchain/scripts/stage4/install_libxstream.sh
  tools/toolchain/scripts/stage8/install_sirius.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

CMake: Remove duplicated option setting (#5473)
  CMakeLists.txt
Due: none

make_cp2k.sh: add --build_path flag (#5477)
  make_cp2k.sh
Due: shfmt

Reftraj: add option to wrap coordinates before calculation (#5479)
  src/motion/input_cp2k_md.F
  src/motion/integrator.F
  src/motion/reftraj_types.F
Due: doxify, prettify, analyze_src

CODEOWNERS: Add /make_cp2k.sh to Spack team
  CODEOWNERS
Due: none

Fix performance regression
  src/grid/gpu/grid_gpu_integrate.cu
Due: analyze_src

test perf
  src/grid/gpu/grid_gpu_integrate.cu
Due: analyze_src

CODEOWNERS: Add /make_cp2k.sh to Spack team (#5480)
  CODEOWNERS
Due: none

Reordering of coefficients calculations (#5478)
  src/grid/gpu/grid_gpu_integrate.cu
Due: analyze_src

CMake: Move GPU architectures setup before calling find_package(dbcsr)
  CMakeLists.txt
Due: none

Tests: Rerun tests that only barely clear the slowness threshold
  tests/do_regtest.py
Due: none

Revise getting-started/build-from-source.md
  docs/getting-started/build-from-source.md
Due: none

Revise documentation regarding dependency
  docs/getting-started/build-from-source.md
  docs/technologies/libraries.md
Due: none

Make pretty
  docs/methods/dft/gauxc.md
  docs/methods/dft/index.md
  docs/methods/electronic_structure/wannier90.md
Due: none

Fix invalid links
  docs/methods/dft/gauxc.md
Due: none

Add wannier90 documentation (from what's removed from k-points.md)
  docs/methods/dft/k-points.md
  docs/methods/electronic_structure/index.md
  docs/methods/electronic_structure/wannier90.md
Due: none

Move GauXC documentation to a seperate page
  docs/methods/dft/gauxc.md
  docs/methods/dft/index.md
  docs/technologies/libraries.md
Due: none

Add hint regarding skala-1.1.fun
  docs/methods/dft/gauxc.md
Due: none

Add grand canonical SCF
  src/cp_control_types.F
  src/gce_methods.F
  src/input_cp2k_scf.F
  src/qs_environment.F
  src/qs_mo_occupation.F
  src/qs_scf.F
  src/qs_scf_diagonalization.F
  src/qs_scf_output.F
  src/scf_control_types.F
  tests/QS/regtest-gcscf/Li_gcscf.inp
  tests/QS/regtest-gcscf/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Toolchain: Download libxs, libxstream, and DBCSR from cp2k.org
  tools/toolchain/scripts/stage4/install_libxs.sh
  tools/toolchain/scripts/stage4/install_libxstream.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

Increase timeouts and timelimits for CSCS CI jobs
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
Due: none
