Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Switch GNU regtester to new arch file
  tools/dashboard/dashboard.conf
Due: none

Update GNU arch file (switch to latest libxsmm)
  arch/Linux-x86-64-gnu.psmp
Due: none

regularized RI for periodic GW; diagonalization and inversion instead of Cholesky decomposition
  src/fm/cp_cfm_basic_linalg.F
  src/fm/cp_cfm_diag.F
  src/input_constants.F
  src/input_cp2k_dft.F
  src/input_cp2k_kpoints.F
  src/input_cp2k_mp2.F
  src/kpoint_coulomb_2c.F
  src/kpoint_methods.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/mp2_setup.F
  src/mp2_types.F
  src/qs_band_structure.F
  src/qs_gamma2kp.F
  src/qs_ks_methods.F
  src/qs_wannier90.F
  src/rpa_gw.F
  src/rpa_gw_im_time_util.F
  src/rpa_gw_kpoints.F
  src/rpa_im_time.F
  src/rpa_kpoints.F
  src/rpa_main.F
  src/rpa_util.F
  tests/QS/regtest-gw-cubic/G0W0_H2O_PBE_periodic.inp
  tests/QS/regtest-gw-cubic/TEST_FILES
  tests/QS/regtest-gw/G0W0_H2O_PBE_periodic.inp
Due: doxify, prettify, analyze_src

explicit test for RI regularization parameter
  tests/QS/regtest-gw-cubic/G0W0_kpoints_from_Gamma_RI_regularization_1E-3.inp
  tests/QS/regtest-gw-cubic/TEST_FILES
Due: none

clarify keyword description of MAKE_CHI_POS_DEFINITE and PERIODIC_CORRECTION
  src/input_cp2k_mp2.F
Due: doxify, prettify, analyze_src

RI-HFX| memory management improvements
  src/hfx_ri.F
  src/hfx_types.F
  src/input_cp2k_hfx.F
  tests/QS/regtest-hfx-ri-2/CH3-b3lyp-ADMM.inp
  tests/QS/regtest-hfx-ri-2/Ne-hfx-pbc-metric-mo.inp
  tests/QS/regtest-hfx-ri-2/Ne-hfx-pbc-metric-rho.inp
Due: doxify, prettify, analyze_src

Make pretty
  src/pw/pw_methods.F
  src/pw/pw_spline_utils.F
  src/pw_env/cp_spline_utils.F
Due: doxify, prettify, analyze_src

Include libvdwxc
  arch/Linux-x86-64-gnu.psmp
Due: none

Remove comment 1
  src/rpa_util.F
Due: doxify, prettify, analyze_src

Remove comments 2
  src/rpa_main.F
Due: doxify, prettify, analyze_src

Remove comments 3
  src/rpa_util.F
Due: doxify, prettify, analyze_src

Update rpa_util.F
  src/rpa_util.F
Due: doxify, prettify, analyze_src

regularized RI for periodic GW; diagonalization and inversion instead of Cholesky decomposition
  src/fm/cp_cfm_basic_linalg.F
  src/fm/cp_cfm_diag.F
  src/input_constants.F
  src/input_cp2k_dft.F
  src/input_cp2k_kpoints.F
  src/input_cp2k_mp2.F
  src/kpoint_coulomb_2c.F
  src/kpoint_methods.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/mp2_setup.F
  src/mp2_types.F
  src/qs_band_structure.F
  src/qs_gamma2kp.F
  src/qs_ks_methods.F
  src/qs_wannier90.F
  src/rpa_gw.F
  src/rpa_gw_im_time_util.F
  src/rpa_gw_kpoints.F
  src/rpa_im_time.F
  src/rpa_kpoints.F
  src/rpa_main.F
  src/rpa_util.F
  tests/QS/regtest-gw-cubic/G0W0_H2O_PBE_periodic.inp
  tests/QS/regtest-gw-cubic/G0W0_kpoints_from_Gamma_RI_regularization_1E-3.inp
  tests/QS/regtest-gw-cubic/TEST_FILES
  tests/QS/regtest-gw/G0W0_H2O_PBE_periodic.inp
Due: doxify, prettify, analyze_src

EC| Add print section for EC properties
  src/ec_env_types.F
  src/ec_environment.F
  src/energy_corrections.F
  src/input_cp2k_ec.F
  src/response_solver.F
  tests/QS/regtest-debug-5/h2o_dip26.inp
  tests/QS/regtest-debug-5/h2o_dip27.inp
  tests/QS/regtest-debug-5/h2o_dip28.inp
  tests/QS/regtest-debug-5/h2o_dip29.inp
  tests/QS/regtest-debug-5/h2o_dip30.inp
  tests/QS/regtest-debug-5/h2o_dip31.inp
  tests/QS/regtest-debug-5/h2o_dip32.inp
  tests/QS/regtest-debug-5/h2o_dip33.inp
  tests/QS/regtest-debug-5/h2o_dip34.inp
  tests/QS/regtest-ec/HF_ec_dipole.inp
  tests/QS/regtest-ec/HF_ec_voronoi.inp
  tests/QS/regtest-ec/N2_ec_tc2.inp
  tests/QS/regtest-ec/TEST_FILES
Due: doxify, prettify, analyze_src

QM/MM: Improve performance by using standard sum in pw_integral_ab
  src/pw/pw_methods.F
  src/pw/pw_spline_utils.F
  src/pw_env/cp_spline_utils.F
Due: doxify, prettify, analyze_src

remove unused parameter 'routineN'
  src/rpa_gw_im_time_util.F
Due: doxify, prettify, analyze_src

remove unused parameter 'cone'
  src/rpa_kpoints.F
Due: doxify, prettify, analyze_src

Make Intel arch file sourceable
  arch/Linux-x86-64-intel.psmp
Due: none

Update dashboard
  tools/dashboard/dashboard.conf
Due: none

Remove obsolete Intel arch file
  arch/Linux-x86-64-intel-regtest.psmp
Due: none

remove unused parameters 'routineN' and 'cone'
  src/rpa_gw_im_time_util.F
  src/rpa_kpoints.F
Due: doxify, prettify, analyze_src

Add analytical stress tensor
  src/nnp_acsf.F
  src/nnp_environment.F
  src/nnp_environment_types.F
  src/nnp_force.F
  tests/NNP/regtest-1/H2O-64_C-NNP_MD-NpT.inp
  tests/NNP/regtest-1/TEST_FILES
Due: doxify, prettify, analyze_src

Fix units for committee disagreement bias
  src/input_cp2k_nnp.F
Due: doxify, prettify, analyze_src

Add sigma scaling
  src/nnp_acsf.F
  src/nnp_environment.F
  src/nnp_environment_types.F
Due: doxify, prettify, analyze_src

Remove unnecssary FIST and QS dependence for NNP run
  src/force_env_types.F
Due: doxify, prettify, analyze_src

Modify bias description
  src/input_cp2k_nnp.F
Due: doxify, prettify, analyze_src

SIRIUS update
  src/input_cp2k_pwdft.F
  src/pwdft_environment_types.F
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

Update of sirius
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: shfmt

Update SIRIUS options
  src/input_cp2k_pwdft.F
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

Fix warnings produced by gcc 11.2
  src/libint_wrapper.F
Due: doxify, prettify, analyze_src

EC| Adjust regtest
  tests/QS/regtest-ec/TEST_FILES
Due: none

making context typed makes compilation fail when sirius is OFF
  src/pwdft_environment_types.F
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

Handle two scaling commands in the same way as n2p2
  src/nnp_environment.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
