Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Basic Pade FT parameters
  src/emd/rt_bse_io.F
  src/emd/rt_bse_types.F
  src/input_cp2k_dft.F
Due: doxify, prettify, analyze_src

Pade refinement - clearer control through input
  src/emd/rt_bse_io.F
  src/emd/rt_bse_types.F
  src/input_cp2k_dft.F
Due: doxify, prettify, analyze_src

RTBSE : Regtest for Padé interpolation
  src/emd/rt_bse_io.F
  src/emd/rt_bse_types.F
  tests/QS/regtest-rtbse-gxac/H2_PADE_FT-MOMENTS-1_SPIN_A_IM.dat
  tests/QS/regtest-rtbse-gxac/H2_PADE_FT-MOMENTS-1_SPIN_A_RE.dat
  tests/QS/regtest-rtbse-gxac/H2_PADE_FT-RESTART.info
  tests/QS/regtest-rtbse-gxac/H2_PADE_FT-RESTART.wfn
  tests/QS/regtest-rtbse-gxac/H2_PADE_FT-RESTART_SPIN_A_IM.matrix
  tests/QS/regtest-rtbse-gxac/H2_PADE_FT-RESTART_SPIN_A_RE.matrix
  tests/QS/regtest-rtbse-gxac/TEST_FILES.toml
  tests/QS/regtest-rtbse-gxac/h2_pade_ft.inp
  tests/TEST_DIRS
  tests/matchers.py
Due: doxify, prettify, analyze_src

Pade FT - Selection of fitting range
  src/emd/rt_bse_io.F
  src/emd/rt_bse_types.F
Due: doxify, prettify, analyze_src

RTBSE : Note about zero damping
  src/input_cp2k_dft.F
Due: doxify, prettify, analyze_src

Padé refinement - Polarizability refined
  src/emd/rt_bse_io.F
  src/emd/rt_bse_types.F
Due: doxify, prettify, analyze_src

Few default changes
  src/input_cp2k_dft.F
Due: doxify, prettify, analyze_src

RTBSE : Pade FT : Output bugfix + keyword update
  src/emd/rt_bse_io.F
  src/input_cp2k_dft.F
Due: doxify, prettify, analyze_src

RTBSE : Padé FT Refinement
  src/emd/rt_bse_io.F
  src/emd/rt_bse_types.F
  src/input_cp2k_dft.F
  tests/QS/regtest-rtbse-gxac/H2_PADE_FT-MOMENTS-1_SPIN_A_IM.dat
  tests/QS/regtest-rtbse-gxac/H2_PADE_FT-MOMENTS-1_SPIN_A_RE.dat
  tests/QS/regtest-rtbse-gxac/H2_PADE_FT-RESTART.info
  tests/QS/regtest-rtbse-gxac/H2_PADE_FT-RESTART.wfn
  tests/QS/regtest-rtbse-gxac/H2_PADE_FT-RESTART_SPIN_A_IM.matrix
  tests/QS/regtest-rtbse-gxac/H2_PADE_FT-RESTART_SPIN_A_RE.matrix
  tests/QS/regtest-rtbse-gxac/TEST_FILES.toml
  tests/QS/regtest-rtbse-gxac/h2_pade_ft.inp
  tests/TEST_DIRS
  tests/matchers.py
Due: doxify, prettify, analyze_src

Do not abort in wfn_mix when MOs are already available
  src/qs_scf_wfn_mix.F
Due: doxify, prettify, analyze_src

make pretty
  src/qs_scf_wfn_mix.F
Due: doxify, prettify, analyze_src

Enable wfn_mix from precomputed virtuals
  src/qs_scf_wfn_mix.F
Due: doxify, prettify, analyze_src

Adjust tolerance of QS/regtest-tddfpt-force-2/h2o_f13.inp
  tests/QS/regtest-tddfpt-force-2/TEST_FILES.toml
Due: none

Fix syntax
  tools/toolchain/scripts/stage2/install_gmp.sh
  tools/toolchain/scripts/stage3/install_greenx.sh
Due: shfmt

The content of evals is needed after a restart to calculate the error of the next iteration in qs_tddfpt2_eigensolver.F>tddfpt_davidson_solver
  src/qs_tddfpt2_methods.F
Due: doxify, prettify, analyze_src

Use Spack fork for the time being
  ci/docker/build_deps_spack_psmp.Dockerfile
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
  tools/spack/cp2k_deps_all.yaml
  tools/spack/cp2k_deps_minimal.yaml
Due: none

MPICH_VERSION variable added also for Spack CI runs
  ci/cscs_eiger_spack.yaml
  ci/docker/build_deps_spack_psmp.Dockerfile
Due: none

Remove libxc from package list, because minimal builds do not include it
  tools/spack/cp2k_deps_minimal.yaml
Due: none

Keep Spack recipes local within the CP2K tree
  ci/docker/build_deps_spack_psmp.Dockerfile
  tools/spack/cp2k/packages/cosma/fj-ssl2.patch
  tools/spack/cp2k/packages/cosma/package.py
  tools/spack/cp2k/packages/libxsmm/package.py
  tools/spack/cp2k/repo.yaml
  tools/spack/cp2k_deps_all.yaml
  tools/spack/cp2k_deps_minimal.yaml
Due: none

Sync Spack docker files
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
Due: none

Sync spack build recipe for libxsmm with spack database
  tools/spack/cp2k/packages/libxsmm/package.py
Due: none

Fix path as files have moved from ci/spack to tools/spack
  ci/cscs_eiger_spack.yaml
Due: none

CI pipeline files for daint.alps (gh200) at CSCS
  ci/cscs_daint_spack.yaml
  ci/cscs_daint_toolchain.yaml
Due: none

Use CP2K_BUILD_TYPE minimal initially
  ci/cscs_daint_spack.yaml
  ci/cscs_daint_toolchain.yaml
Due: none

CMake: Introduce CP2K_USE_EVERYTHING option
  CMakeLists.txt
  cmake/cmake_cp2k.sh
Due: shfmt

Use tagged Spack version and build cache again
  ci/docker/build_deps_spack_psmp.Dockerfile
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
Due: none

Use libxsmm 1.17 with Spack as long as grid_unittest fails
  tools/spack/cp2k_deps_all.yaml
  tools/spack/cp2k_deps_minimal.yaml
Due: none

More consistent index calculation in parallel
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

Correct global offset
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

Fix serial bug
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
