Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Update CI docker files and adapt make_cp2k script
  ci/docker/build_cp2k_spack.Dockerfile
  ci/docker/build_deps_spack.Dockerfile
  make_cp2k.sh
Due: shfmt

fixed printing overflow of RI basis set contraction coefficients
  src/basis_set_output.F
Due: doxify, prettify, analyze_src

fix syntax for fixed printing overflow of RI basis set contraction coefficients
  src/basis_set_output.F
Due: doxify, prettify, analyze_src

fix formatting for fixed printing overflow of RI basis set contraction coefficients
  src/basis_set_output.F
Due: doxify, prettify, analyze_src

Switch to newer spack-packages version
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp-static.yaml
  tools/spack/cp2k_deps_ssmp.yaml
  tools/spack/spack_repo/cp2k_dev/packages/spglib/fix_cmake_install.patch
  tools/spack/spack_repo/cp2k_dev/packages/spglib/fix_cpp.patch
  tools/spack/spack_repo/cp2k_dev/packages/spglib/package.py
Due: none

Show ldd output also for statically linked binaries
  make_cp2k.sh
Due: shfmt

Try update of CUDA base image 12.9.1 -> 13.1.1
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/generate_dockerfiles.py
Due: none

Disable CUDA for ELPA with spack
  tools/spack/cp2k_deps_psmp.yaml
Due: none

Fixed printing overflow of RI basis set contraction coefficients (#4834)
  src/basis_set_output.F
Due: doxify, prettify, analyze_src

Minimize change of fparser.F
  src/common/fparser.F
Due: doxify, prettify, analyze_src

Replace `--bind to none` with environment `I_MPI_PIN=0` for oneAPI 2024.2 to avoid regtest error of psmp
  src/CMakeLists.txt
  tests/do_regtest.py
Due: none

Add spack based psmp CUDA P100 tester
  tools/dashboard/dashboard.conf
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/cp2k-ci.conf
  tools/docker/generate_dockerfiles.py
Due: none

Run make_cp2k in subshell mode
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_psmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/generate_dockerfiles.py
Due: none

Remove PATH
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/generate_dockerfiles.py
Due: none

Drop bash commands
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_psmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/generate_dockerfiles.py
Due: none

Fix elpa pkg-config file when CUDA is used
  make_cp2k.sh
Due: shfmt

Add spack based psmp CUDA P100 tester
  tools/dashboard/dashboard.conf
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_psmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/cp2k-ci.conf
  tools/docker/generate_dockerfiles.py
Due: none

Revise help message
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Update toolchain documentation
  tools/toolchain/README.md
Due: none

Disable PEXSI when CUDA is used
  make_cp2k.sh
Due: shfmt

make_cp2k.sh: Add flags to enable/disable features selectively
  make_cp2k.sh
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp-static.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: shfmt

Update toolchain README documentation (#4839)
  tools/toolchain/README.md
Due: none

Toolchain: revamp help message, extend --dry-run output in install_cp2k_toolchain.sh
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/common_vars.sh
Due: shfmt

Fix Fedora rpm-build failure
  tools/fedora/cp2k.spec
Due: none

Fix conventions in negf_env_types.F and qs_moments.F
  src/negf_env_types.F
  src/qs_moments.F
Due: doxify, prettify, analyze_src

Enable OpenPMD explicitly (not done by default)
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_psmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/generate_dockerfiles.py
Due: none

Resolve issues with Intel compilers
  cmake/CompilerConfiguration.cmake
  src/CMakeLists.txt
  src/common/fparser.F
  tests/do_regtest.py
  tools/toolchain/scripts/stage2/install_mkl.sh
Due: doxify, prettify, analyze_src, shfmt

Toolchain: remove some legacy
  INSTALL.md
  tools/toolchain/README.md
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Correction
  INSTALL.md
Due: none

Try to fix LD_LIBRARY_PATH
  make_cp2k.sh
Due: shfmt

Sternheimer BSE 1.Version parallel
  src/bse_full_diag.F
  src/bse_main.F
  src/cp_control_types.F
  src/cp_control_utils.F
  src/exstates_types.F
  src/input_cp2k_properties_dft.F
  src/mp2.F
  src/qs_tddfpt2_bse_utils.F
  src/qs_tddfpt2_eigensolver.F
  src/qs_tddfpt2_fhxc.F
  src/qs_tddfpt2_utils.F
  tests/QS/regtest-tddfpt-bse/H2O_W_only.inp
  tests/QS/regtest-tddfpt-bse/TEST_FILES.toml
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
