Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Update CRAY arch files (PLUMED 2.7.2)
  arch/CRAY-XC40_gnu.psmp
  arch/CRAY-XC50_gnu.psmp
Due: none

Update arch file for the Intel regression tests
  arch/Linux-x86-64-intel-regtest.psmp
Due: none

Update CRAY arch files
  arch/CRAY-XC40_gnu.psmp
  arch/CRAY-XC50_gnu.psmp
Due: none

Catch FULL_ALL in combination with ROTATION
  src/qs_scf.F
Due: doxify, prettify, analyze_src

pre-commit-install: fix install of golang shfmt pre-commit hook
  tools/pre-commit-install.sh
Due: shfmt

Add Intel regression tester for 2021.3
  tools/dashboard/dashboard.conf
Due: none

Retire Intel regression tester 2021.1
  tools/dashboard/dashboard.conf
Due: none

Remove unused variable
  src/qs_diis.F
Due: doxify, prettify, analyze_src

Prettify
  src/qs_scf.F
Due: doxify, prettify, analyze_src

Add format specifier
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Avoid warnings about non-uniform orbital occupations
  src/qs_mo_methods.F
  src/qs_mo_occupation.F
  src/qs_mo_types.F
  src/s_square_methods.F
Due: doxify, prettify, analyze_src

Adjust references
  tests/QS/regtest-corr_dipm/TEST_FILES
Due: none

Add DeePMD-kit C++ Interface
  src/common/bibliography.F
  src/cp2k_info.F
  src/deepmd_c_wrapper.cpp
  src/deepmd_c_wrapper.h
  src/deepmd_wrapper.F
  src/fist_nonbond_env_types.F
  src/force_fields_all.F
  src/force_fields_input.F
  src/input_cp2k_mm.F
  src/manybody_deepmd.F
  src/manybody_potential.F
  src/pair_potential.F
  src/pair_potential_types.F
  tools/toolchain/README.md
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/arch_base.tmpl
  tools/toolchain/scripts/common_vars.sh
  tools/toolchain/scripts/generate_arch_files.sh
  tools/toolchain/scripts/stage6/install_deepmd.sh
  tools/toolchain/scripts/stage6/install_stage6.sh
Due: doxify, prettify, analyze_src, clang-format, shfmt

Add -lfftw3_mpi conditionally to the arch files
  tools/toolchain/scripts/stage3/install_fftw.sh
Due: shfmt

Make code Pretty
  INSTALL.md
  src/deepmd_c_wrapper.cpp
  src/deepmd_c_wrapper.h
  src/force_fields_input.F
  src/input_cp2k_mm.F
  src/manybody_potential.F
  src/pair_potential.F
  src/pair_potential_types.F
Due: doxify, prettify, analyze_src, clang-format

sirius: warn when CELL_REF is specified
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

Conditionally link mkl scalapack and mpi
  tools/toolchain/scripts/stage2/install_mkl.sh
  tools/toolchain/scripts/stage5/install_elpa.sh
  tools/toolchain/scripts/stage5/install_pexsi.sh
  tools/toolchain/scripts/stage6/install_plumed.sh
  tools/toolchain/scripts/stage7/install_libvdwxc.sh
Due: shfmt

Toolchain: Add Tensorflow as an optional requirement
  tools/toolchain/Dockerfile
  tools/toolchain/Dockerfile.cuda
  tools/toolchain/install_tensorflow.sh
Due: shfmt

Toolchain: Upgrade to GCC 11.2
  tools/toolchain/scripts/stage0/gcc-10.2.0-cpp-__has_include.patch
  tools/toolchain/scripts/stage0/install_gcc.sh
  tools/toolchain/scripts/stage1/install_mpich.sh
  tools/toolchain/scripts/stage5/install_pexsi.sh
  tools/toolchain/scripts/stage6/install_plumed.sh
Due: shfmt

Toolchain: Disable VLA warnings due to bug in GCC 11.2
  tools/toolchain/scripts/generate_arch_files.sh
Due: shfmt

grid: Fix array parameter mismatches
  src/grid/cpu/non_orthorombic_corrections.c
  src/grid/cpu/utils.h
Due: analyze_src, clang-format

Fix / suppress uninitialized variables
  src/colvar_methods.F
  src/fist_nonbond_force.F
  src/force_fields_input.F
  src/moments_utils.F
  src/mulliken.F
  src/pw/dct.F
  src/qs_grid_atom.F
  src/qs_tddfpt2_subgroups.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Toolchain: Upgrade to ROCm 4.3
  tools/toolchain/Dockerfile.hip_rocm
Due: none

G-space mixing with gapw needs the mixing of local but not of the density matrix, that part was wrong and has been removed
  src/qs_density_mixing_types.F
  src/qs_gspace_mixing.F
  src/qs_mixing_utils.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
