Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Dashboard: Remove gcc6 because of issue #1203
  tools/dashboard/dashboard.conf
Due: none

Adjust tolerance of QS/regtest-rel/h2o-4.inp
  tests/QS/regtest-rel/TEST_FILES
Due: none

aligned_alloc requires the allocated size to be a multiple of the alignment. Replace by malloc and grid_allocate_scratch()
  src/grid/cpu/collocation_integration.c
  src/grid/cpu/grid_integrate_dgemm.c
  src/grid/cpu/non_orthorombic_corrections.c
  src/grid/cpu/tensor_local.c
  src/grid/cpu/tensor_local.h
Due: analyze_src, clang-format

fix memory leaks
  src/grid/cpu/collocation_integration.c
  src/grid/cpu/grid_context_cpu.c
Due: analyze_src, clang-format

Forces were not calculated when running with one unique thread
  src/grid/cpu/grid_integrate_dgemm.c
Due: analyze_src, clang-format

call dgemv_, etc... fortran functions instead of cblas equivalent
  src/grid/cpu/grid_collocate_dgemm.c
  src/grid/cpu/utils.c
  src/grid/cpu/utils.h
Due: analyze_src, clang-format

Add regression test inputs for the &GRID section
  tests/QS/regtest-grid/H2O-1_non-ortho_grid_auto.inp
  tests/QS/regtest-grid/H2O-1_non-ortho_grid_dgemm.inp
  tests/QS/regtest-grid/H2O-1_ortho_grid_auto.inp
  tests/QS/regtest-grid/H2O-1_ortho_grid_dgemm.inp
  tests/QS/regtest-grid/TEST_FILES
  tests/TEST_DIRS
Due: none

Increase opt level
  arch/Linux-x86-64-gfortran.psmp
Due: none

Update test results for regtest-grid
  tests/QS/regtest-grid/TEST_FILES
Due: none

Update references
  tests/QS/regtest-grid/TEST_FILES
Due: none

Update grid references
  tests/QS/regtest-grid/TEST_FILES
Due: none

grid: Move tests from LIBTEST into QS/regtest-grid
  tests/LIBTEST/TEST_FILES
  tests/QS/regtest-grid/Ar_non-ortho_grid_auto.inp
  tests/QS/regtest-grid/Ar_non-ortho_grid_dgemm.inp
  tests/QS/regtest-grid/Ar_non-ortho_grid_ref.inp
  tests/QS/regtest-grid/Ar_non-ortho_grid_validate.inp
  tests/QS/regtest-grid/Ar_ortho_grid_auto.inp
  tests/QS/regtest-grid/Ar_ortho_grid_dgemm.inp
  tests/QS/regtest-grid/Ar_ortho_grid_ref.inp
  tests/QS/regtest-grid/Ar_ortho_grid_validate.inp
  tests/QS/regtest-grid/TEST_FILES
Due: none

Rename tests from regtest-grid/Ar to regtest-grid/simple
  tests/QS/regtest-grid/TEST_FILES
  tests/QS/regtest-grid/simple_non-ortho_grid_auto.inp
  tests/QS/regtest-grid/simple_non-ortho_grid_dgemm.inp
  tests/QS/regtest-grid/simple_non-ortho_grid_ref.inp
  tests/QS/regtest-grid/simple_non-ortho_grid_validate.inp
  tests/QS/regtest-grid/simple_ortho_grid_auto.inp
  tests/QS/regtest-grid/simple_ortho_grid_dgemm.inp
  tests/QS/regtest-grid/simple_ortho_grid_ref.inp
  tests/QS/regtest-grid/simple_ortho_grid_validate.inp
Due: none

Adjust threshold of simple_non-ortho_grid_dgemm.inp
  tests/QS/regtest-grid/TEST_FILES
Due: none

Dashboard: Allow for empty lines in TEST_FILES
  tools/dashboard/generate_regtest_survey.py
Due: none

Adjust threshold of QS/regtest-gpw-8/si8_broy_dav_t300.inp
  tests/QS/regtest-gpw-8/TEST_FILES
Due: none

Remove the hybrid CPU/GPU backend
  src/environment.F
  src/grid/Makefile
  src/grid/PACKAGE
  src/grid/common/grid_constants.h
  src/grid/common/grid_library.c
  src/grid/common/grid_library.h
  src/grid/grid_api.F
  src/grid/grid_task_list.c
  src/grid/grid_task_list.h
  src/grid/hybrid/PACKAGE
  src/grid/hybrid/grid_collocate_hybrid.c
  src/grid/hybrid/grid_collocate_hybrid.h
  src/grid/hybrid/grid_collocate_hybrid_cuda.cu
  src/grid/hybrid/grid_hybrid_task_list.h
  src/grid/hybrid/grid_integrate_cuda.h
  src/grid/hybrid/grid_integrate_hybrid.c
  src/grid/hybrid/hybrid_private_header.h
  src/input_cp2k_global.F
  src/start/cp2k_runs.F
Due: doxify, prettify, analyze_src, clang-format

Fix warnings when -pendandic is on
  src/grid/Makefile
  src/grid/cpu/grid_collocate_dgemm.c
  src/grid/cpu/grid_integrate_dgemm.c
Due: analyze_src, clang-format

grid: Remove the hybrid CPU/GPU backend
  src/environment.F
  src/grid/Makefile
  src/grid/PACKAGE
  src/grid/common/grid_constants.h
  src/grid/common/grid_library.c
  src/grid/common/grid_library.h
  src/grid/cpu/grid_collocate_dgemm.c
  src/grid/cpu/grid_integrate_dgemm.c
  src/grid/grid_api.F
  src/grid/grid_task_list.c
  src/grid/grid_task_list.h
  src/grid/hybrid/PACKAGE
  src/grid/hybrid/grid_collocate_hybrid.c
  src/grid/hybrid/grid_collocate_hybrid.h
  src/grid/hybrid/grid_collocate_hybrid_cuda.cu
  src/grid/hybrid/grid_hybrid_task_list.h
  src/grid/hybrid/grid_integrate_cuda.h
  src/grid/hybrid/grid_integrate_hybrid.c
  src/grid/hybrid/hybrid_private_header.h
  src/input_cp2k_global.F
  src/start/cp2k_runs.F
Due: doxify, prettify, analyze_src, clang-format

the number of backends is hardcoded everywhere
  src/grid/common/grid_library.c
  src/grid/common/grid_library.h
Due: analyze_src, clang-format

grid: Assert that max number of threads
  src/grid/common/grid_library.c
Due: analyze_src, clang-format

grid: Fix out-of-bounds access in grid_library_counter_add
  src/grid/common/grid_library.c
  src/grid/gpu/grid_gpu_collocate.cu
  src/grid/gpu/grid_gpu_integrate.cu
Due: analyze_src, clang-format

grid: Use macros for counter dimensions
  src/grid/common/grid_library.c
  src/grid/common/grid_library.h
Due: analyze_src, clang-format

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
