Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Update INSTALL.md
  INSTALL.md
  src/common/bibliography.F
  src/input_cp2k_smeagol.F
  src/smeagol_emtoptions.F
  src/smeagol_interface.F
  src/smeagol_matrix_utils.F
  tests/QS/regtest-smeagol-1/TEST_FILES
  tests/QS/regtest-smeagol-2/TEST_FILES
  tools/toolchain/scripts/stage7/install_libsmeagol.sh
Due: doxify, prettify, analyze_src, shfmt

Update CMakeLists.txt
  src/CMakeLists.txt
Due: none

hw_rho_total from cdft_group_type to cdft_control_type
  src/qs_cdft_methods.F
  src/qs_cdft_types.F
  src/qs_cdft_utils.F
Due: doxify, prettify, analyze_src

Fixed CDFT force bug
  src/qs_cdft_methods.F
Due: doxify, prettify, analyze_src

Fix the installation dependencies for the pugixml library (#3693)
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage8/install_pugixml.sh
Due: shfmt

make pretty
  INSTALL.md
  src/common/bibliography.F
  src/input_cp2k_dft.F
  src/input_cp2k_smeagol.F
  src/input_cp2k_smeagol.fypp
  src/qs_scf.F
  src/qs_scf_initialization.F
  src/smeagol_control_types.F
  src/smeagol_emtoptions.F
  src/smeagol_interface.F
  src/smeagol_matrix_utils.F
  tests/QS/regtest-smeagol-1/au-2x2x3-bulk.inp
  tests/QS/regtest-smeagol-2/au-1x1x4-bulk.inp
  tests/QS/regtest-smeagol-2/au-h2-au-1x1x1-1V-forces.inp
  tools/toolchain/scripts/stage7/install_libsmeagol.sh
Due: doxify, prettify, analyze_src, shfmt

Fix pugixml installation in connection with the --install-all flag
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Fix the installation dependencies for the pugixml library (#3693) (#3719)
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage8/install_pugixml.sh
Due: shfmt

RTBSE : Documentation update
  .gitignore
  docs/methods/properties/optical/rtbse.md
Due: none

RTBSE : Precommit formatting
  docs/methods/properties/optical/rtbse.md
Due: none

Framework to calculate response forces for external energy expressions based on KS orbitals
  src/CMakeLists.txt
  src/ec_env_types.F
  src/ec_environment.F
  src/ec_external.F
  src/energy_corrections.F
  src/input_constants.F
  src/input_cp2k_ec.F
  src/qs_basis_gradient.F
  src/qs_energy.F
  src/qs_energy_matrix_w.F
  src/qs_local_properties.F
  src/qs_matrix_w.F
  src/qs_tddfpt2_fprint.F
  src/response_solver.F
  src/rpa_im_time_force_methods.F
  tests/QS/regtest-ec/EXT1.inp
  tests/QS/regtest-ec/EXT2.inp
  tests/QS/regtest-ec/TEST_FILES
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Fix some memory leaks
  src/ec_external.F
Due: doxify, prettify, analyze_src

Fix Test type
  tests/TEST_TYPES
Due: none

CMake should not check for libxcf90 since only libxcf03 is used.
  cmake/modules/FindLibXC.cmake
Due: none

Framework to calculate response forces for external energy expressions based on KS orbitals (#3721)
  src/CMakeLists.txt
  src/ec_env_types.F
  src/ec_environment.F
  src/ec_external.F
  src/energy_corrections.F
  src/input_constants.F
  src/input_cp2k_ec.F
  src/qs_basis_gradient.F
  src/qs_energy.F
  src/qs_energy_matrix_w.F
  src/qs_local_properties.F
  src/qs_matrix_w.F
  src/qs_tddfpt2_fprint.F
  src/response_solver.F
  src/rpa_im_time_force_methods.F
  tests/QS/regtest-ec/EXT1.inp
  tests/QS/regtest-ec/EXT2.inp
  tests/QS/regtest-ec/TEST_FILES
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

CP2K+SMEAGOL interface
  INSTALL.md
  src/cp2k_info.F
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input/cp_output_handling.F
  src/input_constants.F
  src/input_cp2k_dft.F
  src/input_cp2k_smeagol.F
  src/input_cp2k_smeagol.fypp
  src/qs_energy.F
  src/qs_ks_methods.F
  src/qs_scf.F
  src/qs_scf_initialization.F
  src/qs_scf_loop_utils.F
  src/qs_scf_types.F
  src/smeagol_control_types.F
  src/smeagol_emtoptions.F
  src/smeagol_interface.F
  src/smeagol_matrix_utils.F
  tests/HUGE_TESTS_SUPPRESSIONS
  tests/QS/regtest-smeagol-1/TEST_FILES
  tests/QS/regtest-smeagol-1/au-2x2x3-bulk.inp
  tests/QS/regtest-smeagol-2/TEST_FILES
  tests/QS/regtest-smeagol-2/au-1x1x4-bulk.inp
  tests/QS/regtest-smeagol-2/au-h2-au-1x1x1-1V-forces.inp
  tests/QS/regtest-smeagol-2/au_bulk.xyz
  tests/QS/regtest-smeagol-2/em.xyz
  tests/TEST_DIRS
  tests/TEST_TYPES
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage7/install_libsmeagol.sh
  tools/toolchain/scripts/stage7/install_stage7.sh
Due: doxify, prettify, analyze_src, shfmt

toolchain with_libsmeagol="__DONTUSE__"
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage7/install_libsmeagol.sh
Due: shfmt

Fix coding conventions
  src/input_cp2k_smeagol.F
  src/input_cp2k_smeagol.fypp
  src/smeagol_control_types.F
  src/smeagol_interface.F
  src/smeagol_matrix_utils.F
Due: doxify, prettify, analyze_src

Update regtest
  src/smeagol_interface.F
  tests/QS/regtest-smeagol-1/TEST_FILES
  tests/QS/regtest-smeagol-2/TEST_FILES
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Add toolchain flag --with-amd to facilitate builds with the AMD AOCC compiler
  arch/Linux-amd-x86_64.ssmp
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/generate_arch_files.sh
  tools/toolchain/scripts/stage0/install_amd.sh
  tools/toolchain/scripts/stage0/install_stage0.sh
Due: shfmt

Exclude --with-amd from --install-all
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Add if clauses for AMD arch file generation
  tools/toolchain/scripts/generate_arch_files.sh
  tools/toolchain/scripts/stage0/setup_buildtools.sh
Due: shfmt

Fix arch file (exclude DFTD4 for the time being)
  arch/Linux-amd-x86_64.ssmp
Due: none

Add linker flag
  arch/Linux-amd-x86_64.ssmp
Due: none

Push FFT direction downstream to plans for 1D/2D
  src/input_cp2k_global.F
  src/pw/fft/fft_lib.F
  src/pw/fft/fft_plan.F
  src/pw/fft/fftw3_lib.F
  src/pw/fft/spfft_lib.F
  src/pw/fft_tools.F
Due: doxify, prettify, analyze_src

Remove use of fft_type almost everywhere
  src/pw/fft/fft_lib.F
Due: doxify, prettify, analyze_src

Implement in-place interface for SpFFT
  src/pw/fft/spfft_lib.F
Due: doxify, prettify, analyze_src

FFTW3: Convert missing left-over functions to modern interface
  src/pw/fft/fft_lib.F
  src/pw/fft/fftw3_lib.F
Due: doxify, prettify, analyze_src

Refactor usage of fft_plan_type
  src/motion/pint_qtb.F
Due: doxify, prettify, analyze_src

FFT: Pass plan type directly to FFTW
  src/motion/pint_qtb.F
  src/pw/fft/fft_lib.F
  src/pw/fft/fftw3_lib.F
  src/pw/fft_tools.F
Due: doxify, prettify, analyze_src

COntinue with fftw3_lib
  src/pw/fft/fftw3_lib.F
Due: doxify, prettify, analyze_src

Make bounds explicit
  src/pw/fft/fft_lib.F
Due: doxify, prettify, analyze_src

FFT: Continue with fft_type
  src/pw/fft/fft_lib.F
  src/pw/fft_tools.F
Due: doxify, prettify, analyze_src

FFT: Specify some array bounds
  src/pw/fft/spfft_lib.F
  src/pw/fft_tools.F
Due: doxify, prettify, analyze_src

Remove temporary arrays if they are only used for the initialization phace
  src/pw/fft_tools.F
Due: doxify, prettify, analyze_src
