Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

DBM: Speedup GPU kernel for tall and skinny blocks
  src/dbm/dbm_miniapp.c
  src/dbm/dbm_multiply_gpu.cu
Due: analyze_src, clang-format

GAPW/GAPW_XC regtest margin and code conventions
  src/qs_rho_methods.F
  tests/QS/regtest-tddfpt/TEST_FILES
Due: doxify, prettify, analyze_src

GAPW/GAPW_XC regtest margin and code conventions (#2181)
  src/qs_rho_methods.F
  tests/QS/regtest-tddfpt/TEST_FILES
Due: doxify, prettify, analyze_src

Add missing electron count to I-q26 and At-q26 potentials
  data/POTENTIAL_UZH
Due: regen_data

Add requirement libint for regtest-tddfpt
  tests/TEST_DIRS
Due: none

Add missing electron count to I-q26 and At-q26 potentials (#2182)
  data/POTENTIAL_UZH
Due: regen_data

Add QS/regtest-gapw_xc to keepalive blacklist
  tools/regtesting/do_regtest.py
Due: none

Optionally print peak memory usage after each MD/Opt step
  src/input_cp2k_motion_print.F
  src/motion/gopt_f_methods.F
  src/motion/md_energies.F
Due: doxify, prettify, analyze_src

better copies
  src/hfx_ri.F
  src/rpa_im_time_force_methods.F
Due: doxify, prettify, analyze_src

Remove version number from development branch
  src/cp2k_info.F
  src/environment.F
  src/start/cp2k.F
  src/start/cp2k_shell.F
  tools/precommit/check_file_properties.py
Due: doxify, prettify, analyze_src

Fix 2nd order GAPW properties
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Update arch files
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-x86_64-static.ssmp
Due: none

Fix 2nd order GAPW properties (#2189)
  src/xc/xc.F
Due: doxify, prettify, analyze_src

DBM: Fix array bounds of per_thread_counters
  src/dbm/dbm_library.c
  src/dbm/dbm_library.h
Due: analyze_src, clang-format

Cut release version 2022.1
  REVISION
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

Manual: Add 2022.1 release
  tools/manual/index.html
Due: none

def2 based MOLOPT all electron/small core pp basis sets for PBE
  data/BASIS_MOLOPT_UZH
Due: regen_data

def2 based MOLOPT all electron/small core pp basis sets for PBE (#2193)
  data/BASIS_MOLOPT_UZH
Due: regen_data

Stop the user from using non-implemented TDDFT kernels
  src/hfx_types.F
  src/qs_tddfpt2_methods.F
Due: doxify, prettify, analyze_src

Refactoring of the ADMM environment
  src/admm_dm_methods.F
  src/admm_methods.F
  src/admm_types.F
  src/emd/rt_hfx_utils.F
  src/hfx_admm_utils.F
  src/hfx_energy_potential.F
  src/motion/rt_propagation.F
  src/mp2.F
  src/mp2_cphf.F
  src/qs_2nd_kernel_ao.F
  src/qs_collocate_density.F
  src/qs_core_hamiltonian.F
  src/qs_environment.F
  src/qs_environment_methods.F
  src/qs_environment_types.F
  src/qs_kpp1_env_methods.F
  src/qs_ks_methods.F
  src/qs_ks_types.F
  src/qs_ks_utils.F
  src/qs_linres_kernel.F
  src/qs_neighbor_lists.F
  src/qs_p_env_methods.F
  src/qs_rho_methods.F
  src/qs_scf_initialization.F
  src/qs_tddfpt2_fhxc_forces.F
  src/qs_tddfpt2_forces.F
  src/qs_tddfpt2_methods.F
  src/qs_tddfpt2_subgroups.F
  src/qs_tddfpt2_types.F
  src/qs_update_s_mstruct.F
  src/response_solver.F
  src/rpa_gw_sigma.F
  src/rpa_hfx.F
  src/rpa_im_time_force_methods.F
  src/rpa_main.F
  src/rt_propagation_forces.F
  src/rtp_admm_methods.F
Due: doxify, prettify, analyze_src

RI_HFX| fix RI_FLAVOR test with smearing
  src/hfx_types.F
Due: doxify, prettify, analyze_src

Restore version number for development branch
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

Bump COSMA to version 2.6.0
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Adapt regtest threshold
  src/hfx_admm_utils.F
  tests/QS/regtest-hfx-ri/TEST_FILES
Due: doxify, prettify, analyze_src

GAPW_XC bug fix for linear response
  src/qs_kpp1_env_methods.F
  src/qs_linres_kernel.F
  src/qs_p_env_methods.F
  tests/QS/regtest-debug-1/TEST_FILES
  tests/QS/regtest-debug-1/h2o_gapw_xc.inp
Due: doxify, prettify, analyze_src
