Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Update gauxc/skala test reference files with values from master branch
  tests/QS/regtest-gauxc-cuda/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-mol/TEST_FILES.toml
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
Due: none

Update gauxc/skala test reference files
  tests/QS/regtest-gauxc-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-nlcc/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-ae-kp/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-ecp/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-coords/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mol/TEST_FILES.toml
Due: none

remove unused skala bindings from install script and fix NLCC test matchers
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

formatting fixes and removing moved input names
  docs/methods/dft/gauxc.md
  tests/QS/regtest-gauxc-gapw-base/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-ecp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-nlcc/TEST_FILES.toml
  tools/toolchain/scripts/stage5/install_skala.sh
Due: shfmt

missing default
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

fixing test_dirs
  tests/TEST_DIRS
Due: none

small fix from rebasing
  tests/TEST_DIRS
Due: none

Update TEST_DIRS for skala and gauxc tests
  tests/TEST_DIRS
Due: none

restore with_skala case handling and BUILDDIR setup_skala paths for gauxc/skala
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

small fix if skala is not installed
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

Reorganize SKALA tests: move NATIVE_SKALA tests from gauxc to ska-native/ska-cuda directories
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/TEST_FILES.toml
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GAPW_AE_ATOM_COMPOSITE.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_KP_INV_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_KP_SPGLIB_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/HF_NATIVE_SKALA_GAPW_PAW_NLCC_STRESS.inp
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GPWTYPE_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_KP_SPGLIB_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_XC_GTH_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
Due: none

Remove unnecessary files from the last commit
  1H2_GAUXC_PBE-RESTART.wfn
  H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS-RESTART.kp
  build_tool
  comparing
  cp2k_build.md
  make_cp2k.sh_try
Due: none

Add TEST_FILES.toml for gauxc-gapw-gth and gauxc-gpw-nlcc, update TEST_DIRS
  tests/QS/regtest-gauxc-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-nlcc/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

fixing dependencies for test
  tests/TEST_DIRS
Due: none

Disable Skala/FTorch support by default
  CMakeLists.txt
  make_cp2k.sh
  tools/toolchain/scripts/stage5/install_skala.sh
Due: shfmt

rename scala flag to skala-ftorch in make_cp2k.sh
  make_cp2k.sh
Due: shfmt

Align ska-native/ska-cuda reference values with GauXC master
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-ae-kp/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-ecp/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-coords/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mol/TEST_FILES.toml
Due: none

make tests less sensitive
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
Due: none

clean up toolchain scripts
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

prettify
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Enable CUDA support for libxc in toolchain
  tools/toolchain/scripts/stage3/install_libxc.sh
Due: shfmt

Add CUDA device linking support for libxc
  CMakeLists.txt
  src/CMakeLists.txt
  src/xc/xc_libxc_wrap.F
  tools/toolchain/scripts/stage3/install_libxc.sh
Due: doxify, prettify, analyze_src, shfmt

Update libxc wrapper for libxc 7.x with backward compatibility
  src/xc/xc_libxc_wrap.F
Due: doxify, prettify, analyze_src

Implement Libxc CUDA integration with single namespace approach
  CMakeLists.txt
  src/CMakeLists.txt
  src/offload/offload_api.F
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
Due: doxify, prettify, analyze_src

Use shared CUDA libxc and add nspin default in wrappers
  CMakeLists.txt
  src/offload/offload_api.F
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
  tools/toolchain/scripts/stage3/install_libxc.sh
Due: doxify, prettify, analyze_src, shfmt

Import changes from jvp-libxc-cuda-only
  CMakeLists.txt
  src/environment.F
  src/global_types.F
  src/input_constants.F
  src/input_cp2k_global.F
  src/offload/offload_api.F
  src/offload/offload_buffer.c
  src/offload/offload_buffer.h
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
  tools/toolchain/scripts/stage3/install_libxc.sh
Due: doxify, prettify, analyze_src, clang-format, shfmt

Fix CUDA Libxc device memory integration compilation errors
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
Due: doxify, prettify, analyze_src

cleaning up
  CMakeLists.txt
  src/environment.F
  src/input_constants.F
  src/input_cp2k_global.F
  src/offload/offload_api.F
  src/offload/offload_buffer.c
  src/offload/offload_library.h
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
  tools/toolchain/scripts/stage3/install_libxc.sh
Due: doxify, prettify, analyze_src, clang-format, shfmt

Stashed changes
  src/offload/offload_api.F
  src/offload/offload_library.c
  src/offload/offload_library.h
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
Due: doxify, prettify, analyze_src, clang-format

Fix some regtests, revamp installation docs and scripts (#6011)
  docs/getting-started/build-from-source.md
  make_cp2k.sh
  tests/TEST_DIRS
  tools/toolchain/build_cp2k.sh
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage5/install_elpa.sh
  tools/toolchain/scripts/tool_kit.sh
Due: shfmt

Update libxc integration and build system
  CMakeLists.txt
  src/CMakeLists.txt
  src/cp2k_info.F
  src/environment.F
  src/global_types.F
  src/input_cp2k_global.F
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
Due: doxify, prettify, analyze_src

Regtest: Update the reference of the corrupted H2 trajectory
  tests/QS/regtest-gpw-4/TEST_FILES.toml
Due: none

Motion: Damp the BFGS Hessian update and guard it against corruption
  src/motion/bfgs_optimizer.F
Due: doxify, prettify, analyze_src

Regtest: Update references of runs that halt at a different admissible endpoint
  tests/Fist/regtest-1-3/TEST_FILES.toml
  tests/Fist/regtest-4/TEST_FILES.toml
Due: none

Regtest: Update snapshot references of truncated optimization runs
  tests/NEB/regtest-4/TEST_FILES.toml
  tests/QS/regtest-dft-vdw-corr-3/TEST_FILES.toml
  tests/QS/regtest-p-efield/TEST_FILES.toml
  tests/QS/regtest-stda-force-2/TEST_FILES.toml
  tests/QS/regtest-tddfpt-force-2/TEST_FILES.toml
  tests/QS/regtest-tddfpt-force/TEST_FILES.toml
  tests/xTB/regtest-2/TEST_FILES.toml
Due: none

Regtest: Update the SCF-limited snapshot references of the c8 Broyden tests
  tests/QS/regtest-gpw-6-4/TEST_FILES.toml
Due: none

Motion/BFGS: Make the predicted-curvature floor scale-invariant
  src/motion/bfgs_optimizer.F
Due: doxify, prettify, analyze_src

Motion/BFGS: Honor USE_MODEL_HESSIAN on reset and reuse the eigenworkspace
  src/motion/bfgs_optimizer.F
Due: doxify, prettify, analyze_src

Motion/BFGS: Keep eigval defined on the unity paths of build_initial_hess
  src/motion/bfgs_optimizer.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
