Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

COSMA 2.7.0 -> 2.7.1
  tools/spack/cp2k_deps_psmp.yaml
Due: none

Add separate benchmark tests for ELPA
  benchmarks/CI/H2O-128_md_elpa.inp
  benchmarks/CI/H2O-512_md_elpa.inp
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
Due: none

Initialize matrix tmp for parallel_gemm to avoid COSMA failure
  src/motion/bfgs_optimizer.F
Due: doxify, prettify, analyze_src

Add CUDA arch 75 (T400)
  make_cp2k.sh
Due: shfmt

Use mpiexec in command example
  make_cp2k.sh
Due: shfmt

Add ELPA test
  benchmarks/CI/H2O-128_md.inp
  benchmarks/CI/H2O-32_md_elpa.inp
  benchmarks/CI/H2O-512_md.inp
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
Due: none

Switch to a newer spack packages commit
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp-static.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none

Keep optional line commented
  make_cp2k.sh
Due: shfmt

Check if the selected features are available for building a serial CP2K binary
  make_cp2k.sh
Due: shfmt

Revise CUDA activation for libfabric
  make_cp2k.sh
  tools/spack/cp2k_deps_psmp.yaml
Due: shfmt

Sync tester configuration
  ci/cscs_daint_spack_psmp.yaml
Due: none

Activate CUDA support of COSMA explicitely when available
  make_cp2k.sh
  tools/spack/cp2k_deps_psmp.yaml
Due: shfmt

Add CUDA environment setup and run only tests with ELPA
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/docker/build_cp2k_spack.Dockerfile
  ci/docker/build_deps_spack.Dockerfile
Due: none

Do not restrict CI benchmark tests to ScaLAPACK (use ELPA if available)
  benchmarks/CI/H2O-128_md.inp
  benchmarks/CI/H2O-32_md.inp
  benchmarks/CI/H2O-512_md.inp
Due: none

Disable cuda for libfabric
  tools/spack/cp2k_deps_psmp.yaml
Due: none

Allow feature selection for static binary builds
  make_cp2k.sh
Due: shfmt

make pretty
  make_cp2k.sh
Due: shfmt

Remove feature gdrcopy when CUDA is disabled
  make_cp2k.sh
  tools/spack/cp2k_deps_psmp.yaml
Due: shfmt

Allow GPU selection by CUDA arch number
  make_cp2k.sh
Due: shfmt

Update documentation of building from source
  INSTALL.md
  docs/getting-started/build-from-source.md
Due: none

Update help message of install_cp2k_toolchain.sh
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Update documentations and .gitignore
  .gitignore
  INSTALL.md
  docs/getting-started/build-from-source.md
  tools/toolchain/scripts/generate_cmake_options.sh
Due: shfmt

Clearly specify that the documented procedure here refers to building from source
  docs/getting-started/build-from-source.md
Due: none

Add description of building environment directly from Spack
  docs/getting-started/build-from-source.md
Due: none

Make pretty
  src/qs_environment.F
  src/qs_wf_history_methods.F
  src/qs_wf_history_types.F
Due: doxify, prettify, analyze_src

ASPC with k-points; robustness issue existing
  src/qs_environment.F
  src/qs_wf_history_methods.F
  src/qs_wf_history_types.F
Due: doxify, prettify, analyze_src

Resolve nimage issue; however main issue not resolved
  src/qs_wf_history_methods.F
  src/qs_wf_history_types.F
Due: doxify, prettify, analyze_src

Added more info for spinflip TDDFPT manual and updated citations
  src/common/bibliography.F
  src/input_cp2k_properties_dft.F
Due: doxify, prettify, analyze_src
