Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Reduced fidelity of HP-DFT tests
  tests/HP-DFT/TEST_FILES.toml
  tests/HP-DFT/hp-dft_0eV.inp
  tests/HP-DFT/hp-dft_1eV.inp
  tests/HP-DFT/hp-dft_4eV.inp
  tests/TEST_DIRS
Due: none

Compute DOS with different k-point grid (#4144)
  src/input_cp2k_kpoints.F
  src/input_cp2k_print_dft.F
  src/qs_dos.F
  src/qs_scf_post_gpw.F
  src/qs_scf_post_tb.F
Due: doxify, prettify, analyze_src

[sirius] version bump
  CMakeLists.txt
  src/sirius_interface.F
  tools/spack/cp2k_deps_all_psmp.yaml
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: doxify, prettify, analyze_src, shfmt

Add local Spack recipe for SIRIUS v7.7.0
  tools/spack/cp2k/packages/sirius/fj.patch
  tools/spack/cp2k/packages/sirius/libxc7.patch
  tools/spack/cp2k/packages/sirius/package.py
Due: none

Make pretty
  tools/spack/cp2k/packages/sirius/package.py
Due: none

Adapt tolerances
  tests/QS/regtest-bs/TEST_FILES.toml
Due: none

Use most recent Spack build cache
  ci/docker/build_deps_spack.Dockerfile
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
Due: none

Response force: correct output for parallel case
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

[toolchain] cleanup
  tools/precommit/check_file_properties.py
  tools/spack/cp2k/packages/cp2k/backport_avoid_null_2022.x.patch
  tools/spack/cp2k/packages/cp2k/backport_avoid_null_9.1.patch
  tools/spack/cp2k/packages/cp2k/cmake-fixes-2023.2.patch
  tools/spack/cp2k/packages/cp2k/cmake-relwithdebinfo-2024.1.patch
  tools/spack/cp2k/packages/cp2k/d4-dispersion-bugfix-2024.3.patch
  tools/spack/cp2k/packages/cp2k/package.py
  tools/spack/cp2k/packages/cp2k/posix_c_source.patch
  tools/spack/cp2k/packages/sirius/package.py
  tools/toolchain/scripts/stage8/install_sirius.sh
  tools/toolchain/scripts/stage8/sirius_1050.patch
  tools/toolchain/scripts/stage8/sirius_libxc7.patch
Due: shfmt

Update DFTD4, ELPA, SPGLIB and MPICH version
  tools/spack/cp2k_deps_all_psmp.yaml
  tools/spack/cp2k_deps_all_ssmp.yaml
  tools/spack/cp2k_deps_minimal_psmp.yaml
Due: none

Response force: correct output for parallel case (#4149)
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

fixed problem with file unit number
  src/emd/rt_propagation_output.F
Due: doxify, prettify, analyze_src

fixed problem with file unit number (#4152)
  src/emd/rt_propagation_output.F
Due: doxify, prettify, analyze_src

Unit conversion for stress in external response
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

Unit conversion for stress in external response (#4153)
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

Adjust tolerance
  tests/QS/regtest-hfx-ri/TEST_FILES.toml
Due: none

OpenBLAS 0.3.28 -> 0.3.29
  tools/toolchain/scripts/get_openblas_arch.sh
  tools/toolchain/scripts/stage2/install_openblas.sh
Due: shfmt

CMake 3.31.2 -> 4.0.1
  tools/toolchain/scripts/stage0/install_cmake.sh
Due: shfmt

MPICH 4.2.3 -> 4.3.0
  tools/toolchain/scripts/stage1/install_mpich.sh
Due: shfmt

Add basic copied input section
  src/input_cp2k_print_dft.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

OpenMPI 5.0.6 -> 5.0.7
  tools/toolchain/scripts/stage1/install_openmpi.sh
Due: shfmt

Basic configuration via OPENPMD section
  src/input_cp2k_print_dft.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Formatting
  src/CMakeLists.txt
Due: none

Switch between Cube/openPMD at runtime
  src/input/cp_output_handling_openpmd.F
  src/qs_scf_post_gpw.F
  tests/QS/regtest-ot/H2O-geo-ot-lumo-all.inp
Due: doxify, prettify, analyze_src

distinguish write_openpmd and write_cube
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

ScaLAPACK 2.2.1 -> 2.2.2
  tools/toolchain/scripts/stage4/install_scalapack.sh
Due: shfmt

Fix non-openPMD builds
  src/input_cp2k_print_dft.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Fix SIRIUS build (partially apply PR #4148)
  tools/toolchain/scripts/stage8/install_sirius.sh
  tools/toolchain/scripts/stage8/sirius_1050.patch
  tools/toolchain/scripts/stage8/sirius_libxc7.patch
Due: shfmt

Use build type RelWithDebInfo for SIRIUS
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: shfmt
