Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Add spack-based GROMACS/CP2K tester to dashboard (#5744)
  tools/dashboard/dashboard.conf
Due: none

Toolchain: Remove install_tensorflow.sh (#5760)
  tools/toolchain/install_tensorflow.sh
Due: shfmt

Add modular trajectory, 2PT, 3D-2PT, and anharmonic mode analysis tools (#5772)
  tools/trajana/Makefile
  tools/trajana/README.md
  tools/trajana/alignment.f90
  tools/trajana/cell_source.f90
  tools/trajana/command_line.f90
  tools/trajana/cube_io.f90
  tools/trajana/dsf_analysis.f90
  tools/trajana/examples/geometry.in
  tools/trajana/examples/masses.dat
  tools/trajana/examples/q-vectors.dat
  tools/trajana/examples/water.groups
  tools/trajana/fft.f90
  tools/trajana/frame_controls.f90
  tools/trajana/fresean_analysis.f90
  tools/trajana/fresean_main.f90
  tools/trajana/geometry.f90
  tools/trajana/geometry_analysis.f90
  tools/trajana/groups.f90
  tools/trajana/hbond_analysis.f90
  tools/trajana/kinds.f90
  tools/trajana/linear_algebra.f90
  tools/trajana/molecular_motion.f90
  tools/trajana/rdf_analysis.f90
  tools/trajana/selections.f90
  tools/trajana/spectral_tools.f90
  tools/trajana/tests/test_trajana.py
  tools/trajana/text_utils.f90
  tools/trajana/time_series.f90
  tools/trajana/trajana_main.f90
  tools/trajana/trajconvert.f90
  tools/trajana/trajectory_io.f90
  tools/trajana/trajectory_types.f90
  tools/trajana/twopt3d_analysis.f90
  tools/trajana/twopt3d_main.f90
  tools/trajana/twopt_analysis.f90
  tools/trajana/twopt_main.f90
  tools/trajana/twopt_thermodynamics.f90
  tools/trajana/vacf_analysis.f90
Due: none

Declare OpenMP data sharing in native SKALA paths (#5765)
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

Add spatial distribution analysis tool (#5771)
  tools/spatial_distribution/Makefile
  tools/spatial_distribution/README.md
  tools/spatial_distribution/spatial_distribution.f90
  tools/spatial_distribution/test/test_spatial_distribution.py
  tools/spatial_distribution/water.in.example
Due: none

Reduce runtime of two serial debug regtests (#5766)
  tests/QS/regtest-all-electron/NO2-rhotot-cube.inp
  tests/QS/regtest-all-electron/TEST_FILES.toml
  tests/QS/regtest-floquet/Floquet_KP.inp
  tests/QS/regtest-floquet/TEST_FILES.toml
Due: none

Require CP2K_VERSION psmp for convention checks (#5778)
  make_cp2k.sh
Due: shfmt

Use atom-centered composite grids for periodic native SKALA GAPW (#5749)
  docs/methods/dft/gauxc.md
  src/cp_control_utils.F
  src/input_cp2k_xc.F
  src/qs_ks_methods.F
  src/qs_ks_utils.F
  src/qs_vxc_atom.F
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
  src/xc/xc_input_constants.F
  tests/QS/GAPW_ACCURATE_XCINT_COVERAGE.md
  tests/QS/SKALA_GAPW_COMPOSITE_VALIDATION.md
  tests/QS/regtest-gapw_xc/TEST_FILES.toml
  tests/QS/regtest-gauxc-cuda/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-ecp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_ATOM_COMPOSITE.inp
  tests/QS/regtest-gauxc-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-nlcc/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Update install information concerning make_cp2k.sh (#5761)
  INSTALL.md
Due: none

Keep suppression for toolchain convention check (#5773)
  tools/conventions/conventions.supp
Due: none

Update docs for make_cp2k.sh 2.1 (#5745)
  docs/getting-started/build-from-source.md
Due: none

Fix GauXC RKS density normalization (#5740)
  src/xc/xc_gauxc_interface.F
  tests/QS/regtest-gauxc-gapw-ecp/HCl_GAUXC_PBE_GAPW_ECP_FORCE_DEBUG.inp
  tests/QS/regtest-gauxc-gapw-ecp/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Extend native SKALA atom grids to direct valence and mixed kinds (#5757)
  docs/methods/dft/gauxc.md
  src/accint_weights_forces.F
  src/input_cp2k_xc.F
  src/qs_harmonics_atom.F
  src/qs_ks_methods.F
  src/qs_vxc_atom.F
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
  src/xc/xc_gauxc_functional.F
  tests/QS/regtest-gauxc-cuda/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-ae-kp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-base/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-ecp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-gth-kp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-gth/H2_GAUXC_SKALA_GAPW_GTH_COMPOSITE.inp
  tests/QS/regtest-gauxc-gapw-gth/H2_MIXED_AE_GTH_NATIVE_SKALA_DIRECT.inp
  tests/QS/regtest-gauxc-gapw-gth/H2_MIXED_AE_GTH_NATIVE_SKALA_PAW.inp
  tests/QS/regtest-gauxc-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_STRESS.inp
  tests/QS/regtest-gauxc-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-coords/AR4_NATIVE_SKALA_GPW_ATOM_CHUNKS.inp
  tests/QS/regtest-gauxc-gpw-coords/AR4_NATIVE_SKALA_GPW_IMAGE_COORDS.inp
  tests/QS/regtest-gauxc-gpw-coords/AR4_NATIVE_SKALA_GPW_WRAPPED.inp
  tests/QS/regtest-gauxc-gpw-coords/H2O_NATIVE_SKALA_GPW_IMAGE_COORDS.inp
  tests/QS/regtest-gauxc-gpw-coords/H2O_NATIVE_SKALA_GPW_WRAPPED.inp
  tests/QS/regtest-gauxc-gpw-kp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-mech/H2_NATIVE_SKALA_GPW_SMOOTH.inp
  tests/QS/regtest-gauxc-gpw-mech/H2_NATIVE_SKALA_GPW_SMOOTH_FORCE.inp
  tests/QS/regtest-gauxc-gpw-mech/H2_NATIVE_SKALA_GPW_SMOOTH_STRESS.inp
  tests/QS/regtest-gauxc-gpw-mech/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-mol/AR4_NATIVE_SKALA_GPW.inp
  tests/QS/regtest-gauxc-gpw-mol/H2O_NATIVE_SKALA_GPW.inp
  tests/QS/regtest-gauxc-gpw-mol/NE4_NATIVE_SKALA_GPW.inp
  tests/QS/regtest-gauxc-gpw-mol/OH_NATIVE_SKALA_GPW_UKS.inp
  tests/QS/regtest-gauxc-gpw-mol/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-nlcc/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Add python3-dev package to final container because it is needed by G… (#5743)
  make_cp2k.sh
  tools/docker/Dockerfile.test_spack_gromacs
  tools/docker/generate_dockerfiles.py
Due: shfmt

Trim redundant regression artifacts (#5753)
  tests/QS/regtest-acc-1-4/TEST_FILES.toml
  tests/QS/regtest-acc-1-4/h2o-fine-tpss-1.inp
  tests/QS/regtest-gauxc-gpw-mech/H2_NATIVE_SKALA_GPW_SMOOTH_FORCE.inp
  tests/QS/regtest-gauxc-gpw-mech/TEST_FILES.toml
  tests/QS/regtest-kg/H2-libxc-gapw.inp
  tests/QS/regtest-kg/H2-libxc-gapw_xc.inp
  tests/QS/regtest-kg/H2_H2O-kglri-gapw.inp
  tests/QS/regtest-kg/H2_H2O-kglri-gapw_xc.inp
  tests/QS/regtest-kg/H2_KG-1-gapw.inp
  tests/QS/regtest-kg/H2_KG-1-gapw_xc.inp
  tests/QS/regtest-kg/TEST_FILES.toml
Due: none

Molden: allow writing cell information for vibrations (#5777)
  src/mode_selective.F
  src/molden_utils.F
  src/motion/input_cp2k_vib.F
  src/motion/vibrational_analysis.F
Due: doxify, prettify, analyze_src

Fix Intel OpenMP scoping in SKALA force path (#5786)
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

Remove duplicate AO momentum integral APIs (#5734)
  src/qs_linres_current.F
  src/qs_linres_current_utils.F
  src/qs_linres_op.F
  src/qs_operators_ao.F
  src/qs_tddfpt2_soc_utils.F
  src/xas_methods.F
  src/xas_tdp_methods.F
Due: doxify, prettify, analyze_src

CMake: Export BLAS selection in package config (#5733)
  cmake/cp2kConfig.cmake.in
Due: none

Relax GAPW CDFT Hirshfeld regtest tolerance (#5732)
  tests/QS/regtest-cdft-gapw/TEST_FILES.toml
Due: none

Update toolchain tester to GROMACS v2026.3 (#5746)
  tools/docker/scripts/test_gromacs.sh
Due: shfmt

Start changelog for current development cycle (#5750)
  docs/changelog.md
Due: none

Dashboard: Add spack-psmp-perf-openmp (#5762)
  tools/dashboard/dashboard.conf
Due: none

Remove Redundant Moment and Nonlocal Commutator Code (#5729)
  src/commutator_rpnl.F
  src/qs_commutators.F
  src/qs_moments.F
  src/qs_operators_ao.F
  src/qs_vcd.F
  src/qs_vcd_ao.F
Due: doxify, prettify, analyze_src

Add internal cross-link (#5754)
  docs/getting-started/build-from-source.md
  docs/methods/qm_mm/gromacs.md
Due: none

Backport OpenMPI operation module lifetime fixes (#5756)
  tools/toolchain/scripts/stage1/install_openmpi.sh
  tools/toolchain/scripts/stage1/openmpi-5.0.10-op-module-lifetime.patch
Due: shfmt

Limit CSCS H100 regtest concurrency (#5763)
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Finalize keepalive regtest shells cleanly (#5713)
  tests/do_regtest.py
Due: none

make_cp2k.sh: add GROMACS/CP2K build and regtester for latest GROMACS version v2026.3 (#5742)
  make_cp2k.sh
  src/topology_pdb.F
  tools/docker/Dockerfile.test_spack_gromacs
  tools/docker/cp2k-ci.conf
  tools/docker/generate_dockerfiles.py
Due: doxify, prettify, analyze_src, shfmt

Increase timeout for daint CI tester (#5770)
  ci/cscs_daint_spack_psmp.yaml
Due: none

Remove `src/mod.header` and `src/README.md` (#5758)
  src/README.md
  src/mod.header
Due: none

Use portable CBLAS type aliases in LibTorch wrappers (#5789)
  src/torch_c_api.cpp
Due: analyze_src, clang-format

Tighten SCF convergence in Becke CDFT regtest (#5767)
  tests/QS/regtest-cdft-gapw/H2He_becke_molecular.inp
Due: none

Use the FFTW3 Fortran execution interface in fftw31dm (#5724)
  src/pw/fft/fftw3_lib.F
Due: doxify, prettify, analyze_src

Guard RTP hybrid regtests with Libint (#5790)
  tests/QS/regtest-rtp-5/TEST_FILES.toml
  tests/QS/regtest-rtp-6/H2O-rtp-addedmos.inp
  tests/QS/regtest-rtp-6/H2O-rtp-admm-addedmos.inp
  tests/QS/regtest-rtp-6/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

Stabilize open-shell OH reference SCF (#5808)
  tests/QS/regtest-gauxc-gpw-mol/OH_NATIVE_GPW_PBE_UKS_REFERENCE.inp
  tests/QS/regtest-gauxc-gpw-mol/TEST_FILES.toml
Due: none

TB: Skip MO cubes for k-point wavefunctions (#5828)
  src/qs_scf_post_tb.F
  tests/xTB/regtest-tblite-gfn1-periodic/Si_gfn1_kp_kpsym.inp
Due: doxify, prettify, analyze_src

Enable modified Broyden mixing for DFTB and GFN2 SCC (#5799)
  src/qs_charge_mixing.F
  src/qs_mixing_utils.F
  src/tblite_interface.F
  tests/DFTB/regtest-scc-1-4/TEST_FILES.toml
  tests/DFTB/regtest-scc-1-4/ch2o_cp2k_modified_broyden.inp
  tests/QS/regtest-poisson/He_2d_charged_10A.inp
  tests/QS/regtest-poisson/He_2d_charged_20A.inp
  tests/QS/regtest-poisson/TEST_FILES.toml
  tests/QS/regtest-rtp-6/H2O-rtp-admm-addedmos.inp
  tests/QS/regtest-rtp-6/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn2-1/CH2O_gfn2_cp2k_modified_broyden.inp
  tests/xTB/regtest-tblite-gfn2-1/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Reduce duplicate GFN2 finite-difference checks (#5793)
  tests/xTB/regtest-tblite-gfn2-2/Ar_fcc_gfn2_kp_debug.inp
  tests/xTB/regtest-tblite-gfn2-2/Ar_fcc_gfn2_kp_spglib_backend_debug.inp
  tests/xTB/regtest-tblite-gfn2-2/TEST_FILES.toml
Due: none

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
