Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Add spin-channel-specific mixing parameters (#5061)
  src/qs_density_mixing_types.F
  src/qs_gspace_mixing.F
  src/qs_mixing_utils.F
  tests/QS/regtest-gpw-3/O2-UKS-mixing.inp
  tests/QS/regtest-gpw-3/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Revert "Initialize matrices before parallel_gemm in make_basis_lowdin (#5044)"
  src/qs_mo_methods.F
Due: doxify, prettify, analyze_src

Docker: Switch manual to pdbg
  tools/docker/Dockerfile.test_manual
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/test_manual.sh
Due: shfmt

Toolchain: Avoid additional dependencies of libint
  tools/libint/README.md
  tools/toolchain/install_requirements_fedora.sh
  tools/toolchain/install_requirements_ubuntu.sh
  tools/toolchain/scripts/stage3/install_libint.sh
Due: shfmt

Toolchain: Revert COSMA and COSTA update
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Toolchain: Avoid additional dependencies of libint and rollback COSMA upgrade (#5072)
  tools/libint/README.md
  tools/toolchain/install_requirements_fedora.sh
  tools/toolchain/install_requirements_ubuntu.sh
  tools/toolchain/scripts/stage3/install_libint.sh
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Docker: Switch manual to pdbg (#5074)
  tools/docker/Dockerfile.test_manual
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/test_manual.sh
Due: shfmt

NEGF: xTB added
  src/negf_env_types.F
  src/negf_methods.F
  src/qs_scf_post_tb.F
Due: doxify, prettify, analyze_src

Toolchain: COSMA 2.8.2 -> 2.8.4
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Toolchain: COSMA 2.8.2 -> 2.8.4 (#5076)
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Adjust slow test regtest-rtbse-gxac/h2_pade_ft.inp
  tests/QS/regtest-rtbse-gxac/TEST_FILES.toml
  tests/QS/regtest-rtbse-gxac/h2_pade_ft.inp
Due: none

Do not run tests in QS/regtest-gw with 4 MPI ranks
  tests/TEST_DIRS
Due: none

Adapt tolerances
  tests/QS/regtest-gw-cubic/TEST_FILES.toml
  tests/xTB/regtest-5/TEST_FILES.toml
Due: none

COSMA 2.8.2 -> COSMA 2.8.4 (spack)
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
Due: none

Some fixes and cleanup in matrix handling
  src/xc/xc_gauxc_functional.F
Due: doxify, prettify, analyze_src

NEGF: xTB added
  src/negf_env_types.F
  src/negf_methods.F
  src/qs_ks_methods.F
  src/qs_scf_post_tb.F
  tests/QS/regtest-negf-xtb-1/H28_k.inp
  tests/QS/regtest-negf-xtb-1/TEST_FILES.toml
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Fix GW with larger number of MPI ranks
  src/rpa_gw.F
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Remove leftover testing change
  tests/QS/regtest-xc/PBE_deriv.inc
Due: none

Fix GW with larger number of MPI ranks (#5085)
  src/rpa_gw.F
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Add scientific metadata to openPMD output
  src/input/cp_output_handling_openpmd.F
  src/openpmd_api.F
  src/openpmd_c_api.cpp
  src/pw/realspace_grid_openpmd.F
Due: doxify, prettify, analyze_src, clang-format

Turn off the latest NEGF tests
  tests/TEST_DIRS
Due: none

Turn off the latest NEGF tests (#5087)
  tests/TEST_DIRS
Due: none

Update documentation
  INSTALL.md
  docs/getting-started/build-from-source.md
Due: none

Allow installtion of toolchain and CP2K to be outside the source tree
  tools/toolchain/build_cp2k.sh
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Make pretty
  docs/getting-started/build-from-source.md
  tools/toolchain/build_cp2k.sh
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Update INSTALL.md
  INSTALL.md
Due: none

Updates & Fixes
  docs/getting-started/distributions.md
  tools/toolchain/build_cp2k.sh
Due: shfmt

Apply suggestion from @he-zilong
  tools/toolchain/build_cp2k.sh
Due: shfmt

Add comment about environment tree in build_cp2k.sh
  tools/toolchain/build_cp2k.sh
Due: shfmt

Adjust behavior of CMake generation; force the usage of MPI_F08
  tools/toolchain/build_cp2k.sh
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

Update description at the end
  tools/toolchain/build_cp2k.sh
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Update notes of toolchain; Add shellcheck disabling
  docs/getting-started/build-from-source.md
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

CELL_OPT: implement optimization with fixed cell volume
  src/motion/cell_opt_types.F
  src/motion/gopt_f_methods.F
  src/start/input_cp2k_motion.F
  tests/QS/regtest-spgr/TEST_FILES.toml
  tests/QS/regtest-spgr/quartz-kv-ksg.inp
  tests/xTB/regtest-1/TEST_FILES.toml
  tests/xTB/regtest-1/quartz-kv-ks.inp
  tests/xTB/regtest-1/quartz-kv.inp
Due: doxify, prettify, analyze_src

Errata
  docs/getting-started/build-from-source.md
Due: none
