Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Include CP2K_BLAS_INCLUDE_DIRS in cp2kConfig.cmake (#5701)
  cmake/cp2kConfig.cmake.in
Due: none

Spack v1.2.1 -> v1.2.2 (#5696)
  make_cp2k.sh
Due: shfmt

Align STRUCTURE_DATA dihedral signs with torsion COLVARs (#5717)
  src/particle_methods.F
  tests/matchers.py
  tests/xTB/regtest-3/TEST_FILES.toml
  tests/xTB/regtest-3/h4_torsion_structure_data.inp
Due: doxify, prettify, analyze_src, regen_data

openPMD output: add gridGlobalOffset definition (#5728)
  src/pw/realspace_grid_openpmd.F
Due: doxify, prettify, analyze_src

Stage COSMA MPI transfers through host memory (#5720)
  make_cp2k.sh
  tools/spack/cp2k_deps_p.yaml
Due: shfmt

Revise spack build of libgint (#5702)
  ci/cscs_daint_spack_psmp_h100.yaml
  make_cp2k.sh
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s.yaml
  tools/spack/spack_repo/cp2k_dev/packages/libgint/package.py
Due: shfmt

Remove unused variables (#5693)
  src/ace_c_api.cpp
Due: analyze_src, clang-format

Improve ELPA kernel fallback handling (#5700)
  src/fm/cp_fm_elpa.F
Due: doxify, prettify, analyze_src

Test CUDA 12.9.2 -> 13.1.2 (#5674)
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  make_cp2k.sh
Due: shfmt

Document standard diagonalization and virtual MO output (#5712)
  docs/methods/electronic_structure/molecular_orbitals.md
  src/input_cp2k_print_dft.F
  src/input_cp2k_scf.F
Due: doxify, prettify, analyze_src

make_cp2k.sh: add option for performance test run (#5706)
  make_cp2k.sh
  tools/docker/Dockerfile.test_spack_openmpi-pdbg
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_pdbg-P100
  tools/docker/Dockerfile.test_spack_pdbg-rawhide
  tools/docker/Dockerfile.test_spack_performance-openmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc13
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-gcc16
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rockylinux
  tools/docker/Dockerfile.test_spack_sdbg
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/cp2k-ci.conf
  tools/docker/generate_dockerfiles.py
Due: shfmt

Enable SPLINE3 interpolation for GPW multigrids (#5719)
  src/cp_control_utils.F
  src/input_cp2k_dft.F
  tests/QS/regtest-gpw-8/H2-spline3.inp
  tests/QS/regtest-gpw-8/TEST_FILES.toml
Due: doxify, prettify, analyze_src

CMake/Spack: Enhance OpenBLAS discovery (#5697)
  cmake/modules/FindOpenBLAS.cmake
  cmake/modules/cp2k_utils.cmake
  make_cp2k.sh
Due: shfmt

Fix convention (#5691)
  src/gapw_gspace_reconstruction.F
Due: doxify, prettify, analyze_src

Preserve interfaces before preprocessor directives (#5678)
  tools/precommit/format_fortran_test.py
  tools/precommit/prettify_cp2k/normalizeFortranFile.py
Due: none

Docker: Re-enable libtorch in Generic toolchain tester (#5695)
  tools/docker/Dockerfile.test_generic_psmp
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/cmake_cp2k.sh
Due: shfmt

CMake: Clean up FindMKL.cmake (#5722)
  cmake/modules/FindMKL.cmake
Due: none

Document per-replica NEB wavefunction restarts (#5710)
  docs/methods/restarting.md
Due: none

Move Rocky Linux Spack test to morning window (#5715)
  tools/docker/cp2k-ci.conf
Due: none

Preserve REFTRAJ frame indices in output (#5686)
  src/motion/integrator.F
  tests/Fist/regtest-1-2/TEST_FILES.toml
  tests/Fist/regtest-1-2/reftraj-output-index.inp
  tests/Fist/regtest-1-2/reftraj-output-index.xyz
  tests/matchers.py
Due: doxify, prettify, analyze_src

Fix CPU autograd gradient ownership for repeated SKALA evaluations (#5707)
  src/torch_c_api.cpp
  tests/QS/regtest-gauxc-gapw-gth/H2_GAUXC_SKALA_GAPW_GTH_COMPOSITE.inp
  tests/QS/regtest-gauxc-gapw-gth/TEST_FILES.toml
Due: analyze_src, clang-format

Remove obsolete logic for static build and fix syntax (#5727)
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/generate_dockerfiles.py
Due: none

Document STM image generation and limitations (#5690)
  docs/methods/properties/stm_images.md
Due: none

Move GCC 14 Spack test to morning window (#5714)
  tools/docker/cp2k-ci.conf
Due: none

Update conda docs (#5704)
  docs/getting-started/distributions.md
Due: none

CMake/Spack: Resolve OpenBLAS discovery (#5694)
  cmake/modules/FindBlas.cmake
  cmake/modules/FindOpenBLAS.cmake
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
Due: none

Fix quartic metadynamics wall energy (#5687)
  src/input_cp2k_free_energy.F
  src/metadynamics_utils.F
  tests/Fist/regtest-15/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Document constrained MD and blue-moon estimators (#5689)
  docs/methods/sampling/constrained_dynamics.md
  docs/methods/sampling/index.md
  src/input_cp2k_constraints.F
Due: doxify, prettify, analyze_src

Spack: OpenBLAS 0.3.34, HDF5 2.2.0 (#5705)
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
Due: none

make_cp2k.sh v2.2: add option for convention check (#5768)
  ci/docker/build_cp2k_spack.Dockerfile
  ci/docker/build_deps_spack.Dockerfile
  make_cp2k.sh
  src/input/cp_output_handling_openpmd.F
  src/openpmd_api.F
  src/pw/realspace_grid_openpmd.F
  tools/conventions/conventions.supp
  tools/dashboard/dashboard.conf
  tools/docker/Dockerfile.test_spack_conventions
  tools/docker/Dockerfile.test_spack_gromacs
  tools/docker/Dockerfile.test_spack_openmpi-pdbg
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_pdbg
  tools/docker/Dockerfile.test_spack_pdbg-P100
  tools/docker/Dockerfile.test_spack_pdbg-rawhide
  tools/docker/Dockerfile.test_spack_performance-openmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc13
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-gcc16
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rockylinux
  tools/docker/Dockerfile.test_spack_sdbg
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/cp2k-ci.conf
  tools/docker/generate_dockerfiles.py
Due: doxify, prettify, analyze_src, shfmt

Fix number of arguments for MARK_USED (#5764)
  src/torch_api.F
Due: doxify, prettify, analyze_src

Fix DDAPC forces on empty MPI ranks (#5776)
  src/cp_ddapc_methods.F
  tests/QMMM/QS/regtest-mpi/H-qmmm-ddapc-mpi.inp
  tests/QMMM/QS/regtest-mpi/TEST_FILES.toml
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Check GAPW fragment cube read status (#5752)
  src/qs_cdft_methods.F
Due: doxify, prettify, analyze_src

Optimize native SKALA atom-composite execution (#5759)
  docs/methods/dft/gauxc.md
  src/input_cp2k_xc.F
  src/qs_vxc_atom.F
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
  src/skala_torch_api.F
  src/torch_api.F
  src/torch_c_api.cpp
  tests/QS/regtest-gauxc-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_ATOM_COMPOSITE.inp
Due: doxify, prettify, analyze_src, clang-format

Guard QMMM xTB Gaussian regtest with tblite (#5736)
  tests/QMMM/xTB/regtest-tblite/TEST_FILES.toml
  tests/QMMM/xTB/regtest-tblite/gauss_1.inp
  tests/QMMM/xTB/regtest/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

Make PAO TorchScript models CUDA-device safe (#5726)
  src/pao_model.F
  src/torch_c_api.cpp
  tools/pao-ml/pao/model.py
Due: doxify, prettify, analyze_src, clang-format

Reduce CSCS H100 regtest concurrency (#5791)
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Extend manual (#5737)
  docs/development/code-structure.md
  docs/development/coding-conventions.md
Due: none

nonlocal-pseudopotential contribution to integrated electronic current (#5769)
  src/emd/rt_propagation_output.F
  src/motion/rt_propagation.F
  src/rt_propagation_velocity_gauge.F
  src/rtp_admm_methods.F
  tests/QS/regtest-rtp-1/H2O-current-nl-vg.inp
  tests/QS/regtest-rtp-1/H2O-current-nl.inp
  tests/QS/regtest-rtp-1/TEST_FILES.toml
  tests/QS/regtest-rtp-5/H2O-rtp-addedmos.inp
  tests/QS/regtest-rtp-5/H2O-rtp-admm-addedmos.inp
  tests/QS/regtest-rtp-5/TEST_FILES.toml
  tests/matchers.py
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
