Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

AMPLITUDE section added to EFIELD and fixed issues in Vm-1 and added mathematical formulas in INTENSITY
  src/common/cp_units.F
  src/cp_control_types.F
  src/cp_control_utils.F
  src/efield_utils.F
  src/input_cp2k_field.F
Due: doxify, prettify, analyze_src

QS/regtest-hf-3c: add REFERENCE_FUNCTIONAL PBE for builds without s-dftd3
  tests/QS/regtest-hf-3c/h2o.inp
  tests/QS/regtest-hf-3c/o2.inp
Due: none

qs_dispersion_s_dftd3.F: add stub for dftd3_functional_supported when s-dftd3 not compiled
  src/qs_dispersion_s_dftd3.F
Due: doxify, prettify, analyze_src

QS/regtest-dft-d3bj-lib-ref: add HF3C test with O2 using s-dftd3 library
  tests/QS/regtest-dft-d3bj-lib-ref/TEST_FILES.toml
  tests/QS/regtest-dft-d3bj-lib-ref/o2_dftd3bj_hf3c.inp
Due: none

Fix counter
  src/qs_mo_types.F
Due: doxify, prettify, analyze_src

fixed conversion factors and prettied
  src/common/cp_units.F
  src/input_cp2k_field.F
Due: doxify, prettify, analyze_src

reduced res string to avoid Werror=character-truncation
  src/common/cp_units.F
Due: doxify, prettify, analyze_src

Enable SKALA GAPW pseudopotential energies
  docs/technologies/libraries.md
  src/input_cp2k_xc.F
  src/torch_api.F
  src/torch_c_api.cpp
  src/xc/xc_gauxc_functional.F
  tests/QS/regtest-gauxc/1H2_ONEDFT_PBE.inp
  tests/QS/regtest-gauxc/AR4_NATIVE_SKALA_GPW.inp
  tests/QS/regtest-gauxc/AR4_NATIVE_SKALA_GPW_ATOM_CHUNKS.inp
  tests/QS/regtest-gauxc/AR4_NATIVE_SKALA_GPW_IMAGE_COORDS.inp
  tests/QS/regtest-gauxc/AR4_NATIVE_SKALA_GPW_WRAPPED.inp
  tests/QS/regtest-gauxc/H2O_NATIVE_SKALA_GPW.inp
  tests/QS/regtest-gauxc/H2O_NATIVE_SKALA_GPW_IMAGE_COORDS.inp
  tests/QS/regtest-gauxc/H2O_NATIVE_SKALA_GPW_WRAPPED.inp
  tests/QS/regtest-gauxc/H2P_NATIVE_SKALA_GPW_UKS_PBC_FORCE_DEBUG.inp
  tests/QS/regtest-gauxc/H2_GAPW_SKALA_CDFT.inp
  tests/QS/regtest-gauxc/H2_GAPW_SKALA_ENERGY.inp
  tests/QS/regtest-gauxc/H2_GAPW_SKALA_GTH_ENERGY.inp
  tests/QS/regtest-gauxc/H2_NATIVE_SKALA_GPW.inp
  tests/QS/regtest-gauxc/H2_NATIVE_SKALA_GPW_FORCE.inp
  tests/QS/regtest-gauxc/H2_NATIVE_SKALA_GPW_PBC_FORCE_DEBUG.inp
  tests/QS/regtest-gauxc/H2_ONEDFT_PBE_CDFT.inp
  tests/QS/regtest-gauxc/H2_ONEDFT_PBE_CDFT_CI_NGROUPS.inp
  tests/QS/regtest-gauxc/H2_ONEDFT_PBE_FORCE_DEBUG.inp
  tests/QS/regtest-gauxc/H2_SKALA_CDFT.inp
  tests/QS/regtest-gauxc/H2_SKALA_CDFT_CI.inp
  tests/QS/regtest-gauxc/H2_SKALA_ENERGY.inp
  tests/QS/regtest-gauxc/H2_SKALA_ENERGY_CHUNKED.inp
  tests/QS/regtest-gauxc/HCl_GAPW_SKALA_ECP_ENERGY.inp
  tests/QS/regtest-gauxc/NE4_NATIVE_SKALA_GPW.inp
  tests/QS/regtest-gauxc/NH3_ONEDFT_PBE.inp
  tests/QS/regtest-gauxc/NH3_ONEDFT_PBE_FORCE_DEBUG.inp
  tests/QS/regtest-gauxc/OH_NATIVE_SKALA_GPW_UKS.inp
  tests/QS/regtest-gauxc/OH_NATIVE_SKALA_GPW_UKS_IMAGE_COORDS.inp
  tests/QS/regtest-gauxc/OH_NATIVE_SKALA_GPW_UKS_WRAPPED.inp
  tests/QS/regtest-gauxc/OH_ONEDFT_PBE_UKS.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: doxify, prettify, analyze_src, clang-format

Reorganize dashboard and reduce Spack testing cadence (#5344)
  tools/dashboard/README.md
  tools/dashboard/dashboard.conf
  tools/dashboard/generate_dashboard.py
  tools/docker/cp2k-ci.conf
Due: none

Avoid hard abort for SKALA OpenBLAS link order
  docs/technologies/libraries.md
  src/torch_api.F
  src/torch_c_api.cpp
  src/xc/xc_gauxc_functional.F
Due: doxify, prettify, analyze_src, clang-format

DBM: fixes and code cleanup
  src/dbm/dbm_library.c
  src/dbm/dbm_matrix.c
  src/dbm/dbm_miniapp.c
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_comm.c
  src/dbm/dbm_multiply_comm.h
  src/dbm/dbm_multiply_gpu.c
  src/dbm/dbm_multiply_gpu.h
  src/dbm/dbm_multiply_gpu_kernel.cu
  src/dbm/dbm_shard.c
  src/dbm/dbm_shard.h
Due: analyze_src, clang-format

OFFLOAD: slightly revised init/deinit
  src/offload/offload_api.F
  src/offload/offload_buffer.c
  src/offload/offload_buffer.h
Due: doxify, prettify, analyze_src, clang-format

Fix formatting (make_pretty.sh)
  src/input_cp2k_almo.F
Due: doxify, prettify, analyze_src

Update SKALA GAPW pseudopotential references
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: none

Fix _FRAGMENT_PARAMETER_
  src/input_cp2k_almo.F
Due: doxify, prettify, analyze_src

changed dos_pdos_ldos explicit to dos_pdos explicit. Now the band edges will be printed even when &DOS is not explicit
  src/post_scf_bandstructure_methods.F
  src/post_scf_bandstructure_types.F
  src/post_scf_bandstructure_utils.F
Due: doxify, prettify, analyze_src

Shorten SKALA GAPW pseudopotential regtests
  tests/QS/regtest-gauxc/H2_GAPW_SKALA_GTH_ENERGY.inp
  tests/QS/regtest-gauxc/HCl_GAPW_SKALA_ECP_ENERGY.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: none

Error fixed ALLOCATE (DOS_scf_SOC(n_E)) is now under do_soc
  src/post_scf_bandstructure_utils.F
Due: doxify, prettify, analyze_src

a_bohr and angstrom no longer needed in cp_units
  src/common/cp_units.F
Due: doxify, prettify, analyze_src

Stabilize SKALA CDFT-CI regtest
  tests/QS/regtest-gauxc/H2_SKALA_CDFT_CI.inp
Due: none

OFFLOAD: slightly revised init/deinit (#5352)
  src/offload/offload_api.F
  src/offload/offload_buffer.c
  src/offload/offload_buffer.h
Due: doxify, prettify, analyze_src, clang-format

DBM: fixes and code cleanup (#5353)
  src/dbm/dbm_library.c
  src/dbm/dbm_matrix.c
  src/dbm/dbm_miniapp.c
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_comm.c
  src/dbm/dbm_multiply_comm.h
  src/dbm/dbm_multiply_gpu.c
  src/dbm/dbm_multiply_gpu.h
  src/dbm/dbm_multiply_gpu_kernel.cu
  src/dbm/dbm_shard.c
  src/dbm/dbm_shard.h
Due: analyze_src, clang-format

Restrict SKALA GAPW pseudopotentials to GPW-type kinds
  src/xc/xc_gauxc_functional.F
  tests/QS/regtest-gauxc/H2_GAPW_SKALA_GTH_ENERGY.inp
  tests/QS/regtest-gauxc/HCl_GAPW_SKALA_ECP_ENERGY.inp
  tests/QS/regtest-gauxc/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Implement comments
  src/almo_scf.F
  src/almo_scf_qs.F
  src/input_cp2k_almo.F
  src/mscfg_types.F
  src/qs_environment.F
  src/qs_mo_types.F
  src/subsys/molecule_types.F
Due: doxify, prettify, analyze_src

Make pretty
  src/almo_scf.F
  src/almo_scf_qs.F
  src/input_cp2k_almo.F
  src/mscfg_types.F
  src/qs_environment.F
  src/qs_mo_types.F
Due: doxify, prettify, analyze_src

Fixes, error handling
  src/xc/xc_gauxc_cache.F
  src/xc/xc_gauxc_functional.F
Due: doxify, prettify, analyze_src

Remove unneeded verifications again
  src/xc/xc_gauxc_cache.F
Due: doxify, prettify, analyze_src

CI fixes
  src/xc/xc_gauxc_cache.F
  src/xc/xc_gauxc_functional.F
Due: doxify, prettify, analyze_src

xc/gauxc_cache: set status=0 before early-return on cache hit
  src/xc/xc_gauxc_cache.F
Due: doxify, prettify, analyze_src

Introdue gauxc_cache module
  src/CMakeLists.txt
  src/qs_environment_types.F
  src/xc/xc_gauxc_cache.F
  src/xc/xc_gauxc_functional.F
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src

Proper resource cleanup even in noop variant
  src/xc/xc_gauxc_cache.F
Due: doxify, prettify, analyze_src

Cleanup
  src/xc/xc_gauxc_cache.F
Due: doxify, prettify, analyze_src

Move self_runtime params into cache_params structure
  src/xc/xc_gauxc_cache.F
  src/xc/xc_gauxc_functional.F
Due: doxify, prettify, analyze_src

Add GauXC object caching to avoid redundant creation/destruction
  src/qs_environment_types.F
  src/xc/xc_gauxc_functional.F
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src

Fixes
  src/xc/xc_gauxc_cache.F
  src/xc/xc_gauxc_functional.F
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src

use cache_params also in is_valid function
  src/xc/xc_gauxc_cache.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
