Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

add option to read intensities from file
  tests/QS/regtest-p-efield/H2O-field-file-list.data
  tests/QS/regtest-p-efield/H2O-field-file.inp
Due: regen_data

add missing files to previous commit
  src/cp_control_utils.F
  src/input_cp2k_field.F
  tests/QS/regtest-p-efield/TEST_FILES
Due: doxify, prettify, analyze_src

Complete particles output
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

C bindings for DynamicMemoryView
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/openPMD.F
Due: doxify, prettify, analyze_src, clang-format

Fortran bindings for span API
  src/openPMD.F
Due: doxify, prettify, analyze_src

Write via Span API
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/openPMD.F
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src, clang-format

Formatting
  src/openPMD.F
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

Cleanup, flip extent and offset for C
  src/openPMD.F
Due: doxify, prettify, analyze_src

DBM: print used in addition to committed memory
  src/dbm/dbm_library.c
  src/dbm/dbm_mempool.c
  src/dbm/dbm_mempool.h
Due: analyze_src, clang-format

CMake: resolves inconsistencies with DBCSR
  cmake/cmake_cp2k.sh
  tools/docker/scripts/install_dbcsr.sh
Due: shfmt

DBM: print used in addition to committed memory (#4084)
  src/dbm/dbm_library.c
  src/dbm/dbm_mempool.c
  src/dbm/dbm_mempool.h
Due: analyze_src, clang-format

3D output
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/input/cp_output_handling.F
  src/openPMD.F
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src, clang-format

DBM: adjusted MPI-based memory allocation
  src/dbm/dbm_mpi.c
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

DBM: adjusted MPI-based memory allocation (#4085)
  src/dbm/dbm_mpi.c
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

WIP: Mesh attributes
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/openPMD.F
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src, clang-format

grid spacing
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

Allocate one write buffer per 2D slice, not 1D line
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

Remove Cube output from pw_to_openpmd function
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

adjust formatting
  src/cp_control_utils.F
  tests/QS/regtest-p-efield/H2O-field-file.inp
Due: doxify, prettify, analyze_src

add INTENSITIES_FILE_NAME keyword for periodic efield
  src/cp_control_utils.F
  src/input_cp2k_field.F
  tests/QS/regtest-p-efield/H2O-field-file-list.data
  tests/QS/regtest-p-efield/H2O-field-file.inp
  tests/QS/regtest-p-efield/TEST_FILES.toml
Due: doxify, prettify, analyze_src, regen_data

DBM: allow actual allocation outside of critical section
  src/dbm/dbm_mempool.c
  src/dbm/dbm_mempool.h
  src/dbm/dbm_mpi.c
  src/dbm/dbm_multiply_opencl.c
Due: analyze_src, clang-format

DBM: allow actual allocation outside of critical section (#4088)
  src/dbm/dbm_mempool.c
  src/dbm/dbm_mempool.h
  src/dbm/dbm_mpi.c
  src/dbm/dbm_multiply_opencl.c
Due: analyze_src, clang-format

DBM: adjusted MPI-based memory allocation
  src/dbm/dbm_mpi.c
Due: analyze_src, clang-format

DBM: adjusted MPI-based memory allocation (#4089)
  src/dbm/dbm_mpi.c
Due: analyze_src, clang-format

DBM: solved issues with MPI based memory allocation
  src/dbm/dbm_hyperparams.h
  src/dbm/dbm_mempool.c
  src/dbm/dbm_mpi.c
  src/dbm/dbm_multiply_gpu.c
  src/dbm/dbm_multiply_opencl.c
  src/dbm/dbm_shard.c
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

DBM: solved issues with MPI based memory allocation (#4090)
  src/dbm/dbm_hyperparams.h
  src/dbm/dbm_mempool.c
  src/dbm/dbm_mpi.c
  src/dbm/dbm_multiply_gpu.c
  src/dbm/dbm_multiply_opencl.c
  src/dbm/dbm_shard.c
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

Add minimal Spack/CMake CI pipeline (CSCS Eiger)
  ci/cscs_eiger_spack.yaml
  ci/cscs_eiger_toolchain.yaml
  ci/docker/build_cp2k_spack_psmp.Dockerfile
  ci/docker/build_deps_spack_psmp.Dockerfile
  ci/docker/build_deps_toolchain_psmp.Dockerfile
  ci/spack/cp2k_deps_minimal.yaml
  cmake/cmake_cp2k.sh
Due: shfmt

Combine ARG with ENV
  ci/docker/build_deps_spack_psmp.Dockerfile
  ci/docker/build_deps_toolchain_psmp.Dockerfile
Due: none

Test
  ci/cscs_eiger_spack.yaml
  ci/docker/build_deps_spack_psmp.Dockerfile
  ci/docker/build_deps_toolchain_psmp.Dockerfile
Due: none

Workaround for incorrect variable expansion
  ci/cscs_eiger_spack.yaml
  ci/cscs_eiger_toolchain.yaml
  ci/docker/build_deps_spack_psmp.Dockerfile
Due: none

Add minimal Spack/CMake CI pipeline (CSCS Eiger) (#4091)
  ci/cscs_eiger_spack.yaml
  ci/cscs_eiger_toolchain.yaml
  ci/docker/build_cp2k_spack_psmp.Dockerfile
  ci/docker/build_deps_spack_psmp.Dockerfile
  ci/docker/build_deps_toolchain_psmp.Dockerfile
  ci/spack/cp2k_deps_minimal.yaml
  cmake/cmake_cp2k.sh
Due: shfmt

Fix minimal regression test
  cmake/cmake_cp2k.sh
  tools/docker/scripts/install_dbcsr.sh
  tools/docker/scripts/test_regtest_cmake.sh
Due: shfmt

Disable more dependencies explicitly
  cmake/cmake_cp2k.sh
Due: shfmt

Fix condition
  cmake/cmake_cp2k.sh
Due: shfmt

Fix minimal regression test (#4093)
  cmake/cmake_cp2k.sh
  tools/docker/scripts/install_dbcsr.sh
  tools/docker/scripts/test_regtest_cmake.sh
Due: shfmt

Add CI for full CP2K build with Spack/CMake
  ci/docker/build_cp2k_spack_psmp.Dockerfile
  ci/docker/build_cp2k_toolchain_psmp.Dockerfile
  ci/spack/cp2k_deps_all.yaml
  cmake/cmake_cp2k.sh
Due: shfmt

Set CP2K_BUILD_TYPE to all
  ci/cscs_eiger_spack.yaml
Due: none

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
