Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

handle element aliasing
  src/motion/integrator.F
Due: doxify, prettify, analyze_src

pretty
  src/motion/integrator.F
Due: doxify, prettify, analyze_src

test files
  tests/dimer-md.inp
Due: none

test files
  tests/Fist/regtest-pol/H2O-dimer-dangchang-2.inp
  tests/Fist/regtest-pol/H2O-dimer-ref.inp
  tests/Fist/regtest-pol/TEST_FILES
  tests/dimer-md.inp
Due: none

[SIRIUS] fix bad naming for entropy
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

[PWDFT] Print the free energy (#3336)
  src/force_env_methods.F
  src/pwdft_environment_types.F
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

Fix spectral function for evGW0
  src/rpa_gw.F
Due: doxify, prettify, analyze_src

CMake 3.28.1 -> 3.29.0
  tools/toolchain/scripts/stage0/install_cmake.sh
Due: shfmt

Change build type for spglib from Release to RelWithDebInfo
  tools/toolchain/scripts/stage7/install_spglib.sh
Due: shfmt

remove gcc-runtime from view
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
  tools/spack/cp2k-dependencies.yaml
Due: none

HDF5 1.14.2 -> 1.14.3; use cmake
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
  tools/toolchain/scripts/stage7/install_hdf5.sh
Due: shfmt

Add libsz only if available
  tools/toolchain/scripts/stage7/install_hdf5.sh
Due: shfmt

Update Darwin arch file for HDF5
  arch/Darwin-gnu-arm64.psmp
Due: none

HDF5 rollback to version 1.14.2
  tools/toolchain/scripts/stage7/install_hdf5.sh
Due: shfmt

Upgrade to DLA-Future 0.4.0
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
  tools/spack/cp2k-dependencies.yaml
Due: none

Use upstream spglib interface
  CMakeLists.txt
  cmake/modules/FindLibSPG.cmake
  src/CMakeLists.txt
Due: none

Update spack spglib
  tools/spack/cp2k-dependencies.yaml
Due: none

Improve element comparison in reftraj
  src/motion/integrator.F
  tests/Fist/regtest-pol/H2O-dimer-dangchang-2.inp
  tests/Fist/regtest-pol/H2O-dimer-ref.inp
  tests/Fist/regtest-pol/TEST_FILES
Due: doxify, prettify, analyze_src

Use ninja for build
  tools/fedora/cp2k.spec
Due: none

Enable PR packit trigger
  .packit.yaml
Due: none

Unpackage testing
  tools/fedora/cp2k.spec
Due: none

Move tests to testing-farm
  .fmf/version
  .packit.yaml
  tools/fedora/cp2k.spec
  tools/fedora/plans/full.fmf
  tools/fedora/plans/main.fmf.dist-git
  tools/fedora/tests/do_regtest.sh
  tools/fedora/tests/regression.fmf
Due: shfmt

Update arch files
  arch/CRAY-XC40-gnu.psmp
  arch/CRAY-XC50-gnu.psmp
  arch/JURECA-cpu.psmp
  arch/JURECA-gpu.psmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
Due: none

Ignore Fedora files from pre-commit
  tools/precommit/precommit.py
Due: none

Simplify the build script
  tools/fedora/cp2k.spec
Due: none

Remove elpa requirement
  tools/fedora/cp2k.spec
Due: none

Add all missing flags
  tools/fedora/cp2k.spec
Due: none

Fix OpenMPI run as root
  tools/fedora/tests/regression.fmf
Due: none

[Temp] Remove unittest bundling
  tools/fedora/cp2k.spec
Due: none

do_regtest: allow skipping unit/regression tests
  tests/do_regtest.py
Due: none

Disable libint2 support
  tools/fedora/cp2k.spec
Due: none

do_regtest: Allow to run regression tests outside of build environment
  tests/do_regtest.py
Due: none

Fix testing-farm regression tests
  tools/fedora/tests/do_regtest.sh
Due: shfmt

[Temp] Run only on Fedora-development
  .packit.yaml
Due: none
