Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Adjust slow tests
  tests/QS/regtest-kp-3/TEST_FILES.toml
  tests/QS/regtest-kp-3/cc1.inp
  tests/QS/regtest-kp-3/cc2.inp
  tests/QS/regtest-kp-3/cc3.inp
  tests/QS/regtest-kp-3/cc4.inp
  tests/QS/regtest-kp-3/cc5.inp
  tests/QS/regtest-kp-3/cc6.inp
Due: none

Adjust slow tests (#4907)
  tests/QS/regtest-kp-3/TEST_FILES.toml
  tests/QS/regtest-kp-3/cc1.inp
  tests/QS/regtest-kp-3/cc2.inp
  tests/QS/regtest-kp-3/cc3.inp
  tests/QS/regtest-kp-3/cc4.inp
  tests/QS/regtest-kp-3/cc5.inp
  tests/QS/regtest-kp-3/cc6.inp
Due: none

Toolchain: libint 2.6.0 -> 2.13.1 (#4865)
  tools/toolchain/install_requirements_fedora.sh
  tools/toolchain/install_requirements_ubuntu.sh
  tools/toolchain/scripts/stage3/install_libint.sh
  tools/toolchain/scripts/stage5/install_elpa.sh
Due: shfmt

COSMA 2.7.1 -> 2.8.1 (switch to recent spack packages version)
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
Due: none

Toolchain: use new function to check filename and sha256sum of packages
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/get_openblas_arch.sh
  tools/toolchain/scripts/stage0/install_cmake.sh
  tools/toolchain/scripts/stage0/install_gcc.sh
  tools/toolchain/scripts/stage0/install_ninja.sh
  tools/toolchain/scripts/stage1/install_mpich.sh
  tools/toolchain/scripts/stage1/install_openmpi.sh
  tools/toolchain/scripts/stage2/install_gmp.sh
  tools/toolchain/scripts/stage2/install_openblas.sh
  tools/toolchain/scripts/stage3/install_fftw.sh
  tools/toolchain/scripts/stage3/install_greenx.sh
  tools/toolchain/scripts/stage3/install_libint.sh
  tools/toolchain/scripts/stage3/install_libxc.sh
  tools/toolchain/scripts/stage4/install_cosma.sh
  tools/toolchain/scripts/stage4/install_libxsmm.sh
  tools/toolchain/scripts/stage4/install_scalapack.sh
  tools/toolchain/scripts/stage5/install_elpa.sh
  tools/toolchain/scripts/stage6/install_ace.sh
  tools/toolchain/scripts/stage6/install_deepmd.sh
  tools/toolchain/scripts/stage6/install_gsl.sh
  tools/toolchain/scripts/stage6/install_libtorch.sh
  tools/toolchain/scripts/stage6/install_plumed.sh
  tools/toolchain/scripts/stage7/install_hdf5.sh
  tools/toolchain/scripts/stage7/install_libsmeagol.sh
  tools/toolchain/scripts/stage7/install_libvdwxc.sh
  tools/toolchain/scripts/stage7/install_libvori.sh
  tools/toolchain/scripts/stage7/install_spglib.sh
  tools/toolchain/scripts/stage8/install_dftd4.sh
  tools/toolchain/scripts/stage8/install_mcl.sh
  tools/toolchain/scripts/stage8/install_pugixml.sh
  tools/toolchain/scripts/stage8/install_sirius.sh
  tools/toolchain/scripts/stage8/install_spfft.sh
  tools/toolchain/scripts/stage8/install_spla.sh
  tools/toolchain/scripts/stage8/install_tblite.sh
  tools/toolchain/scripts/stage8/install_trexio.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
  tools/toolchain/scripts/tool_kit.sh
Due: shfmt

Toolchain: COSMA 2.7.0 -> 2.8.1
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Toolchain: HDF5 1.14.6 -> 2.1.0
  tools/toolchain/scripts/stage7/install_hdf5.sh
Due: shfmt

Do not enforce the use of externals with CUDA any longer
  make_cp2k.sh
Due: shfmt

Enable parallel HDF5 and add regtests of HDF5 and QCSCHEMA
  src/hdf5_wrapper.F
  tests/QS/regtest-as-qcschema/TEST_FILES.toml
  tests/QS/regtest-as-qcschema/be.inp
  tests/QS/regtest-as-qcschema/h2o.inp
  tests/TEST_DIRS
  tools/toolchain/scripts/stage7/install_hdf5.sh
Due: doxify, prettify, analyze_src, shfmt

Apply suggestion from @oschuett
  tools/toolchain/scripts/tool_kit.sh
Due: shfmt

Download them from CP2K server
  tools/toolchain/scripts/stage4/install_cosma.sh
  tools/toolchain/scripts/stage7/install_hdf5.sh
Due: shfmt

Remove trailing space
  tools/toolchain/scripts/generate_cmake_options.sh
  tools/toolchain/scripts/stage8/install_dftd4.sh
  tools/toolchain/scripts/stage8/install_spfft.sh
  tools/toolchain/scripts/stage8/install_tblite.sh
Due: shfmt

Toolchain: Updates of COSMA and HDF5 (#4910)
  src/hdf5_wrapper.F
  tests/QS/regtest-as-qcschema/TEST_FILES.toml
  tests/QS/regtest-as-qcschema/be.inp
  tests/QS/regtest-as-qcschema/h2o.inp
  tests/TEST_DIRS
  tools/toolchain/scripts/stage4/install_cosma.sh
  tools/toolchain/scripts/stage7/install_hdf5.sh
Due: doxify, prettify, analyze_src, shfmt

Toolchain: Lower optimization level of KXC functionals of libxc for GCC
  tools/toolchain/scripts/stage3/install_libxc.sh
Due: shfmt

Add CI test inputs for 64 H2O
  benchmarks/CI/H2O-64_md.inp
  benchmarks/CI/H2O-64_md_elpa.inp
Due: none

Optimize resource usage during dependency builds with Spack
  make_cp2k.sh
Due: shfmt

support for res
  src/rixs_methods.F
Due: doxify, prettify, analyze_src

remove dip_f and friends
  src/rixs_methods.F
Due: doxify, prettify, analyze_src

pretty
  src/qs_tddfpt2_methods.F
  src/rixs_methods.F
  src/rixs_types.F
Due: doxify, prettify, analyze_src

add tests
  tests/QS/regtest-rixs/CO-PBE0-res.inp
  tests/QS/regtest-rixs/TEST_FILES.toml
Due: none

remove debug
  src/qs_tddfpt2_methods.F
Due: doxify, prettify, analyze_src

pretty
  tests/QS/regtest-rixs/CO-PBE0-res.inp
Due: none

Drop additional layer of parallelism (make) for building the dependencies with spack
  make_cp2k.sh
Due: shfmt

Add flag for maximum number of packages built by spack
  make_cp2k.sh
Due: shfmt

Fix dashboard issue
  src/fm/cp_fm_cholesky.F
  src/hdf5_wrapper.F
Due: doxify, prettify, analyze_src

Fix dashboard issue of ssmp/sdbg (#4916)
  src/fm/cp_fm_cholesky.F
  src/hdf5_wrapper.F
Due: doxify, prettify, analyze_src

Avoid generating "*_localLog_p*.out" when calculating EEQ charges
  src/eeq_method.F
Due: doxify, prettify, analyze_src

Increase number of packages built in parallel for the CI tester
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
Due: none

ASPC with k-points: Move re-orthogonalization before the extrapolation step
  src/qs_wf_history_methods.F
Due: doxify, prettify, analyze_src

Print EEQ information only when PRINT_LEVEL >= MEDIUM
  src/eeq_method.F
Due: doxify, prettify, analyze_src

Increase time limit
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
Due: none

Vibrational analysis: extend width of data field
  src/motion/vibrational_analysis.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
