Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

pretty
  tests/Fist/regtest-allegro/water-bulk-sp.inp
Due: none

Allegro: Fix parallelization with virials
  src/manybody_allegro.F
  src/manybody_potential.F
Due: doxify, prettify, analyze_src

pretty
  src/manybody_allegro.F
  src/manybody_potential.F
Due: doxify, prettify, analyze_src

keep debug code by wrapping it in IF(.FALSE.) statement
  src/rpa_gw.F
Due: doxify, prettify, analyze_src

remove debug code
  src/rpa_gw.F
Due: doxify, prettify, analyze_src

GW for small unit cells with full k-points (using DFT with k-points) (#3448)
  src/CMakeLists.txt
  src/common/bibliography.F
  src/gw_communication.F
  src/gw_integrals.F
  src/gw_kp_to_real_space_and_back.F
  src/gw_large_cell_gamma.F
  src/gw_main.F
  src/gw_small_cell_full_kp.F
  src/gw_utils.F
  src/input_constants.F
  src/kpoint_coulomb_2c.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/post_scf_bandstructure_methods.F
  src/post_scf_bandstructure_types.F
  src/post_scf_bandstructure_utils.F
  src/qs_ks_methods.F
  src/qs_tensors.F
  src/rpa_gw.F
  src/rpa_gw_sigma_x.F
  src/soc_pseudopotential_methods.F
  tests/QS/regtest-scalable-gw/03_G0W0_bandstructure_IH_chain.inp
  tests/QS/regtest-scalable-gw/04_G0W0_SOC_TeH_chain_open_shell_kp_extrapol.inp
  tests/QS/regtest-scalable-gw/05_G0W0_SOC_TeH_chain_open_shell.inp
  tests/QS/regtest-scalable-gw/TEST_FILES
Due: doxify, prettify, analyze_src

initialize pointers and avoid converion
  src/gw_small_cell_full_kp.F
  src/post_scf_bandstructure_types.F
Due: doxify, prettify, analyze_src

Update front tester to GCC 14.1.0
  arch/Linux-gnu-x86_64.psmp
  tools/toolchain/scripts/stage0/install_gcc.sh
  tools/toolchain/scripts/stage6/install_quip.sh
Due: shfmt

initialize pointers and avoid conversion (#3454)
  src/gw_small_cell_full_kp.F
  src/post_scf_bandstructure_types.F
Due: doxify, prettify, analyze_src

Initialize nkp_bs_and_DOS
  src/post_scf_bandstructure_types.F
Due: doxify, prettify, analyze_src

[toolchain] update spla
  tools/toolchain/scripts/stage8/install_spla.sh
Due: shfmt

Initialize nkp_bs_and_DOS (#3456)
  src/post_scf_bandstructure_types.F
Due: doxify, prettify, analyze_src

Energy decomposition: correct detailed analysis Mulliken core energies: use same decomposition as in ED
  src/ed_analysis.F
  src/qs_energy_utils.F
Due: doxify, prettify, analyze_src

Mulliken energy decomposition: correct for semi-empirical methods
  src/qs_energy_utils.F
Due: doxify, prettify, analyze_src

Pretty
  src/qs_energy_utils.F
Due: doxify, prettify, analyze_src

Add MOLOPT basis sets for Au and Th to Cm
  data/BASIS_MOLOPT_PSI
Due: regen_data

Energy decomposition: correct detailed analysis (#3459)
  src/ed_analysis.F
  src/qs_energy_utils.F
Due: doxify, prettify, analyze_src

Initialize energy array
  src/qs_energy_utils.F
Due: doxify, prettify, analyze_src

i-PI server force evaluation method
  src/CMakeLists.txt
  src/f77_interface.F
  src/force_env_methods.F
  src/force_env_types.F
  src/input_constants.F
  src/input_cp2k_force_eval.F
  src/ipi_environment.F
  src/ipi_environment_types.F
  src/ipi_server.F
  src/start/cp2k_runs.F
Due: doxify, prettify, analyze_src

Initialize energy array (#3461)
  src/qs_energy_utils.F
Due: doxify, prettify, analyze_src

i-PI communication test added
  tests/i-PI/ipi_client.inp
  tests/i-PI/ipi_server.inp
  tools/docker/Dockerfile.test_i-pi_server
  tools/docker/cp2k-ci.conf
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/test_i-pi_server.sh
Due: shfmt

Update arch files (SPLA 1.6.0)
  arch/CRAY-XC40-gnu.psmp
  arch/CRAY-XC50-gnu.psmp
  arch/Darwin-gnu-arm64.psmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64.psmp
Due: none

hfx: express INTENTs, DEALLOCATE data, and cleanup
  src/hfx_energy_potential.F
  src/hfx_load_balance_methods.F
  src/hfx_pair_list_methods.F
Due: doxify, prettify, analyze_src

expressed INTENT and DEALLOCATE local data
  src/cp_dbcsr_operations.F
Due: doxify, prettify, analyze_src

dbm: fixed incorrect leading dimension
  src/dbm/dbm_multiply_cpu.c
Due: analyze_src, clang-format

dbm: use squared epsilon instead of square-root of norm
  src/dbm/dbm_matrix.c
  src/dbm/dbm_multiply_opencl.c
Due: analyze_src, clang-format

Toolchain: cmake 3.29.0 -> 3.29.5
  tools/toolchain/scripts/stage0/install_cmake.sh
Due: shfmt

FM: Bind cp_fm_indxg2p to the struct type
  src/bse_util.F
  src/fm/cp_fm_struct.F
  src/fm/cp_fm_types.F
  src/mp2_ri_2c.F
  src/mp2_ri_grad.F
  src/mp2_ri_grad_util.F
  src/rpa_communication.F
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

FM: Bind cp_fm_indxg2l to cp_fm_struct_type
  src/bse_util.F
  src/fm/cp_fm_struct.F
  src/fm/cp_fm_types.F
  src/mp2_ri_grad.F
  src/mp2_ri_grad_util.F
  src/rpa_communication.F
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

AXK: Refactor allocation of dbcsr matrices of exchange calculations
  src/rpa_axk.F
Due: doxify, prettify, analyze_src

AXK: Refactor dbcsr_gamma_3
  src/rpa_axk.F
Due: doxify, prettify, analyze_src

AXK: Refactor calculation of exchange
  src/rpa_axk.F
Due: doxify, prettify, analyze_src

AXK: Extend AXK to open-shell systems
  src/rpa_axk.F
  src/rpa_main.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
