Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Update dashboard
  tools/dashboard/dashboard.conf
Due: none

Update toolchain for Cray
  arch/CRAY-XC40-gnu.psmp
  arch/CRAY-XC50-gnu.psmp
  tools/toolchain/scripts/stage3/install_fftw.sh
  tools/toolchain/scripts/stage7/install_libvdwxc.sh
Due: shfmt

Update gcc compile flags
  tools/toolchain/scripts/stage0/install_gcc.sh
Due: shfmt

Update gcc compile flags
  tools/toolchain/scripts/stage0/setup_buildtools.sh
Due: shfmt

Remove unused compile flag settings
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Another fix
  src/pw/gpu/pw_gpu_internal.cc
  src/pw/gpu/pw_gpu_internal.hpp
Due: analyze_src, clang-format

RI_HFX| Simplification/optimization of trace for force evaluations
  src/hfx_ri.F
Due: doxify, prettify, analyze_src

Fix for fft performance regression
  src/grid/cpu/collocation_integration.c
  src/grid/cpu/collocation_integration.h
  src/pw/gpu/cuda/cuda_fft_private_header.hpp
  src/pw/gpu/cuda/pw_cuda_z.cu
  src/pw/gpu/hip/hip_fft_private_header.hpp
  src/pw/gpu/kernels/pw_kernels.hpp
  src/pw/gpu/pw_gpu_internal.cc
  src/pw/gpu/pw_gpu_internal.hpp
Due: analyze_src, clang-format

Update Fugaku arch file and remove K
  arch/Fugaku-fujitsu-minimal.psmp
  arch/K-computer.psmp
Due: none

fix [SC2006](https://github.com/koalaman/shellcheck/wiki/SC2006)
  benchmarks/QS_single_node/do_benchmark
  tools/hfx_tools/contraction/create
  tools/regtesting/do_regtest
Due: none

fix [SC2039](https://github.com/koalaman/shellcheck/wiki/SC2039)
  tools/manual/update_manual
Due: none

fix [SC2071](https://github.com/koalaman/shellcheck/wiki/SC2071)
  tools/regtesting/do_regtest
Due: none

fix [SC2173](https://github.com/koalaman/shellcheck/wiki/SC2173)
  tools/regtesting/do_regtest
Due: none

openmp compilation fix
  src/grid/cpu/grid_collocate_dgemm.c
  src/grid/cpu/grid_integrate_dgemm.c
  src/grid/cpu/non_orthorombic_corrections.c
Due: analyze_src, clang-format

Fix various shellcheck warnings
  benchmarks/QS_single_node/do_benchmark
  tools/hfx_tools/contraction/create
  tools/manual/update_manual
  tools/regtesting/do_regtest
Due: none

DBT: Workaround CCE error
  src/dbt/tas/dbt_tas_test.F
Due: doxify, prettify, analyze_src

Toolchain: Fix install_cmake.sh for unsupported architectures
  tools/toolchain/scripts/stage0/install_cmake.sh
Due: shfmt

Docker: Towards generated Dockerfiles
  .dockerignore
  tools/docker/Dockerfile.test_gcc10
  tools/docker/Dockerfile.test_gcc7
  tools/docker/Dockerfile.test_gcc8
  tools/docker/Dockerfile.test_gcc9
  tools/docker/Dockerfile.test_i386
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/test_python.sh
Due: shfmt

Replace cp_gemm + fm_to_dbcsr by cp_dbcsr_plus_fm_fm_t in qs_tddfpt2_fhxc
  src/qs_tddfpt2_fhxc.F
Due: doxify, prettify, analyze_src

TDDFPT output information of options
  src/cp_control_types.F
  src/input_cp2k_xc.F
  src/qs_tddfpt2_methods.F
  src/xc_write_output.F
Due: doxify, prettify, analyze_src

TDDFPT stda kernel Ewald default: now depends on CELL periodicity
  src/cp_control_types.F
  src/cp_control_utils.F
  src/qs_environment.F
  tests/QS/regtest-polar/TEST_FILES
  tests/QS/regtest-polar/xTB_LRraman.inp
  tests/QS/regtest-polar/xTB_LRraman_loc.inp
  tests/QS/regtest-tddfpt-stda/TEST_FILES
  tests/TEST_DIRS
  tests/xTB/regtest-2/H2O-field-gopt.inp
  tests/xTB/regtest-2/HF-field-gopt.inp
  tests/xTB/regtest-2/HF-loc-field-debug.inp
  tests/xTB/regtest-2/TEST_FILES
  tests/xTB/regtest-3/H2O-geo-pdos.inp
  tests/xTB/regtest-3/TEST_FILES
Due: doxify, prettify, analyze_src

Relax checks for vibrational transformation matrix (detect linear molecules more easily)
  src/motion/vibrational_analysis.F
  src/motion_utils.F
Due: doxify, prettify, analyze_src

Add hfxlr and exck kernel flags
  src/cp_control_types.F
  src/qs_tddfpt2_methods.F
Due: doxify, prettify, analyze_src

Molecular Dipoles from Voronoi Integration
  src/input_cp2k_dft.F
  src/input_cp2k_ec.F
  src/input_cp2k_voronoi.F
  src/voronoi_interface.F
  tests/QS/regtest-ec/HF2_ec_voronoi.inp
  tests/QS/regtest-ec/TEST_FILES
  tests/QS/regtest-gpw-1/TEST_FILES
  tests/QS/regtest-gpw-1/moldip_voronoi.inp
  tests/QS/regtest-mp2-grad/HF_dipole.inp
  tests/QS/regtest-mp2-grad/TEST_FILES
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Change Vibrational intensities to KM/Mole units.
  src/molden_utils.F
  src/motion/vibrational_analysis.F
Due: doxify, prettify, analyze_src

Several small updates (#1916)
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_dft.F
  src/input_cp2k_ec.F
  src/input_cp2k_voronoi.F
  src/input_cp2k_xc.F
  src/molden_utils.F
  src/motion/vibrational_analysis.F
  src/motion_utils.F
  src/qs_environment.F
  src/qs_tddfpt2_fhxc.F
  src/qs_tddfpt2_methods.F
  src/voronoi_interface.F
  src/xc_write_output.F
  tests/QS/regtest-ec/HF2_ec_voronoi.inp
  tests/QS/regtest-ec/TEST_FILES
  tests/QS/regtest-gpw-1/TEST_FILES
  tests/QS/regtest-gpw-1/moldip_voronoi.inp
  tests/QS/regtest-mp2-grad/HF_dipole.inp
  tests/QS/regtest-mp2-grad/TEST_FILES
  tests/QS/regtest-polar/TEST_FILES
  tests/QS/regtest-polar/xTB_LRraman.inp
  tests/QS/regtest-polar/xTB_LRraman_loc.inp
  tests/QS/regtest-tddfpt-stda/TEST_FILES
  tests/TEST_DIRS
  tests/xTB/regtest-2/H2O-field-gopt.inp
  tests/xTB/regtest-2/HF-field-gopt.inp
  tests/xTB/regtest-2/HF-loc-field-debug.inp
  tests/xTB/regtest-2/TEST_FILES
  tests/xTB/regtest-3/H2O-geo-pdos.inp
  tests/xTB/regtest-3/TEST_FILES
Due: doxify, prettify, analyze_src

Docker: Generate dockerfiles for testing CUDA and HIP
  tools/docker/Dockerfile.test_cuda_A100
  tools/docker/Dockerfile.test_cuda_P100
  tools/docker/Dockerfile.test_cuda_V100
  tools/docker/Dockerfile.test_gcc10
  tools/docker/Dockerfile.test_gcc7
  tools/docker/Dockerfile.test_gcc8
  tools/docker/Dockerfile.test_gcc9
  tools/docker/Dockerfile.test_hip_cuda_A100
  tools/docker/Dockerfile.test_hip_cuda_P100
  tools/docker/Dockerfile.test_hip_cuda_V100
  tools/docker/Dockerfile.test_hip_rocm_Mi100
  tools/docker/Dockerfile.test_hip_rocm_Mi50
  tools/docker/Dockerfile.test_performance_cuda_A100
  tools/docker/Dockerfile.test_performance_cuda_P100
  tools/docker/Dockerfile.test_performance_cuda_V100
  tools/docker/generate_dockerfiles.py
Due: none

Remove deprecated HIP functions
  src/offload/offload_hip_internal.h
Due: analyze_src, clang-format

Remove deprecated HIP functions (#1918)
  src/offload/offload_hip_internal.h
Due: analyze_src, clang-format

GAPW Voronoi integration speed up some xTB tests (new default Ewald)
  src/voronoi_interface.F
  tests/QS/regtest-gapw/HF_all_voronoi.inp
  tests/QS/regtest-gapw/HF_voronoi.inp
  tests/QS/regtest-gapw/TEST_FILES
  tests/TEST_DIRS
  tests/xTB/regtest-1/TEST_FILES
  tests/xTB/regtest-1/ghost.inp
  tests/xTB/regtest-1/h2.inp
  tests/xTB/regtest-1/h2_kab.inp
Due: doxify, prettify, analyze_src
