Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Allow SPGLIB reduction with K290 backend
  src/cryssym.F
  src/input_cp2k_kpoints.F
  src/kpoint_types.F
Due: doxify, prettify, analyze_src

Fix k-point symmetry doxify comment
  src/cryssym.F
Due: doxify, prettify, analyze_src

Guard DFT k-points for MP2 and GW
  src/qs_environment.F
Due: doxify, prettify, analyze_src

Add RPA k-point symmetry guard test
  tests/QS/regtest-rpa-cubic-scaling/RPA_kpoints_H2O_kpsym.inp
  tests/QS/regtest-rpa-cubic-scaling/TEST_FILES.toml
Due: none

Guard response methods with k-points
  src/qs_environment.F
Due: doxify, prettify, analyze_src

Make SPGLIB complex wavefunction test explicit
  tests/QS/regtest-kp-1/h_fcc_spglib_backend.inp
Due: none

Add k-point symmetry backends and guards (#5124)
  src/cryssym.F
  src/input_cp2k_kpoints.F
  src/kpoint_methods.F
  src/kpoint_types.F
  src/qs_active_space_methods.F
  src/qs_basis_rotation_methods.F
  src/qs_environment.F
  tests/DFTB/regtest-nonscc/TEST_FILES.toml
  tests/DFTB/regtest-nonscc/si_kp1_spglib_backend.inp
  tests/DFTB/regtest-scc/TEST_FILES.toml
  tests/QS/regtest-as-1/TEST_FILES.toml
  tests/QS/regtest-as-1/h2o_gpw_pade_gamma_kpoints.inp
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/QS/regtest-kp-1/c_gapw_spglib_backend.inp
  tests/QS/regtest-kp-1/c_gapwxc_spglib_backend.inp
  tests/QS/regtest-kp-1/c_spglib_backend_gamma_real_wfn.inp
  tests/QS/regtest-kp-1/h_fcc_macdonald_spglib_backend.inp
  tests/QS/regtest-kp-1/h_fcc_spglib_backend.inp
  tests/QS/regtest-kp-1/h_fcc_spglib_backend_4.inp
  tests/QS/regtest-kp-1/h_hex_c3_sym_red.inp
  tests/QS/regtest-rpa-cubic-scaling/RPA_kpoints_H2O_kpsym.inp
  tests/QS/regtest-rpa-cubic-scaling/TEST_FILES.toml
  tests/xTB/regtest-3/TEST_FILES.toml
  tests/xTB/regtest-3/si_kp_kpsym.inp
  tests/xTB/regtest-3/si_kp_spglib_backend.inp
Due: doxify, prettify, analyze_src

Support all 2D periodicities for the Wavelet Poisson solver (#5122)
  src/input_cp2k_poisson.F
  src/pw/ps_wavelet_methods.F
  src/pw/ps_wavelet_types.F
  src/pw_env_methods.F
  src/pw_poisson_read_input.F
  tests/QS/regtest-gpw-4/H2O_wavelet_XY.inp
  tests/QS/regtest-gpw-4/H2O_wavelet_YZ.inp
  tests/QS/regtest-gpw-4/TEST_FILES.toml
  tests/SLOW_TESTS_SUPPRESSIONS
Due: doxify, prettify, analyze_src

GAPW: reuse projection work arrays
  src/qs_linres_atom_current.F
  src/qs_oce_methods.F
  src/qs_rho_atom_methods.F
Due: doxify, prettify, analyze_src

XC: make fine-grid factor configurable
  src/input_cp2k_xc.F
  src/pw_env_methods.F
Due: doxify, prettify, analyze_src

GAPW: support accurate Fine-XC integration
  src/input_cp2k_xc.F
  tests/QS/regtest-acc-1/TEST_FILES.toml
  tests/QS/regtest-acc-1/h2o_fine_xc.inp
  tests/QS/regtest-acc-5/TEST_FILES.toml
  tests/QS/regtest-acc-5/h2o_f01_pbe_fine_xc.inp
  tests/QS/regtest-gapw/Be_GAPW_fine_xc.inp
  tests/QS/regtest-gapw/TEST_FILES.toml
Due: doxify, prettify, analyze_src

GAPW: skip inactive core AE set pairs
  src/core_ae.F
Due: doxify, prettify, analyze_src

XC: cover fine-grid factor alias
  src/input_cp2k_xc.F
  tests/QS/regtest-acc-1/h2o_fine_xc.inp
  tests/QS/regtest-gapw/Be_GAPW_fine_xc.inp
Due: doxify, prettify, analyze_src

GAPW: document accurate XC integration direction
  src/input_cp2k_qs.F
Due: doxify, prettify, analyze_src

GAPW: record accurate XC default-readiness coverage
  tests/QS/GAPW_ACCURATE_XCINT_COVERAGE.md
Due: none

GAPW: adapt accurate XC tau cache calls
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

GAPW: finalize accurate XC stress coverage
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

GAPW: prettify fine XC regtest input
  tests/QS/regtest-acc-5/h2o_f01_pbe_fine_xc.inp
Due: none

GAPW: warn for local stress cube output
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

GAPW: extend accurate XC default readiness
  src/input_cp2k_print_dft.F
  src/kg_correction.F
  tests/QS/regtest-acc-2/TEST_FILES.toml
  tests/QS/regtest-acc-2/h2o-admm-gapw-pbe-stress-debug-1.inp
  tests/QS/regtest-kg/H2_H2O-kglri-gapw.inp
  tests/QS/regtest-kg/H2_H2O-kglri-gapw_xc.inp
  tests/QS/regtest-kg/TEST_FILES.toml
Due: doxify, prettify, analyze_src

GAPW: extend accurate XC stress coverage
  tests/QS/regtest-acc-1/TEST_FILES.toml
  tests/QS/regtest-acc-1/h2o-fine-tpss-full-stress-debug-1.inp
  tests/QS/regtest-acc-1/h2o-gapw-pbe-full-stress-debug-1.inp
  tests/QS/regtest-acc-1/h2o-gapw_xc-full-stress-debug-1.inp
  tests/QS/regtest-acc-2/TEST_FILES.toml
  tests/QS/regtest-acc-2/h2o-admm-gapw-pbe-fine-full-stress-debug-1.inp
  tests/QS/regtest-kg/H2-libxc-gapw-stress.inp
  tests/QS/regtest-kg/H2-libxc-gapw_xc-stress.inp
  tests/QS/regtest-kg/H2_H2O-kglri-gapw-stress.inp
  tests/QS/regtest-kg/H2_H2O-kglri-gapw_xc-stress.inp
  tests/QS/regtest-kg/H2_KG-1-gapw-stress.inp
  tests/QS/regtest-kg/H2_KG-1-gapw_xc-stress.inp
  tests/QS/regtest-kg/TEST_FILES.toml
Due: none

GAPW: extend accurate XC special-case coverage
  tests/QS/regtest-acc-1/Ar-kpoints-gapw-accurate.inp
  tests/QS/regtest-acc-1/C-kpoints-gapw_xc-accurate.inp
  tests/QS/regtest-acc-1/argon-rvv10-gapw-accurate.inp
  tests/QS/regtest-acc-2/HF-ec4.inp
  tests/QS/regtest-acc-2/HF-ec5.inp
  tests/QS/regtest-acc-2/HF-ec6.inp
  tests/QS/regtest-acc-2/HF-ec7.inp
  tests/QS/regtest-acc-2/O2-admmq-gapw-open-shell-accurate-stress.inp
  tests/QS/regtest-acc-2/TEST_FILES.toml
  tests/QS/regtest-acc-3/CH3-PBE-uks-xastdp-gapw-accurate.inp
  tests/QS/regtest-acc-3/TEST_FILES.toml
  tests/QS/regtest-acc-3/h2-rtbse-gapw-accurate.inp
Due: none

GAPW: avoid rho atom scratch copies
  src/qs_rho_atom_methods.F
Due: doxify, prettify, analyze_src

GAPW: cover optB88 nonlocal vdW
  tests/QS/regtest-acc-1/argon-vdW-DF-optB88-gapw-accurate.inp
Due: none

GAPW: support KG meta-GGA embedding
  src/cp_control_utils.F
  src/kg_correction.F
  tests/QS/regtest-kg/H2-kg-mgga-gapw-stress.inp
  tests/QS/regtest-kg/H2-kg-mgga-gapw_xc-stress.inp
  tests/QS/regtest-kg/TEST_FILES.toml
Due: doxify, prettify, analyze_src

GAPW: keep accurate stress coverage fast
  tests/QS/regtest-acc-1/h2o-fine-tpss-full-stress-1.inp
  tests/QS/regtest-acc-1/h2o-gapw_xc-full-stress-1.inp
  tests/QS/regtest-acc-2/O2-admmq-gapw-open-shell-accurate-stress.inp
  tests/QS/regtest-acc-2/TEST_FILES.toml
  tests/QS/regtest-acc-2/h2o-admm-gapw-pbe-fine-full-stress-1.inp
Due: none

GAPW: fix accurate XC pretty checks
  src/kg_correction.F
Due: doxify, prettify, analyze_src

Diagonalization: add opt-in direct generalized eigensolvers
  src/environment.F
  src/fm/cp_cfm_diag.F
  src/fm/cp_fm_cusolver.c
  src/fm/cp_fm_diag.F
  src/global_types.F
  src/input_cp2k_global.F
  src/qs_scf_diagonalization.F
  src/qs_scf_initialization.F
  tests/QS/regtest-cusolver/Si8-generalized.inp
  tests/QS/regtest-cusolver/TEST_FILES.toml
  tests/QS/regtest-scalapack-generalized/TEST_FILES.toml
  tests/QS/regtest-scalapack-generalized/complex_kp.inp
  tests/QS/regtest-scalapack-generalized/real_kp.inp
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src, clang-format

Toolchain: allow DBCSR CUDA 13 deprecation warnings
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

Precommit: prettify generalized diagonalization changes
  src/fm/cp_fm_diag.F
  src/qs_scf_diagonalization.F
  src/qs_scf_initialization.F
  tests/QS/regtest-scalapack-generalized/complex_kp.inp
  tests/QS/regtest-scalapack-generalized/real_kp.inp
Due: doxify, prettify, analyze_src

cuSolverMP: diagnose unsupported local NCCL rank mapping
  src/fm/cp_fm_cusolver.c
Due: analyze_src, clang-format

Toolchain: add NVIDIA GB10 GPU architecture
  CMakeLists.txt
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

Build: fix DLAF Fortran integration
  CMakeLists.txt
  src/CMakeLists.txt
  tests/QS/regtest-dlaf/H2O-6.inp
  tests/QS/regtest-dlaf/c_2.inp
Due: none

Diagonalization: cover generalized cuSOLVERMp checks
  CMakeLists.txt
  docs/technologies/eigensolvers/cusolvermp.md
  src/fm/cp_cfm_diag.F
  src/fm/cp_fm_cusolver.c
  src/fm/cp_fm_cusolver_api.F
  src/fm/cp_fm_diag.F
  src/input_cp2k_global.F
  tests/QS/regtest-cusolver/Si8-generalized-complex.inp
  tests/QS/regtest-cusolver/TEST_FILES.toml
Due: doxify, prettify, analyze_src, clang-format

Use parallel GEMM in generalized diagonalization check
  src/fm/cp_fm_diag.F
Due: doxify, prettify, analyze_src

Fix real DLAF generalized diagonalization workspace
  src/fm/cp_fm_diag.F
  src/fm/cp_fm_dlaf_api.F
  tests/QS/regtest-dlaf/TEST_FILES.toml
  tests/QS/regtest-dlaf/real_kp.inp
Due: doxify, prettify, analyze_src

Build: improve NVIDIA HPC SDK integration
  CMakeLists.txt
  cmake/CompilerConfiguration.cmake
  cmake/modules/FindSCALAPACK.cmake
  cmake/modules/Finducc.cmake
  cmake/modules/cp2k_utils.cmake
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage4/install_cusolvermp.sh
  tools/toolchain/scripts/stage4/install_stage4.sh
Due: shfmt

Diagonalization: gate DLAF generalized solver with direct flag
  src/environment.F
  src/fm/cp_cfm_diag.F
  src/fm/cp_fm_diag.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
