Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

add dlaf reference
  src/common/bibliography.F
  src/environment.F
Due: doxify, prettify, analyze_src

Add reference for DLA-Future
  src/common/bibliography.F
  src/environment.F
Due: doxify, prettify, analyze_src

Drop compiler flag -march for build
  tools/toolchain/scripts/stage0/setup_buildtools.sh
Due: shfmt

Fix typos in keyword description
  src/input_cp2k_dft.F
Due: doxify, prettify, analyze_src

docker: intel oneapi and gnu based build
  tools/docker/Dockerfile.intel
Due: none

Allegro: Fix parallelization with virials
  src/manybody_allegro.F
  src/manybody_potential.F
Due: doxify, prettify, analyze_src

pretty
  src/manybody_allegro.F
  src/manybody_potential.F
Due: doxify, prettify, analyze_src

Bump macOS test to GCC version 14
  arch/Darwin-gnu-arm64.psmp
  tools/toolchain/scripts/stage4/install_scalapack.sh
  tools/toolchain/scripts/stage7/install_libvdwxc.sh
Due: shfmt

Turn cp_dbcsr_api into an actual wrapper
  src/almo_scf_lbfgs_types.F
  src/cp_dbcsr_cp2k_link.F
  src/dbt/dbt_methods.F
  src/dbx/cp_dbcsr_api.F
  src/pexsi_methods.F
  src/transport.F
Due: doxify, prettify, analyze_src

GW for small unit cells with full k-points (using DFT with k-points)
  src/CMakeLists.txt
  src/common/bibliography.F
  src/gw_communication.F
  src/gw_integrals.F
  src/gw_kp_to_real_space_and_back.F
  src/gw_large_cell_gamma.F
  src/gw_main.F
  src/gw_small_cell_full_kp.F
  src/gw_utils.F
  src/input_constants.F
  src/kpoint_coulomb_2c.F
  src/mp2_ri_2c.F
  src/post_scf_bandstructure_methods.F
  src/post_scf_bandstructure_types.F
  src/post_scf_bandstructure_utils.F
  src/qs_ks_methods.F
  src/qs_tensors.F
  src/rpa_gw.F
  src/rpa_gw_sigma_x.F
  src/soc_pseudopotential_methods.F
  tests/QS/regtest-scalable-gw/03_G0W0_bandstructure_IH_chain.inp
  tests/QS/regtest-scalable-gw/04_G0W0_SOC_TeH_chain_open_shell_kp_extrapol.inp
  tests/QS/regtest-scalable-gw/05_G0W0_SOC_TeH_chain_open_shell.inp
  tests/QS/regtest-scalable-gw/TEST_FILES
Due: doxify, prettify, analyze_src

fix reallocate issue
  src/gw_small_cell_full_kp.F
Due: doxify, prettify, analyze_src

add gw_integrals.F to CMakeLists.txt
  src/CMakeLists.txt
Due: none

add gw_kp_to_real_space_and_back.F to CMakeLists.txt
  src/CMakeLists.txt
Due: none

make RI regularization more robust
  src/qs_tensors.F
Due: doxify, prettify, analyze_src

fix truncation radius for exchange
  src/gw_utils.F
  src/mp2_ri_2c.F
Due: doxify, prettify, analyze_src

Replace dbcsr_copy_into_existing(...) with dbcsr_copy(..., keep_sparsity=.TRUE.)
  src/almo_scf_qs.F
  src/dbx/cp_dbcsr_api.F
  src/dm_ls_scf_qs.F
  src/emd/rt_propagation_utils.F
  src/mp2_ri_grad.F
  src/pao_methods.F
  src/pexsi_methods.F
  src/qs_energy_window.F
  src/transport.F
Due: doxify, prettify, analyze_src

Remove keep_sparsity option from dbcsr_complete_redistribute
  src/almo_scf.F
  src/almo_scf_optimizer.F
  src/almo_scf_qs.F
  src/cp_dbcsr_operations.F
  src/dbx/cp_dbcsr_api.F
Due: doxify, prettify, analyze_src

fix coding error in regularization
  src/qs_tensors.F
Due: doxify, prettify, analyze_src

Update .gitignore
  .gitignore
Due: none

init cell index and nimages before using it
  src/gw_large_cell_gamma.F
  src/gw_utils.F
  src/mp2_ri_2c.F
Due: doxify, prettify, analyze_src

update TEST_FILES for fix in nimages
  tests/QS/regtest-scalable-gw/TEST_FILES
Due: none

rescale 3c integrals by factor 0.5 to fix kpoints in cubic-scaling RPA
  src/mp2_integrals.F
  src/mp2_ri_2c.F
Due: doxify, prettify, analyze_src

reduced models & removed water-bulk-dp.inp energy and water-gra-film-sp.inp regtests
  data/Allegro/gra-water-deployed-neq060sp.pth
  data/Allegro/si-deployed-neq060dp.pth
  data/NequIP/water-deployed-neq060dp.pth
  data/NequIP/water-deployed-neq060sp.pth
  src/nequip_unittest.F
  tests/Fist/regtest-allegro/Si-dp.inp
  tests/Fist/regtest-allegro/TEST_FILES
  tests/Fist/regtest-allegro/water-bulk-sp.inp
  tests/Fist/regtest-allegro/water-gra-film-sp.inp
  tests/Fist/regtest-allegro/water-gra-film.xyz
  tests/Fist/regtest-nequip/TEST_FILES
Due: doxify, prettify, analyze_src, regen_data

pretty
  tests/Fist/regtest-allegro/water-bulk-sp.inp
Due: none

ED analysis : split PP term according to original proposal for core potential
  src/core_ae.F
  src/core_ppl.F
  src/core_ppnl.F
  src/ed_analysis.F
  src/qs_core_hamiltonian.F
Due: doxify, prettify, analyze_src

Fix memory leak
  src/ed_analysis.F
Due: doxify, prettify, analyze_src

ED analysis : split PP term according to original proposal for core p… (#3452)
  src/core_ae.F
  src/core_ppl.F
  src/core_ppnl.F
  src/ed_analysis.F
  src/qs_core_hamiltonian.F
Due: doxify, prettify, analyze_src

deallocate previously allocated cell_to_index and index_to_cell
  src/mp2_integrals.F
  src/post_scf_bandstructure_utils.F
Due: doxify, prettify, analyze_src
