Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Adjust threshold
  tests/QS/regtest-sos-mp2-grad/TEST_FILES
Due: none

Adjust threshold (#2214)
  tests/QS/regtest-sos-mp2-grad/TEST_FILES
Due: none

RI-RPA| Allow for XC correction in ADMM RI-RPA
  src/hfx_admm_utils.F
  src/hfx_types.F
  src/input_cp2k_mp2.F
  src/mp2.F
  src/mp2_cphf.F
  src/mp2_setup.F
  src/mp2_types.F
  src/qs_2nd_kernel_ao.F
  src/qs_environment.F
  src/qs_force.F
  src/qs_kpp1_env_methods.F
  src/qs_linres_kernel.F
  src/qs_p_env_methods.F
  src/qs_tddfpt2_fhxc_forces.F
  src/qs_tddfpt2_forces.F
  src/qs_tddfpt2_methods.F
  src/response_solver.F
  src/rpa_gw_sigma.F
  src/rpa_hfx.F
  src/rpa_im_time_force_methods.F
  src/rpa_rse.F
  src/rtp_admm_methods.F
  src/xas_tdp_correction.F
  tests/QS/regtest-gw-cubic/G0W0_OH_PBE_ADMM.inp
  tests/QS/regtest-gw-cubic/TEST_FILES
  tests/QS/regtest-gw-kpoints/TEST_FILES
  tests/QS/regtest-gw/G0W0_H2O_PBE_ADMM.inp
  tests/QS/regtest-gw/TEST_FILES
  tests/QS/regtest-rpa-cubic-scaling-2/1q
  tests/QS/regtest-rpa-cubic-scaling-2/TEST_FILES
  tests/QS/regtest-rpa-cubic-scaling/Cubic_RPA_H2O_admm.inp
  tests/QS/regtest-rpa-cubic-scaling/TEST_FILES
Due: doxify, prettify, analyze_src

install_cosma: use a pre-release, just for testing!
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

update sha256
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Bump COSMA to version 2.6.1
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Bump COSMA to version 2.6.1 (#2217)
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Update arch files (COSMA 2.6.1)
  arch/CRAY-XC40-gnu.psmp
  arch/CRAY-XC50-gnu.psmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64.psmp
Due: none

toolchain: Enable NCCL for COSMA
  tools/toolchain/scripts/generate_arch_files.sh
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Add periodicity cell printout
  src/cell_methods.F
  src/pw_env_methods.F
Due: doxify, prettify, analyze_src

Fix build with shared libs
  tools/toolchain/scripts/stage6/install_plumed.sh
Due: shfmt

RPA| limit time spent for low-scaling regtests
  tests/QS/regtest-rpa-cubic-scaling-2/CH3_md_admm.inp
  tests/QS/regtest-rpa-cubic-scaling-2/CH3_md_periodic.inp
  tests/QS/regtest-rpa-cubic-scaling-2/TEST_FILES
Due: none

XAS_TDP| Allow the dumping of an excited state AMEW into a restart file
  src/input_cp2k_dft.F
  src/xas_tdp_methods.F
Due: doxify, prettify, analyze_src

Fix threshold
  tests/QS/regtest-rpa-cubic-scaling-2/TEST_FILES
Due: none

automatically extrapolate k-point mesh size for periodic GW calculations
  src/hfx_types.F
  src/input_cp2k_mp2.F
  src/kpoint_coulomb_2c.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_gw_kpoints.F
  tests/QS/regtest-rpa-cubic-scaling/RPA_kpoints_H2O.inp
  tests/QS/regtest-rpa-cubic-scaling/RPA_kpoints_H2O_batched.inp
Due: doxify, prettify, analyze_src

update GW reference values for k-point extrapolation
  tests/QS/regtest-gw-kpoints/TEST_FILES
Due: none

reduce computation time of rpa kpoint regtests
  tests/QS/regtest-rpa-cubic-scaling/RPA_kpoints_H2O.inp
  tests/QS/regtest-rpa-cubic-scaling/RPA_kpoints_H2O_batched.inp
  tests/QS/regtest-rpa-cubic-scaling/TEST_FILES
Due: none

automatically extrapolate k-point mesh size for periodic GW calculations (#2229)
  src/hfx_types.F
  src/input_cp2k_mp2.F
  src/kpoint_coulomb_2c.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_gw_kpoints.F
  tests/QS/regtest-gw-kpoints/TEST_FILES
  tests/QS/regtest-rpa-cubic-scaling/RPA_kpoints_H2O.inp
  tests/QS/regtest-rpa-cubic-scaling/RPA_kpoints_H2O_batched.inp
  tests/QS/regtest-rpa-cubic-scaling/TEST_FILES
Due: doxify, prettify, analyze_src

Vibrational analysis: refactoring, prepare for Raman intensities
  src/motion/input_cp2k_vib.F
  src/motion/vibrational_analysis.F
Due: doxify, prettify, analyze_src

Output string units corrected
  src/motion/vibrational_analysis.F
Due: doxify, prettify, analyze_src

Vibrational analysis: refactoring, prepare for Raman intensities (#2230)
  src/motion/input_cp2k_vib.F
  src/motion/vibrational_analysis.F
Due: doxify, prettify, analyze_src

refactoring GW/RPA k-point code
  src/mp2.F
  src/mp2_ri_2c.F
  src/rpa_gw.F
  src/rpa_gw_kpoints.F
  src/rpa_gw_kpoints_util.F
  src/rpa_gw_sigma_x.F
  src/rpa_kpoints.F
  src/rpa_main.F
  src/rpa_util.F
Due: doxify, prettify, analyze_src

rename cp_cfm_robust_decomposition -> cp_cfm_matrix_exponential; nspins = SIZE(Eigenval, 2)
  src/mp2_ri_2c.F
  src/rpa_gw.F
  src/rpa_gw_kpoints_util.F
  src/rpa_main.F
Due: doxify, prettify, analyze_src

refactoring GW/RPA k-point code (#2231)
  src/mp2.F
  src/mp2_ri_2c.F
  src/rpa_gw.F
  src/rpa_gw_kpoints.F
  src/rpa_gw_kpoints_util.F
  src/rpa_gw_sigma_x.F
  src/rpa_kpoints.F
  src/rpa_main.F
  src/rpa_util.F
Due: doxify, prettify, analyze_src

DBM: Store packed blocks with summmation/free indices
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_comm.c
  src/dbm/dbm_multiply_internal.h
Due: analyze_src, clang-format

DBM: Fix print stats in miniapp
  src/dbm/Makefile
  src/dbm/dbm_miniapp.c
Due: analyze_src, clang-format

DBM: Remove norm caching to simplify code
  src/dbm/dbm_api.F
  src/dbm/dbm_matrix.c
  src/dbm/dbm_matrix.h
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply.h
  src/dbm/dbm_multiply_comm.c
  src/dbm/dbm_multiply_internal.h
  src/dbm/dbm_shard.c
  src/dbm/dbm_shard.h
  src/dbm/dbm_tests.F
Due: doxify, prettify, analyze_src, clang-format

DBM: Towards better OpenMP of dbm_multiply
  src/dbm/dbm_hyperparams.h
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_comm.c
  src/dbm/dbm_multiply_internal.h
Due: analyze_src, clang-format

DBM: Update readme
  src/dbm/README.md
Due: none
