Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Updating INSTALL.md
  INSTALL.md
Due: none

Adapt sed command for double-quoted specs
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/generate_dockerfiles.py
Due: none

PEXSI 2.0.0 requires OpenBLAS to be built with Makefile
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none

Merge local Spack recipe for lammps_user_pace with recipe pace from spack-packages
  tools/spack/spack_repo/cp2k_dev/packages/lammps_user_pace/package.py
  tools/spack/spack_repo/cp2k_dev/packages/pace/package.py
Due: none

Update Spack config file
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none

Make pretty
  tools/spack/spack_repo/cp2k_dev/packages/pace/package.py
Due: none

Add reference to make_cp2k.sh script in INSTALL.md
  INSTALL.md
Due: none

Relax minimum requirement for gmake version from 4.3 to 4.2
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none

PW/FFT: code cleanup
  src/pw/fft/fft_lib.F
  src/pw/fft/fftw3_lib.F
Due: doxify, prettify, analyze_src

Version 0.2 of make_cp2k.sh
  make_cp2k.sh
Due: shfmt

Increase minimum version for CMake to 3.27 and add python
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none

ELPA: introduced ELPA_ONE_STAGE and revised ELPA_QR/UNSAFE
  src/environment.F
  src/fm/cp_fm_basic_linalg.F
  src/fm/cp_fm_diag.F
  src/fm/cp_fm_elpa.F
  src/global_types.F
  src/input_cp2k_global.F
  tests/QS/regtest-elpa-qr/si128-elpa-qr-unsafe.inp
  tests/QS/regtest-elpa-qr/si128-elpa-qr.inp
  tests/QS/regtest-elpa-qr/si128-elpa.inp
  tests/QS/regtest-elpa/H2O-6-1stage.inp
  tests/QS/regtest-elpa/TEST_FILES.toml
  tools/precommit/check_file_properties.py
  tools/toolchain/scripts/stage5/install_elpa.sh
Due: doxify, prettify, analyze_src, shfmt

Fixed ipi-driver-pbc bug
  src/ipi_driver.F
Due: doxify, prettify, analyze_src

Fix ipi_driver boundary condition handling
  src/ipi_driver.F
Due: doxify, prettify, analyze_src

Made pretty
  src/ipi_driver.F
Due: doxify, prettify, analyze_src

Fixed conventions
  tools/conventions/conventions.supp
Due: none

Add generate_cmake_options.sh
  tools/toolchain/scripts/generate_cmake_options.sh
Due: shfmt

Update install_cp2k_toolchain.sh
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

make_cp2k.sh 0.3: Add no_externals flag and perform more checks
  make_cp2k.sh
Due: shfmt

make_cp2k.sh: fix bd flag and install venv after spack
  make_cp2k.sh
Due: shfmt

Update generate_cmake_options.sh
  tools/toolchain/scripts/generate_cmake_options.sh
Due: shfmt

Fix boundary condition handling in I-PI driver
  src/ipi_driver.F
Due: doxify, prettify, analyze_src

make_cp2k.sh 0.4: Improve error handling and provide more hints
  make_cp2k.sh
Due: shfmt

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
