Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-ast
        name: Check python ast (with Python 2.7)
        language_version: python2.7
        stages: [manual]
        files: '^tools/build_utils/.*\.py'
    -   id: check-ast
        name: Check python ast (with Python 3)
        language_version: python3
        stages: [manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    -   id: black
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false

input: drop POINTER for sections in output/logkey routines
  src/input/cp_output_handling.F
  src/input/input_section_types.F
Due: doxify, prettify, analyze_src

force_env/qs_env: drop POINTER where possible for getter/setter
  src/force_env_types.F
  src/nnp_environment_types.F
  src/qs_ks_types.F
Due: doxify, prettify, analyze_src

subsys: remove POINTER spec from dummy arguments
  src/subsys/atomic_kind_types.F
  src/subsys/cell_types.F
  src/subsys/colvar_types.F
  src/subsys/cp_subsys_types.F
  src/subsys/damping_dipole_types.F
  src/subsys/external_potential_types.F
  src/subsys/molecule_kind_types.F
  src/subsys/molecule_types.F
  src/subsys/particle_types.F
  src/subsys/shell_potential_types.F
  src/subsys/virial_types.F
Due: doxify, prettify, analyze_src

xc: fix unused dummy arg when building without __LIBXC
  src/xc/xc_libxc.F
Due: doxify, prettify, analyze_src

LibXC: Fix unused variable
  src/xc/xc_libxc.F
Due: doxify, prettify, analyze_src

Docker: Fix pdbg test
  tools/docker/scripts/test_regtest.sh
Due: none

Adjust threshold of QS/regtest-kp-1/c_dos.inp
  tests/QS/regtest-kp-1/TEST_FILES
Due: none

Update regtest arch files to libxc 5.1.0
  arch/Linux-x86-64-gfortran-generic.ssmp
  arch/Linux-x86-64-gfortran-regtest.psmp
  arch/Linux-x86-64-gfortran.psmp
  arch/Linux-x86-64-gfortran.ssmp
  arch/Linux-x86-64-intel-regtest.psmp
Due: none

Update regtest arch files to ELPA 2020.11.001
  arch/Linux-x86-64-gfortran-regtest.psmp
  arch/Linux-x86-64-gfortran.psmp
  arch/Linux-x86-64-intel-regtest.psmp
Due: none

data: Fix EMSL_BASIS_SETS
  data/EMSL_BASIS_SETS
Due: regen_data

data: Fix EMSL_BASIS_SETS (#1341)
  data/EMSL_BASIS_SETS
Due: regen_data

Fist: Fix instability in neighbor list on i386
  src/fist_neighbor_list_control.F
Due: doxify, prettify, analyze_src

Adjust threshold of cell_opt_direct_cg_gold.inp
  tests/Fist/regtest-opt/TEST_FILES
Due: none

XAS: Fix instability in MO occupation on i386
  src/qs_mo_occupation.F
Due: doxify, prettify, analyze_src

Code prettify
  src/qs_kind_types.F
Due: doxify, prettify, analyze_src

Fix code mess up
  src/qs_kind_types.F
Due: doxify, prettify, analyze_src

Initial guess based on standard core definitions.
  src/qs_kind_types.F
Due: doxify, prettify, analyze_src

Remove debug code
  src/qs_ks_methods.F
Due: doxify, prettify, analyze_src

A fix to this issue is change INTENT(OUT) to INTENT(INOUT) [vzecca]
  src/eri_mme/eri_mme_integrate.F
Due: doxify, prettify, analyze_src

Issue #1332 (#1344)
  src/eri_mme/eri_mme_integrate.F
Due: doxify, prettify, analyze_src

Update CRAY arch files
  arch/CRAY-XC40_gnu.psmp
  arch/CRAY-XC40_intel-minimal.psmp
  arch/CRAY-XC50_gnu.psmp
Due: none

INSTALL.md: Remove language about non-OpenMP builds
  INSTALL.md
Due: none

INSTALL.md: Add note about MPICH with GCC 10
  INSTALL.md
Due: none

INSTALL.md: Add note about supported library versions
  INSTALL.md
Due: none

Docker: Enable ELPA with Cuda
  tools/toolchain/Dockerfile.cuda_mkl
Due: none

kpoint_types: remove POINTER spec from dummy arguments
  src/kpoint_types.F
Due: doxify, prettify, analyze_src

Machine: Enable flushing by default
  src/base/machine.F
Due: doxify, prettify, analyze_src

Update install_openmpi.sh
  tools/toolchain/scripts/stage1/install_openmpi.sh
Due: none
