Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-ast
        name: Check python ast (with Python 2.7)
        language_version: python2.7
        stages: [manual]
        files: '^tools/build_utils/.*\.py'
    -   id: check-ast
        name: Check python ast (with Python 3)
        language_version: python3
        stages: [manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    -   id: black
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false

grid: Calculate virial only when needed
  src/grid/grid_api.F
  src/grid/grid_task_list.c
  src/grid/grid_task_list.h
  src/grid/ref/grid_ref_task_list.c
  src/grid/ref/grid_ref_task_list.h
  src/qs_integrate_potential_product.F
Due: doxify, prettify, analyze_src

toolchain: install SIRIUS deps conditionally
  tools/toolchain/install_cp2k_toolchain.sh
Due: none

small optimizations
  src/grid/hybrid/grid_collocate_hybrid_cuda.cu
Due: analyze_src

refactoring, minor improvements, integrate gpu
  src/grid/cpu/coefficients.c
  src/grid/cpu/collocation_integration.h
  src/grid/cpu/grid_collocate_dgemm.c
  src/grid/cpu/grid_context_cpu.c
  src/grid/cpu/grid_integrate_dgemm.c
  src/grid/cpu/private_header.h
  src/grid/cpu/tensor_local.c
  src/grid/cpu/tensor_local.h
  src/grid/hybrid/grid_collocate_hybrid.c
  src/grid/hybrid/grid_collocate_hybrid_cuda.cu
  src/grid/hybrid/grid_integrate_cuda.hu
  src/grid/hybrid/private_header.hu
Due: analyze_src

Version of integrating a list of gaussian pairs with dgemm
  src/grid/cpu/coefficients.c
  src/grid/cpu/coefficients.h
  src/grid/cpu/grid_collocate_dgemm.c
  src/grid/cpu/grid_context_cpu.c
  src/grid/cpu/grid_cpu_task_list.c
  src/grid/cpu/grid_cpu_task_list.h
  src/grid/cpu/grid_integrate_dgemm.c
  src/grid/cpu/grid_prepare_pab_dgemm.h
  src/grid/cpu/private_header.h
  src/grid/cpu/utils.c
  src/grid/cpu/utils.h
  src/grid/grid_task_list.c
  src/grid/hybrid/grid_collocate_hybrid.c
  src/grid/hybrid/grid_collocate_hybrid_cuda.cu
  src/grid/hybrid/grid_hybrid_task_list.c
  src/grid/hybrid/grid_hybrid_task_list.h
  src/grid/hybrid/grid_integrate_hybrid.c
Due: analyze_src

test
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

added few procedures for UKS
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

fix pritning
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

fix double counting of coulomb integrals
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

remove few prints and refactroring
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

added UHF=1 in fcidump
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

added regtest
  src/qs_active_space_methods.F
  src/task_list_methods.F
  tests/QS/regtest-ac-1/TEST_FILES
  tests/QS/regtest-ac-1/be.inp
  tests/QS/regtest-ac-1/h2_gapw_2-2.inp
  tests/QS/regtest-ac-1/h2_gapw_2-3.inp
  tests/QS/regtest-ac-1/h2_gapw_2-4.inp
  tests/QS/regtest-ac-1/h2o.inp
  tests/QS/regtest-ac-1/h2o_gapw_2-2.inp
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

fix test_dirs file
  tests/TEST_DIRS
Due: none

Fix compiling issues
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

Add new regtests directory
  tests/TEST_DIRS
Due: none

Some variable renaming
  src/qs_active_space_methods.F
  src/qs_active_space_types.F
Due: doxify, prettify, analyze_src

Revert "Add new regtests directory"
  tests/TEST_DIRS
Due: none

Remove trailing whitespace
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

Relocate new regtests for active space embedding
  tests/QS/regtest-ac-1/be.inp
  tests/QS/regtest-ac-1/h2o.inp
  tests/QS/regtest-as-1/TEST_FILES
  tests/QS/regtest-as-1/h2_gapw_2-2.inp
  tests/QS/regtest-as-1/h2_gapw_2-3.inp
  tests/QS/regtest-as-1/h2_gapw_2-4.inp
  tests/QS/regtest-as-1/h2o_gapw_2-2.inp
  tests/TEST_DIRS
Due: none

Update documentation, fix indentation, uppercase keywords
  src/qs_active_space_methods.F
  src/qs_active_space_types.F
Due: doxify, prettify, analyze_src

Add GAPW PP test cases for active spaces
  tests/QS/regtest-as-1/TEST_FILES
  tests/QS/regtest-as-1/h2_gapw_pp_2-2.inp
  tests/QS/regtest-as-1/h2_gapw_pp_2-3.inp
  tests/QS/regtest-as-1/h2_gapw_pp_2-4.inp
Due: none

Add GPW PP test cases for active spaces
  tests/QS/regtest-as-1/TEST_FILES
  tests/QS/regtest-as-1/h2_gpw_pp_2-2.inp
  tests/QS/regtest-as-1/h2_gpw_pp_2-3.inp
  tests/QS/regtest-as-1/h2_gpw_pp_2-4.inp
Due: none

Minor touch-ups
  tests/QS/regtest-as-1/TEST_FILES
  tests/QS/regtest-as-1/h2o_gapw_2-2.inp
Due: none

Run make pretty
  src/qs_active_space_methods.F
Due: doxify, prettify, analyze_src

Add UKS test cases for active spaces
  tests/QS/regtest-as-1/TEST_FILES
  tests/QS/regtest-as-1/ch2_gapw_2-3.inp
  tests/QS/regtest-as-1/ch2_gapw_pp_2-3.inp
  tests/QS/regtest-as-1/ch2_gpw_pp_2-3.inp
Due: none

Revert unintended change in task_list_methods.F
  src/task_list_methods.F
Due: doxify, prettify, analyze_src

toolchain/cmake: bump version to 3.18.5
  tools/toolchain/scripts/install_cmake.sh
Due: none

docker: update lcov to 1.15
  tools/docker/scripts/install_coverage.sh
Due: none

QS: Add scaling factor for the rVV10 dispersion correction
  src/input_cp2k_xc.F
  src/qs_dispersion_nonloc.F
  src/qs_dispersion_types.F
  src/qs_dispersion_utils.F
  tests/QS/regtest-hybrid-4/wB97X-V.inp
Due: doxify, prettify, analyze_src

QS: Add scaling factor for the rVV10 dispersion correction (#1226)
  src/input_cp2k_xc.F
  src/qs_dispersion_nonloc.F
  src/qs_dispersion_types.F
  src/qs_dispersion_utils.F
  tests/QS/regtest-hybrid-4/wB97X-V.inp
Due: doxify, prettify, analyze_src
