Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Use multgrid grids for integrate_pfg_product
  src/grid/grid_api.F
  src/grid/grid_integrate.c
  src/grid/grid_integrate.h
  src/grid/grid_replay.c
  src/hirshfeld_methods.F
  src/mp2_eri_gpw.F
  src/qmmm_image_charge.F
  src/qs_integrate_potential_product.F
  src/qs_integrate_potential_single.F
  src/qs_rho0_ggrid.F
  src/qs_vcd_ao.F
  src/rpa_im_time_force_methods.F
Due: doxify, prettify, analyze_src, clang-format

Start migration of rs <--> pw code to C
  src/dm_ls_scf_qs.F
  src/ec_orth_solver.F
  src/emd/rt_propagation_utils.F
  src/energy_corrections.F
  src/et_coupling_proj.F
  src/grid/common/grid_mpi.c
  src/grid/common/grid_mpi.h
  src/grid/grid_api.F
  src/grid/grid_multigrid.c
  src/grid/grid_multigrid.h
  src/hirshfeld_methods.F
  src/localization_tb.F
  src/mp2_eri_gpw.F
  src/pw_env/pw_env_types.F
  src/pw_env/rs_pw_interface.F
  src/qmmm_image_charge.F
  src/qs_dcdr_ao.F
  src/qs_elf_methods.F
  src/qs_linres_current.F
  src/qs_linres_epr_ownutils.F
  src/qs_linres_nmr_shift.F
  src/qs_pdos.F
  src/qs_sccs.F
  src/qs_scf_post_gpw.F
  src/qs_scf_post_tb.F
  src/qs_tddfpt2_properties.F
  src/stm_images.F
  src/surface_dipole.F
Due: doxify, prettify, analyze_src, clang-format

Migrate serial copy pw2rs with boundaries
  src/grid/grid_multigrid.c
Due: analyze_src, clang-format

Add process grid dimensions
  src/grid/common/grid_mpi.c
  src/grid/common/grid_mpi.h
  src/grid/grid_api.F
  src/grid/grid_multigrid.c
  src/grid/grid_multigrid.h
  src/grid/grid_replay.c
Due: doxify, prettify, analyze_src, clang-format

Fixes for the serial case
  src/pw_env/rs_pw_interface.F
  src/qs_external_density.F
Due: doxify, prettify, analyze_src

Migrate direct copies (without boundaries)
  src/grid/grid_api.F
  src/grid/grid_integrate.c
  src/grid/grid_multigrid.c
  src/pw_env/rs_pw_interface.F
  src/qs_linres_current.F
Due: doxify, prettify, analyze_src, clang-format

Remove superfluous gets
  src/dm_ls_scf_qs.F
  src/ec_orth_solver.F
  src/emd/rt_propagation_utils.F
  src/energy_corrections.F
  src/et_coupling_proj.F
  src/hirshfeld_methods.F
  src/localization_tb.F
  src/mp2_eri_gpw.F
  src/pw_env/pw_env_types.F
  src/pw_env/rs_pw_interface.F
  src/pw_env_methods.F
  src/qmmm_image_charge.F
  src/qmmm_pw_grid.F
  src/qs_dcdr_ao.F
  src/qs_elf_methods.F
  src/qs_linres_current.F
  src/qs_linres_epr_ownutils.F
  src/qs_linres_nmr_shift.F
  src/qs_pdos.F
  src/qs_sccs.F
  src/qs_scf_post_gpw.F
  src/qs_scf_post_tb.F
  src/qs_tddfpt2_properties.F
  src/stm_images.F
  src/surface_dipole.F
Due: doxify, prettify, analyze_src

ocl: removed two variants of the DBM kernel and cleanup (#3761)
  exts/build_dbcsr/Makefile
  src/dbm/dbm_multiply_opencl.c
  src/dbm/dbm_multiply_opencl.cl
  src/dbm/dbm_multiply_opencl.ir
  src/dbm/dbm_multiply_opencl.irh
  src/dbm/dbm_multiply_opencl.md
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

Try a patched aiida-cp2k version
  tools/docker/scripts/test_aiida.sh
Due: shfmt

Simplify the interface to general copy routines
  src/grid/grid_multigrid.c
  src/grid/grid_multigrid.h
  src/pw_env/rs_pw_interface.F
Due: doxify, prettify, analyze_src, clang-format

[cmake] fix Mi300 architecture number. Minor cleanup
  CMakeLists.txt
Due: none

Input GFN type and output in header
  src/cp_control_types.F
  src/cp_control_utils.F
  src/header.F
  src/input_cp2k_tb.F
  src/qs_environment.F
Due: doxify, prettify, analyze_src

Force SCF treatment of non-scf methods
  src/qs_energy.F
  src/scf_control_types.F
Due: doxify, prettify, analyze_src

Remove "OLD_COULOMB_DAMPING" option in xTB
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_tb.F
  src/qs_environment.F
  src/xtb_coulomb.F
  src/xtb_ehess.F
  src/xtb_ehess_force.F
Due: doxify, prettify, analyze_src

Remove debug code
  src/header.F
Due: doxify, prettify, analyze_src

Work on short range Ewald part
  src/xtb_eeq.F
Due: doxify, prettify, analyze_src

Refactoring dispersion and more gfn0
  src/input_cp2k_xc.F
  src/qs_energy_init.F
  src/qs_environment.F
  src/xtb_hab_force.F
  src/xtb_matrices.F
  tests/QS/regtest-stress/TEST_FILES
  tests/SE/regtest-2-2/TEST_FILES
  tests/xTB/regtest-1/TEST_FILES
  tests/xTB/regtest-3/TEST_FILES
Due: doxify, prettify, analyze_src

EEQ: add PBC model (stick to default if not explicitely requested)
  src/cp_control_types.F
  src/cp_control_utils.F
  src/eeq_method.F
  src/input_cp2k_tb.F
  src/qs_scf_post_tb.F
  src/xtb_eeq.F
  src/xtb_ks_matrix.F
  tests/xTB/regtest-gfn0/ch2o_3.inp
  tests/xTB/regtest-gfn0/ch2o_4.inp
Due: doxify, prettify, analyze_src

xTB refactoring: input and vdW
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_constants.F
  src/input_cp2k_tb.F
  src/qs_energy_types.F
  src/qs_environment.F
  src/xtb_coulomb.F
  src/xtb_matrices.F
  src/xtb_parameters.F
  tests/xTB/regtest-gfn0/ch2o.inp
Due: doxify, prettify, analyze_src

Bug fix after import of D4
  src/xtb_hab_force.F
Due: doxify, prettify, analyze_src

format
  src/qs_ks_types.F
Due: doxify, prettify, analyze_src

Add gfn0-xTB regtests
  tests/TEST_DIRS
  tests/xTB/regtest-gfn0/TEST_FILES
  tests/xTB/regtest-gfn0/ch2o_1.inp
  tests/xTB/regtest-gfn0/ch2o_3.inp
  tests/xTB/regtest-gfn0/ch2o_4.inp
Due: none

gfn0-xTB: Hamiltonian
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_tb.F
  src/xtb_hab_force.F
  src/xtb_matrices.F
  src/xtb_parameters.F
  src/xtb_potentials.F
Due: doxify, prettify, analyze_src

Refactoring of xtb Huckel matrix build
  src/xtb_hcore.F
Due: doxify, prettify, analyze_src

gfn0-xTB periodic forces Water benchmark systems
  src/fm/cp_fm_basic_linalg.F
  src/qs_neighbor_lists.F
  src/xtb_eeq.F
  src/xtb_matrices.F
  tests/xTB/regtest-gfn0/H2O-1024.inp
  tests/xTB/regtest-gfn0/H2O-128.inp
  tests/xTB/regtest-gfn0/H2O-2048.inp
  tests/xTB/regtest-gfn0/H2O-256.inp
  tests/xTB/regtest-gfn0/H2O-32.inp
  tests/xTB/regtest-gfn0/H2O-4096.inp
  tests/xTB/regtest-gfn0/H2O-512.inp
  tests/xTB/regtest-gfn0/H2O-8192.inp
  tests/xTB/regtest-gfn0/TEST_FILES
  tests/xTB/regtest-gfn0/ch2o_3.inp
  tests/xTB/regtest-gfn0/ch2o_4.inp
Due: doxify, prettify, analyze_src

gfn0-xTB parallel version (no Ewald yet)
  src/fm/cp_fm_basic_linalg.F
  src/input_cp2k_scf.F
  src/qs_energy_init.F
  src/xtb_eeq.F
  src/xtb_matrices.F
  tests/xTB/regtest-gfn0/H2O-32.inp
Due: doxify, prettify, analyze_src

gfn0-xTB forces
  src/xtb_eeq.F
  src/xtb_matrices.F
  src/xtb_potentials.F
  tests/xTB/regtest-gfn0/ch2o_2.inp
Due: doxify, prettify, analyze_src

gfn0-xTB parallel version (Ewald)
  src/fm/cp_fm_basic_linalg.F
  src/xtb_eeq.F
  tests/xTB/regtest-gfn0/TEST_FILES
  tests/xTB/regtest-gfn0/ch2o_1.inp
  tests/xTB/regtest-gfn0/ch2o_2.inp
  tests/xTB/regtest-gfn0/ch2o_3.inp
Due: doxify, prettify, analyze_src

gfn0-xTB: bug fix stress tensor and charged systems
  src/eeq_method.F
  src/xtb_eeq.F
  tests/xTB/regtest-gfn0/SiC-stress.inp
  tests/xTB/regtest-gfn0/TEST_FILES
  tests/xTB/regtest-gfn0/ch2o_5.inp
  tests/xTB/regtest-gfn0/ch2o_6.inp
  tests/xTB/regtest-gfn0/ch2o_7.inp
  tests/xTB/regtest-gfn0/ch2o_8.inp
Due: doxify, prettify, analyze_src

xTB: more refactoring (disantangle xtb_matrices)
  src/CMakeLists.txt
  src/qs_ks_methods.F
  src/qs_tddfpt2_fprint.F
  src/qs_tddfpt2_utils.F
  src/response_solver.F
  src/xtb_hab_force.F
  src/xtb_ks_matrix.F
  src/xtb_matrices.F
  src/xtb_parameters.F
Due: doxify, prettify, analyze_src

Adjust to recent changes in Trunk
  src/common/bibliography.F
  src/fm/cp_fm_basic_linalg.F
Due: doxify, prettify, analyze_src

Add printing of EEQ charges as post-scf option
  src/eeq_method.F
  src/input_cp2k_print_dft.F
  src/qs_scf_post_gpw.F
  src/qs_scf_post_se.F
  src/qs_scf_post_tb.F
  tests/QS/regtest-gpw-3/NO2-mulliken.inp
  tests/xTB/regtest-gfn0/TEST_FILES
  tests/xTB/regtest-gfn0/ch2o_eeq.inp
Due: doxify, prettify, analyze_src

Further refactoring of xtb_matrices
  src/input_cp2k_tb.F
  src/scf_control_types.F
  src/xtb_matrices.F
  src/xtb_potentials.F
  tests/xTB/regtest-1/TEST_FILES
  tests/xTB/regtest-3/TEST_FILES
  tests/xTB/regtest-5/TEST_FILES
Due: doxify, prettify, analyze_src

gfn0-xTB: matrix elements and energy (D4 missing)
  src/cp_control_types.F
  src/cp_control_utils.F
  src/fm/cp_fm_basic_linalg.F
  src/input_cp2k_tb.F
  src/qs_scf_output.F
  src/xtb_eeq.F
  src/xtb_hcore.F
  src/xtb_ks_matrix.F
  src/xtb_matrices.F
  src/xtb_parameters.F
  src/xtb_potentials.F
  tests/xTB/regtest-gfn0/ch2o.inp
Due: doxify, prettify, analyze_src

Refactoring of xTB and add gfn0 method (first part)
  src/CMakeLists.txt
  src/cp_control_types.F
  src/cp_control_utils.F
  src/header.F
  src/input_cp2k_tb.F
  src/qs_energy_init.F
  src/qs_energy_types.F
  src/qs_environment.F
  src/qs_environment_types.F
  src/qs_force.F
  src/qs_kind_types.F
  src/qs_ks_types.F
  src/qs_neighbor_lists.F
  src/qs_tddfpt2_fprint.F
  src/xtb_eeq.F
  src/xtb_matrices.F
  src/xtb_parameters.F
  src/xtb_potentials.F
  src/xtb_types.F
  tests/xTB/regtest-gfn0/TEST_FILES
  tests/xTB/regtest-gfn0/ch2o.inp
Due: doxify, prettify, analyze_src

gfn0-xTB Ewald beyond MIC
  src/eeq_method.F
  src/xtb_eeq.F
Due: doxify, prettify, analyze_src

Efield gfn0 methods
  src/eeq_method.F
  src/qs_rho_types.F
  src/qs_scf_post_tb.F
  src/xtb_eeq.F
  src/xtb_ks_matrix.F
  src/xtb_matrices.F
  tests/xTB/regtest-gfn0/ch2o_eloc.inp
  tests/xTB/regtest-gfn0/ch2o_eper.inp
Due: doxify, prettify, analyze_src

EEQ method, some refactoring, add efermi to total energy
  src/eeq_method.F
  src/qs_dispersion_types.F
  src/xtb_eeq.F
  src/xtb_ks_matrix.F
  tests/xTB/regtest-1/TEST_FILES
  tests/xTB/regtest-3/TEST_FILES
  tests/xTB/regtest-5/TEST_FILES
  tests/xTB/regtest-gfn0/SiC-stress.inp
  tests/xTB/regtest-gfn0/TEST_FILES
  tests/xTB/regtest-gfn0/ch2o_4.inp
  tests/xTB/regtest-gfn0/si_kp.inp
  tests/xTB/regtest-gfn0/si_smear.inp
  tests/xTB/regtest-gfn0/si_virial.inp
Due: doxify, prettify, analyze_src

Stress tensor for gfn0-xTB
  src/spme.F
  src/xtb_eeq.F
  tests/xTB/regtest-gfn0/SiC_virial.inp
  tests/xTB/regtest-gfn0/TEST_FILES
  tests/xTB/regtest-gfn0/si_virial.inp
Due: doxify, prettify, analyze_src

Displacement field for gfn0-xTB (first steps)
  src/eeq_method.F
  src/qs_environment.F
  src/scf_control_types.F
  src/xtb_eeq.F
  tests/xTB/regtest-gfn0/TEST_FILES
  tests/xTB/regtest-gfn0/ch2o_dper.inp
  tests/xTB/regtest-gfn0/ch2o_eper.inp
Due: doxify, prettify, analyze_src
