Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

fix: avoid implicit SKALA gradient reallocation
  src/skala_gpw_functional.F
Due: doxify, prettify, analyze_src

Clarify LibXC spin wrapper names
  src/xc/xc_derivatives.F
  src/xc/xc_libxc.F
Due: doxify, prettify, analyze_src

fix: avoid composite GAPW array reallocation
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

Reduce RTBSE restart regtest cell size
  tests/QS/regtest-rtbse-linearized-open-shell/h2_linrtbse_tda_open_shell_restart.inp
  tests/QS/regtest-rtbse-linearized-open-shell/h2_linrtbse_tda_open_shell_restart_cont.inp
Due: none

Preserve interfaces before preprocessor directives
  tools/precommit/format_fortran_test.py
  tools/precommit/prettify_cp2k/normalizeFortranFile.py
Due: none

Honor lone character array values
  src/input/input_parsing.F
  src/qs_scf_output.F
  tests/QS/regtest-gpw-1/H2-occup-stats-lone.inp
  tests/QS/regtest-gpw-1/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Clarify LibXC spin wrapper names (#5676)
  src/xc/xc_derivatives.F
  src/xc/xc_libxc.F
Due: doxify, prettify, analyze_src

Reduce RTBSE restart regtest cell size (#5677)
  tests/QS/regtest-rtbse-linearized-open-shell/h2_linrtbse_tda_open_shell_restart.inp
  tests/QS/regtest-rtbse-linearized-open-shell/h2_linrtbse_tda_open_shell_restart_cont.inp
Due: none

Honor lone character array values (#5679)
  src/input/input_parsing.F
  src/qs_scf_output.F
  tests/QS/regtest-gpw-1/H2-occup-stats-lone.inp
  tests/QS/regtest-gpw-1/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Fix molecular moment sums over distributed matrices
  src/molecular_moments.F
  tests/QS/regtest-gpw-4/TEST_FILES.toml
  tests/matcher_classes.py
  tests/matchers.py
Due: doxify, prettify, analyze_src

Keep native SKALA CUDA inputs in FP32
  src/skala_gpw_features.F
  src/skala_gpw_functional.F
  src/torch_api.F
  src/torch_c_api.cpp
Due: doxify, prettify, analyze_src, clang-format

Enable automatic native SKALA CPU subchunks
  src/input_cp2k_xc.F
  src/skala_gpw_functional.F
Due: doxify, prettify, analyze_src

Fix molecular moment sums over distributed matrices (#5680)
  src/molecular_moments.F
  tests/QS/regtest-gpw-4/TEST_FILES.toml
  tests/matcher_classes.py
  tests/matchers.py
Due: doxify, prettify, analyze_src

Enable automatic native SKALA CPU subchunks (#5682)
  src/input_cp2k_xc.F
  src/skala_gpw_functional.F
Due: doxify, prettify, analyze_src

feat: support NLCC in PAW one-center SKALA
  src/qs_ks_methods.F
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

test: cover PAW one-center NLCC mechanics
  tests/QS/regtest-gauxc-gapw-ae-kp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-gth-kp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-nlcc/HF_NATIVE_SKALA_GAPW_PAW_NLCC_STRESS.inp
  tests/QS/regtest-gauxc-gpw-nlcc/HF_SKALA_GAPW_PAW_NLCC_FORCE.inp
  tests/QS/regtest-gauxc-gpw-nlcc/TEST_FILES.toml
Due: none

docs: document PAW one-center NLCC scope
  docs/methods/dft/gauxc.md
  src/input_cp2k_xc.F
  tests/QS/SKALA_GAPW_COMPOSITE_VALIDATION.md
Due: doxify, prettify, analyze_src

Add missing constraint for testing
  tests/TEST_DIRS
Due: none

Add missing constraint for testing (#5683)
  tests/TEST_DIRS
Due: none

Install optimized SKALA 1.1 Rev1 models (#5661)
  docs/methods/dft/gauxc.md
  src/xc/xc_gauxc_functional.F
  tools/spack/spack_repo/cp2k_dev/packages/gauxc/package.py
  tools/toolchain/scripts/stage6/install_gauxc.sh
Due: doxify, prettify, analyze_src, shfmt

Reduce parallelism of GH200 build
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Drop explict -ef openpmd flag for CSCS tester
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
Due: none

make_cp2k.sh: fix logic for enabling libgint
  make_cp2k.sh
Due: shfmt

Test CUDA 12.9.2 -> 13.1.2
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Try quick fix
  make_cp2k.sh
Due: shfmt

Preserve interfaces before preprocessor directives (#5678)
  tools/precommit/format_fortran_test.py
  tools/precommit/prettify_cp2k/normalizeFortranFile.py
Due: none

Fix REFTRAJ output indices
  src/motion/integrator.F
  tests/Fist/regtest-1-2/TEST_FILES.toml
  tests/Fist/regtest-1-2/reftraj-output-index.inp
  tests/Fist/regtest-1-2/reftraj-output-index.xyz
  tests/matchers.py
Due: doxify, prettify, analyze_src

Enable Spglib in CUDA toolchain builds
  tools/docker/scripts/cmake_cp2k.sh
Due: shfmt

Disable CMake developer warnings
  make_cp2k.sh
Due: shfmt

Fix quartic metadynamics wall energy
  src/input_cp2k_free_energy.F
  src/metadynamics_utils.F
  tests/Fist/regtest-15/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Fix nested reaction path kind selection
  src/colvar_utils.F
  tests/xTB/regtest-3/TEST_FILES.toml
  tests/xTB/regtest-3/h2o_reaction_path_kinds.inp
Due: doxify, prettify, analyze_src

Document constrained MD and blue-moon estimators
  docs/methods/sampling/constrained_dynamics.md
  docs/methods/sampling/index.md
  src/input_cp2k_constraints.F
Due: doxify, prettify, analyze_src

Document STM image generation and limitations
  docs/methods/properties/stm_images.md
Due: none

Preserve REFTRAJ frame indices in output (#5686)
  src/motion/integrator.F
  tests/Fist/regtest-1-2/TEST_FILES.toml
  tests/Fist/regtest-1-2/reftraj-output-index.inp
  tests/Fist/regtest-1-2/reftraj-output-index.xyz
  tests/matchers.py
Due: doxify, prettify, analyze_src

Fix quartic metadynamics wall energy (#5687)
  src/input_cp2k_free_energy.F
  src/metadynamics_utils.F
  tests/Fist/regtest-15/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Post-process nested reaction path COLVARs (#5688)
  src/colvar_utils.F
  tests/xTB/regtest-3/TEST_FILES.toml
  tests/xTB/regtest-3/h2o_reaction_path_kinds.inp
Due: doxify, prettify, analyze_src

Document constrained MD and blue-moon estimators (#5689)
  docs/methods/sampling/constrained_dynamics.md
  docs/methods/sampling/index.md
  src/input_cp2k_constraints.F
Due: doxify, prettify, analyze_src

Document STM image generation and limitations (#5690)
  docs/methods/properties/stm_images.md
Due: none

Test CUDA 12.9.2 -> 13.1.2 (#5674)
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  make_cp2k.sh
Due: shfmt
