Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Resolves minor breaking change of tblite
  CMakeLists.txt
  src/tblite_interface.F
Due: doxify, prettify, analyze_src

Workaround: Find mctc-lib before finding dftd4
  CMakeLists.txt
Due: none

Update tblite version in toolchain
  tools/toolchain/scripts/stage8/install_tblite.sh
  tools/toolchain/scripts/tool_kit.sh
Due: shfmt

Update reference according to tblite update
  tests/xTB/regtest-3-spglib/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn1-periodic/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
  tests/xTB/regtest-tblite-ipea1/TEST_FILES.toml
Due: none

Drop toolchain patch for tblite
  tools/toolchain/scripts/stage8/dftd4-4.2.0-gradient-fixes.patch
  tools/toolchain/scripts/stage8/install_tblite.sh
  tools/toolchain/scripts/stage8/simple-dftd3-1.4.0-gradient-fixes.patch
Due: shfmt

Fix FPE trap handling around LAPACK in Arnoldi diagonalization
  src/arnoldi/arnoldi_geev.F
Due: doxify, prettify, analyze_src

Spack: tblite v0.7.0, trexio v2.6.1
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
  tools/spack/spack_repo/cp2k_dev/packages/tblite/package.py
Due: none

Fix version compatibility
  CMakeLists.txt
Due: none

CMake: Drop manual default setting of CMAKE_INSTALL_LIBDIR to follow GNUInstallDirs rule (#5617)
  CMakeLists.txt
  make_cp2k.sh
  tools/toolchain/build_cp2k.sh
Due: shfmt

Correct CMAKE_INSTALL_LIBDIR in Fedora SPEC
  tools/fedora/cp2k.spec
Due: none

Improve non-periodic RIRS GW code
  src/gw_large_cell_gamma_ri_rs.F
  src/gw_non_periodic_ri_rs.F
  src/gw_utils.F
  src/input_cp2k_properties_dft.F
  src/post_scf_bandstructure_types.F
  tests/QS/regtest-gw-realspace/06_RIRS_G0W0_PBE_H2O_CUTOFFS.inp
  tests/QS/regtest-gw-realspace/TEST_FILES.toml
Due: doxify, prettify, analyze_src

resolve merge conflict
  src/gw_large_cell_gamma_ri_rs.F
  src/gw_non_periodic_ri_rs.F
  src/gw_utils.F
  src/input_cp2k_properties_dft.F
  tests/QS/regtest-gw-realspace/06_RIRS_G0W0_PBE_H2O_CUTOFFS.inp
Due: doxify, prettify, analyze_src

remove duplicate keyword assignment
  src/post_scf_bandstructure_types.F
  tests/QS/regtest-gw-realspace/RIRS-RESTART-G0W0-PBE-H2O-RESTART_Z_lP.matrix
Due: doxify, prettify, analyze_src

make pretty
  src/gw_utils.F
Due: doxify, prettify, analyze_src

make pretty on remaining file
  src/gw_non_periodic_ri_rs.F
Due: doxify, prettify, analyze_src

Correct CMAKE_INSTALL_LIBDIR in Fedora SPEC (#5620)
  tools/fedora/cp2k.spec
Due: none

resolve manual ci allocation issues
  src/gw_non_periodic_ri_rs.F
Due: doxify, prettify, analyze_src

RIRS: Improvement in GW RIRS code for non-periodic systems (#5621)
  src/gw_large_cell_gamma_ri_rs.F
  src/gw_non_periodic_ri_rs.F
  src/gw_utils.F
  src/input_cp2k_properties_dft.F
  src/post_scf_bandstructure_types.F
  tests/QS/regtest-gw-realspace/06_RIRS_G0W0_PBE_H2O_CUTOFFS.inp
  tests/QS/regtest-gw-realspace/RIRS-RESTART-G0W0-PBE-H2O-RESTART_Z_lP.matrix
  tests/QS/regtest-gw-realspace/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Fix uninitialized lfomo/homo in set_mo_occupation_3 (#5616)
  src/qs_mo_occupation.F
Due: doxify, prettify, analyze_src

Improve non-periodic RIRS GW code
  tests/QS/regtest-gw-realspace/06_RIRS_G0W0_PBE_H2O_CUTOFFS.inp
Due: none

resolve merge conflict
  src/gw_utils.F
  tests/QS/regtest-gw-realspace/06_RIRS_G0W0_PBE_H2O_CUTOFFS.inp
Due: doxify, prettify, analyze_src

fix regtest issue with sdbg
  tests/QS/regtest-gw-realspace/06_RIRS_G0W0_PBE_H2O_CUTOFFS.inp
  tests/QS/regtest-gw-realspace/TEST_FILES.toml
Due: none

minor edit in GW memory input keyword description
  src/input_cp2k_properties_dft.F
Due: doxify, prettify, analyze_src

RIRS: Fix RI-RS regtest issue with sdbg (#5622)
  src/input_cp2k_properties_dft.F
  tests/QS/regtest-gw-realspace/06_RIRS_G0W0_PBE_H2O_CUTOFFS.inp
  tests/QS/regtest-gw-realspace/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Fix duplicated regtest duration accounting for multiple matchers
  tests/do_regtest.py
Due: none

Fix duplicated regtest duration accounting for multiple matchers (#5615)
  tests/do_regtest.py
Due: none

Follow up on DRIVER%PREFIX: fix server mode and add test timeout
  src/ipi_server.F
  tests/i-PI/ipi_client.inp
  tests/i-PI/ipi_server.inp
  tools/docker/scripts/test_i-pi.sh
Due: doxify, prettify, analyze_src, shfmt

build: add Spack support for cuSOLVERMp
  make_cp2k.sh
  tools/spack/cp2k_deps_p.yaml
Due: shfmt

Update make_cp2k.sh
  make_cp2k.sh
Due: shfmt

build: preserve cuSOLVERMp feature ordering
  make_cp2k.sh
Due: shfmt

Add CMake option CP2K_ENABLE_NATIVE_OPTIMIZATION
  CMakeLists.txt
  cmake/CompilerConfiguration.cmake
  docs/getting-started/build-from-source.md
Due: none

Make ppc64le RPM-build work
  .packit.yaml
  cmake/CompilerConfiguration.cmake
Due: none

Drop ppc64le in packit.yaml
  .packit.yaml
Due: none

Adjust toolchain build script accordingly
  tools/toolchain/build_cp2k.sh
Due: shfmt

Test: Increase CUTOFF of c_geo_opt_kpsym_spglib.inp
  tests/QS/regtest-kp-1-spg/c_geo_opt_kpsym_spglib.inp
Due: none

intermediate state, first polarizability traces
  src/bse_print.F
  src/emd/rt_bse.F
  src/emd/rt_bse_io.F
  src/emd/rt_bse_linearized.F
  src/emd/rt_bse_types.F
Due: doxify, prettify, analyze_src

initial refactor
  src/CMakeLists.txt
  src/cp_control_utils.F
  src/emd/rt_bse.F
  src/emd/rt_bse_linearized.F
  src/emd/rt_bse_types.F
  src/input_constants.F
  src/input_cp2k_dft.F
  src/post_scf_bandstructure_types.F
  src/start/cp2k_runs.F
Due: doxify, prettify, analyze_src

add rudimentary initializations (brute force ao/mo)
  src/emd/rt_bse.F
  src/emd/rt_bse_linearized.F
  src/emd/rt_bse_types.F
Due: doxify, prettify, analyze_src

accurate code, matching LRBSE
  .gitignore
  src/emd/rt_bse_linearized.F
  src/gw_large_cell_gamma.F
  src/gw_utils.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
