Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

offload: Unify active device selection
  src/f77_interface.F
  src/grid/Makefile
  src/grid/common/grid_library.c
  src/grid/common/grid_library.h
  src/grid/gpu/grid_gpu_task_list.cu
  src/grid/grid_api.F
  src/grid/grid_miniapp.c
  src/grid/grid_unittest.c
  src/offload/PACKAGE
  src/offload/offload_api.F
  src/offload/offload_buffer.c
  src/offload/offload_library.c
  src/offload/offload_library.h
  src/start/cp2k_runs.F
Due: doxify, prettify, analyze_src, clang-format

pw: Set offload device
  src/offload/offload_library.h
  src/pw/cuda/PACKAGE
  src/pw/cuda/pw_cuda_utils.cu
  src/pw/cuda/pw_cuda_utils.h
  src/pw/cuda/pw_cuda_z.cu
  src/pw/pw_grids.F
Due: doxify, prettify, analyze_src, clang-format

Enable forces calculation for the DFT+U method Lowdin
  src/dft_plus_u.F
  tests/QS/regtest-plus_u/TEST_FILES
Due: doxify, prettify, analyze_src

Fix line truncation
  src/dft_plus_u.F
Due: doxify, prettify, analyze_src

Fix and change directive error if OpenMP flag is missing
  src/base/base_uses.f90
Due: doxify

Remove #error directive, not supported by vanilla FPP
  src/base/base_uses.f90
Due: doxify

grid: Add explicit barrier before reduction in ref collocate
  src/grid/ref/grid_ref_task_list.c
Due: analyze_src, clang-format

Warning and issues reported by CCE #1490 (#1492)
  src/commutator_rpnl.F
  src/core_ppnl.F
  src/iterate_matrix.F
  src/xc/xc_tpss.F
  src/xtb_matrices.F
Due: doxify, prettify, analyze_src

CCE regtests based on PSMP
  tools/dashboard/dashboard.conf
Due: none

Remove unused __ACC macro
  INSTALL.md
  arch/CRAY-XC50_gnu.psmp
  arch/Linux-x86-64-gfortran.warn
  arch/Linux-x86-64-gfortran_opencl_nvidia.sopt
  src/cp2k_info.F
  tools/autotools/configure.ac
  tools/toolchain/scripts/generate_arch_files.sh
Due: doxify, prettify, analyze_src, shfmt

Fix bugs/warnings reported by CCE
  src/sap_kind_types.F
Due: doxify, prettify, analyze_src

Fix typo
  src/sap_kind_types.F
Due: doxify, prettify, analyze_src

Add function to retrieve on node rank
  src/mpiwrap/message_passing.F
Due: doxify, prettify, analyze_src

Enable printing of the real space representation of the KS and S matrices in runs with kpoints
  src/input_cp2k_dft.F
  src/qs_scf_csr_write.F
  tests/QS/regtest-kp-2/Ar_2.inp
Due: doxify, prettify, analyze_src

split up write_matrix_csr and squash commits
  src/qs_scf_csr_write.F
Due: doxify, prettify, analyze_src

Doxify
  src/qs_scf_csr_write.F
Due: doxify, prettify, analyze_src

arch: add preliminary arch files for Isambard2 and Fugaku
  arch/Fugaku-fujitsu-minimal.psmp
  arch/Isambard2-fujitsu-minimal.psmp
Due: none

arch: add preliminary arch files for Isambard2 and Fugaku (#1494)
  arch/Fugaku-fujitsu-minimal.psmp
  arch/Isambard2-fujitsu-minimal.psmp
Due: none

New regtest + bug fix
  src/qs_scf_csr_write.F
  tests/QS/regtest-kp-2/Ar_2.inp
  tests/QS/regtest-kp-3/TEST_FILES
  tests/QS/regtest-kp-3/bn1.inp
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Fix undefined DFT+U variables (#1496)
  src/qs_kind_types.F
Due: doxify, prettify, analyze_src

Enable printing of the real space representation of the KS and S matrices in runs with kpoints
  src/input_cp2k_dft.F
  src/qs_scf_csr_write.F
  tests/QS/regtest-kp-3/TEST_FILES
  tests/QS/regtest-kp-3/bn1.inp
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Parallelize the calculation of 2c integrals for RI with GPW using OpenMP
  src/mp2_eri_gpw.F
  src/pw_env/gaussian_gridlevels.F
Due: doxify, prettify, analyze_src

Add HIP profiling support
  src/common/hip_profiling.F
  src/common/timings.F
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

ELPA: Re-enable by default, tighten CHECK_DIAG threshold, and check elpa_deallocate
  src/fm/cp_fm_diag.F
  src/fm/cp_fm_elpa.F
  src/input_cp2k_global.F
Due: doxify, prettify, analyze_src

benchmarks: Add GW_PBE_4benzene.inp (Jan Wilhelm)
  benchmarks/QS_single_node/GW_PBE_4benzene.inp
  tools/docker/scripts/test_performance.sh
Due: shfmt

Add keyword EPS_CHECK_DIAG to global section
  src/environment.F
  src/fm/cp_fm_diag.F
  src/global_types.F
  src/input_constants.F
  src/input_cp2k_global.F
  tests/QS/regtest-elpa/H2O-6.inp
  tests/QS/regtest-gpw-1/H2O-geoopt.inp
  tests/QS/regtest-gpw-3/NO2-lowdin.inp
  tests/QS/regtest-gpw-4/H2O-9.inp
Due: doxify, prettify, analyze_src

make pretty, add default(none) for OMP pragma, use qs_get_kind_set instead of loop
  src/mp2_eri_gpw.F
Due: doxify, prettify, analyze_src

Recover line lost during cleaning of USE section
  src/fm/cp_fm_diag.F
Due: doxify, prettify, analyze_src

Revise MO information printout
  src/qs_mo_io.F
  src/qs_scf.F
  src/qs_scf_output.F
  src/qs_scf_post_gpw.F
  src/qs_scf_post_se.F
  src/qs_scf_post_tb.F
  src/xas_methods.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
