Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Suppress three more slow tests
  tests/SLOW_TESTS_SUPPRESSIONS
Due: none

Suppress one more slow test
  tests/SLOW_TESTS_SUPPRESSIONS
Due: none

Farming: rename of variables and introduction of external commands (#2649)
  src/farming_methods.F
  src/farming_types.F
  src/motion/cp_lbfgs_optimizer_gopt.F
  src/optimize_input.F
  src/start/cp2k_runs.F
  src/start/input_cp2k.F
  tests/FARMING/regtest-1/farming-7.inp
  tests/FARMING/regtest-1/farming-8.inp
  tests/FARMING/regtest-2/TEST_FILES
  tests/FARMING/regtest-2/dir-1/water1.inp
  tests/FARMING/regtest-2/dir-1/water2.inp
  tests/FARMING/regtest-2/farming-1.inp
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Refactor basis_set_types
  src/aobasis/basis_set_types.F
  src/mao_methods.F
  src/qs_kind_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add initializers to cp_files, cp_iter_types
  src/common/cp_files.F
  src/common/cp_iter_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add initializer to orbital_transformation_matrices
  src/aobasis/orbital_transformation_matrices.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add initializers to arnoldi_types
  src/arnoldi/arnoldi_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add initializers to cp_log_handling, cp_min_heap, cp_result_types
  src/common/cp_log_handling.F
  src/common/cp_min_heap.F
  src/common/cp_result_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add initializer to cp_fm_pool_types
  src/fm/cp_fm_pool_types.F
Due: doxify, prettify, analyze_src

Add initializers to cp_units, distribution_1d_types, fparser, lebedev
  src/common/cp_units.F
  src/common/distribution_1d_types.F
  src/common/fparser.F
  src/common/lebedev.F
  src/common/parallel_rng_types.F
  src/common/periodic_table.F
  src/common/powell.F
  src/common/reference_manager.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add initializers to cp_fm_struct
  src/fm/cp_fm_struct.F
  src/qs_tddfpt2_types.F
  src/qs_tddfpt2_utils.F
  src/qs_tddfpt_eigensolver.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add initializers to xc_rho_cflags_types, xc_rho_set_types
  src/xc/xc_rho_cflags_types.F
  src/xc/xc_rho_set_types.F
Due: doxify, prettify, analyze_src

Remove POINTER attribute in a file
  src/aobasis/paw_basis_types.F
Due: doxify, prettify, analyze_src

Update suppression file
  tools/conventions/conventions.supp
Due: none

Add some initializers, fix dashboard (#2652)
  src/aobasis/basis_set_types.F
  src/aobasis/orbital_transformation_matrices.F
  src/aobasis/paw_basis_types.F
  src/arnoldi/arnoldi_types.F
  src/common/cp_files.F
  src/common/cp_iter_types.F
  src/common/cp_log_handling.F
  src/common/cp_min_heap.F
  src/common/cp_result_types.F
  src/common/cp_units.F
  src/common/distribution_1d_types.F
  src/common/fparser.F
  src/common/lebedev.F
  src/common/parallel_rng_types.F
  src/common/periodic_table.F
  src/common/powell.F
  src/common/reference_manager.F
  src/fm/cp_fm_pool_types.F
  src/fm/cp_fm_struct.F
  src/mao_methods.F
  src/qs_kind_types.F
  src/qs_tddfpt2_types.F
  src/qs_tddfpt2_utils.F
  src/qs_tddfpt_eigensolver.F
  src/xc/xc_rho_cflags_types.F
  src/xc/xc_rho_set_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Farming: rename of variables and introduction of external commands
  src/farming_methods.F
  src/farming_types.F
  src/start/cp2k_runs.F
  src/start/input_cp2k.F
Due: doxify, prettify, analyze_src

Revert external commands in farming jobs
  src/farming_methods.F
  src/farming_types.F
  src/start/cp2k_runs.F
  src/start/input_cp2k.F
Due: doxify, prettify, analyze_src

Don't reuse arrays for SCREEN_P_FORCES. This enables SCREEN_ON_INITIAL_P for ROKS and TDDFPT forces.
  src/hfx_derivatives.F
  src/hfx_types.F
Due: doxify, prettify, analyze_src

Enable SCREEN_ON_INITIAL_P for ROKS and TDDFPT forces run (#2653)
  src/hfx_derivatives.F
  src/hfx_types.F
Due: doxify, prettify, analyze_src

Update docker files for Intel
  tools/docker/Dockerfile.prod_intel_psmp
  tools/docker/Dockerfile.test_intel-psmp
  tools/docker/generate_dockerfiles.py
Due: none

Add SIRIUS again to Intel container build
  tools/docker/Dockerfile.prod_intel_psmp
  tools/docker/Dockerfile.test_intel-psmp
  tools/docker/generate_dockerfiles.py
Due: none

Update Intel arch file
  arch/Linux-intel-x86_64.psmp
Due: none

Avoid double slashes in compiler path
  tools/toolchain/scripts/stage0/install_intel.sh
Due: shfmt

Change CMAKE_BUILD_TYPE for SIRIUS
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: shfmt

Disable SIRIUS build with Intel for the time being
  arch/Linux-intel-x86_64.psmp
  tools/docker/Dockerfile.prod_cuda_A100
  tools/docker/Dockerfile.prod_cuda_P100
  tools/docker/Dockerfile.prod_cuda_V100
  tools/docker/Dockerfile.prod_generic_pdbg
  tools/docker/Dockerfile.prod_generic_psmp
  tools/docker/Dockerfile.prod_generic_sdbg
  tools/docker/Dockerfile.prod_generic_ssmp
  tools/docker/Dockerfile.prod_intel_psmp
  tools/docker/Dockerfile.prod_pdbg
  tools/docker/Dockerfile.prod_psmp
  tools/docker/Dockerfile.prod_sdbg
  tools/docker/Dockerfile.prod_ssmp
  tools/docker/Dockerfile.test_intel-psmp
  tools/docker/generate_dockerfiles.py
Due: none

Generate Intel specific arch files with toolchain
  tools/toolchain/scripts/arch_base.tmpl
  tools/toolchain/scripts/generate_arch_files.sh
  tools/toolchain/scripts/stage8/install_spla.sh
Due: shfmt

Print more variable settings during Intel toolchain build
  tools/toolchain/scripts/stage0/install_intel.sh
  tools/toolchain/scripts/stage1/install_intelmpi.sh
Due: shfmt

Fix typos
  tools/toolchain/scripts/stage0/install_intel.sh
Due: shfmt

Allow tab characters also in arch files
  tools/precommit/check_file_properties.py
Due: none

Use Intel MPI only with the Intel compiler
  tools/toolchain/scripts/stage1/install_intelmpi.sh
Due: shfmt

Avoid double slashes in path names
  tools/toolchain/scripts/stage1/install_intelmpi.sh
  tools/toolchain/scripts/tool_kit.sh
Due: shfmt

SIRIUS: switch from Debug to RelWithDebInfo
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: shfmt

Reduce compilation time
  arch/Linux-intel-x86_64.psmp
Due: none

Fix typo
  tools/toolchain/scripts/stage1/install_intelmpi.sh
Due: shfmt

Revise Intel compiler flags
  tools/toolchain/scripts/stage0/setup_buildtools.sh
Due: shfmt

Partially revert #2652
  src/arnoldi/arnoldi_types.F
Due: doxify, prettify, analyze_src

Drop W-flags not supported by the Intel compiler
  tools/toolchain/scripts/generate_arch_files.sh
Due: shfmt

DBCSR: use tuned parameters after A100-parameters became available
  exts/build_dbcsr/Makefile
Due: none

DBCSR: use tuned parameters after A100-parameters became available (#2655)
  exts/build_dbcsr/Makefile
Due: none

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
