Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Response force error calculation from external sampling
  src/ec_env_types.F
  src/ec_environment.F
  src/ec_external.F
  src/energy_corrections.F
  src/input_cp2k_ec.F
Due: doxify, prettify, analyze_src

Response error - reduce output
  src/ec_orth_solver.F
  src/energy_corrections.F
  src/qs_linres_methods.F
  src/response_solver.F
Due: doxify, prettify, analyze_src

adjust maximum number of extrapolation vectors
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

Pretty regtest
  tests/QS/regtest-ec/EXTerror.inp
Due: none

Correct format
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

Fix memory leak (cpmos)
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

Spack requires "spack_repo" to be in the repo path
  ci/docker/build_deps_spack.Dockerfile
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_psmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/generate_dockerfiles.py
  tools/precommit/precommit.py
  tools/spack/cp2k_dev_repo/repo.yaml
  tools/spack/spack_repo/cp2k_dev/packages/dbcsr/package.py
  tools/spack/spack_repo/cp2k_dev/packages/deepmdkit/package.py
  tools/spack/spack_repo/cp2k_dev/packages/greenx/cmake.patch
  tools/spack/spack_repo/cp2k_dev/packages/greenx/package.py
  tools/spack/spack_repo/cp2k_dev/packages/lammps_user_pace/package.py
  tools/spack/spack_repo/cp2k_dev/packages/mimic_mcl/package.py
  tools/spack/spack_repo/cp2k_dev/repo.yaml
Due: none

Response force error calculation from external sampling (#4672)
  src/ec_env_types.F
  src/ec_environment.F
  src/ec_external.F
  src/ec_orth_solver.F
  src/energy_corrections.F
  src/input_cp2k_ec.F
  src/qs_linres_methods.F
  src/response_solver.F
  tests/QS/regtest-ec/EXTerror.inp
  tests/QS/regtest-ec/TEST_FILES.toml
Due: doxify, prettify, analyze_src

bugfix dipole accumulation for multiple excitations
  src/rixs_methods.F
Due: doxify, prettify, analyze_src

Use -mcpu=native instead of -march=native for GCC on Apple Silicon to fix invalid architecture errors.
  cmake/CompilerConfiguration.cmake
Due: none

Remove GNU-specific linker flags and disable affinity checking on macOS (Darwin).
  tools/toolchain/scripts/stage5/install_elpa.sh
Due: shfmt

Modernize find_package handling and add LAPACK::LAPACK alias to support dependencies like tblite.
  cmake/modules/FindLapack.cmake
Due: none

Patch CMake logic to link Fortran API to core library and force MPI wrappers for stable discovery.
  tools/toolchain/scripts/stage8/install_mcl.sh
Due: shfmt

Patch pkg-config files on macOS to remove GNU-specific -l:libfoo.a syntax.
  tools/toolchain/scripts/stage4/install_libxsmm.sh
Due: shfmt

Modernize find_package handling and add standard BLAS::BLAS alias for external package compatibility.
  cmake/modules/FindBlas.cmake
Due: none

Use string(APPEND) for linker flags to prevent unintentional semicolon-separated list conversion.
  CMakeLists.txt
Due: none

Modernize build with cmake -S/-B and add portable, idempotent sed fix for GCC 15 compatibility.
  tools/toolchain/scripts/stage6/install_ace.sh
Due: shfmt

Use absolute paths for static library linking and remove literal single quotes to ensure portable path resolution.
  tools/toolchain/scripts/stage2/install_openblas.sh
Due: shfmt

Remove literal single quotes from LDFLAGS to fix path resolution and directory lookup.
  tools/toolchain/scripts/stage4/install_scalapack.sh
Due: shfmt

Update Spack configuration files
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none

ELPA: compile-time choice for solver-kind
  CMakeLists.txt
  docs/technologies/eigensolvers/elpa.md
  src/CMakeLists.txt
  src/base/base_uses.f90
  src/cp2k_info.F
  src/fm/cp_fm_elpa.F
  tools/precommit/check_file_properties.py
Due: doxify, prettify, analyze_src

Fixes required by shellcheck
  make_cp2k.sh
Due: shfmt

Add script to build CP2K using Spack/CMake locally
  CMakeLists.txt
  make_cp2k.sh
Due: shfmt

Apply requested changes to the deepmdkit recipe
  make_cp2k.sh
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp.yaml
  tools/spack/spack_repo/cp2k_dev/packages/deepmdkit/package.py
Due: shfmt

Fix 8 slow tests
  tests/QS/regtest-ec/EXT6.inp
  tests/QS/regtest-moments-kpoints/C2_pbe_scf_kp.inp
  tests/QS/regtest-negf-1/H28.inp
  tests/QS/regtest-negf-2/H28_k.inp
  tests/QS/regtest-rixs/CH3-PBE-roks.inp
  tests/QS/regtest-rixs/CH3-PBE-uks.inp
  tests/QS/regtest-rixs/SiH4-PBE0-admm-pseudo.inp
  tests/QS/regtest-rixs/TEST_FILES.toml
  tests/QS/regtest-tddfpt-sf-force/TEST_FILES.toml
  tests/QS/regtest-tddfpt-sf-force/h2o_pbe0_opt.inp
Due: none

Adjust tolerance of UO2-Morelon-5x5x5-cell_opt.inp
  tests/Fist/regtest-7-2/TEST_FILES.toml
Due: none
