Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Add missing libxsmmext in arch files
  arch/Eiger-mc-gnu.psmp
  arch/Eiger-mc-intel.psmp
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
Due: none

Pretty
  src/qs_rho_methods.F
  src/qs_scf_initialization.F
Due: doxify, prettify, analyze_src

Harris forces
  src/qs_harris_utils.F
  src/qs_integrate_potential_single.F
  src/qs_nonscf.F
  tests/QS/regtest-harris/ft1.inp
Due: doxify, prettify, analyze_src

Harris model: basic setup and structure
  src/CMakeLists.txt
  src/input_constants.F
  src/input_cp2k_dft.F
  src/input_cp2k_harris.F
  src/qs_environment.F
  src/qs_environment_types.F
  src/qs_harris_types.F
  src/qs_harris_utils.F
Due: doxify, prettify, analyze_src

Harris model energy code
  src/atom_fit.F
  src/qs_energy.F
  src/qs_energy_types.F
  src/qs_environment.F
  src/qs_harris_types.F
  src/qs_harris_utils.F
  src/qs_ks_methods.F
  src/qs_nonscf.F
  tests/QS/regtest-harris/2H2O_t01.inp
Due: doxify, prettify, analyze_src

Harris model forces (not yet operational)
  src/qs_environment.F
  src/qs_force.F
  src/qs_harris_types.F
  src/qs_harris_utils.F
  src/qs_integrate_potential.F
  src/qs_integrate_potential_single.F
  src/qs_nonscf.F
  tests/QS/regtest-harris/TEST_FILES
  tests/QS/regtest-harris/ft1.inp
Due: doxify, prettify, analyze_src

Harris energy output and regtests
  src/qs_harris_types.F
  src/qs_harris_utils.F
  src/qs_nonscf.F
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Small updates on density input
  src/qs_environment.F
  src/qs_harris_utils.F
  src/qs_rho_methods.F
  src/qs_scf_initialization.F
Due: doxify, prettify, analyze_src

Towards Harris functional code
  src/aobasis/basis_set_types.F
  src/input_cp2k_scf.F
  src/qs_environment.F
  src/qs_harris_types.F
  src/qs_harris_utils.F
  tests/QS/regtest-harris/2H2O_t01.inp
  tests/QS/regtest-harris/TEST_FILES
Due: doxify, prettify, analyze_src

minor change
  src/qs_nonscf.F
Due: doxify, prettify, analyze_src

Harris atomic density
  src/aobasis/aux_basis_set.F
  src/aobasis/basis_set_container_types.F
  src/atom_fit.F
  src/atom_kind_orbitals.F
  src/pw_env_methods.F
  src/qs_environment.F
  src/qs_harris_types.F
  src/qs_harris_utils.F
  src/qs_interactions.F
  src/qs_rho_methods.F
  src/qs_scf_initialization.F
Due: doxify, prettify, analyze_src

Update regtests for Harris method
  tests/QS/regtest-harris/TEST_FILES
  tests/QS/regtest-harris/ft1.inp
Due: none

Regtest input
  tests/QS/regtest-harris/ft1.inp
Due: none

Adjust Harris regtests
  tests/QS/regtest-harris/2H2O_t01.inp
  tests/QS/regtest-harris/TEST_FILES
Due: none

Retrieve package version from toolchain in arch files
  arch/Darwin-gnu-arm64.psmp
  arch/Darwin-gnu-arm64.ssmp
  arch/Eiger-mc-gnu.psmp
  arch/Eiger-mc-intel.psmp
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
  tools/toolchain/scripts/stage2/install_openblas.sh
  tools/toolchain/scripts/stage3/install_fftw.sh
  tools/toolchain/scripts/stage3/install_libgrpp.sh
  tools/toolchain/scripts/stage3/install_libint.sh
  tools/toolchain/scripts/stage3/install_libxc.sh
  tools/toolchain/scripts/stage4/install_cosma.sh
  tools/toolchain/scripts/stage4/install_libxsmm.sh
  tools/toolchain/scripts/stage4/install_scalapack.sh
  tools/toolchain/scripts/stage5/install_elpa.sh
  tools/toolchain/scripts/stage5/install_pexsi.sh
  tools/toolchain/scripts/stage5/install_ptscotch.sh
  tools/toolchain/scripts/stage5/install_superlu.sh
  tools/toolchain/scripts/stage6/install_deepmd.sh
  tools/toolchain/scripts/stage6/install_gsl.sh
  tools/toolchain/scripts/stage6/install_plumed.sh
  tools/toolchain/scripts/stage6/install_quip.sh
  tools/toolchain/scripts/stage7/install_hdf5.sh
  tools/toolchain/scripts/stage7/install_libtorch.sh
  tools/toolchain/scripts/stage7/install_libvdwxc.sh
  tools/toolchain/scripts/stage7/install_libvori.sh
  tools/toolchain/scripts/stage7/install_spglib.sh
  tools/toolchain/scripts/stage8/install_dftd4.sh
  tools/toolchain/scripts/stage8/install_sirius.sh
  tools/toolchain/scripts/stage8/install_spfft.sh
  tools/toolchain/scripts/stage8/install_spla.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

Relocate lines for package version dump
  tools/toolchain/scripts/stage3/install_libgrpp.sh
  tools/toolchain/scripts/stage3/install_libint.sh
  tools/toolchain/scripts/stage3/install_libxc.sh
  tools/toolchain/scripts/stage4/install_libxsmm.sh
  tools/toolchain/scripts/stage4/install_scalapack.sh
  tools/toolchain/scripts/stage5/install_elpa.sh
  tools/toolchain/scripts/stage5/install_pexsi.sh
  tools/toolchain/scripts/stage5/install_ptscotch.sh
  tools/toolchain/scripts/stage5/install_superlu.sh
  tools/toolchain/scripts/stage6/install_deepmd.sh
  tools/toolchain/scripts/stage6/install_plumed.sh
Due: shfmt

[toolchain] fixes
  tools/toolchain/scripts/stage8/install_pugixml.sh
Due: shfmt

[SIRIUS] Fixes for the toolchain
  tools/toolchain/scripts/stage8/install_pugixml.sh
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: shfmt

[toolchain] yet another fix
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: shfmt

[ SIRIUS ] Update to the latest version.
  src/qs_kind_types.F
  tests/SIRIUS/regtest-1/Fe-upf.inp
  tests/SIRIUS/regtest-1/Fe.pbe-spn-kjpaw_psl.0.2.1.UPF
  tests/SIRIUS/regtest-1/TEST_FILES
  tools/toolchain/scripts/stage8/install_pugixml.sh
  tools/toolchain/scripts/stage8/install_sirius.sh
  tools/toolchain/scripts/stage8/install_stage8.sh
  tools/toolchain/scripts/stage8/sirius-7.3.0-cudatoolkit.patch
Due: doxify, prettify, analyze_src, shfmt

[regtests] Updated sirius full potential test
  tests/SIRIUS/regtest-1/He-full-potential.inp
  tests/SIRIUS/regtest-1/TEST_FILES
Due: none

Harris Method (#3665)
  src/CMakeLists.txt
  src/aobasis/aux_basis_set.F
  src/aobasis/basis_set_container_types.F
  src/aobasis/basis_set_types.F
  src/atom_fit.F
  src/atom_kind_orbitals.F
  src/input_constants.F
  src/input_cp2k_dft.F
  src/input_cp2k_harris.F
  src/input_cp2k_scf.F
  src/pw_env_methods.F
  src/qs_energy.F
  src/qs_energy_types.F
  src/qs_environment.F
  src/qs_environment_types.F
  src/qs_force.F
  src/qs_harris_types.F
  src/qs_harris_utils.F
  src/qs_integrate_potential.F
  src/qs_integrate_potential_single.F
  src/qs_interactions.F
  src/qs_ks_methods.F
  src/qs_nonscf.F
  src/qs_rho_methods.F
  src/qs_scf_initialization.F
  tests/QS/regtest-harris/2H2O_t01.inp
  tests/QS/regtest-harris/TEST_FILES
  tests/QS/regtest-harris/ft1.inp
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Update URL for submodule fprettify
  .gitmodules
Due: none

Re-init FFT scratch in case of PW env changes (Juerg Hutter)
  src/pw/fft_tools.F
  src/pw_env_methods.F
Due: doxify, prettify, analyze_src

Cut release version 2024.3
  CMakeLists.txt
  REVISION
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

Increase development version after 2024.3 release
  CMakeLists.txt
  docs/index.md
  docs/versions.md
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

fix typo
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: shfmt

djust regtest accuracy
  tests/QS/regtest-harris/TEST_FILES
Due: none

adjust regtest accuracy (#3670)
  tests/QS/regtest-harris/TEST_FILES
Due: none

Fix include directory
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: shfmt

Refactoring of vdW pairpotential code.
  src/CMakeLists.txt
  src/qs_dispersion_cnum.F
  src/qs_dispersion_d2.F
  src/qs_dispersion_d3.F
  src/qs_dispersion_pairpot.F
  src/qs_dispersion_utils.F
  src/xtb_matrices.F
Due: doxify, prettify, analyze_src

Update sirius version
  tools/toolchain/scripts/stage8/install_sirius.sh
  tools/toolchain/scripts/stage8/install_spfft.sh
  tools/toolchain/scripts/stage8/install_spla.sh
Due: shfmt

Remove not defined variables
  src/qs_dispersion_pairpot.F
Due: doxify, prettify, analyze_src
