Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

fix spelling
  src/efield_tb_methods.F
  tests/QS/regtest-p-efield/TEST_FILES
Due: doxify, prettify, analyze_src

Try baremetal runner
  ci/cscs-ci.yml
Due: none

BSE: Minor fixes for output (#4020)
  src/bse_print.F
  src/bse_properties.F
Due: doxify, prettify, analyze_src

Update arch files
  arch/Eiger-mc-gnu.psmp
  arch/Eiger-mc-intel.psmp
Due: none

Add INTENSITY_LIST, START_FRAME and END_FRAME keywords for periodic efield
  src/cp_control_types.F
  src/cp_control_utils.F
  src/eeq_method.F
  src/efield_tb_methods.F
  src/input_cp2k_field.F
  src/qs_efield_berry.F
  tests/QS/regtest-p-efield/H2O-field-list.inp
  tests/QS/regtest-p-efield/TEST_FILES
Due: doxify, prettify, analyze_src

Make init_md_ftable thread safe.
  src/common/gamma.F
Due: doxify, prettify, analyze_src

Make init_md_ftable thread safe. (#4029)
  src/common/gamma.F
Due: doxify, prettify, analyze_src

DBM/OCL: option to use SLM as private scratch
  src/dbm/Makefile
  src/dbm/dbm_multiply_opencl.c
  src/dbm/dbm_multiply_opencl.cl
  src/offload/offload_runtime.h
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

DBM/OCL: option to use SLM as private scratch (#4033)
  src/dbm/Makefile
  src/dbm/dbm_multiply_opencl.c
  src/dbm/dbm_multiply_opencl.cl
  src/offload/offload_runtime.h
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

DBM: hyper-parameters and other improvements
  src/dbm/dbm_distribution.c
  src/dbm/dbm_hyperparams.h
  src/dbm/dbm_internal.h
  src/dbm/dbm_matrix.c
  src/dbm/dbm_mempool.c
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_comm.c
  src/dbm/dbm_multiply_comm.h
  src/dbm/dbm_multiply_cpu.c
  src/dbm/dbm_multiply_cpu.h
  src/dbm/dbm_multiply_gpu.c
  src/dbm/dbm_multiply_gpu.h
  src/dbm/dbm_multiply_gpu_kernel.cu
  src/dbm/dbm_multiply_gpu_kernel.h
  src/dbm/dbm_shard.c
  src/dbm/dbm_shard.h
Due: analyze_src, clang-format

DBM: hyper-parameters and other improvements (#4032)
  src/dbm/dbm_distribution.c
  src/dbm/dbm_hyperparams.h
  src/dbm/dbm_internal.h
  src/dbm/dbm_matrix.c
  src/dbm/dbm_mempool.c
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_comm.c
  src/dbm/dbm_multiply_comm.h
  src/dbm/dbm_multiply_cpu.c
  src/dbm/dbm_multiply_cpu.h
  src/dbm/dbm_multiply_gpu.c
  src/dbm/dbm_multiply_gpu.h
  src/dbm/dbm_multiply_gpu_kernel.cu
  src/dbm/dbm_multiply_gpu_kernel.h
  src/dbm/dbm_shard.c
  src/dbm/dbm_shard.h
Due: analyze_src, clang-format

DBM: adjusted heuristic of pooled allocation
  src/dbm/dbm_mempool.c
Due: analyze_src, clang-format

DBM: adjusted heuristic of pooled allocation (#4034)
  src/dbm/dbm_mempool.c
Due: analyze_src, clang-format

fix GW
  src/rpa_gw_sigma_x.F
Due: doxify, prettify, analyze_src

fix unreduced "cholesky off" calculations
  src/qs_scf_methods.F
Due: doxify, prettify, analyze_src

clean debug output
  src/bse_full_diag.F
  src/bse_util.F
  src/qs_scf_methods.F
  src/qs_tddfpt2_properties.F
  src/rpa_gw_sigma_x.F
Due: doxify, prettify, analyze_src

fix indices for fm_multipole in BSE
  src/bse_full_diag.F
  src/bse_print.F
  src/bse_util.F
  src/qs_tddfpt2_properties.F
Due: doxify, prettify, analyze_src

add BSE test for cholesky off and removed nullspace
  tests/QS/regtest-bse/BASIS_DIFFUSE
  tests/QS/regtest-bse/TDA_H2_PBE_G0W0_CHOLESKY_OFF.inp
  tests/QS/regtest-bse/TEST_FILES
Due: none

Updates to TREXIO/External Response module
  src/ec_external.F
  src/energy_corrections.F
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Updates to TREXIO/External Response module (#4037)
  src/ec_external.F
  src/energy_corrections.F
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Test uenv builder
  ci/cscs-ci.yml
  ci/docker/build_cp2k_toolchain_psmp.Dockerfile
  cmake/CompilerConfiguration.cmake
  cmake/cmake_cp2k.sh
Due: shfmt

Introduce ARG LOG_LINES
  ci/cscs-ci.yml
  ci/docker/build_cp2k_toolchain_psmp.Dockerfile
Due: none

Retry PR #4026 with image field dropped
  ci/cscs-ci.yml
Due: none

Reduce CI output
  ci/cscs-ci.yml
  ci/docker/build_cp2k_toolchain_psmp.Dockerfile
Due: none

Test
  ci/cscs-ci.yml
Due: none

Do not use SCRATCH variable
  ci/cscs-ci.yml
Due: none

Split test stage
  ci/cscs-ci.yml
  ci/docker/build_cp2k_toolchain_psmp.Dockerfile
Due: none

Test
  ci/cscs-ci.yml
  ci/docker/build_cp2k_toolchain_psmp.Dockerfile
  cmake/CompilerConfiguration.cmake
Due: none

Precommit: Touch up check_file_properties.py
  tools/precommit/check_file_properties.py
Due: none

Grpp: Format grpp_specfunc_fermi_sk.c manually
  src/grpp/grpp_specfunc_fermi_sk.c
Due: analyze_src, clang-format

Precommit: Add work-around for clang-format's excessive memory usage
  src/grpp/grpp_specfunc_fermi_sk.c
  tools/docker/Dockerfile.test_precommit
  tools/docker/generate_dockerfiles.py
  tools/precommit/Dockerfile
  tools/precommit/clang_format_wrapper.sh
  tools/precommit/precommit_server.py
Due: analyze_src, clang-format, shfmt

Tests: Adjust tolerance of si8_broy_wc.inp
  tests/QS/regtest-gpw-8/TEST_FILES
Due: none
