Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

Fixed a typo.
  tools/toolchain/install_cp2k_toolchain.sh
Due: none

Experimental change.
  tools/toolchain/scripts/install_libxsmm.sh
Due: none

Removed symbols again.
  tools/toolchain/scripts/install_libxsmm.sh
Due: none

LIBXSMM 1.14 (#595)
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/install_libxsmm.sh
Due: none

benchmarks, tests: link to dashboard, performance measurements
  benchmarks/README.md
  tests/README.md
Due: none

benchmark/H2O-dft-ls: add a 1-node version of the benchmark
  tests/QS/benchmark_DM_LS/H2O-dft-ls.smaller.inp
  tests/QS/benchmark_DM_LS/README.md
Due: none

tests: Remove redundant and trivial READMEs
  tests/QS/regtest-gapw/README
  tests/QS/regtest-gpw-1/README
  tests/QS/regtest-gpw-3/README
  tests/QS/regtest-gpw-4/README
  tests/QS/regtest-ot-1-vib/README
  tests/QS/regtest-ot-1/README
  tests/QS/regtest-ot-2/README
  tests/QS/regtest-ot/README
  tests/QS/untested_inputs/README
Due: none

tests: Add and touch up READMEs
  tests/Fist/EAM_LIB/README
  tests/Fist/EAM_LIB/README.md
  tests/README.md
Due: none

Add src/README.md with a link to the code structure description
  src/README.md
Due: none

Adjust tolerance of SE/regtest-3-3/H2O-4.inp
  tests/SE/regtest-3-3/TEST_FILES
Due: none

Data: Add cc basis sets
  data/BASIS_RI_cc-TZ
Due: regen_data

Docker: Add DOCKER env variable, e.g. for 'sudo docker'
  tools/docker/build_test.sh
  tools/docker/run_test.sh
  tools/docker/run_test_master.sh
  tools/docker/run_test_pr.sh
Due: none

Docker: Fix scaling test
  tools/docker/scripts/test_scaling.sh
Due: none

Stress tensor can now be calculated with SIRIUS.
  src/force_env_methods.F
  src/pwdft_environment.F
  src/sirius_interface.F
  tests/SIRIUS/regtest-1/Au_GTH.inp
  tests/SIRIUS/regtest-1/Fe.inp
  tests/SIRIUS/regtest-1/He-full-potential.inp
  tests/SIRIUS/regtest-1/He.json
  tests/SIRIUS/regtest-1/NiO.inp
  tests/SIRIUS/regtest-1/SrVO.inp
  tests/SIRIUS/regtest-1/ni_lda_v1.4.uspp.F.UPF.json
  tests/SIRIUS/regtest-1/o_lda_v1.2.uspp.F.UPF.json
  tests/SIRIUS/regtest-1/sr_lda_v1.uspp.F.UPF.json
  tests/SIRIUS/regtest-1/v_lda_v1.4.uspp.F.UPF.json
Due: doxify, prettify, analyze_src

Add extra SpFFT which is now a hard dependency of SIRIUS
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/install_sirius.sh
  tools/toolchain/scripts/install_spfft.sh
Due: none

Small fix in computation of the stress tensor
  src/force_env_methods.F
  src/pwdft_environment.F
Due: doxify, prettify, analyze_src

more tests for SIRIUS
  tests/SIRIUS/regtest-1/F.pz-n-kjpaw_psl.0.1.UPF.json
  tests/SIRIUS/regtest-1/Li.pz-s-kjpaw_psl.0.2.1.UPF.json
  tests/SIRIUS/regtest-1/LiF.inp
  tests/SIRIUS/regtest-1/TEST_FILES
Due: none

Add more tests in SIRIUS
  tests/SIRIUS/regtest-1/TEST_FILES
Due: none

Fix a typo
  src/force_env_methods.F
Due: doxify, prettify, analyze_src

add python3
  tools/toolchain/Dockerfile
Due: none

make pretty
  src/force_env_methods.F
  src/pwdft_environment.F
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

Compilation error with unused parameter
  src/sirius_interface.F
  tools/toolchain/Dockerfile
  tools/toolchain/scripts/install_fftw.sh
  tools/toolchain/scripts/install_sirius.sh
  tools/toolchain/scripts/install_spfft.sh
Due: doxify, prettify, analyze_src

Update spfft to latest version
  tools/toolchain/scripts/install_sirius.sh
  tools/toolchain/scripts/install_spfft.sh
Due: none

Updated the total energies of two of the tests
  tests/SIRIUS/regtest-1/Au.inp
  tests/SIRIUS/regtest-1/TEST_FILES
Due: none

temporarily remove cosma build
  tools/toolchain/install_cp2k_toolchain.sh
Due: none

SIRIUS: Update to version 6.4.1, add stress tensor, SpFFT, and more tests.
  src/force_env_methods.F
  src/pwdft_environment.F
  src/sirius_interface.F
  tests/SIRIUS/regtest-1/Au_GTH.inp
  tests/SIRIUS/regtest-1/F.pz-n-kjpaw_psl.0.1.UPF.json
  tests/SIRIUS/regtest-1/Fe.inp
  tests/SIRIUS/regtest-1/He-full-potential.inp
  tests/SIRIUS/regtest-1/He.json
  tests/SIRIUS/regtest-1/Li.pz-s-kjpaw_psl.0.2.1.UPF.json
  tests/SIRIUS/regtest-1/LiF.inp
  tests/SIRIUS/regtest-1/NiO.inp
  tests/SIRIUS/regtest-1/SrVO.inp
  tests/SIRIUS/regtest-1/TEST_FILES
  tests/SIRIUS/regtest-1/ni_lda_v1.4.uspp.F.UPF.json
  tests/SIRIUS/regtest-1/o_lda_v1.2.uspp.F.UPF.json
  tests/SIRIUS/regtest-1/sr_lda_v1.uspp.F.UPF.json
  tests/SIRIUS/regtest-1/v_lda_v1.4.uspp.F.UPF.json
  tools/toolchain/Dockerfile
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/install_fftw.sh
  tools/toolchain/scripts/install_sirius.sh
  tools/toolchain/scripts/install_spfft.sh
Due: doxify, prettify, analyze_src

Input: Add possible potential types in description
  src/input_cp2k_subsys.F
Due: doxify, prettify, analyze_src

Input: Correct for typos
  src/input_cp2k_subsys.F
Due: doxify, prettify, analyze_src

XAS_TDP| Added EPS_FILTER parameters for DBCSR matrix multiplications
  src/input_cp2k_dft.F
  src/xas_tdp_kernel.F
  src/xas_tdp_methods.F
  src/xas_tdp_types.F
  src/xas_tdp_utils.F
Due: doxify, prettify, analyze_src

XAS_TDP| 1) Adaptative memory management in the projection of the density (to never run out) 2) Added general rule for the derivative of the Legendre polynomials for high l
  src/common/spherical_harmonics.F
  src/xas_tdp_atom.F
  src/xas_tdp_utils.F
Due: doxify, prettify, analyze_src

XAS_TDP| Fix pbc-shortrange regtest to include proper physics (previously no long-range LDA_X)
  tests/QS/regtest-xastdp/Ne-pbc-shortrange.inp
  tests/QS/regtest-xastdp/TEST_FILES
Due: none

Improvement of KIND input section (#600)
  src/input_cp2k_subsys.F
Due: doxify, prettify, analyze_src

Toolchain: Do not clear rpath of SpFFT library
  tools/toolchain/scripts/install_spfft.sh
Due: none

Docker: Update AiiDA test to Python3
  tools/docker/Dockerfile.test_aiida
  tools/docker/scripts/install_aiida.sh
  tools/docker/scripts/install_basics.sh
  tools/docker/scripts/test_aiida.sh
Due: none

Docker: Update AiiDA test to pytest
  tools/docker/scripts/install_aiida.sh
  tools/docker/scripts/test_aiida.sh
Due: none

Path conditions:
  doxify: any of: .*\.(F|f90)$
  prettify: any of: .*\.(F|f90)$, but not: (?x)^(
  tools/.*|
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: .*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
