Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Prefer -qopenmp rather than -fopenmp
  arch/Linux-intel-x86_64-minimal.psmp
Due: none

Fixed typo
  CMakeLists.txt
Due: none

Docs: Add venv creation to README
  docs/README.md
Due: none

refactored wfn_mix inpit reference
  src/input_cp2k_dft.F
  src/qs_scf_wfn_mix.F
Due: doxify, prettify, analyze_src

simplified GW self-consistency input
  src/core_ppnl.F
  src/gw_utils.F
  src/input_constants.F
  src/input_cp2k_mp2.F
  src/input_cp2k_properties_dft.F
  src/mp2_setup.F
  src/rpa_gw.F
  tests/QS/regtest-gw/TEST_FILES
  tests/QS/regtest-gw/evGW0_H2O_PBE_set_sc_flag.inp
  tests/QS/regtest-gw/evGW_H2O_PBE_set_sc_flag.inp
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

increase number of test types
  tests/TEST_TYPES
Due: none

Docs: Improve BSE methods section
  docs/methods/properties/optical/bethe-salpeter.md
  src/bse_full_diag.F
  src/bse_main.F
  src/bse_util.F
  src/input_cp2k_mp2.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_gw_sigma_x.F
  tests/QS/regtest-bse/BSE_H2O_PBE.inp
  tests/QS/regtest-bse/TDA_H2O_PBE.inp
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Update Intel hpckit version
  arch/Linux-gnu-x86_64.psmp
  tools/docker/Dockerfile.test_intel-psmp
  tools/docker/generate_dockerfiles.py
Due: none

fix tests
  src/gw_utils.F
  src/rpa_gw.F
  tests/QS/regtest-gw-cubic/TEST_FILES
  tests/QS/regtest-gw-cubic/scGW0_H2O_PBE_default_values.inp
  tests/QS/regtest-gw/TEST_FILES
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

increase evGW iterations in regtest from 2 to 3
  tests/QS/regtest-gw-cubic/evGW_H2O_PBE_default_values.inp
Due: none

simplified GW self-consistency input
  src/core_ppnl.F
  src/gw_utils.F
  src/input_constants.F
  src/input_cp2k_mp2.F
  src/input_cp2k_properties_dft.F
  src/mp2_setup.F
  src/rpa_gw.F
  tests/QS/regtest-gw-cubic/TEST_FILES
  tests/QS/regtest-gw-cubic/scGW0_H2O_PBE_default_values.inp
  tests/QS/regtest-gw/TEST_FILES
  tests/QS/regtest-gw/evGW0_H2O_PBE_set_sc_flag.inp
  tests/QS/regtest-gw/evGW_H2O_PBE_set_sc_flag.inp
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Docs: Improve BSE methods section
  docs/methods/properties/optical/bethe-salpeter.md
  src/bse_full_diag.F
  src/bse_main.F
  src/bse_util.F
  src/common/bibliography.F
  src/input_cp2k_mp2.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_gw_sigma_x.F
  tests/QS/regtest-bse/BSE_H2O_PBE.inp
  tests/QS/regtest-bse/TDA_H2O_PBE.inp
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Fix reference links
  docs/methods/properties/bandstructure_gw.md
  docs/methods/properties/optical/bethe-salpeter.md
  src/common/bibliography.F
Due: doxify, prettify, analyze_src

Docs: Improve BSE methods section
  docs/methods/properties/bandstructure_gw.md
  docs/methods/properties/optical/bethe-salpeter.md
  src/bse_full_diag.F
  src/bse_main.F
  src/bse_util.F
  src/common/bibliography.F
  src/input_cp2k_mp2.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_gw_sigma_x.F
  tests/QS/regtest-bse/BSE_H2O_PBE.inp
  tests/QS/regtest-bse/TDA_H2O_PBE.inp
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Docs: Move bibliography formatting logic to Python
  docs/README.md
  docs/generate_input_reference.py
  src/common/bibliography.F
  src/common/reference_manager.F
  src/environment.F
  src/start/cp2k_runs.F
  tools/docker/scripts/test_manual.sh
Due: doxify, prettify, analyze_src, shfmt

Docs: Generate units.md from cp2k_input.xml
  docs/generate_input_reference.py
  docs/units.md
  src/common/cp_units.F
  src/start/cp2k_runs.F
Due: doxify, prettify, analyze_src

Remove some Pointer attributes
  src/pme.F
  src/spme.F
Due: doxify, prettify, analyze_src

Remove some Pointer attributes (#3548)
  src/pme.F
  src/spme.F
Due: doxify, prettify, analyze_src

MP2: ENforce correct occupation numbers with smearing
  src/mp2.F
Due: doxify, prettify, analyze_src

Check for smearing in correlated methods
  src/mp2.F
Due: doxify, prettify, analyze_src

MP2: Add tests for RPA with smearing (feature not yet usable)
  src/mp2.F
  src/qs_mo_occupation.F
Due: doxify, prettify, analyze_src

MP2: Add tests for RPA with smearing (feature not yet implemented)
  tests/QS/regtest-rpa-smearing/CH3.xyz
  tests/QS/regtest-rpa-smearing/H2O_gas.xyz
  tests/QS/regtest-rpa-smearing/RPA_smearing_CH3.inp
  tests/QS/regtest-rpa-smearing/RPA_smearing_H2O.inp
  tests/QS/regtest-rpa-smearing/TEST_FILES
  tests/TEST_DIRS
Due: none

RPA: Pass occupancy downstream (not yet working)
  src/mp2.F
  src/mp2_gpw.F
  src/mp2_grids.F
  src/mp2_integrals.F
  src/qs_mo_occupation.F
  src/rpa_exchange.F
  src/rpa_grad.F
  src/rpa_main.F
  src/rpa_util.F
  tests/QS/regtest-rpa-smearing/RPA_smearing_CH3.inp
  tests/QS/regtest-rpa-smearing/RPA_smearing_CH3_minimax.inp
  tests/QS/regtest-rpa-smearing/RPA_smearing_H2O_minimax.inp
  tests/QS/regtest-rpa-smearing/TEST_FILES
Due: doxify, prettify, analyze_src

Scale S tensor with the occupation numbers
  src/bse_main.F
  src/bse_util.F
  src/rpa_gw.F
  src/rpa_main.F
  src/rpa_util.F
Due: doxify, prettify, analyze_src

Add Matsubara grid
  src/mp2_grids.F
  src/rpa_main.F
  src/rpa_util.F
Due: doxify, prettify, analyze_src

Add two-point extrapolation scheme
  src/input_cp2k_mp2.F
  src/mp2_grids.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_main.F
Due: doxify, prettify, analyze_src

Some fixes, add a warning
  src/mp2_grids.F
  src/rpa_main.F
Due: doxify, prettify, analyze_src

Add three-point extratpolation scheme
  src/mp2_grids.F
  tests/QS/regtest-rpa-smearing/RPA_smearing_H2O.inp
  tests/QS/regtest-rpa-smearing/RPA_smearing_H2O_extrap2.inp
  tests/QS/regtest-rpa-smearing/RPA_smearing_H2O_extrap3.inp
  tests/QS/regtest-rpa-smearing/TEST_FILES
Due: doxify, prettify, analyze_src

Refactor quadrature rules
  src/input_constants.F
  src/input_cp2k_mp2.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_grad.F
  src/rpa_main.F
Due: doxify, prettify, analyze_src

Remove superfluous operations
  src/mp2_grids.F
Due: doxify, prettify, analyze_src

Adjust regtests to new input format
  tests/QS/regtest-embed/H2O_H2_pbe_rpa_restart.inp
  tests/QS/regtest-gw-ic-model/IC_no_wf_update.inp
  tests/QS/regtest-mp2-block/H2O_block_rpa_grad.inp
  tests/QS/regtest-ri-rpa-grad/RI_RPA_grad_MP2_CH3.inp
  tests/QS/regtest-ri-rpa-grad/RI_RPA_grad_MP2_H2O.inp
  tests/QS/regtest-ri-rpa-grad/RI_RPA_grad_MP2_H2O_HF_PBE.inp
  tests/QS/regtest-ri-rpa-grad/RI_RPA_grad_MP2_H2O_HF_PBE_ADMM.inp
  tests/QS/regtest-ri-rpa-rse/Cubic_RPA_RSE_H2.inp
  tests/QS/regtest-ri-rpa/RI_RPA_H2O_minimax.inp
  tests/QS/regtest-ri-rpa/RI_RPA_minimax_H_atom.inp
  tests/QS/regtest-rpa-lr/H2O-ri-rpa-lr-mme.inp
  tests/QS/regtest-rpa-lr/H2O-ri-rpa-lr.inp
  tests/QS/regtest-rpa-lr/H2O-rpa-cubic-lr-mme.inp
  tests/QS/regtest-rpa-lr/H2O-rpa-cubic-lr.inp
  tests/QS/regtest-rpa-smearing/TEST_FILES
Due: none

RPA: Add code to optimize Clenshaw-Curtis quadratures at finite temperatures
  src/input_cp2k_mp2.F
  src/mp2_grids.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_main.F
  tests/QS/regtest-rpa-smearing/RPA_smearing_CH3.inp
  tests/QS/regtest-rpa-smearing/RPA_smearing_H2O.inp
  tests/QS/regtest-rpa-smearing/RPA_smearing_H2O_cc.inp
  tests/QS/regtest-rpa-smearing/RPA_smearing_H2O_extrap2.inp
  tests/QS/regtest-rpa-smearing/TEST_FILES
Due: doxify, prettify, analyze_src

RPA: Refactor Clenshaw-Curtis quadrature
  src/mp2_grids.F
  src/rpa_gw.F
  src/rpa_main.F
Due: doxify, prettify, analyze_src
