Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Fix Wannier90 projection rank checks with IEEE traps enabled
  src/wannier90_projections.F
  src/wannier90_projections_unittest.F
Due: doxify, prettify, analyze_src

Keep reconstructed k-point MOs in the SCF lattice gauge
  docs/methods/electronic_structure/wannier90.md
  src/kpoint_methods.F
  src/kpoint_mo_symmetry_methods.F
  src/kpoint_types.F
  tests/QS/regtest-kp-1-spglib/TEST_FILES.toml
  tests/QS/regtest-kp-1-spglib/aln_wannier90_metric.inp
  tests/QS/regtest-wannier90-library-2/TEST_FILES.toml
  tests/QS/regtest-wannier90-library-2/he2_hexagonal_spglib.inp
  tests/QS/regtest-wannier90-library/TEST_FILES.toml
  tests/QS/regtest-wannier90-library/he2_hexagonal.inc
  tests/QS/regtest-wannier90-library/he2_hexagonal.inp
  tests/QS/regtest-wannier90-library/he2_hexagonal_diagonalize.inp
  tests/matchers.py
Due: doxify, prettify, analyze_src

Preserve topology exports when integrating the Wannier90 library
  docs/methods/electronic_structure/wannier90.md
  src/input_cp2k_print_dft.F
  src/qs_wannier90.F
  tests/QS/regtest-topology/TEST_FILES.toml
  tests/QS/regtest-topology/helium-nnkp-beta.inp
Due: doxify, prettify, analyze_src

Tests: Allow last-digit rounding in inverse-BFGS regression
  tests/Fist/regtest-5-vib/TEST_FILES.toml
Due: none

Run Wannier90 overlap reciprocity tests in CI
  tools/docker/scripts/test_misc.sh
  tools/regtesting/test_compare_wannier90_mmn.py
Due: shfmt

Preserve parity workspaces across Wannier90 integration
  src/qs_wannier90.F
  tests/QS/regtest-topology/helium-nnkp.inp
Due: doxify, prettify, analyze_src

Fix FIST periodic electric-field signs
  src/fist_efield_methods.F
  tests/Fist/regtest-field/TEST_FILES.toml
  tests/Fist/regtest-field/periodic_efield_phase.inp
  tests/matchers.py
Due: doxify, prettify, analyze_src

Use libwignernj for the angular momentum algebra
  CMakeLists.txt
  cmake/modules/FindLibwignernj.cmake
  docs/changelog.md
  docs/technologies/libraries.md
  src/CMakeLists.txt
  src/aobasis/gaunt_coefficients.F
  src/common/cg_test.F
  src/common/spherical_harmonics.F
  src/common/wignernj_interface.F
  src/library_tests.F
  src/lri_environment_init.F
  src/qs_cneo_methods.F
  src/qs_cneo_utils.F
  src/qs_rho_atom_methods.F
  src/qs_tddfpt2_soc.F
  src/shg_int/generic_shg_integrals_init.F
  src/shg_integrals_test.F
  src/start/input_cp2k.F
  src/xas_tdp_atom.F
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
  tools/spack/spack_repo/cp2k_dev/packages/libwignernj/package.py
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage7/install_libwignernj.sh
  tools/toolchain/scripts/stage7/install_stage7.sh
Due: doxify, prettify, analyze_src, shfmt

Fix libwignernj discovery, backend switching, and CMake exports
  CMakeLists.txt
  cmake/cp2kConfig.cmake.in
  cmake/modules/FindLibwignernj.cmake
  docs/technologies/libraries.md
  src/CMakeLists.txt
Due: none

Cover explicit source paths and third-party license checks
  tools/docker/scripts/test_misc.sh
  tools/precommit/check_file_properties.py
  tools/precommit/precommit.py
  tools/precommit/precommit_test.py
Due: shfmt

Namespace the bundled libwignernj to avoid symbol collisions
  src/CMakeLists.txt
  src/common/wignernj_interface.F
  src/cp2k_info.F
  src/wignernj/README.md
  src/wignernj/bigint.c
  src/wignernj/clebsch.c
  src/wignernj/cp2k_wignernj_prefix.h
  src/wignernj/fano_x.c
  src/wignernj/gaunt.c
  src/wignernj/pfrac.c
  src/wignernj/primes.c
  src/wignernj/racah.c
  src/wignernj/real_ylm_in_complex_ylm.c
  src/wignernj/scratch.c
  src/wignernj/wigner3j.c
  src/wignernj/wigner6j.c
  src/wignernj/wigner9j.c
  src/wignernj/wigner_exact.c
  src/wignernj/xalloc.c
  src/wignernj_c_api.c
Due: doxify, prettify, analyze_src, clang-format

Optimize MPI parallelism of k-point calculations (#5993)
  src/admm_methods.F
  src/cp_dbcsr_operations.F
  src/input_cp2k_kpoints.F
  src/kpoint_lattice_fft.F
  src/kpoint_methods.F
  src/kpoint_types.F
  src/pw/fft/fft_lib.F
  src/qs_environment_types.F
  src/qs_kpoint_operators.F
  src/qs_scf.F
  src/qs_scf_csr_write.F
  src/qs_scf_diagonalization.F
  src/qs_scf_initialization.F
  src/qs_scf_loop_utils.F
  src/qs_wf_history_methods.F
  src/start/cp2k_runs.F
Due: doxify, prettify, analyze_src

Unify k-point SCF execution across MPI and OpenMP
  src/fm/cp_cfm_diag.F
  src/kpoint_methods.F
  src/parallel_gemm_api.F
  src/qs_diis.F
  src/qs_kpoint_operators.F
  src/qs_scf_diagonalization.F
Due: doxify, prettify, analyze_src

Streamline distributed tile assembly and remove legacy builders
  src/kpoint_methods.F
  src/qs_kpoint_operators.F
  src/qs_scf_diagonalization.F
Due: doxify, prettify, analyze_src

Unify density transforms and reuse lattice FFT workspaces
  src/kpoint_lattice_fft.F
  src/kpoint_lattice_fft_unittest.F
  src/kpoint_methods.F
Due: doxify, prettify, analyze_src

Code cleanup
  src/fm/cp_cfm_diag.F
  src/kpoint_methods.F
  src/qs_diis.F
  src/qs_kpoint_operators.F
  src/qs_scf_diagonalization.F
Due: doxify, prettify, analyze_src

Use local_gemm_api for local k-point matrix products
  src/input_cp2k_global.F
  src/kpoint_methods.F
  src/local_gemm_api.F
  src/parallel_gemm_api.F
  src/qs_diis.F
  src/qs_scf_diagonalization.F
Due: doxify, prettify, analyze_src

Unify operator preparation for OT, history and diagonalization
  src/qs_kpoint_operators.F
  src/qs_scf.F
  src/qs_scf_diagonalization.F
  src/qs_scf_loop_utils.F
  src/qs_wf_history_methods.F
Due: doxify, prettify, analyze_src

Speed up topology and Wannier90 regression setup
  tests/QS/regtest-topology/stanene-tqc.inp
  tests/QS/regtest-wannier90-library/h2_gapw.inc
  tests/QS/regtest-wannier90-library/he2_hexagonal.inc
Due: none

Unify and optimize k-point parallelism across MPI and OpenMP (#6063)
  src/fm/cp_cfm_diag.F
  src/input_cp2k_global.F
  src/kpoint_lattice_fft.F
  src/kpoint_lattice_fft_unittest.F
  src/kpoint_methods.F
  src/local_gemm_api.F
  src/qs_diis.F
  src/qs_kpoint_operators.F
  src/qs_scf.F
  src/qs_scf_diagonalization.F
  src/qs_scf_loop_utils.F
  src/qs_wf_history_methods.F
Due: doxify, prettify, analyze_src

Docker: Run precommit test with 32 parallel workers
  tools/docker/scripts/test_precommit.sh
Due: shfmt

Toolchain: OpenMPI 5.0.10 -> 6.0.0
  tools/toolchain/scripts/stage1/install_openmpi.sh
  tools/toolchain/scripts/stage1/ompi-fix-flex-detection.patch
  tools/toolchain/scripts/stage1/openmpi-5.0.10-op-module-lifetime.patch
  tools/toolchain/scripts/stage1/openmpi-5.0.10-pml-ob1-pending.patch
Due: shfmt

QS: Add a complex thick-restart block Lanczos refinement kernel
  src/CMakeLists.txt
  src/qs_scf_lanczos_c.F
Due: doxify, prettify, analyze_src

QS: Diagonalize the k-point SCF with complex block Lanczos
  src/input_cp2k_scf.F
  src/qs_initial_guess.F
  src/qs_scf_diagonalization.F
  src/qs_scf_initialization.F
  src/qs_scf_loop_utils.F
  src/qs_scf_types.F
Due: doxify, prettify, analyze_src

QS: Cite the thick-restart Lanczos method
  src/common/bibliography.F
  src/qs_scf_lanczos_c.F
Due: doxify, prettify, analyze_src

Tests: Cover the k-point Lanczos diagonalization
  tests/QS/regtest-elpa/TEST_FILES.toml
  tests/QS/regtest-elpa/cplx_kp_lan.inp
  tests/QS/regtest-kp-5/Al-kpoint-lan-smear-auto.inp
  tests/QS/regtest-kp-5/Al-kpoint-lan-smear-block4.inp
  tests/QS/regtest-kp-5/Al-kpoint-lan-smear-deep.inp
  tests/QS/regtest-kp-5/Al-kpoint-lan-smear-exh.inp
  tests/QS/regtest-kp-5/Al-kpoint-lan-smear-global.inp
  tests/QS/regtest-kp-5/Al-kpoint-lan-smear-pgs2.inp
  tests/QS/regtest-kp-5/Al-kpoint-lan-smear.inp
  tests/QS/regtest-kp-5/TEST_FILES.toml
  tests/QS/regtest-kp-5/he_lan.inp
  tests/QS/regtest-kp-5/he_lan_adapt.inp
Due: none

QS: Avoid lhs reallocation in the Lanczos kernel
  src/qs_scf_lanczos_c.F
Due: doxify, prettify, analyze_src

QS: Copy the Lanczos eigenvalues to the imaginary mo set
  src/qs_scf_diagonalization.F
Due: doxify, prettify, analyze_src

QS: Rejudge the Lanczos target pairs at every cycle
  src/qs_scf_diagonalization.F
  src/qs_scf_lanczos_c.F
  tests/QS/regtest-kp-5/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Python: add direct libcp2k interface with optional ASE and MPI support
  CMakeLists.txt
  docs/index.md
  docs/technologies/python.md
  python/LICENSE
  python/MANIFEST.in
  python/README.md
  python/examples/ase_optimization.py
  python/examples/energy_forces.py
  python/examples/h2.inp
  python/pyproject.toml
  python/src/cp2k/__init__.py
  python/src/cp2k/ase.py
  python/src/cp2k/input.py
  python/src/cp2k/library.py
  python/tests/conftest.py
  python/tests/mpi_smoke.py
  python/tests/test_ase.py
  python/tests/test_input.py
  python/tests/test_integration.py
  python/tests/test_library.py
Due: none

Libcp2k: preserve output and DBCSR ownership for embedded runs
  src/start/cp2k_runs.F
  src/start/libcp2k.F
  src/start/libcp2k_unittest.c
Due: doxify, prettify, analyze_src, clang-format

Python: separate test invocation and fix manual packaging
  CMakeLists.txt
  python/README.md
  tools/docker/Dockerfile.test_manual
  tools/docker/generate_dockerfiles.py
Due: none

Add direct OpenMM and MPI-capable LAMMPS Python adapters
  python/README.md
  python/pyproject.toml
  python/src/cp2k/lammps.py
  python/src/cp2k/openmm.py
  python/tests/lammps_mpi_smoke.py
  python/tests/test_couplings.py
  python/tests/test_integration.py
Due: none

Validate i-PI requests and handle fragmented socket transfers
  python/tests/test_driver.py
  src/ipi_driver.F
  src/sockets.c
Due: doxify, prettify, analyze_src, clang-format

Expose potential stress and virial to C, Python and ASE
  python/examples/argon.inp
  python/src/cp2k/_units.py
  python/src/cp2k/ase.py
  python/src/cp2k/library.py
  python/tests/conftest.py
  python/tests/test_ase.py
  python/tests/test_stress.py
  src/f77_interface.F
  src/start/libcp2k.F
  src/start/libcp2k.h
  src/start/libcp2k_unittest.c
Due: doxify, prettify, analyze_src, clang-format

Fix convention failures in restart and topology utilities
  src/common/cp_files.F
  src/kpsym_unittest.F
  src/motion/bfgs_optimizer.F
  src/ot_covariant_preconditioner_unittest.F
  src/topology_curvature.F
  src/topology_phason_analysis.F
  src/topology_phasons.F
  src/topology_snapshot_unittest.F
  src/topology_wilson_unittest.F
Due: doxify, prettify, analyze_src

Fix PLUMED bias energy, force, virial and restart coupling
  cmake/modules/FindPlumed.cmake
  docs/technologies/libraries.md
  python/tests/plumed_mpi_smoke.py
  python/tests/test_plumed.py
  src/force_env_types.F
  src/metadynamics.F
  src/metadynamics_types.F
  src/motion/md_run.F
Due: doxify, prettify, analyze_src

Python: add optional AiiDA common-workflow integration
  python/README.md
  python/examples/aiida_relaxation.py
  python/pyproject.toml
  python/requirements-aiida.txt
  python/src/cp2k/aiida.py
  python/tests/test_aiida.py
Due: none
