Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

trexio compilation in toolchain working
  tools/toolchain/scripts/stage8/install_trexio.sh
Due: shfmt

Split trexio_utils and isolate externalk trexio_module
  src/trexio_module.F
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Started with basis group
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Started with mo group
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Info on nucleus implemented
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Started with ECP group
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

State group done
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

MO group done
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Kpoints finally fully working in serial and parallel modes
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Reintroduce input section after merge with master
  src/input_cp2k_print_dft.F
Due: doxify, prettify, analyze_src

Store basis coeffs and prim_factors separately
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

MO coeffs kpts psmp working; energies and occupations still missing
  src/qs_scf_post_gpw.F
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Update install scripts
  tools/toolchain/scripts/stage7/install_hdf5.sh
  tools/toolchain/scripts/stage8/install_trexio.sh
Due: shfmt

Decrease by 1 spin value stored
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

TODO: fix trexio toolchain script
  tools/toolchain/scripts/stage8/install_trexio.sh
Due: shfmt

Add Racah normalization factor for saving spherical GTOs
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Update trexio install script
  src/trexio_utils.F
  tools/toolchain/scripts/stage8/install_trexio.sh
Due: doxify, prettify, analyze_src, shfmt

Use explicit dimensions with matmul to avoid reallocation
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Remove racah normalization and store solid rather than spherical harmonics
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Set primitive shell factor to 1
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Attempt to Cart2Sph AO normalization coefficients
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Make pretty
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Small preprocessor fix
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Always store AO normalization coefficients
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Store kpoint info also for gamma-point only calculations
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Change init mo coefficients
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Remove density matrix
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Dump 1rdm in MO basis as well
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Add option to dump AOs and MOs in spherical basis
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Make pretty and additional info on INSTALL.md
  INSTALL.md
  src/aobasis/basis_set_types.F
  src/qs_kind_types.F
  src/qs_scf_post_gpw.F
  src/trexio_utils.F
  tools/toolchain/scripts/stage8/install_trexio.sh
Due: doxify, prettify, analyze_src, shfmt

Rename trexio_module.F to trexio.F
  src/trexio.F
Due: doxify, prettify, analyze_src

Download trexio from cp2k website
  tools/toolchain/scripts/stage8/install_trexio.sh
Due: shfmt

Update hdf5 to 1.14.5
  tools/toolchain/scripts/stage7/install_hdf5.sh
Due: shfmt

Add tests for trexio
  tests/QS/regtest-trexio/Ne_ecp_rks_cartesian.inp
  tests/QS/regtest-trexio/Ne_ecp_rks_filename.inp
  tests/QS/regtest-trexio/TEST_FILES
  tests/QS/regtest-trexio/diamond_kp_rks.inp
  tests/QS/regtest-trexio/h2o_pbc_uks_cart.inp
  tests/QS/regtest-trexio/sto-3g.cp2k
  tests/QS/regtest-trexio/stuttgart_rlc.cp2k
  tests/TEST_DIRS
Due: none

Provide statement for every case
  src/base/machine.F
Due: doxify, prettify, analyze_src

Provide statement for every case (#3796)
  src/base/machine.F
Due: doxify, prettify, analyze_src

Prettify
  tests/QS/regtest-trexio/Ne_ecp_rks_cartesian.inp
  tests/QS/regtest-trexio/Ne_ecp_rks_filename.inp
  tests/QS/regtest-trexio/diamond_kp_rks.inp
  tests/QS/regtest-trexio/h2o_pbc_uks_cart.inp
Due: none

Add files to cmakelists
  src/CMakeLists.txt
Due: none

ADMM initialization only if HFX present (GS or RPA)
  src/cp_control_utils.F
Due: doxify, prettify, analyze_src

Use cusolverMpSygvd for generalized eigensolver
  .gitignore
  src/fm/cp_fm_cusolver.c
  src/fm/cp_fm_cusolver_api.F
  src/fm/cp_fm_diag.F
Due: doxify, prettify, analyze_src, clang-format
