Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

precommit: Introduce new server-based framework
  tools/precommit/Dockerfile
  tools/precommit/README.md
  tools/precommit/cloudbuild.yaml
  tools/precommit/deploy.sh
  tools/precommit/entrypoint.sh
  tools/precommit/precommit.py
  tools/precommit/precommit_server.py
  tools/precommit/start_local_server.sh
Due: none

Fix error propagation and printout
  src/energy_corrections.F
  src/fm/cp_fm_diag.F
  src/qs_tddfpt2_properties.F
Due: doxify, prettify, analyze_src

Relocate variable declaration
  src/fm/cp_fm_diag.F
Due: doxify, prettify, analyze_src

Update arch file
  arch/Linux-x86-64-intel-regtest.psmp
Due: none

Fix optional argument
  src/fm/cp_fm_diag.F
Due: doxify, prettify, analyze_src

Add cp_hint_handler to avoid writes to stdout
  src/common/cp_error_handling.F
  src/environment.F
Due: doxify, prettify, analyze_src

grid: Fix const warnings for icc and gcc -Wpedantic
  src/grid/Makefile
  src/grid/grid_collocate_cpu.c
  src/grid/grid_collocate_replay.c
  src/grid/grid_task_list.c
Due: analyze_src

Fix bad aliasing in dbcsr_multiply
  src/dm_ls_scf.F
  src/dm_ls_scf_methods.F
  src/iterate_matrix.F
  src/rpa_axk.F
  src/xas_tdp_utils.F
Due: doxify, prettify, analyze_src

precommit: Enable MarkdownLint and various small improvements
  tools/precommit/Dockerfile
  tools/precommit/README.md
  tools/precommit/cloudbuild.yaml
  tools/precommit/precommit.py
  tools/precommit/precommit_server.py
Due: none

Format Markdown files to comply with Linter
  INSTALL.md
  README.md
  benchmarks/Fayalite-FIST/README.md
  benchmarks/QMMM_CBD_PHY/README.md
  benchmarks/QMMM_ClC/README.md
  benchmarks/QMMM_MQAE/README.md
  benchmarks/QS/README.md
  benchmarks/QS_DM_LS/README.md
  benchmarks/QS_LiH_HFX/README.md
  benchmarks/QS_low_scaling_GW/README.md
  benchmarks/QS_mp2_rpa/128-H2O/README.md
  benchmarks/QS_mp2_rpa/32-H2O/README.md
  benchmarks/QS_mp2_rpa/64-H2O/README.md
  benchmarks/QS_mp2_rpa/README.md
  benchmarks/QS_ot_ls/README.md
  benchmarks/QS_pao_ml_tio2/README.md
  benchmarks/QS_single_node/README.md
  benchmarks/QS_stmv/README.md
  benchmarks/README.md
  src/grid/README.md
  src/pw/fpga/README.md
  src/start/python/README.md
  tests/Fist/EAM_LIB/README.md
  tests/README.md
  tools/benchmark_plots/README.md
  tools/doxify/README.md
  tools/input_editing/emacs/README.md
  tools/input_editing/vim/README.md
  tools/plan_mpi_omp/README.md
  tools/precommit/README.md
  tools/precommit/precommit.py
  tools/toolchain/README.md
Due: none

Makefile: Replace pretty and doxify with precommit
  Makefile
Due: none

precommit: Fix Dockerfile and cloudbuild.yaml
  tools/precommit/Dockerfile
  tools/precommit/cloudbuild.yaml
Due: none

Dashboard: Add precommit tester
  tools/dashboard/dashboard.conf
Due: none

precommit: Add check for data/POTENTIAL file
  tools/precommit/precommit.py
Due: none

pre-commit: integrate markdownlint, format previously ignored files
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  exts/README.md
  tools/docker/scripts/install_formatting.sh
Due: none

pre-commit: include clang-format
  .pre-commit-config.yaml
  tools/docker/scripts/install_formatting.sh
Due: none

precommit: Increase timeout and reduce num_workers
  tools/precommit/entrypoint.sh
  tools/precommit/precommit.py
Due: none

fix typo expoenent -> exponent
  src/emd/rt_propagator_init.F
  src/grid/grid_task_list.h
  src/input_optimize_basis.F
  src/optimize_basis.F
Due: doxify, prettify, analyze_src

grid: Change variable name
  src/grid/grid_collocate_cpu.c
Due: analyze_src

precommit: Fix check for data/POTENTIAL file
  tools/precommit/Dockerfile
  tools/precommit/precommit.py
Due: none

precommit: Touch up README.md
  tools/precommit/README.md
Due: none

Dashboard: Fix parsing of precommit reports
  tools/dashboard/generate_dashboard.py
Due: none

precommit: Increase num_workers for CI mode
  tools/precommit/entrypoint.sh
Due: none

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
