Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Clean up and optimize the tblite interface (#6218)
  src/CMakeLists.txt
  src/base/machine.F
  src/cp2k_info.F
  src/qs_charge_mixing_unittest.F
  src/qs_force.F
  src/tb/tblite_interface.F
  src/tb/tblite_reference_cli.F
  src/tb/tblite_scc_mixer.F
  src/tb/tblite_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Added fermi level computation and soc diagonalization window (#6205)
  src/input_cp2k_properties_dft.F
  src/post_scf_bandstructure_types.F
  src/post_scf_bandstructure_utils.F
Due: doxify, prettify, analyze_src

Avoid nonexistent ELPA include directory .../modules/modules (#6227)
  cmake/modules/FindElpa.cmake
Due: none

Keep informative test summary in Spack's CI reports
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
  tools/docker/Dockerfile.test_spack_openmpi-pdbg
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_pdbg
  tools/docker/Dockerfile.test_spack_pdbg-P100
  tools/docker/Dockerfile.test_spack_pdbg-rawhide
  tools/docker/Dockerfile.test_spack_performance-openmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc13
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-gcc16
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rockylinux
  tools/docker/Dockerfile.test_spack_sdbg
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/generate_dockerfiles.py
Due: none

Refactor input for generic function and add a THERMAL_REGION/TFUNC regtest
  src/CMakeLists.txt
  src/input_cp2k_function.F
  src/motion/input_cp2k_md.F
  src/motion/thermal_region_types.F
  src/motion/thermal_region_utils.F
  tests/Fist/regtest-6/TEST_FILES.toml
  tests/Fist/regtest-6/argon_tfunc.inp
Due: doxify, prettify, analyze_src

Keep informative test summary in Spack's CI reports (#6230)
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
  tools/docker/Dockerfile.test_spack_openmpi-pdbg
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_pdbg
  tools/docker/Dockerfile.test_spack_pdbg-P100
  tools/docker/Dockerfile.test_spack_pdbg-rawhide
  tools/docker/Dockerfile.test_spack_performance-openmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc13
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-gcc16
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rockylinux
  tools/docker/Dockerfile.test_spack_sdbg
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/generate_dockerfiles.py
Due: none

Relax tolerance
  tests/QMMM/QS/regtest-cdft/TEST_FILES.toml
Due: none

Reorder test directories
  tests/TEST_DIRS
Due: none

Refactor procedures for generic function input and add a `THERMAL_REGION/TFUNC` regtest retroactively (#6228)
  src/CMakeLists.txt
  src/input_cp2k_function.F
  src/motion/input_cp2k_md.F
  src/motion/thermal_region_types.F
  src/motion/thermal_region_utils.F
  tests/Fist/regtest-6/TEST_FILES.toml
  tests/Fist/regtest-6/argon_tfunc.inp
Due: doxify, prettify, analyze_src

Reorder test directories (#6231)
  tests/QMMM/QS/regtest-cdft/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

SIRIUS: Adapt sirius_finalize call to API change
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

Define CP2K_USE_SIRIUS_{feature} from SIRIUS CMake config
  CMakeLists.txt
  cmake/cp2kConfig.cmake.in
  src/CMakeLists.txt
Due: none

Toolchain: SIRIUS v7.11.1 -> 7.12.0
  tools/toolchain/scripts/stage8/install_sirius.sh
  tools/toolchain/scripts/stage8/sirius-linking.patch
Due: shfmt

Docker: Load toolchain environment for Ubuntu and minimal testers
  tools/docker/scripts/test_regtest.sh
  tools/toolchain/scripts/stage7/install_libwignernj.sh
Due: shfmt

Download libwignernj from cp2k.org
  tools/toolchain/scripts/stage7/install_libwignernj.sh
Due: shfmt

Download libwignernj from cp2k.org (#6232)
  tools/docker/scripts/test_regtest.sh
  tools/toolchain/scripts/stage7/install_libwignernj.sh
Due: shfmt

Docs: Do not run `fix_github_links.py` for `make help`
  docs/Makefile
Due: none

Docs: Do not run `fix_github_links.py` for `make help` (#6234)
  docs/Makefile
Due: none

Toolchain: backport ELPA width-1 tail block fixes from bugfix_elpa2_65_65_64 (cp2k#4484)
  tools/toolchain/scripts/stage5/elpa-2026.02.002-nx1-tail-block.patch
  tools/toolchain/scripts/stage5/install_elpa.sh
Due: shfmt

Spack: backport ELPA width-1 tail block fixes from bugfix_elpa2_65_65_64
  tools/spack/spack_repo/cp2k_dev/packages/elpa/elpa-2026.02.002-nx1-tail-block.patch
  tools/spack/spack_repo/cp2k_dev/packages/elpa/package.py
Due: none

Regtest: add ELPA width-1 tail block testcase (cp2k#4484)
  tests/QS/regtest-elpa/TEST_FILES.toml
  tests/QS/regtest-elpa/tailblock_hang.inp
Due: none

Regtest: add crafted ELPA width-1 tail block crash testcase (cp2k#3297, cp2k#4484)
  tests/QS/regtest-elpa/H13-tailblock.inp
  tests/QS/regtest-elpa/TEST_FILES.toml
Due: none

Support wB97X-D/D3, add wB97X-D/D3/D4/D4rev regtests
  src/common/bibliography.F
  src/input_constants.F
  src/input_cp2k_xc.F
  src/qs_dispersion_d2.F
  src/qs_dispersion_d3.F
  src/qs_dispersion_pairpot.F
  src/qs_dispersion_s_dftd3.F
  src/qs_dispersion_types.F
  src/qs_dispersion_utils.F
  tests/QS/regtest-libxc/H2O-hybrid-wb97x-d-libxc.inp
  tests/QS/regtest-libxc/H2O-hybrid-wb97x-d3-libxc.inp
  tests/QS/regtest-libxc/H2O-hybrid-wb97x-d4-libxc.inp
  tests/QS/regtest-libxc/H2O-hybrid-wb97x-d4rev-libxc.inp
  tests/QS/regtest-libxc/TEST_FILES.toml
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src
