Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Copy work matrix into buffer for local operations to prepare introduction of non-blocking communication scheme
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Print employed blocksize
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Print number of parallel communication channels
  src/rpa_grad.F
  src/rpa_main.F
Due: doxify, prettify, analyze_src

Artificially reduce the number of parallel channels
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Apply non-blocking communication to occupied-occupied block
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Always print gap and range in RPA/SOS-MP2 calculations
  src/rpa_main.F
Due: doxify, prettify, analyze_src

Use the available memory to determine the number of parallel channels
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Use number of channels
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Improve communication for RPA gradients (#2435)
  src/rpa_grad.F
  src/rpa_main.F
Due: doxify, prettify, analyze_src

Fix conventions
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Fuse loops to remove numerical noise
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Remove 1D P_ij/P_ab
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Check blocking algorithm
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Some cleanup
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Simplify code further
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Apply kahan summation to small block sizes
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Remove __MPI_VERSION flag
  INSTALL.md
  src/cp2k_info.F
  src/mpiwrap/message_passing.F
  src/mpiwrap/message_passing.fypp
  tools/conventions/conventions.supp
  tools/toolchain/scripts/stage1/install_openmpi.sh
Due: doxify, prettify, analyze_src, shfmt

Fix typo
  INSTALL.md
Due: none

Fix compilation in serial mode and compilation of PT-Scotch
  src/mpiwrap/message_passing.fypp
Due: analyze_src

Fix toolchain
  tools/toolchain/scripts/stage1/install_openmpi.sh
Due: shfmt

Reorder synchronization points
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Fix ScalaPACK toolchain
  tools/toolchain/scripts/stage4/install_scalapack.sh
Due: shfmt

Time whole calculation routine
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Drop Support for MPI 2.0 (#2438)
  INSTALL.md
  src/cp2k_info.F
  src/mpiwrap/message_passing.F
  src/mpiwrap/message_passing.fypp
  tools/conventions/conventions.supp
  tools/toolchain/scripts/stage1/install_openmpi.sh
Due: doxify, prettify, analyze_src, shfmt

Adjust default block size
  src/input_cp2k_mp2.F
Due: doxify, prettify, analyze_src

Fix issues with NVIDIA compiler in dbt_types
  src/dbt/dbt_types.F
Due: doxify, prettify, analyze_src

Fix issues with NVIDIA compiler
  src/almo_scf_methods.F
  src/almo_scf_optimizer.F
  src/emd/rt_propagator_init.F
Due: doxify, prettify, analyze_src

Fix issues with the NVIDIA compiler (#2441)
  src/almo_scf_methods.F
  src/almo_scf_optimizer.F
  src/dbt/dbt_types.F
  src/emd/rt_propagator_init.F
Due: doxify, prettify, analyze_src

Fix recv process
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Improve numerical stability and improve performance (#2440)
  src/input_cp2k_mp2.F
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Clean arch files from DFLAG __MPI_VERSION
  arch/CRAY-XC40-gnu.psmp
  arch/CRAY-XC40-intel-minimal.psmp
  arch/CRAY-XC50-gnu.psmp
  arch/Darwin-gfortran.psmp
  arch/Darwin-gnu-arm64.psmp
  arch/FreeBSD-gfortran.psmp
  arch/Fugaku-fujitsu-minimal.psmp
  arch/Isambard2-fujitsu-minimal.psmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64-minimal.psmp
  arch/Linux-intel-x86_64.psmp
  arch/Linux-x86-64-gfortran-opencl.psmp
  src/CMakeLists.txt
  tools/conventions/conventions.supp
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage1/install_mpich.sh
  tools/toolchain/scripts/stage1/install_openmpi.sh
Due: shfmt

Further changes for NewtonX interface
  data/EMSL_BASIS_SETS
  src/input_cp2k_exstate.F
  src/input_cp2k_properties_dft.F
  src/motion/input_cp2k_vib.F
  src/motion/vibrational_analysis.F
  src/qs_energy.F
  src/qs_tddfpt2_methods.F
  src/qs_tddfpt2_restart.F
  src/qs_tddfpt2_types.F
  src/qs_tddfpt2_utils.F
  tests/QS/regtest-gpw-9/h2o_NEWTONX.inp
Due: doxify, prettify, analyze_src, regen_data
