Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Add apptainer definition files for release 2023.2
  tools/apptainer/2023.2_mpich_generic_psmp.def
  tools/apptainer/2023.2_mpich_haswell_psmp.def
  tools/apptainer/2023.2_mpich_native_psmp.def
  tools/apptainer/2023.2_mpich_skylake-avx512_psmp.def
  tools/apptainer/2023.2_mpich_znver2_psmp.def
  tools/apptainer/2023.2_mpich_znver3_psmp.def
  tools/apptainer/2023.2_openmpi_generic_psmp.def
  tools/apptainer/2023.2_openmpi_haswell_psmp.def
  tools/apptainer/2023.2_openmpi_native_psmp.def
  tools/apptainer/2023.2_openmpi_skylake-avx512_psmp.def
  tools/apptainer/2023.2_openmpi_znver2_psmp.def
  tools/apptainer/2023.2_openmpi_znver3_psmp.def
  tools/apptainer/README.md
  tools/apptainer/generate_apptainer_def_files.py
Due: none

Insert missing word
  tools/apptainer/README.md
Due: none

Increase threshold for eigenvector orthonormality check if enabled
  benchmarks/QS/H2O-1024.inp
  benchmarks/QS/H2O-128.inp
  benchmarks/QS/H2O-128_nonortho.inp
  benchmarks/QS/H2O-2048.inp
  benchmarks/QS/H2O-256.inp
  benchmarks/QS/H2O-32.inp
  benchmarks/QS/H2O-32_nonortho.inp
  benchmarks/QS/H2O-4096.inp
  benchmarks/QS/H2O-512.inp
  benchmarks/QS/H2O-64.inp
  benchmarks/QS/H2O-64_nonortho.inp
  benchmarks/QS/H2O-8192.inp
Due: none

[hip] bump version to 50300000
  src/offload/offload_runtime.h
Due: analyze_src, clang-format

Pseudopotential for spin-orbit coupling for TDDFPT
  src/qs_tddfpt2_soc.F
  src/qs_tddfpt2_soc_types.F
  src/qs_tddfpt2_soc_utils.F
  src/xas_tdp_atom.F
  tests/QS/regtest-tddfpt-soc/TEST_FILES
  tests/QS/regtest-tddfpt-soc/regtest-Ne-PPs-GAPW.inp
  tests/QS/regtest-tddfpt-soc/regtest-Ne-PPs-GPW.inp
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Fix indentation
  src/xas_tdp_atom.F
Due: doxify, prettify, analyze_src

Add initializers in ALMO, cryssym, ddapc
  src/almo_scf_diis_types.F
  src/almo_scf_lbfgs_types.F
  src/almo_scf_types.F
  src/cp_ddapc_types.F
  src/cryssym.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add initializers to hash_map
  src/common/callgraph.F
  src/common/hash_map.fypp
  src/common/routine_map.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

csr_system_types, ct_types, dbcsr_vector, distribution_2d_types, dm_ls_scf_types, pao_types
  src/csvr_system_types.F
  src/ct_types.F
  src/dbcsrx/dbcsr_vector.F
  src/distribution_2d_types.F
  src/dm_ls_scf_types.F
  src/pao_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

pair_potential_types, pao_param_exp,paw_proj_set_types, xas
  src/pair_potential_types.F
  src/pao_param_exp.F
  src/paw_proj_set_types.F
  src/pwdft_environment_types.F
  src/xas_control.F
  src/xas_env_types.F
  src/xas_tdp_types.F
  src/xas_tdp_utils.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add initializers to atom types
  src/atom_fit.F
  src/atom_grb.F
  src/atom_optimization.F
  src/atom_sgp.F
  src/atom_types.F
  src/atom_upf.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add initializers in cp_control_types and cp2k_shell
  src/cp_control_types.F
  src/start/cp2k_shell.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

domain_submatrix_types ec_env_types eip_environment_types, mp_perf_env
  src/domain_submatrix_types.F
  src/ec_env_types.F
  src/eip_environment_types.F
  src/mpiwrap/mp_perf_env.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add initializer to list.fypp
  src/common/list.fypp
Due: analyze_src

Add initializers in al_system_types and block_p_types
  src/al_system_types.F
  src/block_p_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

et_coupling, f77_interface, force_env_types, task_list_types
  src/et_coupling_proj.F
  src/et_coupling_types.F
  src/f77_interface.F
  src/force_env_types.F
  src/start/libcp2k.F
  src/task_list_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Minor fixes
  tools/apptainer/2023.1_mpich_generic_psmp.def
  tools/apptainer/2023.1_mpich_native_psmp.def
  tools/apptainer/2023.1_mpich_skylake-avx512_psmp.def
  tools/apptainer/2023.1_mpich_znver2_psmp.def
  tools/apptainer/2023.1_mpich_znver3_psmp.def
  tools/apptainer/2023.1_openmpi_generic_psmp.def
  tools/apptainer/2023.1_openmpi_native_psmp.def
  tools/apptainer/2023.1_openmpi_skylake-avx512_psmp.def
  tools/apptainer/2023.1_openmpi_znver2_psmp.def
  tools/apptainer/2023.1_openmpi_znver3_psmp.def
  tools/apptainer/2023.2_mpich_generic_psmp.def
  tools/apptainer/2023.2_mpich_haswell_psmp.def
  tools/apptainer/2023.2_mpich_native_psmp.def
  tools/apptainer/2023.2_mpich_skylake-avx512_psmp.def
  tools/apptainer/2023.2_mpich_znver2_psmp.def
  tools/apptainer/2023.2_mpich_znver3_psmp.def
  tools/apptainer/2023.2_openmpi_generic_psmp.def
  tools/apptainer/2023.2_openmpi_haswell_psmp.def
  tools/apptainer/2023.2_openmpi_native_psmp.def
  tools/apptainer/2023.2_openmpi_skylake-avx512_psmp.def
  tools/apptainer/2023.2_openmpi_znver2_psmp.def
  tools/apptainer/2023.2_openmpi_znver3_psmp.def
  tools/apptainer/generate_apptainer_def_files.py
  tools/apptainer/master_mpich_generic_psmp.def
  tools/apptainer/master_mpich_haswell_psmp.def
  tools/apptainer/master_mpich_native_psmp.def
  tools/apptainer/master_mpich_skylake-avx512_psmp.def
  tools/apptainer/master_mpich_znver2_psmp.def
  tools/apptainer/master_mpich_znver3_psmp.def
  tools/apptainer/master_openmpi_generic_psmp.def
  tools/apptainer/master_openmpi_haswell_psmp.def
  tools/apptainer/master_openmpi_native_psmp.def
  tools/apptainer/master_openmpi_skylake-avx512_psmp.def
  tools/apptainer/master_openmpi_znver2_psmp.def
  tools/apptainer/master_openmpi_znver3_psmp.def
Due: none

ADMM| Fix bugs in ADMMP and ADMMS forces/virial
  src/admm_methods.F
  src/admm_types.F
  src/hfx_admm_utils.F
  src/qs_ks_atom.F
  src/qs_ks_methods.F
  src/qs_ks_utils.F
  tests/QS/regtest-admm-qps-2/H2O-ADMMP-GAPW_force.inp
  tests/QS/regtest-admm-qps-2/H2O-ADMMQ-OPTX_geopt.inp
  tests/QS/regtest-admm-qps-2/H2O-ADMMS-HYB_stress.inp
  tests/QS/regtest-admm-qps-2/O2-ADMMP-HYB_geopt.inp
  tests/QS/regtest-admm-qps-2/O2-ADMMQ-GAPW_stress.inp
  tests/QS/regtest-admm-qps-2/O2-ADMMS-OPTX_force.inp
  tests/QS/regtest-admm-qps-2/TEST_FILES
  tests/QS/regtest-admm-qps/CH4-ADMMS-stress-tensor-analytical.inp
  tests/QS/regtest-admm-qps/CH4-ADMMS-stress-tensor-numerical.inp
  tests/QS/regtest-admm-qps/H2O-ADMMP-GAPW.inp
  tests/QS/regtest-admm-qps/H2O-ADMMP-OPTX.inp
  tests/QS/regtest-admm-qps/H2O-ADMMQ-OPTX.inp
  tests/QS/regtest-admm-qps/H2O-ADMMQ_debug_forces.inp
  tests/QS/regtest-admm-qps/H2O-ADMMS-HYB.inp
  tests/QS/regtest-admm-qps/H2O-ADMMS-OPTX.inp
  tests/QS/regtest-admm-qps/H2O-ADMMS.inp
  tests/QS/regtest-admm-qps/O2-ADMMP-HYB.inp
  tests/QS/regtest-admm-qps/O2-ADMMQ-GAPW.inp
  tests/QS/regtest-admm-qps/O2-ADMMS-OPTX.inp
  tests/QS/regtest-admm-qps/O2-triplett-ADMMP-debug_forces.inp
  tests/QS/regtest-admm-qps/O2-triplett-ADMMS.inp
  tests/QS/regtest-admm-qps/TEST_FILES
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Some fixes
  src/atom_types.F
  src/dm_ls_scf_types.F
  src/mpiwrap/mp_perf_test.F
  src/qs_active_space_types.F
  src/qs_tddfpt2_soc_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Update license dump
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

Sort keywords in new manual and "ruff" script
  docs/generate_input_reference.py
Due: none

Higher precision for new ADMM force regtests
  tests/QS/regtest-admm-qps-2/H2O-ADMMP-GAPW_force.inp
  tests/QS/regtest-admm-qps-2/H2O-ADMMQ-OPTX_geopt.inp
  tests/QS/regtest-admm-qps-2/H2O-ADMMS-HYB_stress.inp
  tests/QS/regtest-admm-qps-2/O2-ADMMP-HYB_geopt.inp
  tests/QS/regtest-admm-qps-2/O2-ADMMQ-GAPW_stress.inp
  tests/QS/regtest-admm-qps-2/O2-ADMMS-OPTX_force.inp
  tests/QS/regtest-admm-qps-2/TEST_FILES
Due: none

Docs: Touch up generate_input_reference.py
  docs/generate_input_reference.py
Due: none

Docker: Fix i-PI test
  tools/docker/scripts/test_i-pi.sh
Due: shfmt

Bump ELPA to version 2023.05.001
  tools/toolchain/scripts/stage5/install_elpa.sh
Due: shfmt
