Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Allow to set num_gpus via CLI
  tools/regtesting/do_regtest.py
Due: none

ARCH: Migrate CRAY-XC50-gnu.psmp to -D__OFFLOAD_CUDA
  arch/CRAY-XC50-gnu.psmp
Due: none

Add xc sections of the wB97X-2 functional (Anna Hehn)
  data/xc_section/WB97X_2LP.sec
  data/xc_section/WB97X_2TQZ.sec
  tests/QS/regtest-libxc/H2O-hybrid-wb97x2lp-libxc.inp
  tests/QS/regtest-libxc/H2O-hybrid-wb97x2tqz-libxc.inp
  tests/QS/regtest-libxc/TEST_FILES
Due: regen_data

Update DBCSR v2.3.0-rc0 (#2011)
  src/cp_dbcsr_cp2k_link.F
  tools/regtesting/do_regtest.py
  tools/toolchain/scripts/generate_arch_files.sh
  tools/toolchain/scripts/stage1/install_mpich.sh
  tools/toolchain/scripts/stage4/install_libxsmm.sh
  tools/toolchain/scripts/stage5/install_elpa.sh
  tools/toolchain/scripts/stage6/install_quip.sh
  tools/toolchain/scripts/stage8/install_spla.sh
Due: doxify, prettify, analyze_src, shfmt

Adjust thresholds
  data/xc_section/WB97X_2LP.sec
  data/xc_section/WB97X_2TQZ.sec
  tests/QS/regtest-libxc/H2O-hybrid-wb97x2lp-libxc.inp
  tests/QS/regtest-libxc/H2O-hybrid-wb97x2tqz-libxc.inp
  tests/QS/regtest-libxc/TEST_FILES
Due: regen_data

Add wb97x2 (Anna Hehn) (#2030)
  data/xc_section/WB97X_2LP.sec
  data/xc_section/WB97X_2TQZ.sec
  tests/QS/regtest-libxc/H2O-hybrid-wb97x2lp-libxc.inp
  tests/QS/regtest-libxc/H2O-hybrid-wb97x2tqz-libxc.inp
  tests/QS/regtest-libxc/TEST_FILES
Due: regen_data

Offload: Move includes to fix __OFFLOAD
  src/base/base_uses.f90
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_gpu.cu
  src/dbm/dbm_multiply_gpu.h
  src/grid/gpu/grid_gpu_collint.h
  src/grid/gpu/grid_gpu_collocate.cu
  src/grid/gpu/grid_gpu_collocate.h
  src/grid/gpu/grid_gpu_integrate.cu
  src/grid/gpu/grid_gpu_integrate.h
  src/grid/gpu/grid_gpu_task_list.cu
  src/grid/gpu/grid_gpu_task_list.h
  src/grid/grid_task_list.h
  src/pw/gpu/pw_gpu_internal.c
Due: doxify, analyze_src, clang-format

Fix work array size
  src/fm/cp_cfm_diag.F
Due: doxify, prettify, analyze_src

Prettify
  tools/prettify/prettify_cp2k/normalizeFortranFile.py
  tools/prettify/prettify_cp2k/replacer.py
  tools/prettify/prettify_cp2k/selftest.py
Due: none

DBM: improved miniapp makefile
  src/dbm/Makefile
Due: none

Prettify (#2034)
  tools/prettify/prettify_cp2k/normalizeFortranFile.py
  tools/prettify/prettify_cp2k/replacer.py
  tools/prettify/prettify_cp2k/selftest.py
Due: none

DBM: improved miniapp makefile (#2035)
  src/dbm/Makefile
Due: none

Fix thresholds
  tests/QS/regtest-libxc/TEST_FILES
Due: none

Fix thresholds (#2036)
  tests/QS/regtest-libxc/TEST_FILES
Due: none

Add virial Laplace terms first order
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Add stress tensors with analytical 2nd derivatives for Laplace dependent functionals
  src/xc/xc.F
  src/xc/xc.fypp
  tests/QS/regtest-double-hybrid-stress-laplace/CH3_br89_mp2_an.inp
  tests/QS/regtest-double-hybrid-stress-laplace/H2O_br89_mp2_an.inp
  tests/QS/regtest-double-hybrid-stress-laplace/TEST_FILES
Due: doxify, prettify, analyze_src

Fix leaks and add regtests
  src/xc/xc.F
  tests/QS/regtest-double-hybrid-stress-numer-laplace/CH3_br89_mp2_numer.inp
  tests/QS/regtest-double-hybrid-stress-numer-laplace/H2O_br89_mp2_numer.inp
  tests/QS/regtest-double-hybrid-stress-numer-laplace/TEST_FILES
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Continue with Laplace numer 2nd
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Refactor weights for numerical derivatives
  src/input_cp2k_xc.F
  src/xc/xc.F
  tests/QS/regtest-double-hybrid-grad-numer-meta/TEST_FILES
  tests/QS/regtest-double-hybrid-grad-numer/H2O_pbe_mp2.inp
  tests/QS/regtest-double-hybrid-stress-numer-meta/CH3_tpss_mp2_numer.inp
  tests/QS/regtest-double-hybrid-stress-numer-meta/H2O_tpss_mp2_numer.inp
  tests/QS/regtest-double-hybrid-stress-numer-meta/TEST_FILES
  tests/QS/regtest-mp2-admm-grad-numer/H2O_grad_admm_default.inp
  tests/QS/regtest-mp2-admm-stress-numer/CH_grad_admm_numerical.inp
  tests/QS/regtest-mp2-admm-stress-numer/H2O_grad_admm_numerical.inp
  tests/QS/regtest-tddfpt-3/TEST_FILES
Due: doxify, prettify, analyze_src

Add stress tensor terms with 2nd order Laplace functionals (#2037)
  src/input_cp2k_xc.F
  src/xc/xc.F
  src/xc/xc.fypp
  tests/QS/regtest-double-hybrid-grad-numer-meta/TEST_FILES
  tests/QS/regtest-double-hybrid-grad-numer/H2O_pbe_mp2.inp
  tests/QS/regtest-double-hybrid-stress-laplace/CH3_br89_mp2_an.inp
  tests/QS/regtest-double-hybrid-stress-laplace/H2O_br89_mp2_an.inp
  tests/QS/regtest-double-hybrid-stress-laplace/TEST_FILES
  tests/QS/regtest-double-hybrid-stress-numer-laplace/CH3_br89_mp2_numer.inp
  tests/QS/regtest-double-hybrid-stress-numer-laplace/H2O_br89_mp2_numer.inp
  tests/QS/regtest-double-hybrid-stress-numer-laplace/TEST_FILES
  tests/QS/regtest-double-hybrid-stress-numer-meta/H2O_tpss_mp2_numer.inp
  tests/QS/regtest-double-hybrid-stress-numer-meta/TEST_FILES
  tests/QS/regtest-mp2-admm-grad-numer/H2O_grad_admm_default.inp
  tests/QS/regtest-mp2-admm-stress-numer/CH_grad_admm_numerical.inp
  tests/QS/regtest-mp2-admm-stress-numer/H2O_grad_admm_numerical.inp
  tests/QS/regtest-tddfpt-3/TEST_FILES
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Remove unused variables of collocate and integrate routines
  src/grid/grid_api.F
  src/hirshfeld_methods.F
  src/mixed_cdft_methods.F
  src/mp2_eri_gpw.F
  src/mp2_laplace_force_methods.F
  src/qmmm_image_charge.F
  src/qs_cdft_methods.F
  src/qs_cdft_utils.F
  src/qs_collocate_density.F
  src/qs_integrate_potential_product.F
  src/qs_integrate_potential_single.F
  src/qs_linres_current.F
  src/qs_rho0_ggrid.F
Due: doxify, prettify, analyze_src

Remove some unnecessary MARK_USED
  src/rpa_gw_im_time_util.F
  src/xas_tdp_utils.F
Due: doxify, prettify, analyze_src

Remove unnecessary MARK_USED macros (#2038)
  src/grid/grid_api.F
  src/hirshfeld_methods.F
  src/mixed_cdft_methods.F
  src/mp2_eri_gpw.F
  src/mp2_laplace_force_methods.F
  src/qmmm_image_charge.F
  src/qs_cdft_methods.F
  src/qs_cdft_utils.F
  src/qs_collocate_density.F
  src/qs_integrate_potential_product.F
  src/qs_integrate_potential_single.F
  src/qs_linres_current.F
  src/qs_rho0_ggrid.F
  src/rpa_gw_im_time_util.F
  src/xas_tdp_utils.F
Due: doxify, prettify, analyze_src

Docker: Add generic test and prod files
  tools/docker/Dockerfile.prod_cuda_A100
  tools/docker/Dockerfile.prod_cuda_P100
  tools/docker/Dockerfile.prod_cuda_V100
  tools/docker/Dockerfile.prod_generic_pdbg
  tools/docker/Dockerfile.prod_generic_psmp
  tools/docker/Dockerfile.prod_generic_sdbg
  tools/docker/Dockerfile.prod_generic_ssmp
  tools/docker/Dockerfile.prod_psmp
  tools/docker/Dockerfile.prod_sdbg
  tools/docker/Dockerfile.prod_ssmp
  tools/docker/Dockerfile.test_generic_pdbg
  tools/docker/Dockerfile.test_generic_psmp
  tools/docker/Dockerfile.test_generic_sdbg
  tools/docker/Dockerfile.test_generic_ssmp
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/prod_entrypoint.sh
Due: shfmt

Dashboard: Add test for generic toolchain
  tools/dashboard/dashboard.conf
Due: none

RI_HFX| correct small bug in batched contraction
  src/hfx_ri.F
Due: doxify, prettify, analyze_src

Fix coding conventions
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Fix coding conventions (#2040)
  src/xc/xc.F
Due: doxify, prettify, analyze_src

Fix threshold
  tests/QS/regtest-double-hybrid-grad-numer-meta/TEST_FILES
Due: none

Fix threshold (#2042)
  tests/QS/regtest-double-hybrid-grad-numer-meta/TEST_FILES
Due: none

Adjust tolerances of H2O-meta-combine.inp, CH_grad_admm_none.inp, and N2_t14.inp
  tests/Fist/regtest-4/TEST_FILES
  tests/QS/regtest-ec-force/TEST_FILES
  tests/QS/regtest-mp2-admm-grad/TEST_FILES
Due: none

Docker: Re-enable keepalive mode for GPU regtest
  tools/docker/scripts/test_regtest.sh
Due: shfmt

Conventions: Suppress false warnings about uninitialized usage
  tools/conventions/conventions.supp
Due: none
