Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

fix parallel build
  src/qs_localization_methods.F
Due: doxify, prettify, analyze_src

kpoints: skip SPGLIB when symmetry is disabled
  src/cryssym.F
  src/kpoint_methods.F
Due: doxify, prettify, analyze_src

kpoints: reduce closed GENERAL sets
  docs/methods/dft/k-points.md
  src/cryssym.F
  src/force_env_methods.F
  src/input_cp2k_kpoints.F
  src/kpoint_methods.F
  src/kpoint_types.F
  src/qs_wannier90.F
  tests/QS/regtest-kp-1-spglib/TEST_FILES.toml
  tests/QS/regtest-kp-1-spglib/h_fcc_general_geo_opt_spglib_backend.inp
  tests/QS/regtest-kp-1-spglib/h_fcc_general_spglib_backend.inp
  tests/QS/regtest-kp-1-spglib/h_fcc_general_spglib_method_k290_backend.inp
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/QS/regtest-kp-1/h_fcc_general_k290.inp
Due: doxify, prettify, analyze_src

kpoints: refine K290 fallback and SPGLIB diagnostics
  src/cryssym.F
Due: doxify, prettify, analyze_src

RIRS GW: Resolve Coding Convention issues (#5175)
  src/gw_large_cell_gamma_ri_rs.F
  src/post_scf_bandstructure_types.F
Due: doxify, prettify, analyze_src

docs: clarify Wannier90 k-point export
  docs/methods/dft/k-points.md
Due: none

use is_source() checks
  src/motion/rt_propagation.F
  src/qs_localization_methods.F
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Extend k-point symmetry backends to closed GENERAL sets (#5173)
  docs/methods/dft/k-points.md
  src/cryssym.F
  src/force_env_methods.F
  src/input_cp2k_kpoints.F
  src/kpoint_methods.F
  src/kpoint_types.F
  src/qs_wannier90.F
  tests/QS/regtest-kp-1-spglib/TEST_FILES.toml
  tests/QS/regtest-kp-1-spglib/h_fcc_general_geo_opt_spglib_backend.inp
  tests/QS/regtest-kp-1-spglib/h_fcc_general_spglib_backend.inp
  tests/QS/regtest-kp-1-spglib/h_fcc_general_spglib_method_k290_backend.inp
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/QS/regtest-kp-1/h_fcc_general_k290.inp
Due: doxify, prettify, analyze_src

wannier90: export GENERAL SCF k-point meshes
  docs/methods/dft/k-points.md
  src/input_cp2k_print_dft.F
  src/qs_wannier90.F
  tests/QS/regtest-kp-1-spglib/TEST_FILES.toml
  tests/QS/regtest-kp-1-spglib/h_fcc_general_wannier90_spglib.inp
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/QS/regtest-kp-1/h_fcc_general_wannier90_k290.inp
  tests/QS/regtest-kp-1/h_fcc_wannier90_scf_mp.inp
Due: doxify, prettify, analyze_src

replace rotate_cardoso_rmat
  src/qs_localization_methods.F
Due: doxify, prettify, analyze_src

run make_pretty
  src/qs_localization_methods.F
Due: doxify, prettify, analyze_src

Wannier90: export SCF k-point meshes (#5179)
  docs/methods/dft/k-points.md
  src/input_cp2k_print_dft.F
  src/qs_wannier90.F
  tests/QS/regtest-kp-1-spglib/TEST_FILES.toml
  tests/QS/regtest-kp-1-spglib/h_fcc_general_wannier90_spglib.inp
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/QS/regtest-kp-1/h_fcc_general_wannier90_k290.inp
  tests/QS/regtest-kp-1/h_fcc_wannier90_scf_mp.inp
Due: doxify, prettify, analyze_src

Support LS_SCF with TB SCC mixer handling
  src/cp_control_utils.F
  src/dm_ls_scf_qs.F
  src/input_cp2k_tb.F
  src/qs_environment.F
  src/tblite_interface.F
  tests/DFTB/regtest-scc-2/TEST_FILES.toml
  tests/DFTB/regtest-scc-2/dftb3_h2o_ls.inp
  tests/DFTB/regtest-scc-2/dftb3_o2_uks_ls.inp
  tests/DFTB/regtest-scc/TEST_FILES.toml
  tests/DFTB/regtest-scc/c_gamma_ls.inp
  tests/DFTB/regtest-scc/ch2o_ls.inp
  tests/DFTB/regtest-scc/test-lsd-ls.inp
  tests/xTB/regtest-tblite-gfn2/Ar_fcc_gfn2_ls.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2_ls.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2_uks.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2_uks_cp2k_mixer.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2_uks_cp2k_mixer_force.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2_uks_force.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2_uks_ls_cp2k_mixer.inp
  tests/xTB/regtest-tblite-gfn2/O2_gfn2_uks_xyz_ls_cp2k_mixer.inp
  tests/xTB/regtest-tblite-gfn2/O2plus_gfn2_uks_cp2k_mixer_force.inp
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Fix Ubuntu tester not to use libfci
  cmake/cmake_cp2k.sh
Due: shfmt

Organize spglib-dependent tests from regtest-kp-1 into separate folder and adjust tolerances
  tests/DFTB/regtest-scc/ch2o_tblite_mixer.inp
  tests/QS/regtest-gpw-8/TEST_FILES.toml
  tests/QS/regtest-kp-1-spg/TEST_FILES.toml
  tests/QS/regtest-kp-1-spg/c_geo_opt_kpsym_spglib.inp
  tests/QS/regtest-kp-1-spg/c_spglib_backend_gamma_real_wfn.inp
  tests/QS/regtest-kp-1-spg/h_hex_c3_gamma_macdonald_spglib.inp
  tests/QS/regtest-kp-1-spg/h_hex_c3_gamma_spglib.inp
  tests/QS/regtest-kp-1-spg/h_spglib_sym_red.inp
  tests/QS/regtest-kp-1-spg/h_spglib_sym_red_restart.inp
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

Fix c_geo_opt_kpsym_spglib: disable Cholesky decomposition for k-point symmetry test
  tests/QS/regtest-kp-1-spg/c_geo_opt_kpsym_spglib.inp
Due: none

moved overlooked files using spglib
  tests/QS/regtest-kp-1-spg/TEST_FILES.toml
  tests/QS/regtest-kp-1-spg/c_cell_opt_kpsym_guard.inp
  tests/QS/regtest-kp-1-spg/c_debug_kpsym_default.inp
  tests/QS/regtest-kp-1-spg/c_debug_kpsym_full.inp
  tests/QS/regtest-kp-1-spg/h_hex_c3_sym_red.inp
  tests/QS/regtest-kp-1/TEST_FILES.toml
Due: none

fix unadjusted tolarances
  tests/DFTB/regtest-scc/TEST_FILES.toml
Due: none

Add local spack recipe for libfci
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
  tools/spack/spack_repo/cp2k_dev/packages/libfci/package.py
Due: none

Second patch by Thomas: toolchain, XC gradient, MPI support
  CMakeLists.txt
  cmake/cp2kConfig.cmake.in
  docs/technologies/libraries.md
  src/CMakeLists.txt
  src/cp2k_info.F
  src/input_cp2k_xc.F
  src/qs_ks_methods.F
  src/xc/xc_gauxc_functional.F
  src/xc/xc_gauxc_interface.F
  tests/QS/regtest-xc/1H2_SKALA.inp
  tools/toolchain/README.md
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage3/gauxc-1.0.0-skala-cp2k-rks-density-fix.patch
  tools/toolchain/scripts/stage3/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_stage6.sh
Due: doxify, prettify, analyze_src, shfmt

Fix serial Gauxc builds
  src/f77_interface.F
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src

Handle TB SCC mixer edge cases
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_tb.F
  src/qs_environment.F
  tests/xTB/regtest-3-spglib/TEST_FILES.toml
  tests/xTB/regtest-3-spglib/si_uks_kp_tblite_mixer_spglib.inp
Due: doxify, prettify, analyze_src

Add local spack recipe for libfci (#5181)
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
  tools/spack/spack_repo/cp2k_dev/packages/libfci/package.py
Due: none

Make .gitignore less general
  .gitignore
Due: none

Make .gitignore less general (#5183)
  .gitignore
Due: none

Add feature flag for libfci to make_cp2k.sh
  make_cp2k.sh
Due: shfmt

Add needed MARK_USED lines
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src

Use Fortran to print error messages
  src/CMakeLists.txt
  src/xc/xc_gauxc_c.c
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src, clang-format

Fix LS_SCF TC2 max-iteration bounds handling
  src/dm_ls_scf_methods.F
Due: doxify, prettify, analyze_src

Add feature flag for libfci to make_cp2k.sh (#5185)
  make_cp2k.sh
Due: shfmt

small fixes for testing (#5177)
  tests/DFTB/regtest-scc/TEST_FILES.toml
  tests/DFTB/regtest-scc/ch2o_tblite_mixer.inp
  tests/QS/regtest-gpw-8/TEST_FILES.toml
  tests/QS/regtest-kp-1-spg/TEST_FILES.toml
  tests/QS/regtest-kp-1-spg/c_cell_opt_kpsym_guard.inp
  tests/QS/regtest-kp-1-spg/c_debug_kpsym_default.inp
  tests/QS/regtest-kp-1-spg/c_debug_kpsym_full.inp
  tests/QS/regtest-kp-1-spg/c_geo_opt_kpsym_spglib.inp
  tests/QS/regtest-kp-1-spg/c_spglib_backend_gamma_real_wfn.inp
  tests/QS/regtest-kp-1-spg/h_hex_c3_gamma_macdonald_spglib.inp
  tests/QS/regtest-kp-1-spg/h_hex_c3_gamma_spglib.inp
  tests/QS/regtest-kp-1-spg/h_hex_c3_sym_red.inp
  tests/QS/regtest-kp-1-spg/h_spglib_sym_red.inp
  tests/QS/regtest-kp-1-spg/h_spglib_sym_red_restart.inp
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

Clean up input section handling
  src/input_cp2k_xc.F
  src/xc/xc_gauxc_functional.F
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src

Fix Ubuntu tester not to use libfci (#5180)
  cmake/cmake_cp2k.sh
Due: shfmt

Improve TB/xTB SCC mixer handling for LS_SCF and UKS k-point cases (#5182)
  src/cp_control_types.F
  src/cp_control_utils.F
  src/dm_ls_scf_methods.F
  src/dm_ls_scf_qs.F
  src/input_cp2k_tb.F
  src/qs_environment.F
  src/tblite_interface.F
  tests/DFTB/regtest-scc-2/TEST_FILES.toml
  tests/DFTB/regtest-scc-2/dftb3_h2o_ls.inp
  tests/DFTB/regtest-scc-2/dftb3_o2_uks_ls.inp
  tests/DFTB/regtest-scc/TEST_FILES.toml
  tests/DFTB/regtest-scc/c_gamma_ls.inp
  tests/DFTB/regtest-scc/ch2o_ls.inp
  tests/DFTB/regtest-scc/test-lsd-ls.inp
  tests/xTB/regtest-3-spglib/TEST_FILES.toml
  tests/xTB/regtest-3-spglib/si_uks_kp_tblite_mixer_spglib.inp
  tests/xTB/regtest-tblite-gfn2/Ar_fcc_gfn2_ls.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2_ls.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2_uks.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2_uks_cp2k_mixer.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2_uks_cp2k_mixer_force.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2_uks_force.inp
  tests/xTB/regtest-tblite-gfn2/N2_gfn2_uks_ls_cp2k_mixer.inp
  tests/xTB/regtest-tblite-gfn2/O2_gfn2_uks_xyz_ls_cp2k_mixer.inp
  tests/xTB/regtest-tblite-gfn2/O2plus_gfn2_uks_cp2k_mixer_force.inp
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Fixes
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src

OpenMP restore thread count after calling OneDFT
  src/xc/xc_gauxc_interface.F
Due: doxify, prettify, analyze_src

New testing dir for GauXC
  tests/QS/regtest-gauxc/1H2_SKALA.inp
  tests/QS/regtest-gauxc/1H2_SKALA_PBE_REFERENCE.inp
  tests/TEST_DIRS
Due: none

Add k-point TDDFPT kernel-none transitions
  src/qs_environment.F
  src/qs_tddfpt2_methods.F
  tests/QS/regtest-tddfpt/H2_kp_tddfpt_none_general.inp
  tests/QS/regtest-tddfpt/H2_kp_tddfpt_none_mp.inp
  tests/QS/regtest-tddfpt/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Tighten k-point TDDFPT guards
  src/qs_environment.F
  src/qs_tddfpt2_methods.F
Due: doxify, prettify, analyze_src

Add k-point TDDFPT oscillator strengths
  src/qs_tddfpt2_methods.F
  tests/QS/regtest-tddfpt/H2_kp_tddfpt_none_sym.inp
  tests/QS/regtest-tddfpt/TEST_FILES.toml
  tests/matchers.py
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
