Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

dbcsr-acc: allow unknown gpu (#2012)
  exts/build_dbcsr/Makefile
Due: none

Docker: Add build test for HIP-ROCm
  tools/docker/Dockerfile.build_hip_rocm_Mi100
  tools/docker/Dockerfile.build_hip_rocm_Mi50
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/test_build.sh
Due: shfmt

Dashboard: Add HIP ROCm build test
  tools/dashboard/dashboard.conf
Due: none

Dashboard: Fix host of hip-rocm-build test
  tools/dashboard/dashboard.conf
Due: none

Makefile: Use .cu extension also for HIP kernels
  Makefile
  src/dbm/dbm_multiply_gpu.cc
  src/grid/hip/grid_hip_collocate.cu
  src/grid/hip/grid_hip_context.cu
  src/grid/hip/grid_hip_context.h
  src/grid/hip/grid_hip_integrate.cu
  src/grid/hip/grid_hip_internal_header.h
  src/pw/gpu/pw_gpu_kernels_hip.cc
  tools/precommit/precommit.py
Due: analyze_src, clang-format

grid: Migrate GPU backend to offload_runtime.h
  src/grid/gpu/grid_gpu_collint.h
  src/grid/gpu/grid_gpu_collocate.cu
  src/grid/gpu/grid_gpu_collocate.h
  src/grid/gpu/grid_gpu_integrate.cu
  src/grid/gpu/grid_gpu_integrate.h
  src/grid/gpu/grid_gpu_task_list.cu
  src/grid/gpu/grid_gpu_task_list.h
  src/offload/offload_runtime.h
Due: analyze_src, clang-format

grid: Make GPU backend also available for HIP
  src/environment.F
  src/grid/common/grid_common.h
  src/grid/common/grid_constants.h
  src/grid/common/grid_library.c
  src/grid/common/grid_prepare_pab.h
  src/grid/common/grid_process_vab.h
  src/grid/gpu/grid_gpu_collint.h
  src/grid/gpu/grid_gpu_collocate.cu
  src/grid/gpu/grid_gpu_collocate.h
  src/grid/gpu/grid_gpu_integrate.cu
  src/grid/gpu/grid_gpu_integrate.h
  src/grid/gpu/grid_gpu_task_list.cu
  src/grid/gpu/grid_gpu_task_list.h
  src/grid/grid_api.F
  src/grid/grid_task_list.c
  src/grid/grid_task_list.h
  src/grid/hip/grid_hip_context.cu
  src/grid/hip/grid_hip_task_list.h
  src/input_cp2k_global.F
Due: doxify, prettify, analyze_src, clang-format

Offload: account for OpenCL
  Makefile
Due: none

Offload: account for OpenCL (#2016)
  Makefile
Due: none

RI_HFX| fix stress tensor bug
  src/hfx_ri.F
  tests/QS/regtest-hfx-ri-2/H2O-hfx-stress-identity.inp
  tests/QS/regtest-hfx-ri-2/TEST_FILES
Due: doxify, prettify, analyze_src

OpenBLAS 0.3.19 -> 0.3.20
  arch/Linux-arm64-gnu-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  tools/toolchain/scripts/get_openblas_arch.sh
  tools/toolchain/scripts/stage2/install_openblas.sh
Due: shfmt

fix intent in dgemm offloading
  src/offload_gemm.F
Due: doxify, prettify, analyze_src

Update link order (#1826)
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64.psmp
Due: none

Toolchain: Stop linking libgslcblas
  tools/toolchain/scripts/stage6/install_gsl.sh
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: shfmt

Drop libgslcblas
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
Due: none

Disable nested OpenMP parallelism
  src/start/cp2k.F
Due: doxify, prettify, analyze_src

Migrate to centralized __OFFLOAD_CUDA/HIP flags
  INSTALL.md
  src/cp2k_info.F
  src/dbm/Makefile
  src/dbm/dbm_mempool.c
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_gpu.cu
  src/dbm/dbm_multiply_gpu.h
  src/f77_interface.F
  src/grid/Makefile
  src/grid/gpu/grid_gpu_collint.h
  src/grid/gpu/grid_gpu_collocate.cu
  src/grid/gpu/grid_gpu_collocate.h
  src/grid/gpu/grid_gpu_integrate.cu
  src/grid/gpu/grid_gpu_integrate.h
  src/grid/gpu/grid_gpu_task_list.cu
  src/grid/gpu/grid_gpu_task_list.h
  src/grid/grid_task_list.c
  src/grid/grid_task_list.h
  src/grid/hip/grid_hip_collocate.cu
  src/grid/hip/grid_hip_context.cu
  src/grid/hip/grid_hip_integrate.cu
  src/grid/hip/grid_hip_task_list.h
  src/offload/offload_runtime.h
  src/pw/fft_tools.F
  src/pw/gpu/pw_gpu_internal.c
  src/pw/pw_fpga.F
  src/pw/pw_gpu.F
  src/pw/pw_grids.F
  src/pw/pw_methods.F
  src/start/cp2k_runs.F
  tools/toolchain/scripts/generate_arch_files.sh
Due: doxify, prettify, analyze_src, clang-format, shfmt

Do not use PW_CUDA
  arch/CRAY-XC50-gnu.psmp
Due: none

ARCH: Migrate CRAY-XC50-gnu.psmp to -D__OFFLOAD_CUDA
  arch/CRAY-XC50-gnu.psmp
Due: none

Update DBCSR
  src/cp_dbcsr_cp2k_link.F
  tools/toolchain/scripts/generate_arch_files.sh
Due: doxify, prettify, analyze_src, shfmt

Add fallow-argument-mismatch to FCFLAGS when GCC > 10
  tools/toolchain/scripts/generate_arch_files.sh
Due: shfmt

Use ELPA library path without OpenMP
  tools/toolchain/scripts/stage5/install_elpa.sh
Due: shfmt

Restore INTRINSICS flag
  tools/toolchain/scripts/stage4/install_libxsmm.sh
Due: shfmt

Add DBM_HIP for HIP on NVIDIA device
  tools/toolchain/scripts/generate_arch_files.sh
Due: shfmt

Force OFFLOAD_DGEMM when spla is not rebuilt
  tools/toolchain/scripts/generate_arch_files.sh
  tools/toolchain/scripts/stage1/install_mpich.sh
  tools/toolchain/scripts/stage6/install_quip.sh
  tools/toolchain/scripts/stage8/install_spla.sh
Due: shfmt
