Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Fix degenerate Broyden charge mixing (#5815)
  src/CMakeLists.txt
  src/qs_charge_mixing.F
  src/qs_charge_mixing_unittest.F
  tests/UNIT_TESTS
Due: doxify, prettify, analyze_src

Backport OpenMPI shared-memory progress fix (#5787)
  tools/docker/Dockerfile.test_spack_openmpi-pdbg
  tools/docker/generate_dockerfiles.py
  tools/spack/spack_repo/cp2k_dev/packages/openmpi/package.py
  tools/spack/spack_repo/cp2k_dev/packages/openmpi/pml-ob1-pending.patch
  tools/toolchain/scripts/stage1/install_openmpi.sh
  tools/toolchain/scripts/stage1/openmpi-5.0.10-pml-ob1-pending.patch
Due: shfmt

Adjust tolerance (#5850)
  tests/QS/regtest-harris-kp/TEST_FILES.toml
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/QS/regtest-kp-spglib/TEST_FILES.toml
  tests/xTB/regtest-1/TEST_FILES.toml
  tests/xTB/regtest-3/TEST_FILES.toml
Due: none

OT: Add optional limited-memory BFGS minimizer (#5832)
  src/input_constants.F
  src/input_cp2k_scf.F
  src/qs_ot_minimizer.F
  src/qs_ot_types.F
  tests/QS/regtest-ot-2/CH4-lbfgs.inp
  tests/QS/regtest-ot-2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Add NVIDIA B200 GPU support (#5788)
  CMakeLists.txt
  docs/technologies/accelerators/cuda.md
  make_cp2k.sh
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

OT: Extend L-BFGS to orbital rotations (#5833)
  src/input_cp2k_scf.F
  src/qs_ot_minimizer.F
  src/qs_ot_types.F
  tests/QS/regtest-ot-2/C-sic-lbfgs.inp
  tests/QS/regtest-ot-2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Packit: Use label requirement for copr_build job in PR (#5785)
  .packit.yaml
Due: none

EEQ: Add an FFT-accelerated sparse solver for periodic systems (#5822)
  src/eeq_input.F
  src/eeq_method.F
  src/qs_environment.F
  src/xtb_eeq.F
  src/xtb_matrices.F
  tests/QS/regtest-dft-vdw-corr-4/TEST_FILES.toml
  tests/QS/regtest-dft-vdw-corr-4/pbe_dftd4_sparse.inp
  tests/xTB/regtest-gfn0/si_kp.inp
  tests/xTB/regtest-gfn1-d/TEST_FILES.toml
  tests/xTB/regtest-gfn1-d/ch2o_d4_sparse.inp
Due: doxify, prettify, analyze_src

Restrict OT L-BFGS occupation preconditioning (#5836)
  src/input_cp2k_scf.F
  src/qs_ot_types.F
  tests/QS/regtest-ot-2/C-sic-lbfgs.inp
Due: doxify, prettify, analyze_src

Regtest cleanup (#5846)
  tests/QS/regtest-gapw-4/H2O_H_gpw_O_gapw.inp
  tests/QS/regtest-gapw-4/H2O_O_gpw.inp
  tests/QS/regtest-gapw-4/H2O_O_gpw_geo_opt.inp
  tests/QS/regtest-gapw-4/H2O_Onopaw.inp
  tests/QS/regtest-gapw-4/H2O_all_gpw.inp
  tests/QS/regtest-gapw-4/H2O_gpw_full_gapw.inp
  tests/QS/regtest-gapw-4/TEST_FILES.toml
  tests/QS/regtest-gpw-1/H2-occup-stats-lone.inp
  tests/QS/regtest-gpw-1/H2.inp
  tests/QS/regtest-gpw-1/TEST_FILES.toml
  tests/QS/regtest-gpw-3/CN-lowdin.inp
  tests/QS/regtest-gpw-3/CN.inp
  tests/QS/regtest-gpw-3/TEST_FILES.toml
  tests/QS/regtest-kp-1/TEST_FILES.toml
  tests/QS/regtest-kp-1/c_3.inp
  tests/QS/regtest-sparsity/Ar-ref-7.inp
  tests/QS/regtest-sparsity/TEST_FILES.toml
  tests/matchers.py
Due: none

Use FFT-aligned allocation for lattice transforms (#5837)
  src/kpoint_lattice_fft.F
Due: doxify, prettify, analyze_src

OT: Add optional Chebyshev preconditioner solver (#5824)
  src/input_constants.F
  src/input_cp2k_scf.F
  src/preconditioner.F
  src/preconditioner_apply.F
  src/preconditioner_solvers.F
  src/preconditioner_types.F
  src/qs_ot_types.F
  src/qs_scf.F
  tests/QS/regtest-nlcc-1/TEST_FILES.toml
  tests/QS/regtest-nlcc-1/h2o_polar_mgga2.inp
  tests/QS/regtest-ot-2/CH4-chebyshev.inp
  tests/QS/regtest-ot-2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Write compiler target and current cpuid in `cp2k --version` message (#5827)
  src/start/cp2k.F
Due: doxify, prettify, analyze_src

Stabilize RTP electric-field ramp energy (#5803)
  tests/QS/regtest-ls-rtp/TEST_FILES.toml
  tests/QS/regtest-rtp-2/TEST_FILES.toml
Due: none

Update RPM spec (#5819)
  tools/fedora/cp2k.spec
Due: none

Parallelize native Skala one-center contractions (#5816)
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

Document MPI_THREAD_MULTIPLE requirement (#5818)
  docs/changelog.md
  docs/technologies/libraries.md
Due: none

KPOINTS: Add FFT-based transforms for complete regular k-point grids (#5823)
  src/CMakeLists.txt
  src/input_cp2k_kpoints.F
  src/kpoint_lattice_fft.F
  src/kpoint_lattice_fft_unittest.F
  src/kpoint_methods.F
  src/kpoint_types.F
  src/qs_scf_diagonalization.F
  tests/QS/regtest-scalapack-generalized/complex_kp.inp
  tests/UNIT_TESTS
Due: doxify, prettify, analyze_src

Merge duplicate HCN and Li2 regtests (#5834)
  tests/QS/regtest-gpw-1/Li2-3-nSCF-EV93.inp
  tests/QS/regtest-gpw-1/Li2-4-nSCF-EV93.inp
  tests/QS/regtest-gpw-1/TEST_FILES.toml
  tests/QS/regtest-gpw-2-3/TEST_FILES.toml
  tests/QS/regtest-gpw-2-3/hcn_ts_fix.inp
  tests/QS/regtest-gpw-2-3/hcn_ts_fix_x.inp
  tests/QS/regtest-gpw-2-3/hcn_ts_fix_y.inp
  tests/QS/regtest-gpw-2-3/hcn_ts_fix_z.inp
Due: none

Implement ADIIS algorithm for diagonalization (#5844)
  src/CMakeLists.txt
  src/common/bibliography.F
  src/input_constants.F
  src/input_cp2k_scf.F
  src/qs_scf.F
  src/qs_scf_diagonalization.F
  src/qs_scf_initialization.F
  src/qs_scf_loop_utils.F
  src/qs_scf_subspace.F
  src/qs_scf_subspace_math.F
  src/qs_scf_subspace_types.F
  src/qs_scf_types.F
  src/scf_control_types.F
  tests/QS/regtest-adiis/K2.inp
  tests/QS/regtest-adiis/MnO2.inp
  tests/QS/regtest-adiis/TEST_FILES.toml
  tests/QS/regtest-adiis/bn.inp
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Parallelize k-point calculations with OpenMP for single-rank runs (#5804)
  src/fm/cp_cfm_diag.F
  src/kpoint_methods.F
  src/qs_diis.F
  src/qs_scf_diagonalization.F
Due: doxify, prettify, analyze_src

Stabilize GFN2 modified Broyden regtest (#5810)
  tests/xTB/regtest-tblite-gfn2-1/N2_gfn2_cp2k_modified_broyden.inp
  tests/xTB/regtest-tblite-gfn2-1/TEST_FILES.toml
Due: none

Scale declaration cleaner work limit (#5826)
  tools/precommit/format_fortran_test.py
  tools/precommit/prettify_cp2k/normalizeFortranFile.py
Due: none

Stabilize ill-conditioned ScaLAPACK regtest (#5796)
  tests/QS/regtest-scalapack-generalized/real_kp.inp
Due: none

Prepare the MPI wrapper for MPI_THREAD_MULTIPLE (#5811)
  src/CMakeLists.txt
  src/f77_interface.F
  src/mpiwrap/message_passing.F
  src/mpiwrap/message_passing_thread_unittest.F
  src/mpiwrap/mp_perf_env.F
  tests/xTB/regtest-tblite-gfn2-5/N2_gfn2_cp2k_kp_stress.inp
Due: doxify, prettify, analyze_src

NNP: Move OpenMP threading to the atom loop (#5747)
  src/motion/helium_interactions.F
  src/nnp_acsf.F
  src/nnp_environment_types.F
  src/nnp_force.F
  src/nnp_neighbor_interface.F
Due: doxify, prettify, analyze_src

Use NORM2 consistently in EEQ calculations (#5838)
  src/eeq_method.F
Due: doxify, prettify, analyze_src

Restructure installation documentations, create `./docs/getting-started/installation.md` as an umbrella entry (#5795)
  INSTALL.md
  README.md
  docs/development/code-structure.md
  docs/development/onboarding.md
  docs/getting-started/build-from-source.md
  docs/getting-started/distributions.md
  docs/getting-started/first-calculation.md
  docs/getting-started/installation.md
  docs/index.md
  src/README.md
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

make_cp2k.sh v2.3: add option for coverage testing (#5813)
  make_cp2k.sh
  tools/dashboard/dashboard.conf
  tools/docker/Dockerfile.test_spack_coverage
  tools/docker/Dockerfile.test_spack_gromacs
  tools/docker/Dockerfile.test_spack_openmpi-pdbg
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_pdbg
  tools/docker/Dockerfile.test_spack_pdbg-P100
  tools/docker/Dockerfile.test_spack_pdbg-rawhide
  tools/docker/Dockerfile.test_spack_performance-openmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc13
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-gcc16
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rockylinux
  tools/docker/Dockerfile.test_spack_sdbg
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/cp2k-ci.conf
  tools/docker/generate_dockerfiles.py
Due: shfmt

Add benchmark run for 2 daint nodes (#5779)
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
  ci/docker/build_cp2k_spack.Dockerfile
  ci/mps-wrapper.sh
Due: shfmt

Raise default value of SCF%ADIIS%MAX_HISTORY (#5849)
  src/input_cp2k_scf.F
Due: doxify, prettify, analyze_src

Build MPI thread unittest only with MPI enabled (#5812)
  src/CMakeLists.txt
  tests/UNIT_TESTS
Due: none

Fix second derivatives of overlap integrals (#5755)
  src/aobasis/ai_overlap.F
  tests/QS/regtest-ls-rtp/H2O2-emd-overlap-second-deriv.inp
  tests/QS/regtest-ls-rtp/TEST_FILES.toml
  tests/SLOW_TESTS_SUPPRESSIONS
Due: doxify, prettify, analyze_src

Declare NNP OpenMP data sharing (#5807)
  src/nnp_force.F
Due: doxify, prettify, analyze_src

Stabilize remaining Pascal dashboard runs (#5792)
  tools/docker/Dockerfile.test_cuda_P100
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/generate_dockerfiles.py
  tools/spack/cp2k_deps_p.yaml
Due: none

RIRS: dedicated &RI_RS input section, linear-dependency fix in the GW minimax grid, and evGW0 (#5780)
  src/emd/rt_bse.F
  src/emd/rt_bse_linearized.F
  src/emd/rt_bse_types.F
  src/fm/cp_cfm_diag.F
  src/fm/cp_fm_diag.F
  src/gw_large_cell_gamma.F
  src/gw_non_periodic_ri_rs.F
  src/gw_utils.F
  src/input_cp2k_properties_dft.F
  src/post_scf_bandstructure_types.F
  src/post_scf_bandstructure_utils.F
  tests/QS/regtest-gw-realspace/01_RIRS_G0W0_PBE_H2O.inp
  tests/QS/regtest-gw-realspace/03_RIRS_G0W0_PBE0_O2.inp
  tests/QS/regtest-gw-realspace/04_RIRS_G0W0_GPW_PBE_H2O.inp
  tests/QS/regtest-gw-realspace/05_RIRS_RESTART_G0W0_PBE_H2O.inp
  tests/QS/regtest-gw-realspace/06_RIRS_G0W0_PBE_H2O_CUTOFFS.inp
  tests/QS/regtest-gw-realspace/07_RIRS_EVGW0_GPW_PBE_H2O.inp
  tests/QS/regtest-gw-realspace/08_RIRS_EVGW0_PBE0_O2.inp
  tests/QS/regtest-gw-realspace/TEST_FILES.toml
  tests/QS/regtest-rtbse-linearized-open-shell/h2_linrtbse_abba_rirs_open_shell.inp
  tests/QS/regtest-rtbse-linearized-open-shell/h2_linrtbse_tda_full_rirs_open_shell.inp
  tests/QS/regtest-rtbse-linearized-rirs/h2_linrtbse_abba_full_rirs.inp
  tests/QS/regtest-rtbse-linearized-rirs/h2_linrtbse_tda_full_rirs.inp
  tests/QS/regtest-rtbse-linearized-rirs/h2_linrtbse_tda_full_rirs_gridsel3.inp
  tests/matchers.py
Due: doxify, prettify, analyze_src

Codeowners: Add @Growl1234 for Toolchain and Fedora (#5806)
  CODEOWNERS
Due: none

Remove duplicate H-r and AO momentum construction paths (#5814)
  src/CMakeLists.txt
  src/aobasis/ai_moments.F
  src/aobasis/ai_overlap.F
  src/commutator_rkinetic.F
  src/qs_commutators.F
  src/qs_operators_ao.F
  src/qs_vcd_ao.F
  tests/QS/regtest-gpw-1/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Write effective charges to additional GPW cube files (#5718)
  src/pw/realspace_grid_cube.F
  src/qs_scf_post_gpw.F
  tests/QS/regtest-gpw-8/TEST_FILES.toml
  tests/QS/regtest-gpw-8/local_stress.inp
  tests/QS/regtest-ps-implicit-2-1/H2O_dbl_cstr_otcg.inp
  tests/QS/regtest-ps-implicit-2-1/TEST_FILES.toml
  tests/matchers.py
Due: doxify, prettify, analyze_src

Extension of native xTB to flexible number of primitive Gaussians (Marisa Schneider) (#5663)
  src/aobasis/basis_set_types.F
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_tb.F
  src/qs_environment.F
  src/xtb_parameters.F
  src/xtb_types.F
  tests/xTB/regtest-1/TEST_FILES.toml
  tests/xTB/regtest-1/cds.inp
  tests/xTB/regtest-1/cds.xyz
  tests/xTB/regtest-1/cds_debug.inp
  tests/xTB/regtest-1/cds_noflex.inp
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
