Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Add initializers in realspace_grid_types
  src/cp_realspace_grid_init.F
  src/pw/realspace_grid_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add initializers to qs_oce_types and sap_kind_types
  src/qs_oce_types.F
  src/sap_kind_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Do not use the default initializer if it has an allocatable component
  src/cp_eri_mme_interface.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Fix some initialization of allocatable components
  src/tmc/tmc_analysis_types.F
Due: doxify, prettify, analyze_src

GAPW triplet excitation energies
  src/qs_vxc_atom.F
  src/xc/xc.F
  src/xc/xc_atom.F
  tests/QS/regtest-tddfpt/H2O_GAPW_1_triplet.inp
  tests/QS/regtest-tddfpt/Ne_GAPW_triplet.inp
  tests/QS/regtest-tddfpt/TEST_FILES
Due: doxify, prettify, analyze_src

Sync the CP2K GTH PP database file with the cp2k-data repository
  data/GTH_POTENTIALS
Due: regen_data

Add GTH PP database file including the spin-orbit coupling (SOC) parameters
  data/GTH_POTENTIALS_SOC
Due: regen_data

Initialize hfx types
  src/hfx_pair_list_methods.F
  src/hfx_types.F
  src/libint_2c_3c.F
  src/qs_tensors_types.F
Due: doxify, prettify, analyze_src

Complete initialization of admm_types
  src/admm_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Update POTENTIAL file with the changes in GTH_POTENTIALS
  data/POTENTIAL
Due: regen_data

Initialize mp2/rpa types
  src/mp2_types.F
  src/rpa_grad.F
Due: doxify, prettify, analyze_src

Update convention suppression
  tools/conventions/conventions.supp
Due: none

change do_es to do_electrostatics for readability
  src/fist_nonbond_env_types.F
  src/fist_nonbond_force.F
  src/force_field_types.F
  src/force_fields_input.F
  src/force_fields_util.F
  src/qs_environment.F
Due: doxify, prettify, analyze_src

Added tests
  tests/QMMM/QS/regtest-1/H2O-qmmm-noelectrostatics.inp
  tests/QMMM/QS/regtest-1/TEST_FILES
Due: none

Generalize CIF file reader
  src/topology_cif.F
  tests/xTB/regtest-1/3mppa-ase.cif
  tests/xTB/regtest-1/TEST_FILES
  tests/xTB/regtest-1/tcif.inp
Due: doxify, prettify, analyze_src

Generalize CIF file reader (#2843)
  src/topology_cif.F
  tests/xTB/regtest-1/3mppa-ase.cif
  tests/xTB/regtest-1/TEST_FILES
  tests/xTB/regtest-1/tcif.inp
Due: doxify, prettify, analyze_src

Fist: Add switch to turn off real space electrostatics
  src/fist_nonbond_env_types.F
  src/fist_nonbond_force.F
  src/force_field_types.F
  src/force_fields_input.F
  src/force_fields_util.F
  src/input_cp2k_mm.F
  src/qs_environment.F
  tests/QMMM/QS/regtest-1/H2O-qmmm-noelectrostatics.inp
  tests/QMMM/QS/regtest-1/TEST_FILES
Due: doxify, prettify, analyze_src

Toolchain: Add leak suppressions for MPICH + PEXSI
  tools/toolchain/scripts/stage0/install_gcc.sh
  tools/toolchain/scripts/stage5/install_pexsi.sh
Due: shfmt

Docker: Use libint and libxc Debian packages
  tools/docker/Dockerfile.test_gcc10
  tools/docker/Dockerfile.test_gcc11
  tools/docker/Dockerfile.test_gcc12
  tools/docker/Dockerfile.test_gcc7
  tools/docker/Dockerfile.test_gcc8
  tools/docker/Dockerfile.test_gcc9
  tools/docker/Dockerfile.test_i386
  tools/docker/generate_dockerfiles.py
Due: none

Dashboard: Add tests for GCC 11 and 12
  tools/dashboard/dashboard.conf
  tools/docker/cp2k-ci.conf
Due: none

Toolchain: Upgrade to GCC 13.1.0
  tools/toolchain/scripts/stage0/install_gcc.sh
  tools/toolchain/scripts/stage8/install_sirius.sh
Due: shfmt

Read SOC parameters for GTH PP database file
  data/GTH_SOC_POTENTIALS
  src/CMakeLists.txt
  src/core_ppnl.F
  src/environment.F
  src/input/input_section_types.F
  src/input/input_val_types.F
  src/input_cp2k_restarts_util.F
  src/input_restart_force_eval.F
  src/motion/input_cp2k_restarts.F
  src/qs_kind_types.F
  src/rpa_gw.F
  src/subsys/external_potential_soc_parameters.F
  src/subsys/external_potential_types.F
  tests/QS/regtest-gpw-1/H2O-geoopt.inp
  tests/QS/regtest-gw-kpoints/G0W0_IH_SOC.inp
Due: doxify, prettify, analyze_src, regen_data

[cmake] small fix
  CMakeLists.txt
Due: none

improve the precision of the population print
  src/emd/rt_projection_mo_utils.F
Due: doxify, prettify, analyze_src

Fix mpi communicator vs int issue
  src/almo_scf.F
  src/almo_scf_methods.F
  src/almo_scf_optimizer.F
  src/almo_scf_qs.F
  src/arnoldi/arnoldi_data_methods.F
  src/dbcsrx/dbcsr_vector.F
  src/dbt/dbt_types.F
  src/domain_submatrix_methods.F
  src/emd/rt_propagation_output.F
  src/hfx_ri.F
  src/iao_analysis.F
  src/input/cp_output_handling.F
  src/iterate_matrix.F
  src/mao_methods.F
  src/pao_param_equi.F
  src/pao_param_gth.F
  src/pao_param_linpot.F
  src/pao_param_methods.F
  src/pw/realspace_grid_cube.F
  src/qs_active_space_methods.F
  src/qs_active_space_types.F
  src/qs_ot.F
  src/qs_tddfpt2_properties.F
  src/ri_environment_methods.F
  src/rpa_im_time.F
  src/submatrix_dissection.F
  src/xas_tdp_atom.F
  src/xas_tdp_integrals.F
Due: doxify, prettify, analyze_src, regen_data

OpenMPI 4.1.4 -> 4.1.5
  tools/toolchain/scripts/stage1/install_openmpi.sh
Due: shfmt

Adapt new DBCSR MPI API
  src/qs_active_space_methods.F
  src/qs_active_space_types.F
Due: doxify, prettify, analyze_src
