Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Add COMMUTATOR_HR regtest matrix checksum
  tests/QS/regtest-gpw-1/TEST_FILES.toml
  tests/QS/regtest-gpw-1/h2q.inp
  tests/matcher_classes.py
  tests/matchers.py
Due: none

Implement batched k-point lattice FFT
  src/CMakeLists.txt
  src/input_cp2k_kpoints.F
  src/kpoint_lattice_fft.F
  src/kpoint_lattice_fft_unittest.F
  src/kpoint_methods.F
  src/kpoint_types.F
  src/qs_scf_diagonalization.F
  tests/QS/regtest-scalapack-generalized/complex_kp.inp
  tests/UNIT_TESTS
Due: doxify, prettify, analyze_src

KPOINTS: Add FFT-based transforms for complete regular k-point grids (#5823)
  src/CMakeLists.txt
  src/input_cp2k_kpoints.F
  src/kpoint_lattice_fft.F
  src/kpoint_lattice_fft_unittest.F
  src/kpoint_methods.F
  src/kpoint_types.F
  src/qs_scf_diagonalization.F
  tests/QS/regtest-scalapack-generalized/complex_kp.inp
  tests/UNIT_TESTS
Due: doxify, prettify, analyze_src

Parallel k-point calculation in pure OpenMP case
  src/fm/cp_cfm_diag.F
  src/kpoint_methods.F
  src/qs_diis.F
  src/qs_scf_diagonalization.F
Due: doxify, prettify, analyze_src

Add optional Chebyshev OT preconditioner solver
  src/input_constants.F
  src/input_cp2k_scf.F
  src/preconditioner.F
  src/preconditioner_apply.F
  src/preconditioner_solvers.F
  src/preconditioner_types.F
  src/qs_ot_types.F
  src/qs_scf.F
  tests/QS/regtest-ot-2/CH4-chebyshev.inp
  tests/QS/regtest-ot-2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Misc edits
  README.md
  docs/getting-started/build-from-source.md
  docs/getting-started/distributions.md
  docs/getting-started/first-calculation.md
  docs/getting-started/installation.md
Due: none

Implement sparse periodic EEQ solver
  src/eeq_input.F
  src/eeq_method.F
  src/qs_environment.F
  src/xtb_eeq.F
  src/xtb_matrices.F
  tests/QS/regtest-dft-vdw-corr-4/TEST_FILES.toml
  tests/QS/regtest-dft-vdw-corr-4/pbe_dftd4_sparse.inp
  tests/xTB/regtest-gfn0/si_kp.inp
  tests/xTB/regtest-gfn1-d/TEST_FILES.toml
  tests/xTB/regtest-gfn1-d/ch2o_d4_sparse.inp
Due: doxify, prettify, analyze_src

Fix sparse EEQ pair-key bounds check
  src/eeq_method.F
Due: doxify, prettify, analyze_src

Add wrapper script for GH200 CI tester
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/mps-wrapper.sh
Due: shfmt

Add benchmark run for 2 daint nodes
  ci/cscs_daint_spack_psmp.yaml
Due: none

Fix hostname
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Do not set MPIR_CVAR_CH4_OFI_ENABLE_HMEM=1
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Fix SLURM parameter
  ci/cscs_daint_spack_psmp.yaml
Due: none

Add benchmark runs for 2 GH200 nodes
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
Due: none

Set SLURM_GPUS_PER_TASK
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Speed up TPSS NLCC polarizability regtest
  tests/QS/regtest-nlcc-1/TEST_FILES.toml
  tests/QS/regtest-nlcc-1/h2o_polar_mgga2.inp
Due: none

Add bounded low-rank OT preconditioner
  src/input_constants.F
  src/input_cp2k_scf.F
  src/preconditioner.F
  src/preconditioner_apply.F
  src/preconditioner_makes.F
  src/preconditioner_types.F
  src/qs_ot_types.F
  src/qs_scf.F
  src/qs_scf_output.F
  src/qs_scf_post_gpw.F
  src/qs_scf_post_tb.F
  tests/QS/regtest-ot-2/CH4-fermi-low-rank.inp
  tests/QS/regtest-ot-2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Strengthen low-rank OT regression coverage
  src/qs_scf.F
  tests/QS/regtest-ot-2/CH4-fermi-low-rank.inp
  tests/QS/regtest-ot-2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Fix declaration cleaner limit for large routines
  tools/precommit/format_fortran_test.py
  tools/precommit/prettify_cp2k/normalizeFortranFile.py
Due: none

define separate gw arrays for each falvour and global GW array
  src/emd/rt_bse.F
  src/emd/rt_bse_linearized.F
  src/emd/rt_bse_types.F
  src/gw_large_cell_gamma.F
  src/gw_non_periodic_ri_rs.F
  src/gw_utils.F
  src/post_scf_bandstructure_types.F
  src/post_scf_bandstructure_utils.F
Due: doxify, prettify, analyze_src

Write compiler target and current cpuid in cp2k version message
  src/start/cp2k.F
Due: doxify, prettify, analyze_src

OT: Add optional Chebyshev preconditioner solver (#5824)
  src/input_constants.F
  src/input_cp2k_scf.F
  src/preconditioner.F
  src/preconditioner_apply.F
  src/preconditioner_solvers.F
  src/preconditioner_types.F
  src/qs_ot_types.F
  src/qs_scf.F
  tests/QS/regtest-nlcc-1/TEST_FILES.toml
  tests/QS/regtest-nlcc-1/h2o_polar_mgga2.inp
  tests/QS/regtest-ot-2/CH4-chebyshev.inp
  tests/QS/regtest-ot-2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Copy ci folder into container; drop SLURM_HINT
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
  ci/docker/build_cp2k_spack.Dockerfile
Due: none

Test
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Set CPU_BIND socket
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Use square number of MPI ranks
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
Due: none

Recover SLURM_NTASKS
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Skip TB MO cubes for k-point wavefunctions
  src/qs_scf_post_tb.F
  tests/xTB/regtest-tblite-gfn1-periodic/Si_gfn1_kp_kpsym.inp
  tests/xTB/regtest-tblite-gfn1-periodic/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Fix k-point MO cube regtest matcher
  tests/xTB/regtest-tblite-gfn1-periodic/TEST_FILES.toml
Due: none

Revert some changes
  ci/cscs_daint_spack_psmp.yaml
  ci/cscs_daint_spack_psmp_h100.yaml
  ci/cscs_eiger_spack_psmp.yaml
Due: none

minor edits in comments
  src/gw_large_cell_gamma.F
  src/gw_non_periodic_ri_rs.F
Due: doxify, prettify, analyze_src
