Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

OMP/TRACE: support more comprehensive set of issues (#3784)
  src/base/openmp_trace.c
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

Some debugging
  src/grid/Makefile
  src/grid/grid_api.F
  src/grid/grid_multigrid.c
  src/grid/grid_multigrid.h
  src/grid/grid_replay.c
Due: doxify, prettify, analyze_src, clang-format

Add proc2pcoord
  src/grid/grid_api.F
  src/grid/grid_multigrid.c
  src/grid/grid_multigrid.h
  src/grid/grid_replay.c
Due: doxify, prettify, analyze_src, clang-format

Remove bounds component
  src/grid/grid_multigrid.c
  src/grid/grid_multigrid.h
Due: analyze_src, clang-format

Store info on local information
  src/grid/common/grid_mpi.c
  src/grid/common/grid_mpi.h
  src/grid/grid_multigrid.c
  src/grid/grid_multigrid.h
Due: analyze_src, clang-format

OMP/TRACE: fixed compilation warnings
  src/base/openmp_trace.c
Due: analyze_src, clang-format

ELPA: avoid multiple initializations
  src/fm/cp_cfm_diag.F
  src/fm/cp_fm_diag.F
Due: doxify, prettify, analyze_src

OMP/TRACE: fixed compilation warnings (#3785)
  src/base/openmp_trace.c
Due: analyze_src, clang-format

ELPA: avoid multiple initializations (#3786)
  src/fm/cp_cfm_diag.F
  src/fm/cp_fm_diag.F
Due: doxify, prettify, analyze_src

Attempt to convert rs2pw distributed (does not work)
  src/grid/common/grid_mpi.c
  src/grid/common/grid_mpi.h
  src/grid/grid_api.F
  src/grid/grid_multigrid.c
  src/grid/grid_multigrid.h
  src/pw/realspace_grid_types.F
Due: doxify, prettify, analyze_src, clang-format

Use cusolverMpSygvd for generalized eigensolver
  .gitignore
  src/fm/cp_fm_cusolver.c
  src/fm/cp_fm_cusolver_api.F
  src/fm/cp_fm_diag.F
Due: doxify, prettify, analyze_src, clang-format

print warnings with certain settings of NNP symmetry function centering and scaling
  src/nnp_environment.F
Due: doxify, prettify, analyze_src

EHT initial guess
  src/CMakeLists.txt
  src/dm_ls_scf.F
  src/dm_ls_scf_create.F
  src/input_constants.F
  src/input_cp2k_scf.F
  src/mixed_cdft_utils.F
  src/qs_eht_guess.F
  src/qs_environment.F
  src/qs_gamma2kp.F
  src/qs_initial_guess.F
  src/qs_kind_types.F
  src/qs_subsys_methods.F
  tests/QS/regtest-eht-guess/TEST_FILES
  tests/QS/regtest-eht-guess/h2o_1.inp
  tests/QS/regtest-eht-guess/h2o_2.inp
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Fix memory leak
  src/qs_eht_guess.F
Due: doxify, prettify, analyze_src

Test conditions include dftd4
  tests/TEST_DIRS
Due: none

EHT initial guess (#3790)
  src/CMakeLists.txt
  src/dm_ls_scf.F
  src/dm_ls_scf_create.F
  src/input_constants.F
  src/input_cp2k_scf.F
  src/mixed_cdft_utils.F
  src/qs_eht_guess.F
  src/qs_environment.F
  src/qs_gamma2kp.F
  src/qs_initial_guess.F
  src/qs_kind_types.F
  src/qs_subsys_methods.F
  tests/QS/regtest-eht-guess/TEST_FILES
  tests/QS/regtest-eht-guess/h2o_1.inp
  tests/QS/regtest-eht-guess/h2o_2.inp
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

BSE: add custom screening
  docs/methods/properties/optical/bethe-salpeter.md
  src/bse_full_diag.F
  src/bse_main.F
  src/input_constants.F
  src/input_cp2k_mp2.F
  src/mp2_setup.F
  src/mp2_types.F
Due: doxify, prettify, analyze_src

minor changes in manual
  docs/methods/properties/optical/bethe-salpeter.md
Due: none

clearify comments for absorption spectrum
  src/bse_full_diag.F
  src/bse_properties.F
  src/input_cp2k_mp2.F
Due: doxify, prettify, analyze_src

fix cpabort print
  docs/methods/properties/optical/bethe-salpeter.md
  src/bse_full_diag.F
Due: doxify, prettify, analyze_src

use DFT energies for setup of BSE matrices
  src/bse_util.F
  src/input_cp2k_mp2.F
  src/mp2_setup.F
  src/mp2_types.F
Due: doxify, prettify, analyze_src

add screening parameter ALPHA
  docs/methods/properties/optical/bethe-salpeter.md
  src/bse_full_diag.F
  src/bse_main.F
  src/bse_print.F
  src/bse_util.F
  src/input_constants.F
  src/input_cp2k_mp2.F
  src/mp2_setup.F
  src/mp2_types.F
  tests/QS/regtest-bse/BSE_H2O_PBE_evGW0_RPA_screening.inp
  tests/QS/regtest-bse/BSE_H2O_PBE_evGW0_TDHF_screening.inp
  tests/QS/regtest-bse/BSE_H2O_PBE_evGW0_custom_screening.inp
  tests/QS/regtest-bse/TEST_FILES
Due: doxify, prettify, analyze_src

Introduced m_cpuid_vlen
  src/base/machine.F
  src/environment.F
Due: doxify, prettify, analyze_src

Introduced m_cpuid_vlen (#3794)
  src/base/machine.F
  src/environment.F
Due: doxify, prettify, analyze_src

Toolchain almost ready for trexio
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage7/install_hdf5.sh
  tools/toolchain/scripts/stage8/install_stage8.sh
  tools/toolchain/scripts/stage8/install_trexio.sh
Due: shfmt

Electron group done
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Add pbc group
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Fix small typo in toolchain build of trexio
  tools/toolchain/scripts/stage8/install_trexio.sh
Due: shfmt

ECP group done
  src/qs_kind_types.F
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Nucleus and cell groups done
  src/cp2k_info.F
  src/trexio_module.F
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Basis group half-way done
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

MO group without k-point done
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Use zeff for nucleus group quantities
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

MO group almost done
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Basis group done
  src/aobasis/basis_set_types.F
  src/qs_kind_types.F
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Fix trexio write to work with MPI as well
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

FIrst steps with trexio_utils, dumps a file with cp2k.ssmp
  src/qs_scf_post_gpw.F
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Store nuclear repulsion
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

AO group done
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
