Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Resolve current coding convention failures (#5954)
  src/fm/cp_fm_basic_linalg.F
  src/qs_external_density.F
  src/qs_ot_complex_ref_unittest.F
  src/qs_scf_loop_utils.F
Due: doxify, prettify, analyze_src

Allow usage of multiple generalized eigensolvers (#5913)
  .gitignore
  docs/getting-started/build-with-spack.md
  src/fm/cp_fm_diag.F
  src/qs_scf_diagonalization.F
  src/qs_scf_methods.F
  tests/QS/regtest-dlaf/H2O-6-geeig.inp
  tests/QS/regtest-dlaf/TEST_FILES.toml
Due: doxify, prettify, analyze_src

QS: Add constrained AO fitting of Harris cube densities (#5921)
  src/CMakeLists.txt
  src/input_constants.F
  src/input_cp2k_harris.F
  src/qs_density_fit.F
  src/qs_harris_methods.F
  src/qs_harris_types.F
  src/qs_harris_utils.F
  tests/QS/regtest-harris/TEST_FILES.toml
  tests/QS/regtest-harris/he_cube_fit.inp
  tests/QS/regtest-harris/he_cube_fit_ls_scf.inp
  tests/QS/regtest-harris/he_cube_ls_scf.inp
  tests/QS/regtest-harris/he_zmp.inp
  tests/QS/regtest-harris/he_zmp_ls_scf.inp
  tests/matchers.py
Due: doxify, prettify, analyze_src

QS: Support metallic K-point OT in molecular and cell motion (#5916)
  src/qs_scf_initialization.F
  tests/QS/regtest-ot-2/Al-kpoint-mermin-cell-opt.inp
  tests/QS/regtest-ot-2/Al-kpoint-mermin-geo-opt.inp
  tests/QS/regtest-ot-2/Al-kpoint-mermin-md.inp
  tests/QS/regtest-ot-2/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Add automatic GW RI-RS grid optimization (#5918)
  src/CMakeLists.txt
  src/gw_large_cell_gamma.F
  src/gw_non_periodic_ri_rs.F
  src/gw_optimize_ri_rs_grid.F
  src/gw_utils.F
  src/input_cp2k_properties_dft.F
  src/optbas_frontier_orbitals_utils_unittest.F
  src/post_scf_bandstructure_types.F
  src/rirs_grid_utils.F
  src/rirs_grid_utils_unittest.F
  tests/QS/regtest-gw-realspace/07_RIRS_EVGW0_GPW_PBE_H2O.inp
  tests/QS/regtest-gw-realspace/TEST_FILES.toml
  tests/QS/regtest-gw-realspace/rirs-grid-optimization-H2O.inp
  tests/QS/regtest-gw-realspace/rirs-grid-optimization-percentage-10-H2O.inp
  tests/QS/regtest-gw-realspace/rirs-grid-optimization-percentage-H2O.inp
  tests/matchers.py
Due: doxify, prettify, analyze_src

Unify ao exp ikr operator (#5932)
  src/almo_scf_optimizer.F
  src/iao_analysis.F
  src/qs_efield_berry.F
  src/qs_linres_op.F
  src/qs_loc_utils.F
  src/qs_moments.F
  src/qs_operators_ao.F
  src/qs_tddfpt2_properties.F
  src/rpa_gw.F
Due: doxify, prettify, analyze_src

OT: Clean up Mermin response diagnostics (#5923)
  src/qs_ot_minimizer.F
  src/qs_ot_types.F
  src/qs_scf_loop_utils.F
  tests/QS/regtest-ot-2/Na-kpoint-mermin-uks-cg.inp
Due: doxify, prettify, analyze_src

OT: Calibrate finite Mermin response for metallic systems (#5915)
  benchmarks/QS_ot_metals/Cu-kpoint-mermin-pbe.inp
  benchmarks/QS_ot_metals/Ni-kpoint-mermin-uks.inp
  benchmarks/QS_ot_metals/README.md
  src/qs_ot_minimizer.F
  src/qs_ot_types.F
  src/qs_scf.F
  src/qs_scf_initialization.F
  src/qs_scf_loop_utils.F
  tests/QS/regtest-ot-2/Al-kpoint-mermin-response-lbfgs.inp
  tests/QS/regtest-ot-2/TEST_FILES.toml
  tests/matchers.py
  tests/xTB/regtest-tblite-gfn2-1/Al_fcc_gfn2_kp_otdiag_smear.inp
  tests/xTB/regtest-tblite-gfn2-1/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Avoid executable-stack trampoline in RI-RS grid optimization (#5942)
  src/gw_optimize_ri_rs_grid.F
Due: doxify, prettify, analyze_src

Fix one-step parallel FFT plan dimensions (#5957)
  src/pw/fft_tools.F
Due: doxify, prettify, analyze_src

Increase timeout for spack fetch (#5960)
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
Due: none

ALMO: Guard activation access after SCF cleanup (#5980)
  src/almo_scf.F
Due: doxify, prettify, analyze_src

Declare OpenMP sharing in analytical third XC derivatives (#5966)
  src/xc/xc.F
Due: doxify, prettify, analyze_src

XC: Avoid ifx ASSOCIATE miscompilation in LibXC workers (#5978)
  src/xc/xc_libxc.F
Due: doxify, prettify, analyze_src

PW/FFT: Translate the FFTW_PLAN_TYPE enum to FFTW planner flags (#5972)
  src/pw/fft/fftw3_lib.F
Due: doxify, prettify, analyze_src

Analytic third XC derivatives in the reduced-gradient variables (#5951)
  src/qs_fgxc.F
  src/xc/xc.F
  src/xc/xc_derivative_desc.F
  src/xc/xc_gamma.fypp
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
  tests/QS/regtest-tddfpt-force-libxc/TEST_FILES.toml
  tests/QS/regtest-tddfpt-force-libxc/h2o_gga_analytic.inp
  tests/QS/regtest-tddfpt-force-libxc/h2o_lda_analytic.inp
  tests/QS/regtest-tddfpt-force-libxc/h2o_lsd_gga_analytic.inp
  tests/QS/regtest-tddfpt-force-libxc/h2o_lsd_lda_analytic.inp
  tests/QS/regtest-tddfpt-force-libxc/h2o_lsd_mgga_lapl_analytic.inp
  tests/QS/regtest-tddfpt-force-libxc/h2o_lsd_mgga_tau_analytic.inp
  tests/QS/regtest-tddfpt-force-libxc/h2o_mgga_lapl_analytic.inp
  tests/QS/regtest-tddfpt-force-libxc/h2o_mgga_tau_analytic.inp
  tests/QS/regtest-tddfpt-sf-force/TEST_FILES.toml
  tests/QS/regtest-tddfpt-sf-force/h2o_pbe_opt_analytic.inp
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Regtesting: Register the cell types unit test (#5979)
  tests/UNIT_TESTS
Due: none

Use automatic K-point grouping in OT regtests (#5967)
  tests/QS/regtest-ot-3-1/Al-kpoint-otdiag-strict-full-all.inp
  tests/QS/regtest-ot-3-1/Al-kpoint-otdiag.inp
  tests/QS/regtest-ot-3-3/Al-kpoint-mermin-lbfgs.inp
  tests/QS/regtest-ot-3-5/Al-kpoint-mermin-response.inp
Due: none

Refactor non-local vdW code (#5976)
  src/qs_dispersion_nonloc.F
  src/qs_dispersion_types.F
  src/qs_dispersion_utils.F
  src/qs_environment.F
Due: doxify, prettify, analyze_src

Stabilize and speed up regression tests (#5969)
  tests/QS/regtest-acc-5-1/TEST_FILES.toml
  tests/QS/regtest-acc-5-1/h2o_f01_fine.inp
  tests/QS/regtest-kp-2/TEST_FILES.toml
  tests/QS/regtest-kp-3/Al-kpoint-dav-smear-adapt.inp
  tests/QS/regtest-kp-3/Al-kpoint-dav-smear.inp
  tests/QS/regtest-kp-3/TEST_FILES.toml
  tests/QS/regtest-ot-3-4/Al-kpoint-mermin-uks-common-mu.inp
  tests/QS/regtest-ot-3-4/Al-kpoint-mermin-uks-fixed-moment.inp
  tests/QS/regtest-ot-3-4/Na-kpoint-mermin-uks-sd.inp
  tests/QS/regtest-ot-3-4/TEST_FILES.toml
  tests/QS/regtest-tddfpt-force-libxc/TEST_FILES.toml
  tests/QS/regtest-tddfpt-force-libxc/h2o_mgga_tau_analytic.inp
  tests/matchers.py
  tests/xTB/regtest-tblite-gfn1/Si_gfn1_ot_kp_lbfgs_rotation.inp
Due: none

Stabilize Al Mermin LBFGS regression test (#5955)
  tests/QS/regtest-ot-3-3/Al-kpoint-mermin-lbfgs.inp
  tests/QS/regtest-ot-3-3/TEST_FILES.toml
Due: none

Motion: remove the legacy GOPT F77 interface (#5986)
  src/CMakeLists.txt
  src/motion/bfgs_optimizer.F
  src/motion/cg_optimizer.F
  src/motion/cg_utils.F
  src/motion/cp_lbfgs_optimizer_gopt.F
  src/motion/dimer_methods.F
  src/motion/geo_opt.F
  src/motion/gopt_f77_methods.F
  src/motion/gopt_f77_methods.fypp
  src/motion/gopt_f_methods.F
  src/motion/gopt_f_types.F
  tools/precommit/fortitude.toml
Due: doxify, prettify, analyze_src

QS: Unify k-point operator service (#5974)
  src/CMakeLists.txt
  src/qs_kp_evp_methods.F
  src/qs_kpoint_operators.F
  src/qs_scf_diagonalization.F
  src/qs_scf_loop_utils.F
Due: doxify, prettify, analyze_src

Unify local moment and derivative matrix construction (#5946)
  src/aobasis/ai_moments.F
  src/qs_dcdr.F
  src/qs_dcdr_ao.F
  src/qs_linres_current.F
  src/qs_linres_op.F
  src/qs_mfp.F
  src/qs_moments.F
  src/qs_operators_ao.F
  src/qs_tddfpt2_properties.F
  src/qs_tddfpt2_soc_utils.F
  src/qs_vcd.F
  src/qs_vcd_ao.F
  src/xas_methods.F
  src/xas_tdp_methods.F
Due: doxify, prettify, analyze_src

Add a k-point benchmarker (#5984)
  benchmarks/QS_kp/ZnO.inp
  make_cp2k.sh
  tools/docker/Dockerfile.test_spack_performance-openmp
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/test_performance.sh
Due: shfmt

LR-BSE: fix the ABBA cross term of <r_e r_h> in the exciton descriptors (#5982)
  src/bse_properties.F
Due: doxify, prettify, analyze_src

Remove obsolete FFT keyword from benchmarks (#5956)
  benchmarks/QS_DM_LS/H2O-dft-ls.NREP2.inp
  benchmarks/QS_DM_LS/H2O-dft-ls.NREP4.inp
  benchmarks/QS_DM_LS/H2O-dft-ls.inp
  benchmarks/QS_DM_LS/TiO2.inp
  benchmarks/QS_DM_LS/amorph.inp
  benchmarks/QS_diag/nm321_pbed3_bench.inp
  benchmarks/QS_low_scaling_GW/GW.inp
  benchmarks/QS_pao_ml_tio2/pao_ml_tio2.inp
  benchmarks/QS_single_node/bench_dftb.inp
  benchmarks/QS_stmv/stmv_xtb.inp
Due: none

Stabilize sparse RI-RS grid optimization regtest (#5963)
  tests/QS/regtest-gw-realspace/TEST_FILES.toml
Due: none

Fix minimal build without FFTW (#5953)
  src/pw/fft/fftw3_lib.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Parallelize convention checks across files (#5968)
  make_cp2k.sh
  tools/conventions/analyze_gfortran_ast.py
  tools/conventions/analyze_gfortran_warnings.py
  tools/conventions/test_conventions.sh
  tools/docker/Dockerfile.test_conventions
  tools/docker/generate_dockerfiles.py
Due: shfmt

Fix standard MO output for MPI-distributed k-points (#5975)
  src/qs_mo_io.F
  src/qs_scf_output.F
Due: doxify, prettify, analyze_src

Combine VCD nonlocal cross-product assembly calls (#5964)
  src/qs_vcd_utils.F
Due: doxify, prettify, analyze_src

Avoid GCC 15 complex density secant miscompile (#5958)
  src/qs_ot.F
  src/qs_ot_complex_ref_unittest.F
Due: doxify, prettify, analyze_src

Allow SCF initialization from an external cube density (#5959)
  docs/methods/dft/convergence.md
  src/dm_ls_scf_qs.F
  src/input_constants.F
  src/input_cp2k_scf.F
  src/qs_external_density.F
  src/qs_initial_guess.F
  src/qs_scf_initialization.F
  src/scf_control_types.F
  tests/QS/regtest-harris/TEST_FILES.toml
  tests/QS/regtest-harris/he_external_density_guess.inp
  tests/QS/regtest-harris/he_external_density_guess_ls_scf.inp
Due: doxify, prettify, analyze_src

Motion/BFGS: Fix two secular equation expressions in rat_fun_opt (#5987)
  src/motion/bfgs_optimizer.F
Due: doxify, prettify, analyze_src

OT: Enable adaptive preconditioners at complex K points (#5924)
  src/preconditioner.F
  src/preconditioner_apply.F
  src/preconditioner_makes.F
  src/preconditioner_types.F
  src/qs_ot_complex_ref_unittest.F
  src/qs_ot_eigensolver.F
  src/qs_ot_types.F
  src/qs_scf.F
  tests/QS/regtest-ot-3-1/Al-kpoint-mermin-covariant.inp
  tests/QS/regtest-ot-3-1/Al-kpoint-mermin-fermi-low-rank.inp
  tests/QS/regtest-ot-3-1/TEST_FILES.toml
  tests/QS/regtest-ot-3-4/Al-kpoint-mermin-roks.inp
  tests/QS/regtest-ot-3-4/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn1-periodic/Al_fcc_gfn1_kp_ot_fermi_low_rank.inp
  tests/xTB/regtest-tblite-gfn1-periodic/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn2-1/Al_fcc_gfn2_kp_otdiag_covariant.inp
  tests/xTB/regtest-tblite-gfn2-1/Al_fcc_gfn2_kp_otdiag_fermi_low_rank.inp
  tests/xTB/regtest-tblite-gfn2-1/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Add ASE installation and testing as an option to make_cp2k.sh (v2.4) (#6000)
  make_cp2k.sh
Due: shfmt

Bump versions in docs/requirements.txt (#5995)
  docs/conf.py
  docs/requirements.txt
Due: none

Update docs for make_cp2k.sh (2.1 -> 2.4) (#6004)
  docs/getting-started/build-from-source.md
  make_cp2k.sh
Due: shfmt

Accelerate Z construction in nonperiodic RI-RS GW (#5989)
  src/gw_non_periodic_ri_rs.F
Due: doxify, prettify, analyze_src
