Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Fix errors due to `-Werror=unused-parameter`
  src/qs_linres_module.F
  src/qs_vcd_ao.F
  src/qs_vcd_utils.F
Due: doxify, prettify, analyze_src

The distance colvar can be used with sign if defined for only one component. This is useful to work with vector products
  src/colvar_methods.F
  src/input_cp2k_colvar.F
  src/subsys/colvar_types.F
Due: doxify, prettify, analyze_src

Fix naming conventions
  cmake/FindArmpl.cmake
  cmake/FindBlis.cmake
Due: none

make pretty
  CMakeLists.txt
  cmake/CompilerConfiguration.cmake
  cmake/FindArmpl.cmake
  cmake/FindAtlas.cmake
  cmake/FindBlas.cmake
  cmake/FindBlis.cmake
  cmake/FindElpa.cmake
  cmake/FindFftw.cmake
  cmake/FindFlexiBLAS.cmake
  cmake/FindGenericBLAS.cmake
  cmake/FindLapack.cmake
  cmake/FindLibSPG.cmake
  cmake/FindLibVORI.cmake
  cmake/FindLibXC.cmake
  cmake/FindLibXSMM.cmake
  cmake/FindLibint2.cmake
  cmake/FindMKL.cmake
  cmake/FindOpenBLAS.cmake
  cmake/FindPEXSI.cmake
  cmake/FindSCALAPACK.cmake
  cmake/FindSCI.cmake
Due: none

Fix cosma
  CMakeLists.txt
Due: none

fix namespace name
  cmake/FindFlexiBLAS.cmake
  cmake/FindGenericBLAS.cmake
Due: none

Fix funky libxsmm library order
  CMakeLists.txt
  cmake/FindLibXSMM.cmake
  src/CMakeLists.txt
Due: none

More work on cmake
  CMakeLists.txt
  cmake/CompilerConfiguration.cmake
  cmake/FindArmpl.cmake
  cmake/FindAtlas.cmake
  cmake/FindBlas.cmake
  cmake/FindBlis.cmake
  cmake/FindElpa.cmake
  cmake/FindFftw.cmake
  cmake/FindFlexiBLAS.cmake
  cmake/FindGenericBLAS.cmake
  cmake/FindLapack.cmake
  cmake/FindLibSPG.cmake
  cmake/FindLibVDWXC.cmake
  cmake/FindLibVORI.cmake
  cmake/FindLibXC.cmake
  cmake/FindLibXSMM.cmake
  cmake/FindLibint2.cmake
  cmake/FindMKL.cmake
  cmake/FindMetis.cmake
  cmake/FindOpenBLAS.cmake
  cmake/FindPEXSI.cmake
  cmake/FindPlumed.cmake
  cmake/FindPtscotch.cmake
  cmake/FindQuip.cmake
  cmake/FindSCALAPACK.cmake
  cmake/FindSCI.cmake
  cmake/FindSuperLU.cmake
  cmake/cp2k_utils.cmake
  src/CMakeLists.txt
Due: none

Fix libxc include (#6)
  cmake/FindArmpl.cmake
  cmake/FindGenericBLAS.cmake
  cmake/FindLibXC.cmake
Due: none

prettify
  src/colvar_methods.F
  src/input_cp2k_colvar.F
  src/subsys/colvar_types.F
Due: doxify, prettify, analyze_src

prettify (#2571)
  src/colvar_methods.F
  src/input_cp2k_colvar.F
  src/subsys/colvar_types.F
Due: doxify, prettify, analyze_src

Define parameters as PARAMETER, get rid of POINTERs, use the ASSOCIATE construct
  src/aobasis/ai_moments.F
  src/commutator_rpnl.F
  src/qs_dcdr_utils.F
  src/qs_mfp.F
  src/qs_moments.F
  src/qs_vcd.F
  src/qs_vcd_ao.F
Due: doxify, prettify, analyze_src

Add MPI08 support. Minor cleanups
  CMakeLists.txt
  cmake/FindMKL.cmake
  src/CMakeLists.txt
Due: none

add ASSOCIATED construct in the remaining routines
  src/commutator_rpnl.F
  src/qs_mfp.F
  src/qs_moments.F
Due: doxify, prettify, analyze_src

Revert "add ASSOCIATED construct in the remaining routines"
  src/commutator_rpnl.F
  src/qs_mfp.F
  src/qs_moments.F
Due: doxify, prettify, analyze_src

Implementation of the NVPT for APTs and AATs in velocity form (#2568)
  src/aobasis/ai_moments.F
  src/common/bibliography.F
  src/commutator_rpnl.F
  src/input_cp2k_properties_dft.F
  src/qs_dcdr_utils.F
  src/qs_linres_module.F
  src/qs_linres_types.F
  src/qs_mfp.F
  src/qs_moments.F
  src/qs_vcd.F
  src/qs_vcd_ao.F
  src/qs_vcd_utils.F
  src/sap_kind_types.F
  tests/QS/regtest-dcdr/TEST_FILES
  tests/QS/regtest-dcdr/h2o_aat.inp
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

More cmake updates (#2570)
  CMakeLists.txt
  cmake/CompilerConfiguration.cmake
  cmake/FindArmpl.cmake
  cmake/FindAtlas.cmake
  cmake/FindBlas.cmake
  cmake/FindBlis.cmake
  cmake/FindElpa.cmake
  cmake/FindFftw.cmake
  cmake/FindFlexiBLAS.cmake
  cmake/FindGenericBLAS.cmake
  cmake/FindLapack.cmake
  cmake/FindLibSPG.cmake
  cmake/FindLibVDWXC.cmake
  cmake/FindLibVORI.cmake
  cmake/FindLibXC.cmake
  cmake/FindLibXSMM.cmake
  cmake/FindLibint2.cmake
  cmake/FindMKL.cmake
  cmake/FindMetis.cmake
  cmake/FindOpenBLAS.cmake
  cmake/FindPEXSI.cmake
  cmake/FindPlumed.cmake
  cmake/FindPtscotch.cmake
  cmake/FindQuip.cmake
  cmake/FindSCALAPACK.cmake
  cmake/FindSCI.cmake
  cmake/FindSuperLU.cmake
  cmake/cp2k_utils.cmake
  src/CMakeLists.txt
Due: none

Add default initializers to qs_linres_types.F
  src/mp2_cphf.F
  src/qs_linres_current_utils.F
  src/qs_linres_epr_utils.F
  src/qs_linres_issc_utils.F
  src/qs_linres_module.F
  src/qs_linres_nmr_utils.F
  src/qs_linres_polar_utils.F
  src/qs_linres_types.F
  src/response_solver.F
  src/rpa_im_time_force_methods.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Add default initializers to qs_rho_atom_types.F
  src/qs_rho_atom_methods.F
  src/qs_rho_atom_types.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Remove unnecessary stats from ALLOCATE in qs_rho_atom_methods.F
  src/qs_rho_atom_methods.F
Due: doxify, prettify, analyze_src

Add missing Fortran files to CMakeLists.txt
  src/CMakeLists.txt
Due: none

Conventions: Assign more specific c-numbers
  tools/conventions/analyze_gfortran_ast.py
  tools/conventions/conventions.supp
Due: none

Fix detection of system Open MPI
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Fix detection of system Open MPI (#2578)
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

CMake: Add generate_cmakelists.py
  cmake/cp2k_main_targets.cmake
  cmake/generate_cmakelists.py
  src/CMakeLists.txt
  tools/docker/Dockerfile.test_doxygen
  tools/docker/Dockerfile.test_python
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/test_python.sh
Due: shfmt

Fix coding conventions
  src/qs_mfp.F
  src/qs_vcd_utils.F
Due: doxify, prettify, analyze_src

Replace remaining cp_fm_gemm calls
  src/qs_mfp.F
  src/qs_vcd.F
Due: doxify, prettify, analyze_src

update description, rename indices
  src/qs_moments.F
Due: doxify, prettify, analyze_src

allocate vcd_env%moments_der antisymmetrically
  src/qs_vcd.F
  src/qs_vcd_utils.F
Due: doxify, prettify, analyze_src

build_local_moments_der_matrix with symmetric neighbourlist
  src/qs_moments.F
Due: doxify, prettify, analyze_src

refactor build_local_moments_der_matrix
  src/qs_moments.F
  src/qs_vcd_utils.F
Due: doxify, prettify, analyze_src
