Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

kpoint (#3609)
  src/aobasis/orbital_transformation_matrices.F
  src/kpoint_methods.F
  src/kpoint_types.F
  src/qs_basis_rotation_methods.F
Due: doxify, prettify, analyze_src

Increase development version after 2024.2 release
  CMakeLists.txt
  docs/index.md
  docs/versions.md
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

Remove explicit I/O Unit
  src/kpoint_methods.F
Due: doxify, prettify, analyze_src

Remove explicit I/O Unit (#3612)
  src/kpoint_methods.F
Due: doxify, prettify, analyze_src

Remove explicit output unit
  src/kpoint_methods.F
Due: doxify, prettify, analyze_src

Remove explicit output unit (#3613)
  src/kpoint_methods.F
Due: doxify, prettify, analyze_src

Pretty
  src/kpoint_methods.F
Due: doxify, prettify, analyze_src

Pretty (#3616)
  src/kpoint_methods.F
Due: doxify, prettify, analyze_src

look for different scalapack names under linux
  cmake/modules/FindSCALAPACK.cmake
Due: none

Fix GCC14
  src/fm/cp_fm_types.F
  src/rpa_main.F
  src/rpa_util.F
Due: doxify, prettify, analyze_src

Adapt tolerances
  tests/QS/regtest-hfx/TEST_FILES
Due: none

Fix GCC14 (#3619)
  src/fm/cp_fm_types.F
  src/rpa_main.F
  src/rpa_util.F
Due: doxify, prettify, analyze_src

OpenBLAS 0.3.27 - 0.3.28
  tools/toolchain/scripts/get_openblas_arch.sh
  tools/toolchain/scripts/stage2/install_openblas.sh
Due: shfmt

looking for scalapack using identified mpi
  cmake/modules/FindSCALAPACK.cmake
Due: none

prettify
  cmake/modules/FindSCALAPACK.cmake
Due: none

Update arch files
  arch/JURECA-cpu.psmp
  arch/JURECA-gpu.psmp
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
Due: none

CMake: look for different scalapack names under linux
  cmake/modules/FindSCALAPACK.cmake
Due: none

OpenBLAS 0.3.27 - 0.3.28 (#3623)
  arch/JURECA-cpu.psmp
  arch/JURECA-gpu.psmp
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  tools/toolchain/scripts/get_openblas_arch.sh
  tools/toolchain/scripts/stage2/install_openblas.sh
Due: shfmt

Docker: Run OpenMPI test with system GCC version
  tools/docker/Dockerfile.test_openmpi-psmp
  tools/docker/generate_dockerfiles.py
Due: none

Docker: Add test for GCC 14
  tools/docker/Dockerfile.test_gcc14
  tools/docker/cp2k-ci.conf
  tools/docker/generate_dockerfiles.py
Due: none

Dashboard: Add test for GCC 14
  tools/dashboard/dashboard.conf
Due: none

Precommit: Exclude common cmake build dir
  tools/precommit/precommit.py
Due: none

remove build folder from pretty for CMake builds
  tools/precommit/precommit.py
Due: none

BSE: Always use W0, also for BSE@evGW
  src/bse_main.F
  src/bse_util.F
  src/rpa_gw.F
  src/rpa_main.F
  src/rpa_util.F
Due: doxify, prettify, analyze_src

BSE: Minor changes for print of optical spectrum
  src/bse_full_diag.F
  src/bse_util.F
  src/input_cp2k_mp2.F
  src/mp2_setup.F
  src/mp2_types.F
Due: doxify, prettify, analyze_src

prettify
  src/bse_main.F
  src/bse_util.F
  src/rpa_gw.F
  src/rpa_main.F
  src/rpa_util.F
Due: doxify, prettify, analyze_src

add tests for BSE@evGW0 and BSE@evGW
  src/rpa_main.F
  tests/QS/regtest-bse/BSE_H2O_PBE_G0W0.inp
  tests/QS/regtest-bse/BSE_H2O_PBE_evGW.inp
  tests/QS/regtest-bse/BSE_H2O_PBE_evGW0.inp
  tests/QS/regtest-bse/TDA_H2O_PBE_G0W0.inp
  tests/QS/regtest-bse/TDA_H2O_PBE_evGW.inp
  tests/QS/regtest-bse/TDA_H2O_PBE_evGW0.inp
  tests/QS/regtest-bse/TEST_FILES
Due: doxify, prettify, analyze_src

prettify
  src/rpa_main.F
Due: doxify, prettify, analyze_src

Initialize DBCSR_related variables
  src/dbx/cp_dbcsr_api.F
  src/dm_ls_scf_types.F
  src/pexsi_types.F
  src/transport_env_types.F
  tools/precommit/check_file_properties.py
Due: doxify, prettify, analyze_src

Fix compilation of PEXSI if in use
  src/dm_ls_scf_types.F
  src/pexsi_types.F
Due: doxify, prettify, analyze_src

BSE: Minor changes for optical spectra and BSE@evGW(0) (#3628)
  src/bse_full_diag.F
  src/bse_main.F
  src/bse_util.F
  src/input_cp2k_mp2.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_gw.F
  src/rpa_main.F
  src/rpa_util.F
  tests/QS/regtest-bse/BSE_H2O_PBE_G0W0.inp
  tests/QS/regtest-bse/BSE_H2O_PBE_evGW.inp
  tests/QS/regtest-bse/BSE_H2O_PBE_evGW0.inp
  tests/QS/regtest-bse/TDA_H2O_PBE_G0W0.inp
  tests/QS/regtest-bse/TDA_H2O_PBE_evGW.inp
  tests/QS/regtest-bse/TDA_H2O_PBE_evGW0.inp
  tests/QS/regtest-bse/TEST_FILES
Due: doxify, prettify, analyze_src

Update arch files and apply minor fix
  arch/Darwin-gnu-arm64.psmp
  arch/Darwin-gnu-arm64.ssmp
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
Due: none

Update arch files and apply minor fix (#3629)
  arch/Darwin-gnu-arm64.psmp
  arch/Darwin-gnu-arm64.ssmp
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
Due: none

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
