Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Retire ARMv7l regression tester
  tools/dashboard/dashboard.conf
Due: none

Fix typos
  INSTALL.md
  benchmarks/QS_mp2_rpa/README.md
  src/grid/README.md
  tests/README.md
Due: none

Add hip support for fft on gpu (generic interface)
  INSTALL.md
  Makefile
  src/cp2k_info.F
  src/f77_interface.F
  src/grid/hip/grid_hip_context.hpp
  src/offload/offload_api.F
  src/offload/offload_buffer.c
  src/offload/offload_cuda_internal.h
  src/offload/offload_hip_internal.h
  src/offload/offload_library.c
  src/offload/offload_library.h
  src/pw/PACKAGE
  src/pw/cuda/fft_cuda.h
  src/pw/cuda/fft_cuda_internal.h
  src/pw/cuda/fft_cuda_utils.cu
  src/pw/cuda/fft_cuda_utils.h
  src/pw/cuda/fft_cuda_z.cu
  src/pw/cuda/pw_cuda.h
  src/pw/cuda/pw_cuda_utils.cu
  src/pw/cuda/pw_cuda_utils.h
  src/pw/cuda/pw_cuda_z.cu
  src/pw/fft_tools.F
  src/pw/gpu/PACKAGE
  src/pw/gpu/cuda/PACKAGE
  src/pw/gpu/cuda/cuda_fft_private_header.hpp
  src/pw/gpu/cuda/pw_cuda_z.cu
  src/pw/gpu/hip/PACKAGE
  src/pw/gpu/hip/hip_fft_private_header.hpp
  src/pw/gpu/hip/pw_hip_z.cc
  src/pw/gpu/kernels/PACKAGE
  src/pw/gpu/kernels/pw_kernels.hpp
  src/pw/gpu/pw_gpu_internal.cc
  src/pw/pw_gpu.F
  src/pw/pw_grids.F
  src/pw/pw_methods.F
  src/start/cp2k_runs.F
  tools/precommit/check_file_properties.py
  tools/toolchain/Dockerfile.hip_cuda
  tools/toolchain/scripts/generate_arch_files.sh
Due: doxify, prettify, analyze_src, clang-format, shfmt

Update rocm dockerfile
  tools/toolchain/Dockerfile.hip_rocm
Due: none

Consider arch for cmake installation
  tools/toolchain/scripts/stage0/install_cmake.sh
Due: shfmt

Fix logic for ARM
  tools/toolchain/scripts/stage5/install_elpa.sh
Due: shfmt

Add arch file for GNU aarch64 (arm64)
  arch/Linux-gnu-aarch64.psmp
Due: none

Fix INTENT of calc_energy_func_der
  src/mp2_optimize_ri_basis.F
Due: doxify, prettify, analyze_src

Issue #1889: revised PR #1879.
  src/grid/cpu/utils.c
Due: analyze_src, clang-format

Ignore LIBXSMM version macros.
  tools/precommit/check_file_properties.py
Due: none

Bump LibXC to version 8.2.0
  tools/toolchain/scripts/stage3/install_libxc.sh
Due: shfmt

Issue #1889: revised PR #1879 (#1898)
  src/grid/cpu/utils.c
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

Use POSIX compliant syntax
  arch/CRAY-XC40-gnu.psmp
  arch/CRAY-XC50-gnu.psmp
  arch/Linux-x86-64-gnu.psmp
Due: none

Update GNU and Intel arch files
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
Due: none

Fix redefined i_ref
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
Due: doxify, prettify, analyze_src

Update dashboard
  tools/dashboard/dashboard.conf
Due: none

Use LDA_X_ERF correctly
  tests/QS/regtest-rs-dhft/CH3-rsLDAlrMP2.inp
  tests/QS/regtest-rs-dhft/H2O-rsLDAlrMP2.inp
  tests/QS/regtest-rs-dhft/TEST_FILES
Due: none

Bump LibXC to version 5.2.0 (#1899)
  src/xc/xc_libxc.F
  src/xc/xc_libxc_wrap.F
  tests/QS/regtest-rs-dhft/CH3-rsLDAlrMP2.inp
  tests/QS/regtest-rs-dhft/H2O-rsLDAlrMP2.inp
  tests/QS/regtest-rs-dhft/TEST_FILES
  tools/toolchain/scripts/stage3/install_libxc.sh
Due: doxify, prettify, analyze_src, shfmt

Protect against when GPU compilation is requested, but no PW
  src/pw/gpu/pw_gpu_internal.cc
Due: clang-format

pretty
  src/pw/gpu/pw_gpu_internal.cc
Due: clang-format

Protect against when GPU compilation is requested, but no PW (#1905)
  src/pw/gpu/pw_gpu_internal.cc
Due: clang-format

Remove unused compile flag settings
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Update gcc compile flags
  tools/toolchain/scripts/stage0/install_gcc.sh
Due: shfmt

Update gcc compile flags
  tools/toolchain/scripts/stage0/setup_buildtools.sh
Due: shfmt

Fix for fft performance regression
  src/pw/gpu/cuda/cuda_fft_private_header.hpp
  src/pw/gpu/cuda/pw_cuda_z.cu
  src/pw/gpu/hip/hip_fft_private_header.hpp
  src/pw/gpu/kernels/pw_kernels.hpp
  src/pw/gpu/pw_gpu_internal.cc
  src/pw/gpu/pw_gpu_internal.hpp
Due: analyze_src, clang-format

Cleanup
  src/grid/cpu/collocation_integration.c
  src/grid/cpu/collocation_integration.h
  src/pw/gpu/pw_gpu_internal.cc
  src/pw/gpu/pw_gpu_internal.hpp
Due: analyze_src, clang-format

make pretty
  src/grid/cpu/collocation_integration.h
  src/pw/gpu/cuda/pw_cuda_z.cu
  src/pw/gpu/kernels/pw_kernels.hpp
  src/pw/gpu/pw_gpu_internal.cc
  src/pw/gpu/pw_gpu_internal.hpp
Due: analyze_src, clang-format

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
