Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-ast
        name: Check python ast (with Python 2.7)
        language_version: python2.7
        stages: [manual]
        files: '^tools/build_utils/.*\.py'
    -   id: check-ast
        name: Check python ast (with Python 3)
        language_version: python3
        stages: [manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    -   id: black
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false

removed unused parameter
  src/hfx_ri.F
Due: doxify, prettify, analyze_src

Density fit returns best possible values even if not converged. Is needed for Hirshfeld charges using density shape function.
  src/atom_fit.F
Due: doxify, prettify, analyze_src

Update regtest results
  tests/Fist/regtest-13/TEST_FILES
  tests/Fist/regtest-14/TEST_FILES
  tests/Fist/regtest-3/TEST_FILES
  tests/QMMM/SE/regtest-force-mixing/TEST_FILES
Due: none

Use raw Amber parameters for dihedrals
  src/force_field_types.F
  src/force_fields_all.F
  src/force_fields_ext.F
  src/topology_amber.F
  tests/Fist/regtest-13/TEST_FILES
  tests/Fist/regtest-14/TEST_FILES
  tests/Fist/regtest-3/TEST_FILES
  tests/QMMM/SE/regtest-force-mixing/TEST_FILES
Due: doxify, prettify, analyze_src

Stabilize Fist/regtest-3/ace_ala_nme-amber.inp
  tests/Fist/regtest-3/TEST_FILES
  tests/Fist/regtest-3/ace_ala_nme-amber.inp
Due: none

Low-scaling GW: minor load balancing fix
  src/rpa_gw_im_time_util.F
Due: doxify, prettify, analyze_src

Low-scaling GW: minor load-balancing fix part 2
  src/rpa_gw_im_time_util.F
Due: doxify, prettify, analyze_src

Makefile: switch default VERSION to ssmp
  Makefile
Due: none

Makefile: remove automated ARCH detection for Spack
  Makefile
Due: none

pre-commit-install: use a less-baroque way to check for empty vars
  tools/pre-commit-install.sh
Due: none

toolchain-spack: initial commit
  tools/toolchain-spack/.gitignore
  tools/toolchain-spack/install_cp2k_toolchain.sh
Due: none

pre-commit: use excludelist for shellcheck
  .pre-commit-config.yaml
Due: none

grid: Refactor towards shared collocate / integrate code
  src/grid/ref/grid_ref_collocate.c
Due: analyze_src

grid: Check floating point exceptions in grid_collocate_replay
  src/grid/grid_collocate_replay.c
  src/grid/grid_collocate_unittest.c
  src/grid/sample_tasks/collocate_general_overflow.task
Due: analyze_src

grid: Add timer regions
  src/grid/grid_api.F
Due: doxify, prettify, analyze_src

grid: Restore efficient collocate core ortho
  src/grid/ref/grid_ref_collocate.c
Due: analyze_src

grid: Restore efficient computation of pol array
  src/grid/ref/grid_ref_collocate.c
Due: analyze_src

grid: Speeup general collocate kernel
  src/grid/ref/grid_ref_collocate.c
Due: analyze_src

Adjust 34 thresholds due to faster collocate general kernel
  tests/LIBTEST/TEST_FILES
  tests/QMMM/QS/regtest-1/TEST_FILES
  tests/QMMM/QS/regtest-2-swave/TEST_FILES
  tests/QMMM/QS/regtest-3/TEST_FILES
  tests/QMMM/QS/regtest-4/TEST_FILES
  tests/QMMM/QS/regtest-gapw/TEST_FILES
  tests/QMMM/QS/regtest-lrigpw/TEST_FILES
  tests/QS/regtest-admm-4/TEST_FILES
  tests/QS/regtest-admm-dm/TEST_FILES
  tests/QS/regtest-cdft-3/TEST_FILES
  tests/QS/regtest-gpw-1/TEST_FILES
  tests/QS/regtest-gpw-3/TEST_FILES
  tests/QS/regtest-gpw-4/TEST_FILES
  tests/QS/regtest-mp2-2/TEST_FILES
  tests/QS/regtest-mp2-4/TEST_FILES
  tests/QS/regtest-mp2-grad/TEST_FILES
  tests/QS/regtest-ot-2/TEST_FILES
  tests/QS/regtest-ot/TEST_FILES
  tests/QS/regtest-ri-laplace-mp2/TEST_FILES
  tests/QS/regtest-xc/TEST_FILES
Due: none

grid: Remove obsolete lgrid_type
  src/pw/lgrid_types.F
  src/pw_env/pw_env_types.F
  src/pw_env_methods.F
Due: doxify, prettify, analyze_src
