Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Switch version from ssmp to psmp for AiiDA and ASE tests
  tools/docker/scripts/test_aiida.sh
  tools/docker/scripts/test_ase.sh
Due: shfmt

Remove remaining MAX_TASKS reference
  ci/cscs-ci.yml
Due: none

Remove MAX_TASKS variable
  ci/cscs-ci.yml
  ci/docker/build_cp2k_psmp.Dockerfile
Due: none

Create always a DBCSR setup file
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

Fix runner extension
  ci/cscs-ci.yml
Due: none

Switch i-pi test from version ssmp to psmp
  tools/docker/scripts/test_i-pi.sh
Due: shfmt

Write DBCSR setup file only if DBCSR build is requested
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

Print info
  ci/cscs-ci.yml
  ci/docker/build_cp2k_psmp.Dockerfile
Due: none

Add SLURM flags
  ci/cscs-ci.yml
  ci/docker/build_cp2k_psmp.Dockerfile
Due: none

Perform DBCSR toolchain build for 3rd party tests
  tools/docker/Dockerfile.test_aiida
  tools/docker/Dockerfile.test_ase
  tools/docker/Dockerfile.test_gromacs
  tools/docker/Dockerfile.test_i-pi
  tools/docker/generate_dockerfiles.py
Due: none

Set SLURM constraint
  ci/cscs-ci.yml
Due: none

Partially revert #3992 and apply alternative fix
  tools/docker/Dockerfile.test_aiida
  tools/docker/Dockerfile.test_ase
  tools/docker/Dockerfile.test_gromacs
  tools/docker/Dockerfile.test_i-pi
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/test_aiida.sh
  tools/docker/scripts/test_ase.sh
  tools/docker/scripts/test_i-pi.sh
Due: shfmt

CMake: removed module available upstream
  cmake/CheckFortranSourceRuns.cmake
Due: none

dbt_tas_info: lhs copy-allocation overhead
  src/dbt/tas/dbt_tas_base.F
  src/dbt/tas/dbt_tas_split.F
Due: doxify, prettify, analyze_src

cleanup
  src/qs_rho0_ggrid.F
Due: doxify, prettify, analyze_src

removing ghost atoms from dispersion D4
  src/qs_dispersion_d4.F
Due: doxify, prettify, analyze_src

small fix for dftd4 linking
  src/CMakeLists.txt
Due: none

some changes to dftd4 cmake build
  CMakeLists.txt
  cmake/modules/Finddftd4.cmake
Due: none

adding test for d4 bsse
  tests/QS/regtest-dft-vdw-corr-4/TEST_FILES
  tests/QS/regtest-dft-vdw-corr-4/pbe_dftd4_bsse.inp
Due: none

fix for mctc-lib
  CMakeLists.txt
  cmake/modules/Findmctc-lib.cmake
Due: none

trying to fix linking
  cmake/modules/Finddftd4.cmake
Due: none

dftd4 fix
  src/CMakeLists.txt
Due: none

CMake: removed module available upstream (#3999)
  cmake/CheckFortranSourceRuns.cmake
Due: none

dbt_tas_info: lhs copy-allocation overhead (#4000)
  src/dbt/tas/dbt_tas_base.F
  src/dbt/tas/dbt_tas_split.F
Due: doxify, prettify, analyze_src

Fix typos in usage strings
  src/input_cp2k_almo.F
  src/input_cp2k_as.F
  src/input_cp2k_atom.F
  src/input_cp2k_colvar.F
  src/input_cp2k_constraints.F
  src/input_cp2k_dft.F
  src/input_cp2k_ec.F
  src/input_cp2k_external.F
  src/input_cp2k_field.F
  src/input_cp2k_free_energy.F
  src/input_cp2k_global.F
  src/input_cp2k_hfx.F
  src/input_cp2k_loc.F
  src/input_cp2k_ls.F
  src/input_cp2k_mixed.F
  src/input_cp2k_mm.F
  src/input_cp2k_motion_print.F
  src/input_cp2k_mp2.F
  src/input_cp2k_opt.F
  src/input_cp2k_poisson.F
  src/input_cp2k_print_dft.F
  src/input_cp2k_projection_rtp.F
  src/input_cp2k_properties_dft.F
  src/input_cp2k_qmmm.F
  src/input_cp2k_resp.F
  src/input_cp2k_scf.F
  src/input_cp2k_smeagol.F
  src/input_cp2k_subsys.F
  src/input_cp2k_tb.F
  src/input_cp2k_thermostats.F
  src/input_cp2k_voronoi.F
  src/input_cp2k_xas.F
  src/input_cp2k_xc.F
  src/input_optimize_basis.F
  src/motion/input_cp2k_md.F
  src/start/input_cp2k.F
  src/start/input_cp2k_motion.F
  src/tmc/input_cp2k_tmc.F
Due: doxify, prettify, analyze_src

TMC: Fix typo in keyword: GROUP_ANLYSIS_NR -> GROUP_ANALYSIS_NR
  src/tmc/input_cp2k_tmc.F
  src/tmc/tmc_setup.F
  tests/TMC/regtest_ana_on_the_fly/TMC_ana_G_R.inp
  tests/TMC/regtest_ana_on_the_fly/TMC_ana_create_traj_without_ana.inp
  tests/TMC/regtest_ana_on_the_fly/TMC_ana_density.inp
  tests/TMC/regtest_ana_on_the_fly/TMC_ana_deviation.inp
  tests/TMC/regtest_ana_on_the_fly/TMC_ana_dip_cl.inp
  tests/TMC/regtest_ana_on_the_fly/TMC_ana_restart.inp
  tests/TMC/regtest_ana_on_the_fly/TMC_ana_start_with_exist_traj.inp
  tests/TMC/regtest_ana_post_proc/TMC_ana_create_traj_without_ana.inp
  tests/TMC/regtest_ana_post_proc/TMC_ana_extend_trajectory.inp
Due: doxify, prettify, analyze_src

Docs: Enable assert for usage strings
  docs/generate_input_reference.py
  src/input/input_keyword_types.F
  src/input_cp2k_subsys.F
Due: doxify, prettify, analyze_src

Fix typo (slash at end of line)
  tools/docker/scripts/test_aiida.sh
Due: shfmt

Homogenize headlines
  tools/toolchain/scripts/stage8/install_dftd4.sh
Due: shfmt

Remove variable printout
  ci/cscs-ci.yml
Due: none

Fix CP2K binary extension to be compliant with the aiida-cp2k plugin
  tools/docker/scripts/test_aiida.sh
Due: shfmt

Re-add package mpi
  tools/docker/scripts/test_aiida.sh
Due: shfmt

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
