Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Fix double allocation of the SPGR components (#4946)
  src/motion/space_groups.F
  src/motion/space_groups_types.F
Due: doxify, prettify, analyze_src

Spack: HDF 1.14.6 -> 2.1.0
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
  tools/spack/spack_repo/cp2k_dev/packages/hdf5/find_package_zlib.patch
  tools/spack/spack_repo/cp2k_dev/packages/hdf5/fortran-kinds-2.patch
  tools/spack/spack_repo/cp2k_dev/packages/hdf5/fortran-kinds.patch
  tools/spack/spack_repo/cp2k_dev/packages/hdf5/h5f90global-mult-obj-same-equivalence-same-common-block.patch
  tools/spack/spack_repo/cp2k_dev/packages/hdf5/h5public-skip-mpicxx.patch
  tools/spack/spack_repo/cp2k_dev/packages/hdf5/hdf5_1.8_gcc10.patch
  tools/spack/spack_repo/cp2k_dev/packages/hdf5/hdf5_1_14_0_config_find_mpi.patch
  tools/spack/spack_repo/cp2k_dev/packages/hdf5/hdf5_1_14_3_fpe.patch
  tools/spack/spack_repo/cp2k_dev/packages/hdf5/package.py
  tools/spack/spack_repo/cp2k_dev/packages/hdf5/pre-c99-comments.patch
  tools/spack/spack_repo/cp2k_dev/packages/hdf5/test/spack.h5
Due: none

Unify extrapolation logic and update fallback to USE_PREV_WF (for k-points)
  src/qs_environment.F
  src/qs_wf_history_methods.F
Due: doxify, prettify, analyze_src

More deduplication for toolchain-exported paths
  tools/toolchain/scripts/stage4/install_cosma.sh
  tools/toolchain/scripts/stage4/install_scalapack.sh
  tools/toolchain/scripts/stage7/install_libvori.sh
Due: shfmt

Fix AS calculations with Half-transformed integrals and inactive occupied orbitals
  src/qs_active_space_methods.F
  src/qs_active_space_types.F
Due: doxify, prettify, analyze_src

add cmake_policy_version_minimum in install_libxc.sh
  tools/toolchain/scripts/stage3/install_libxc.sh
Due: shfmt

try to fix the identation
  tools/toolchain/scripts/stage3/install_libxc.sh
Due: shfmt

add comment to this tag
  tools/toolchain/scripts/stage3/install_libxc.sh
Due: shfmt

Refactoring towards wider scope of k-point coverage
  src/ec_env_types.F
  src/ec_environment.F
  src/energy_corrections.F
  src/input_cp2k_ec.F
  src/kpoint_methods.F
  src/kpoint_types.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/post_scf_bandstructure_utils.F
  src/qs_band_structure.F
  src/qs_core_matrices.F
  src/qs_energy_init.F
  src/qs_environment.F
  src/qs_kinetic.F
  src/qs_moments.F
  src/qs_overlap.F
  src/qs_wannier90.F
  src/rpa_gw.F
Due: doxify, prettify, analyze_src

Raise warnings or aborts in case of ambiguous/invalid cell definitions
  src/cell_methods.F
  src/input_cp2k_subsys.F
Due: doxify, prettify, analyze_src

Toolchain: TREXIO 2.6.0 -> 2.6.1
  tools/toolchain/scripts/stage8/install_trexio.sh
Due: shfmt

Toolchain: Change CMake policy minimum requirement to keep legacy compatibility for CMake version 4.x
  tools/toolchain/scripts/stage3/install_libxc.sh
  tools/toolchain/scripts/stage4/install_scalapack.sh
Due: shfmt

Toolchain: CMake 3.31.7 -> 4.2.3
  tools/toolchain/scripts/stage0/install_cmake.sh
Due: shfmt

Print energy with extrapolation to T->0 when smearing is used
  src/qs_scf_output.F
Due: doxify, prettify, analyze_src

Download from CP2K server; decompress .tar.gz directly instead of using .sh for installation of CMake
  tools/toolchain/scripts/stage0/install_cmake.sh
  tools/toolchain/scripts/stage8/install_trexio.sh
Due: shfmt

Adapt ADDED_MOS automatically for the requested orbital information output
  src/qs_environment.F
  src/qs_environment_types.F
  src/qs_mo_io.F
  src/qs_scf.F
  src/qs_scf_initialization.F
  tests/QS/regtest-plus_u/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Fix occupied orbital printout for GUESS atomic and RESTART off
  src/qs_scf_output.F
Due: doxify, prettify, analyze_src

Gaussian smearing implementation
  src/CMakeLists.txt
  src/gaussian_smear.F
  src/input_constants.F
  src/input_cp2k_scf.F
  src/kpoint_methods.F
  src/qs_mo_occupation.F
  src/qs_scf_output.F
  src/scf_control_types.F
Due: doxify, prettify, analyze_src

Implement MP-1 and MV; merge those smearing methods into one file
  src/CMakeLists.txt
  src/almo_scf_methods.F
  src/fermi_utils.F
  src/gaussian_smear.F
  src/input_constants.F
  src/input_cp2k_scf.F
  src/kpoint_methods.F
  src/qs_fb_filter_matrix_methods.F
  src/qs_mo_occupation.F
  src/qs_scf_output.F
  src/qs_tddfpt2_smearing_methods.F
  src/scf_control_types.F
  src/smearing_utils.F
Due: doxify, prettify, analyze_src

Update description
  src/input_cp2k_scf.F
Due: doxify, prettify, analyze_src

Fix bug of COSMA in linking math libraries (such MKL)
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Parse cell information from extxyz and pdb formats
  src/cell_methods.F
  src/input_constants.F
  src/input_cp2k_subsys.F
  tests/QS/regtest-gpw-9/TEST_FILES.toml
  tests/QS/regtest-gpw-9/h2o.pdb
  tests/QS/regtest-gpw-9/h2o_ext.xyz
  tests/QS/regtest-gpw-9/read_extxyz_cell.inp
  tests/QS/regtest-gpw-9/read_pdb_cell.inp
Due: doxify, prettify, analyze_src

Fix precommit error
  src/cell_methods.F
  tests/QS/regtest-gpw-9/read_extxyz_cell.inp
  tests/QS/regtest-gpw-9/read_pdb_cell.inp
Due: doxify, prettify, analyze_src

Parse cell information from extxyz and pdb formats (#4960)
  src/cell_methods.F
  src/input_constants.F
  src/input_cp2k_subsys.F
  tests/QS/regtest-gpw-9/TEST_FILES.toml
  tests/QS/regtest-gpw-9/h2o.pdb
  tests/QS/regtest-gpw-9/h2o_ext.xyz
  tests/QS/regtest-gpw-9/read_extxyz_cell.inp
  tests/QS/regtest-gpw-9/read_pdb_cell.inp
Due: doxify, prettify, analyze_src

Retract change in logger handling
  src/qs_core_matrices.F
Due: doxify, prettify, analyze_src

Change abort to warning
  src/deepmd_wrapper.F
Due: doxify, prettify, analyze_src

Refactoring for k-point extension (#4953)
  src/ec_env_types.F
  src/ec_environment.F
  src/energy_corrections.F
  src/input_cp2k_ec.F
  src/kpoint_methods.F
  src/kpoint_types.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/post_scf_bandstructure_utils.F
  src/qs_band_structure.F
  src/qs_core_matrices.F
  src/qs_energy_init.F
  src/qs_environment.F
  src/qs_kinetic.F
  src/qs_moments.F
  src/qs_overlap.F
  src/qs_wannier90.F
  src/rpa_gw.F
Due: doxify, prettify, analyze_src

Add alias EXTXYZ for XYZ option of CELL_FILE_FORMAT per #4960
  src/input_cp2k_subsys.F
Due: doxify, prettify, analyze_src

Correct documentation and use mathconstants module
  src/input_cp2k_scf.F
  src/smearing_utils.F
Due: doxify, prettify, analyze_src
