Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Shorten and stabilize XC response regtests (#6203)
  tests/QS/regtest-dcdr/TEST_FILES.toml
  tests/QS/regtest-dcdr/h2o_apt_r2scan_fdiff.inp
  tests/QS/regtest-tddfpt-force-libxc/TEST_FILES.toml
  tests/QS/regtest-tddfpt-force-libxc/h2o_lsd_mgga_lapl_analytic.inp
  tests/QS/regtest-tddfpt-force-libxc/h2o_lsd_mgga_tau_analytic.inp
  tests/SLOW_TESTS_SUPPRESSIONS
Due: none

Revert previous commit partially
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s.yaml
Due: none

Enable CUDA for PyTorch and GauXC in Spack and trim the torch build
  make_cp2k.sh
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s.yaml
Due: shfmt

Use complex plane-wave integrals in AO and projector assembly
  src/aobasis/ai_moments.F
  src/qs_moments.F
  src/qs_operators_ao.F
  src/rt_propagation_velocity_gauge.F
  src/sap_kind_types.F
Due: doxify, prettify, analyze_src

Added fermi level computation and soc diagonalization window
  src/input_cp2k_properties_dft.F
  src/post_scf_bandstructure_types.F
  src/post_scf_bandstructure_utils.F
Due: doxify, prettify, analyze_src

Drop obsolete Clebsch-Gordan convention suppressions
  tools/conventions/conventions.supp
Due: none

Revert precommit modification
  tools/docker/scripts/test_misc.sh
  tools/precommit/check_file_properties.py
  tools/precommit/precommit.py
  tools/precommit/precommit_test.py
Due: shfmt

Note that Spack installs libtorch itself and unify P100/V100 libtorch
  docs/getting-started/build-from-source.md
  docs/methods/machine_learning/nequip.md
  docs/technologies/libraries.md
  tools/toolchain/scripts/stage6/install_libtorch.sh
Due: shfmt

RPM: Require libwignernj through `cmake(wignernj)`
  tools/fedora/cp2k.spec
Due: none

Avoid out-of-memory failures when building CUDA PyTorch with Spack
  make_cp2k.sh
  tools/spack/cp2k_deps_p.yaml
Due: shfmt

Apply suggestion of @Growl1234
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
Due: none

Motion: Remove dead code and deduplicate convergence reporting (#6124)
  src/input_constants.F
  src/motion/bfgs_optimizer.F
  src/motion/cell_opt_types.F
  src/motion/cell_opt_utils.F
  src/motion/cg_optimizer.F
  src/motion/cp_lbfgs_geo.F
  src/motion/cp_lbfgs_optimizer_gopt.F
  src/motion/gopt_f_methods.F
  src/motion/gopt_f_types.F
Due: doxify, prettify, analyze_src

FIX: add CORE_FILL to to remove spurious "solvent bubbles" at pseudopotential nuclei (#6162)
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_dft.F
  src/qs_integrate_potential_single.F
  src/qs_ks_methods.F
  src/qs_sccs.F
  tests/QS/regtest-sccs-4/H2O_sccs_core_fill.inc
  tests/QS/regtest-sccs-4/H2O_sccs_core_fill.inp
  tests/QS/regtest-sccs-4/H2O_sccs_core_fill_fg.inp
  tests/QS/regtest-sccs-4/TEST_FILES.toml
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Simplify expikr prefactor evaluation
  src/aobasis/ai_moments.F
Due: doxify, prettify, analyze_src

Provide prepared H UPF data and optional SSSP downloads
  .gitattributes
  data/UPF/H.us.pbe.z_1.ld1.psl.v1.0.0-high-full-waves.upf
  data/UPF/SOURCE
  docs/methods/dft/pseudopotentials.md
  tools/pseudopotentials/README.md
  tools/pseudopotentials/fetch_sssp.py
Due: regen_data

Use the installed UPF dataset in all three USPP regressions
  tests/QS/regtest-upf/H2_USPP_DIRECT.inp
  tests/QS/regtest-upf/H2_USPP_INVERSE.inp
  tests/QS/regtest-upf/H2_USPP_INVERSE_1C.inp
Due: none

Active space: consistent orbital selection for CANONICAL and MANUAL
  src/CMakeLists.txt
  src/input_cp2k_as.F
  src/qs_active_space_methods.F
  src/qs_active_space_utils.F
  src/qs_active_space_utils_unittest.F
  src/qs_mo_methods.F
  tests/QS/regtest-as-selection/TEST_FILES.toml
  tests/QS/regtest-as-selection/h2o_canonical.inp
  tests/QS/regtest-as-selection/h2o_canonical_occupied.inp
  tests/QS/regtest-as-selection/h2o_diag_forces.inp
  tests/QS/regtest-as-selection/h2o_manual.inp
  tests/QS/regtest-as-selection/h2o_manual_noncontiguous.inp
  tests/QS/regtest-as-selection/h2o_manual_occupied.inp
  tests/QS/regtest-as-selection/h2o_ot_canonical.inp
  tests/QS/regtest-as-selection/h2o_ot_canonical_virtual.inp
  tests/QS/regtest-as-selection/h2o_ot_forces.inp
  tests/QS/regtest-as-selection/h2o_ot_manual.inp
  tests/QS/regtest-as-selection/h2o_ot_manual_virtual.inp
  tests/QS/regtest-as-selection/h2o_otloc_manual.inp
  tests/TEST_DIRS
  tests/UNIT_TESTS
Due: doxify, prettify, analyze_src

CASINO writer: ghost atoms as ghost nuclei, HF label, no g shells in periodic runs (#6208)
  src/casino_utils.F
  tests/QS/regtest-casino/TEST_FILES.toml
  tests/QS/regtest-casino/h2_ghost_casino.inp
Due: doxify, prettify, analyze_src

Integrate native Skala with the SIRIUS backend
  CMakeLists.txt
  CODEOWNERS
  src/CMakeLists.txt
  src/atom_kind_orbitals.F
  src/cp2k_info.F
  src/input_cp2k_pwdft.F
  src/input_cp2k_subsys.F
  src/pwdft_environment_types.F
  src/qs_kind_types.F
  src/sirius_interface.F
  src/torch_api.F
  src/torch_c_api.cpp
  src/xc/skala_atom_grid.F
  src/xc/skala_atom_grid_unittest.F
  src/xc/skala_gpw_features.F
  src/xc/skala_gpw_functional.F
  src/xc/skala_grid_unittest.F
  src/xc/skala_sirius.F
  src/xc/skala_sirius_unittest.F
  src/xc/skala_torch_api.F
  tests/SIRIUS/regtest-1/He-full-potential.inp
  tests/SIRIUS/regtest-skala/C-paw-core.inp
  tests/SIRIUS/regtest-skala/H-paw-atom-grid.inp
  tests/SIRIUS/regtest-skala/H-spin-kpoints.inp
  tests/SIRIUS/regtest-skala/H2-spinor.inp
  tests/SIRIUS/regtest-skala/H2.inp
  tests/SIRIUS/regtest-skala/He-lapw-atom-grid.inp
  tests/SIRIUS/regtest-skala/Ne-lapw-atom-grid.inp
  tests/UNIT_TESTS
  tools/regtesting/create_sirius_lapw_test_atom.py
  tools/regtesting/create_skala_grid_test_model.py
Due: doxify, prettify, analyze_src, clang-format

Fix Skala array allocation and CP2K convention checks
  src/xc/skala_atom_grid.F
  src/xc/skala_atom_grid_unittest.F
  src/xc/skala_gpw_features.F
  src/xc/skala_gpw_functional.F
  src/xc/skala_grid_unittest.F
  src/xc/skala_sirius.F
  src/xc/skala_sirius_unittest.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Unify complex overlap integrals (#6204)
  src/aobasis/ai_cartesian_operators.F
  src/aobasis/ai_moments.F
  src/aobasis/ai_os_rr.F
  src/qs_efield_berry.F
  src/qs_moments.F
  src/qs_operators_ao.F
  src/rt_propagation_velocity_gauge.F
  src/sap_kind_types.F
  src/topology_snapshot.F
Due: doxify, prettify, analyze_src

Add in-process Wannier90 localization with covariant AO trials
  docs/methods/electronic_structure/wannier90.md
  src/CMakeLists.txt
  src/input_cp2k_print_dft.F
  src/qs_wannier90.F
  src/wannier90_library.F
  src/wannier90_projections.F
  tests/QS/regtest-wannier90-library/TEST_FILES.toml
  tests/QS/regtest-wannier90-library/h_fcc_scf.inp
  tests/QS/regtest-wannier90-library/he2_scf.inp
  tests/QS/regtest-wannier90-library/he2_skew.inp
  tests/QS/regtest-wannier90-library/he_common.inc
  tests/QS/regtest-wannier90-library/he_mp_grid.inp
  tests/QS/regtest-wannier90-library/he_scf.inp
  tests/QS/regtest-wannier90-library/he_scf_diagonalize.inp
  tests/QS/regtest-wannier90-library/he_scf_gamma.inp
  tests/QS/regtest-wannier90-library/he_scf_nophase.inp
  tests/TEST_DIRS
  tests/matchers.py
  tools/regtesting/compare_wannier90_mmn.py
  tools/regtesting/test_compare_wannier90_mmn.py
Due: doxify, prettify, analyze_src

Build: add optional Wannier90 v4 library dependency
  CMakeLists.txt
  docs/technologies/libraries.md
  src/CMakeLists.txt
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

Add radial s-p hybrid trials for Wannier90 localization
  docs/methods/electronic_structure/wannier90.md
  src/input_cp2k_print_dft.F
  src/qs_wannier90.F
  src/wannier90_projections.F
  src/wannier90_projections_unittest.F
  tests/QS/regtest-wannier90-library-2/TEST_FILES.toml
  tests/QS/regtest-wannier90-library-2/ionic_common.inc
  tests/QS/regtest-wannier90-library-2/lif_ao.inp
  tests/QS/regtest-wannier90-library-2/lif_hybrid.inp
  tests/QS/regtest-wannier90-library-2/nacl_hybrid.inp
  tests/TEST_DIRS
  tests/UNIT_TESTS
Due: doxify, prettify, analyze_src

Compare independent Wannier90 projection and minimizer trials
  docs/methods/electronic_structure/wannier90.md
  src/input_cp2k_print_dft.F
  src/qs_wannier90.F
  src/wannier90_library.F
  tests/QS/regtest-wannier90-library-2/TEST_FILES.toml
  tests/QS/regtest-wannier90-library-2/ionic_common.inc
  tests/QS/regtest-wannier90-library-2/lif_ao.inp
  tests/QS/regtest-wannier90-library-2/lif_auto.inp
  tests/QS/regtest-wannier90-library-2/nacl_auto.inp
Due: doxify, prettify, analyze_src

Support Wannier90 library disentanglement and energy windows
  docs/methods/electronic_structure/wannier90.md
  src/input_cp2k_print_dft.F
  src/qs_wannier90.F
  src/wannier90_library.F
  tests/QS/regtest-wannier90-library-3/TEST_FILES.toml
  tests/QS/regtest-wannier90-library-3/free.inc
  tests/QS/regtest-wannier90-library-3/frozen.inc
  tests/QS/regtest-wannier90-library-3/he2_frozen.inp
  tests/QS/regtest-wannier90-library-3/he_auto.inp
  tests/QS/regtest-wannier90-library-3/he_common.inc
  tests/QS/regtest-wannier90-library-3/he_free.inp
  tests/QS/regtest-wannier90-library-3/he_frozen.inp
  tests/QS/regtest-wannier90-library-3/he_outer.inp
  tests/QS/regtest-wannier90-library-3/outer.inc
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Export the winning Wannier90 library Hamiltonian and rotations
  docs/methods/electronic_structure/wannier90.md
  src/input_cp2k_print_dft.F
  src/qs_wannier90.F
  src/wannier90_library.F
  tests/QS/regtest-wannier90-library-3/he_common.inc
  tests/QS/regtest-wannier90-library/he_common.inc
Due: doxify, prettify, analyze_src

Repair mesh-wide rank loss in Wannier90 AO trial selection
  src/CMakeLists.txt
  src/qs_wannier90.F
  src/wannier90_projections.F
  src/wannier90_projections_unittest.F
Due: doxify, prettify, analyze_src

Cite Wannier90 localization and disentanglement methods
  src/common/bibliography.F
  src/input_cp2k_print_dft.F
  src/wannier90_library.F
Due: doxify, prettify, analyze_src

Test Wannier90 library exports from GENERAL and MACDONALD meshes
  tests/QS/regtest-wannier90-library/TEST_FILES.toml
  tests/QS/regtest-wannier90-library/he_common.inc
  tests/QS/regtest-wannier90-library/he_mp_grid.inp
  tests/QS/regtest-wannier90-library/he_scf.inp
  tests/QS/regtest-wannier90-library/he_scf_diagonalize.inp
  tests/QS/regtest-wannier90-library/he_scf_general.inp
  tests/QS/regtest-wannier90-library/he_scf_macdonald.inp
  tests/QS/regtest-wannier90-library/he_scf_nophase.inp
Due: none

Build: install Wannier90 v4 through toolchain and Spack
  docs/technologies/libraries.md
  make_cp2k.sh
  tools/docker/Dockerfile.test_gcc10
  tools/docker/Dockerfile.test_gcc11
  tools/docker/Dockerfile.test_gcc12
  tools/docker/Dockerfile.test_gcc13
  tools/docker/Dockerfile.test_gcc14
  tools/docker/Dockerfile.test_gcc15
  tools/docker/Dockerfile.test_gcc16
  tools/docker/Dockerfile.test_gcc9
  tools/docker/Dockerfile.test_minimal
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/cmake_cp2k.sh
  tools/spack/cp2k_deps_p.yaml
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
  tools/spack/spack_repo/cp2k_dev/packages/wannier90/package.py
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage7/install_stage7.sh
  tools/toolchain/scripts/stage7/install_wannier90.sh
Due: shfmt

Reuse the Li SCF across Wannier90 spin regression variants
  tests/QS/regtest-wannier90-library-4/TEST_FILES.toml
  tests/QS/regtest-wannier90-library-4/li_common.inc
Due: none

Tests: Allow last-digit rounding in inverse-BFGS regression
  tests/Fist/regtest-5-vib/TEST_FILES.toml
Due: none

Build yasm with Autotools in the pinned Spack environments
  tools/spack/cp2k_deps_s-static.yaml
  tools/spack/cp2k_deps_s.yaml
Due: none

Clarify Wannier90 library projection and Bloch-phase documentation
  docs/methods/electronic_structure/wannier90.md
  src/input_cp2k_print_dft.F
Due: doxify, prettify, analyze_src

Install the Wannier90 library license with toolchain and Spack
  tools/spack/spack_repo/cp2k_dev/packages/wannier90/package.py
  tools/toolchain/scripts/stage7/install_wannier90.sh
Due: shfmt

Use upstream Wannier90 Spack recipe and simplify discovery
  CMakeLists.txt
  tools/spack/spack_repo/cp2k_dev/packages/wannier90/package.py
Due: none

Test all-electron GAPW Wannier90 library export paths
  tests/QS/regtest-wannier90-library/TEST_FILES.toml
  tests/QS/regtest-wannier90-library/h2_gapw.inc
  tests/QS/regtest-wannier90-library/h2_gapw_diagonalize.inp
  tests/QS/regtest-wannier90-library/h2_gapw_mp_grid.inp
  tests/QS/regtest-wannier90-library/h2_gapw_scf.inp
Due: none

Speed up Wannier90 AUTO regression searches
  tests/QS/regtest-wannier90-library-2/ionic_common.inc
  tests/QS/regtest-wannier90-library-2/lif_ao.inp
  tests/QS/regtest-wannier90-library-2/lif_auto.inp
  tests/QS/regtest-wannier90-library-2/lif_excluded.inp
  tests/QS/regtest-wannier90-library-2/lif_hybrid.inp
  tests/QS/regtest-wannier90-library-2/lif_partial.inp
  tests/QS/regtest-wannier90-library-2/nacl_auto.inp
  tests/QS/regtest-wannier90-library-2/nacl_auto_diagonalize.inp
  tests/QS/regtest-wannier90-library-2/nacl_hybrid.inp
Due: none

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
