Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-ast
        name: Check python ast (with Python 2.7)
        language_version: python2.7
        stages: [manual]
        files: '^tools/build_utils/.*\.py'
    -   id: check-ast
        name: Check python ast (with Python 3)
        language_version: python3
        stages: [manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    -   id: black
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false

Add unit and adjust tolerance
  src/virial_methods.F
  tests/QS/regtest-polar/TEST_FILES
Due: doxify, prettify, analyze_src

Adjust tolerances
  tests/QS/regtest-nonortho/TEST_FILES
Due: none

Revise stress tensor output (resolves #583)
  src/force_env_methods.F
  src/force_env_utils.F
  src/input_cp2k_force_eval.F
  src/motion/md_energies.F
  src/motion/md_vel_utils.F
  src/motion_utils.F
  src/virial_methods.F
Due: doxify, prettify, analyze_src

Update fypp
  tools/build_utils/fypp
Due: none

do_regtest: Move to Python3
  tools/regtesting/do_regtest
Due: none

Upgrade to Fypp 3.0
  tools/build_utils/fypp
Due: none

grid: Precompute and cache sphere bounds for ortho kernel
  src/grid/Makefile
  src/grid/common/grid_library.c
  src/grid/common/grid_library.h
  src/grid/common/grid_sphere_cache.c
  src/grid/common/grid_sphere_cache.h
  src/grid/ref/grid_ref_collint.h
Due: analyze_src

Stabilize test
  tests/QS/regtest-stress/LiH-stress-pbe-uks-vdW.inp
  tests/QS/regtest-stress/TEST_FILES
Due: none

Fix computation of stress tensor components
  src/core_ae.F
  src/core_ppl.F
  src/core_ppnl.F
  src/cp2k_debug.F
  src/force_env_methods.F
  src/qs_core_energies.F
  src/qs_dispersion_pairpot.F
  src/qs_force.F
  src/qs_integrate_potential_single.F
  src/qs_kinetic.F
  src/qs_ks_methods.F
  src/qs_overlap.F
  src/subsys/virial_types.F
  src/virial_methods.F
Due: doxify, prettify, analyze_src

Add test for stress tensor with vdW correction
  tests/QS/regtest-stress/LiH-stress-pbe-uks-vdW.inp
  tests/QS/regtest-stress/TEST_FILES
Due: none

Set encoding explicitly to utf8 in Python and Perl
  tools/autotune_grid/xyz_to_vab/template_parser.py
  tools/coverage/test_coverage.py
  tools/dashboard/generate_dashboard.py
  tools/dashboard/generate_regtest_survey.py
  tools/diff_cp2k.py
  tools/doxify/fixcomments.pl
  tools/doxify/is_fypp.py
  tools/doxify/remove_extra_comments.pl
  tools/fix_unused_public.py
  tools/logo/gen_cp2k_logo.py
  tools/minimax_tools/minimax_to_fortran_source.py
  tools/package_planner/plan_packages.py
  tools/prettify/prettify.py
  tools/prettify/prettify_cp2k/normalizeFortranFile.py
  tools/prettify/prettify_test.py
  tools/regtesting/prettify_TEST_FILES.py
  tools/regtesting/test_scaling.py
  tools/regtesting/timings.py
Due: none

Revise vdW stress tensor test
  tests/QS/regtest-stress/LiH-stress-pbe-uks-vdW.inp
Due: none

Update test result
  tests/QS/regtest-stress/TEST_FILES
Due: none

Adapt test type and tolerance
  tests/Fist/regtest-1-4/TEST_FILES
  tests/TEST_TYPES
Due: none

Enhance debug output for stress tensor
  src/cp2k_debug.F
  src/force_env_methods.F
Due: doxify, prettify, analyze_src

Toolchain: Remove dependency on locales
  tools/docker/Dockerfile.test_python
  tools/docker/scripts/install_basics.sh
  tools/regtesting/do_regtest
  tools/toolchain/Dockerfile
  tools/toolchain/Dockerfile.cuda_mkl
  tools/toolchain/Dockerfile.ubuntu_nompi
  tools/toolchain/install_requirements_fedora.sh
  tools/toolchain/install_requirements_ubuntu.sh
Due: none

Make analyze_gfortran_warnings.py work with C and UTF8 locales
  tools/conventions/analyze_gfortran_warnings.py
  tools/conventions/conventions.supp
Due: none

xTB pairpotential (A. Hehn)
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_dft.F
  src/input_cp2k_tb.F
  src/pair_potential.F
  src/qs_energy_types.F
  src/qs_environment_types.F
  src/qs_ks_types.F
  src/qs_neighbor_lists.F
  src/qs_scf_output.F
  src/xtb_matrices.F
  tests/xTB/regtest-debug/TEST_FILES
  tests/xTB/regtest-debug/ch3br_atprop_nonbond.inp
  tests/xTB/regtest-debug/ch3br_nonbond.inp
  tests/xTB/regtest-debug/ch3br_nonbond_2.inp
  tests/xTB/regtest-debug/h2o-atprop_nonbonded.inp
Due: doxify, prettify, analyze_src

Adjust regtest
  tests/xTB/regtest-debug/TEST_FILES
  tests/xTB/regtest-debug/ch3br_atprop_nonbond.inp
Due: none

Adjust regtests
  tests/xTB/regtest-debug/TEST_FILES
  tests/xTB/regtest-debug/ch3br_atprop_nonbond.inp
Due: none

adjust test
  tests/xTB/regtest-debug/TEST_FILES
  tests/xTB/regtest-debug/ch3br_atprop_nonbond.inp
Due: none

xTB pairpotential (A. Hehn) (#1136)
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_dft.F
  src/input_cp2k_tb.F
  src/pair_potential.F
  src/qs_energy_types.F
  src/qs_environment_types.F
  src/qs_ks_types.F
  src/qs_neighbor_lists.F
  src/qs_scf_output.F
  src/xtb_matrices.F
  tests/xTB/regtest-debug/TEST_FILES
  tests/xTB/regtest-debug/ch3br_atprop_nonbond.inp
  tests/xTB/regtest-debug/ch3br_nonbond.inp
  tests/xTB/regtest-debug/ch3br_nonbond_2.inp
  tests/xTB/regtest-debug/h2o-atprop_nonbonded.inp
Due: doxify, prettify, analyze_src

toolchain: filter env vars when writing toolchain.env
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/install_acml.sh
  tools/toolchain/scripts/install_cmake.sh
  tools/toolchain/scripts/install_cosma.sh
  tools/toolchain/scripts/install_elpa.sh
  tools/toolchain/scripts/install_fftw.sh
  tools/toolchain/scripts/install_gcc.sh
  tools/toolchain/scripts/install_gsl.sh
  tools/toolchain/scripts/install_hdf5.sh
  tools/toolchain/scripts/install_intelmpi.sh
  tools/toolchain/scripts/install_libint.sh
  tools/toolchain/scripts/install_libsmm.sh
  tools/toolchain/scripts/install_libvdwxc.sh
  tools/toolchain/scripts/install_libxc.sh
  tools/toolchain/scripts/install_libxsmm.sh
  tools/toolchain/scripts/install_mathlibs.sh
  tools/toolchain/scripts/install_mkl.sh
  tools/toolchain/scripts/install_mpich.sh
  tools/toolchain/scripts/install_openblas.sh
  tools/toolchain/scripts/install_openmpi.sh
  tools/toolchain/scripts/install_pexsi.sh
  tools/toolchain/scripts/install_plumed.sh
  tools/toolchain/scripts/install_ptscotch.sh
  tools/toolchain/scripts/install_quip.sh
  tools/toolchain/scripts/install_reflapack.sh
  tools/toolchain/scripts/install_scalapack.sh
  tools/toolchain/scripts/install_sirius.sh
  tools/toolchain/scripts/install_spfft.sh
  tools/toolchain/scripts/install_spglib.sh
  tools/toolchain/scripts/install_superlu.sh
  tools/toolchain/scripts/install_valgrind.sh
  tools/toolchain/scripts/setup_buildtools.sh
  tools/toolchain/scripts/tool_kit.sh
Due: none

Fix uninitialized pointer (only detected by the Intel compiler) causing the failure of almost all test cases
  src/input_cp2k_tb.F
Due: doxify, prettify, analyze_src
