Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Remove dependence on ADMM env Remove dependence on AUX_FIT basis
  src/optimize_basis.F
Due: doxify, prettify, analyze_src

Release unused data from qs_env
  src/qs_environment_types.F
Due: doxify, prettify, analyze_src

Correctly initialize cell_traj (Herve Bulou: CP2K-16824)
  src/qs_environment_types.F
Due: doxify, prettify, analyze_src

Fix some printing problems for optbasis. There are still some memory leaks, disabled regtest for now
  src/kg_correction.F
  src/optbas_fenv_manipulation.F
  src/optimize_basis.F
  src/pw_env/gaussian_gridlevels.F
  src/pw_env/pw_env_types.F
  src/qs_environment_types.F
  src/qs_ks_types.F
  src/qs_neighbor_lists.F
  src/qs_scf_post_tb.F
  tests/QS/regtest-optbas/TEST_FILES
Due: doxify, prettify, analyze_src

Merging
  src/optimize_basis.F
  src/qs_environment_types.F
Due: doxify, prettify, analyze_src

Fix some double definitions
  src/optimize_basis.F
Due: doxify, prettify, analyze_src

Basis optimization refactoring (#2071)
  src/kg_correction.F
  src/optbas_fenv_manipulation.F
  src/optimize_basis.F
  src/pw_env/gaussian_gridlevels.F
  src/pw_env/pw_env_types.F
  src/qs_environment_types.F
  src/qs_ks_types.F
  src/qs_neighbor_lists.F
  src/qs_scf_post_tb.F
  tests/QS/regtest-optbas/TEST_FILES
Due: doxify, prettify, analyze_src

kpoints in self-energy
  src/hfx_ri.F
  src/input_constants.F
  src/input_cp2k_mp2.F
  src/kpoint_methods.F
  src/mp2_gpw.F
  src/mp2_grids.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/mp2_setup.F
  src/mp2_types.F
  src/qs_tensors.F
  src/rpa_gw.F
  src/rpa_gw_im_time_util.F
  src/rpa_gw_kpoints.F
  src/rpa_gw_sigma.F
  src/rpa_im_time.F
  src/rpa_kpoints.F
  src/rpa_main.F
  src/rpa_util.F
  tests/QS/regtest-gw-cubic/G0W0_kpoints_from_Gamma.inp
  tests/QS/regtest-gw-cubic/G0W0_kpoints_in_self_energy.inp
  tests/QS/regtest-gw-cubic/TEST_FILES
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

TDDFPT| fix HFX energy and forces
  src/exstates_types.F
  src/hfx_ri.F
  src/qs_tddfpt2_eigensolver.F
  src/qs_tddfpt2_fhxc_forces.F
  src/qs_tddfpt2_methods.F
  src/qs_tddfpt2_operators.F
  src/qs_tddfpt2_types.F
  tests/QS/regtest-debug-5/TEST_FILES
  tests/QS/regtest-tddfpt-2/TEST_FILES
  tests/QS/regtest-tddfpt-force-3/TEST_FILES
  tests/QS/regtest-tddfpt-force-3/h2o_f33.inp
  tests/QS/regtest-tddfpt-force-3/h2o_f34.inp
  tests/QS/regtest-tddfpt-force-3/h2o_f35.inp
  tests/QS/regtest-tddfpt-force-3/h2o_f36.inp
Due: doxify, prettify, analyze_src

pretty & coding conventions
  src/input_cp2k_mp2.F
  src/mp2_gpw.F
  src/mp2_grids.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/mp2_setup.F
  src/mp2_types.F
  src/qs_tensors.F
  src/rpa_gw.F
  src/rpa_gw_im_time_util.F
  src/rpa_gw_kpoints.F
  src/rpa_gw_sigma.F
  src/rpa_im_time.F
  src/rpa_kpoints.F
  src/rpa_main.F
  src/rpa_util.F
  tests/QS/regtest-gw-cubic/TEST_FILES
  tests/QS/regtest-gw/TEST_FILES
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Ensure LIBXSMM is enabled when enabling OpenCL backend.
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Generate ARCH-files with OpenCL enabled
  exts/Makefile.inc
  exts/build_dbcsr/Makefile
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/common_vars.sh
  tools/toolchain/scripts/generate_arch_files.sh
Due: shfmt

Attempt to not duplicate DFLAGS.
  exts/Makefile.inc
Due: none

Attempt to fix issue introduced earlier.
  exts/build_dbcsr/Makefile
Due: none

Cleanup
  tools/toolchain/scripts/tool_kit.sh
Due: shfmt

Handle OpenCL during ARCH-file generation.
  tools/toolchain/scripts/generate_arch_files.sh
Due: shfmt

Removed privately including LIBXSMM.
  exts/build_dbcsr/Makefile
Due: none

Removed white space.
  tools/docker/Dockerfile.test_hip_cuda_A100
  tools/docker/Dockerfile.test_hip_cuda_P100
  tools/docker/Dockerfile.test_hip_cuda_V100
  tools/docker/generate_dockerfiles.py
Due: none

Parse IF_OPENCL.
  tools/toolchain/scripts/parse_if.py
Due: none

Avoid CUDA settings for ARCH-files without CUDA. Cleanup.
  tools/toolchain/scripts/generate_arch_files.sh
Due: shfmt

Prettify
  tools/toolchain/scripts/generate_arch_files.sh
Due: shfmt

Cleanup unused PLATFORM_FLAGS. Cleanup quotes.
  tools/toolchain/scripts/generate_arch_files.sh
Due: shfmt

Improved handing CUDA (determining CUDA_PATH from nvcc's directory).
  tools/toolchain/scripts/generate_arch_files.sh
Due: shfmt

Generate ARCH-files with OpenCL enabled (#2065)
  exts/Makefile.inc
  exts/build_dbcsr/Makefile
  tools/docker/Dockerfile.test_hip_cuda_A100
  tools/docker/Dockerfile.test_hip_cuda_P100
  tools/docker/Dockerfile.test_hip_cuda_V100
  tools/docker/generate_dockerfiles.py
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/common_vars.sh
  tools/toolchain/scripts/generate_arch_files.sh
  tools/toolchain/scripts/parse_if.py
  tools/toolchain/scripts/tool_kit.sh
Due: shfmt

remove PRINT statement, unify check_NaN routine
  src/hfx_ri.F
  src/rpa_gw.F
Due: doxify, prettify, analyze_src

k-points for the GW self-energy (#2073)
  src/input_constants.F
  src/input_cp2k_mp2.F
  src/kpoint_methods.F
  src/mp2_gpw.F
  src/mp2_grids.F
  src/mp2_integrals.F
  src/mp2_ri_2c.F
  src/mp2_setup.F
  src/mp2_types.F
  src/qs_tensors.F
  src/rpa_gw.F
  src/rpa_gw_im_time_util.F
  src/rpa_gw_kpoints.F
  src/rpa_gw_sigma.F
  src/rpa_im_time.F
  src/rpa_kpoints.F
  src/rpa_main.F
  src/rpa_util.F
  tests/QS/regtest-gw-cubic/G0W0_kpoints_from_Gamma.inp
  tests/QS/regtest-gw-cubic/G0W0_kpoints_in_self_energy.inp
  tests/QS/regtest-gw-cubic/TEST_FILES
  tests/QS/regtest-gw/TEST_FILES
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Updated section about OpenCL Devices
  INSTALL.md
Due: none

Updated section about OpenCL Devices (#2075)
  INSTALL.md
Due: none

SOS-MP2| Small bug fix + performance opt
  src/mp2_laplace_force_methods.F
Due: doxify, prettify, analyze_src

Correct the description of `whittaker_c0a`
  src/common/whittaker.F
Due: doxify, prettify, analyze_src

Correct the description of `whittaker_c0a` (#2078)
  src/common/whittaker.F
Due: doxify, prettify, analyze_src

Build CUDA and HIP with -Wall -Wextra -Werror
  exts/Makefile.inc
  src/grid/gpu/grid_gpu_collint.h
  src/grid/gpu/grid_gpu_collocate.cu
  src/grid/gpu/grid_gpu_integrate.cu
  src/grid/hip/grid_hip_collocate.cu
  src/grid/hip/grid_hip_context.cu
  src/grid/hip/grid_hip_context.h
  src/grid/hip/grid_hip_integrate.cu
  src/grid/hip/grid_hip_internal_header.h
  tools/toolchain/scripts/generate_arch_files.sh
Due: analyze_src, clang-format, shfmt

PW: Fix filename of gpu kernels
  src/pw/gpu/pw_gpu_kernels.cu
Due: analyze_src

Toolchain: Fix caching in install_elpa.sh
  tools/toolchain/scripts/stage5/install_elpa.sh
Due: shfmt

Docker: Add workaround for HIP installer
  tools/docker/Dockerfile.test_hip_cuda_A100
  tools/docker/Dockerfile.test_hip_cuda_P100
  tools/docker/Dockerfile.test_hip_cuda_V100
  tools/docker/generate_dockerfiles.py
Due: none
