Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

correct allocation of energy arrays
  src/bse_main.F
  src/bse_util.F
Due: doxify, prettify, analyze_src

Remove auto basis option for ADMM (#3307)
  src/auto_basis.F
  src/min_basis_set.F
  src/qs_environment.F
Due: doxify, prettify, analyze_src

remove debug statements
  src/bse_iterative.F
  src/bse_util.F
  src/input_cp2k_mp2.F
  src/mp2_setup.F
Due: doxify, prettify, analyze_src

specify unitnr
  src/bse_util.F
Due: doxify, prettify, analyze_src

Include SpLA lib explicitly
  arch/CRAY-XC50-gnu.psmp
Due: none

Bethe Salpeter equation for molecules (#3308)
  src/CMakeLists.txt
  src/bse.F
  src/bse_full_diag.F
  src/bse_iterative.F
  src/bse_main.F
  src/bse_util.F
  src/input_constants.F
  src/input_cp2k_mp2.F
  src/mp2_integrals.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_gw.F
  src/rpa_main.F
  src/rpa_util.F
  tests/QS/regtest-bse/BSE_H2O_PBE.inp
  tests/QS/regtest-bse/H2O_gas.xyz
  tests/QS/regtest-bse/TDA_H2O_PBE.inp
  tests/QS/regtest-bse/TEST_FILES
  tests/TEST_DIRS
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Disable ELPA for tests/QS/regtest-almo-2/ion-pair.inp
  tests/QS/regtest-almo-2/TEST_FILES
  tests/QS/regtest-almo-2/ion-pair.inp
Due: none

BSE: Fix conventions
  src/bse_full_diag.F
  src/bse_iterative.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

Fix deadlock in build_core_ppnl
  src/core_ppnl.F
Due: doxify, prettify, analyze_src

DBM: introduced command line options for miniapp and adjusted some code format
  src/dbm/dbm_library.c
  src/dbm/dbm_miniapp.c
  src/dbm/dbm_multiply_comm.c
  src/dbm/dbm_multiply_cpu.c
  src/dbm/dbm_shard.c
  src/dbm/dbm_shard.h
Due: analyze_src, clang-format

Update arch file (disentangle spla and sirius build)
  arch/CRAY-XC40-gnu.psmp
Due: none

Update arch file (disentangle spla and sirius build)
  arch/Darwin-gnu-arm64.psmp
Due: none

Update arch file (disentangle spla and sirius build)
  arch/Linux-gnu-x86_64.psmp
Due: none

Update arch file (disentangle spla and sirius build)
  arch/Linux-intel-x86_64.psmp
Due: none

Update arch file (disentangle spla and sirius build)
  arch/Linux-gnu-aarch64.psmp
Due: none

OpenBLAS 0.3.25 -> 0.3.26
  arch/Darwin-gnu-arm64.psmp
  arch/Darwin-gnu-arm64.ssmp
  arch/JURECA-cpu.psmp
  arch/JURECA-gpu.psmp
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  tools/toolchain/scripts/get_openblas_arch.sh
  tools/toolchain/scripts/stage2/install_openblas.sh
Due: shfmt

Tiled-MM v2.2 -> v2.3
  tools/toolchain/scripts/stage4/install_cosma.sh
Due: shfmt

Offload: support OpenCL
  INSTALL.md
  src/cp2k_info.F
  src/offload/offload_buffer.c
  src/offload/offload_buffer.h
  src/offload/offload_library.c
  src/offload/offload_runtime.h
  tools/precommit/check_file_properties.py
Due: doxify, prettify, analyze_src, clang-format

Update DBCSR
  exts/build_dbcsr/Makefile
  tools/diff_cp2k.py
Due: none

TDDFT state following: correctly normalize in case of LSD
  src/qs_tddfpt2_assign.F
Due: doxify, prettify, analyze_src

Use correct set of ground state MOs for alignment
  src/qs_tddfpt2_assign.F
  src/qs_tddfpt2_methods.F
Due: doxify, prettify, analyze_src

TDDFT State Following (#3320)
  src/qs_tddfpt2_assign.F
  src/qs_tddfpt2_methods.F
Due: doxify, prettify, analyze_src

Resolved conflicts.
  exts/build_dbcsr/Makefile
Due: none

Adjusted C++ standard level (when relying on NVCC). Rely on OFFLOAD_CC and OFFLOAD_FLAGS for HIP/CC.
  exts/build_dbcsr/Makefile
Due: none

Removed duplicated flags (CXXFLAGS).
  tools/toolchain/scripts/arch_base.tmpl
Due: none

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
