Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Fix typo (slash at end of line)
  tools/docker/scripts/test_aiida.sh
Due: shfmt

Remove debug printout lines
  src/qs_tddfpt2_subgroups.F
Due: doxify, prettify, analyze_src

openpmd_basename parameter
  src/input/cp_output_handling.F
  src/pw/realspace_grid_cube.F
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Use uenv runner
  ci/cscs-ci.yml
Due: none

removing ghost atoms in D4 computations
  src/qs_dispersion_d4.F
Due: doxify, prettify, analyze_src

test added for dftd4 bsse
  tests/QS/regtest-dft-vdw-corr-4/TEST_FILES
  tests/QS/regtest-dft-vdw-corr-4/pbe_dftd4_bsse.inp
Due: none

Change needs to array
  ci/cscs-ci.yml
Due: none

Unified naming scheme
  src/input/cp_output_handling.F
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

Prepare cp_openpmd_per_callsite
  src/input/cp_output_handling.F
Due: doxify, prettify, analyze_src

Install MPI compatible with Sarus; add minimal/psmp
  ci/cscs-ci.yml
  ci/docker/build_cp2k_psmp.Dockerfile
  cmake/cmake_cp2k.sh
Due: shfmt

Fix needs argument
  ci/cscs-ci.yml
  ci/docker/build_cp2k_psmp.Dockerfile
Due: none

fix outdated libxc usage in xas docs
  docs/methods/properties/x-ray/correction_scheme.md
  docs/methods/properties/x-ray/tddft.md
Due: none

fix all
  docs/methods/properties/x-ray/tddft.md
Due: none

DBX: Remove dbcsr_add_block_node
  src/dbx/cp_dbcsr_api.F
  src/lri_ks_methods.F
  src/qs_linres_current.F
Due: doxify, prettify, analyze_src

DBX: Remove dbcsr_reserve_block2d
  src/almo_scf.F
  src/almo_scf_methods.F
  src/almo_scf_optimizer.F
  src/almo_scf_qs.F
  src/ct_methods.F
  src/dbx/cp_dbcsr_api.F
  src/domain_submatrix_methods.F
  src/mscfg_types.F
  src/xas_tdp_kernel.F
Due: doxify, prettify, analyze_src

DBX: Replace individual getters with dbcsr_get_info
  src/almo_scf.F
  src/almo_scf_methods.F
  src/almo_scf_optimizer.F
  src/almo_scf_qs.F
  src/ct_methods.F
  src/dbx/cp_dbcsr_api.F
  src/dbx/cp_dbcsr_contrib.F
  src/dm_ls_scf_qs.F
  src/domain_submatrix_methods.F
  src/mscfg_types.F
  src/qs_fb_distribution_methods.F
  src/qs_initial_guess.F
Due: doxify, prettify, analyze_src

Testing read_trexio
  src/qs_scf_post_gpw.F
Due: doxify, prettify, analyze_src

Read MOs from TREXIO file
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

On the way to reading dEdP
  src/qs_scf_post_gpw.F
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Decrease output
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Use string to input trexio filename to read
  src/qs_scf_post_gpw.F
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Read energy derivative file
  src/qs_scf_post_gpw.F
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

WIP: Use previously introduced cp_openpmd_per_callsite map
  src/input/cp_output_handling.F
Due: doxify, prettify, analyze_src

Seems to basically work
  src/input/cp_output_handling.F
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

Inject also the benchmark folder into the container
  ci/docker/build_cp2k_psmp.Dockerfile
Due: none

Fix test script
  ci/cscs-ci.yml
Due: none

Remove testing code and make pretty
  src/qs_scf_post_gpw.F
  src/trexio.F
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

Update CSCS CI workflow for eiger
  benchmarks/CI/H2O-128_md.inp
  benchmarks/CI/H2O-32_md.inp
  benchmarks/CI/H2O-512_md.inp
  ci/cscs-ci.yml
  ci/docker/build_cp2k_psmp.Dockerfile
Due: none
