Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

ocl: revised Makefile based build integration with dbcsr
  exts/build_dbcsr/Makefile
Due: none

ocl: revised Makefile based build integration with dbcsr (#1744)
  exts/build_dbcsr/Makefile
Due: none

Fix in dcdr: Remove STAT= and print statement; replace calls to cp_fm_gemm by cp_gemm; nullify DBCSR matrix
  src/aobasis/ai_moments.F
  src/qs_collocate_density.F
  src/qs_dcdr.F
  src/qs_dcdr_utils.F
Due: doxify, prettify, analyze_src

Nullify dcdr_env%matrix_s, dcdr_env%matrix_t before populating them
  src/qs_dcdr_utils.F
Due: doxify, prettify, analyze_src

make pretty
  src/qs_dcdr_utils.F
Due: doxify, prettify, analyze_src

RI-HFX| Fixed a bug leading to wrongly conditionned RI basis sets
  src/hfx_ri.F
  src/hfx_types.F
  tests/QS/regtest-hfx-ri-2/TEST_FILES
  tests/QS/regtest-hfx-ri/TEST_FILES
  tests/QS/regtest-mp2-grad/TEST_FILES
Due: doxify, prettify, analyze_src

ocl: allow unknown GPU in case of OpenCL backend
  exts/build_dbcsr/Makefile
Due: none

deduplicate routines in input_cp2k_dft.F (are already in input_cp2k_loc.F)
  src/input_cp2k_dft.F
  src/xas_tdp_methods.F
Due: doxify, prettify, analyze_src

ocl: allow unknown GPU in case of OpenCL backend (#1747)
  exts/build_dbcsr/Makefile
Due: none

Adjust tolerance of HF_gapw_all_LB.inp and H2O-hfx-periodic-ri-truncated.inp
  tests/QS/regtest-gapw/TEST_FILES
  tests/QS/regtest-hfx-ri/TEST_FILES
Due: none

Toolchain: Pass -allow-unsupported-compiler to nvcc
  tools/toolchain/scripts/generate_arch_files.sh
Due: shfmt

Generalize mpirank contraints in TEST_DIRS
  tests/TEST_DIRS
Due: none

fm: Add comment to cp_fm_init_random about its RNG seed
  src/fm/cp_fm_types.F
Due: doxify, prettify, analyze_src

fm: Simplify initialization of seed variable
  src/fm/cp_fm_types.F
Due: doxify, prettify, analyze_src

Adjust tolerance
  tests/QS/regtest-gpw-5/TEST_FILES
Due: none

Dashboard: Remove defunct testers
  tools/dashboard/dashboard.conf
Due: none

Toolchain: Switch to pre-build cmake binary
  tools/toolchain/scripts/stage0/install_cmake.sh
Due: shfmt

fix shebang -> /usr/bin/env python3
  tools/minimax_tools/minimax_to_fortran_source.py
  tools/precommit/precommit.py
  tools/precommit/precommit_server.py
  tools/regtesting/do_regtest.py
  tools/regtesting/optimize_test_dirs.py
Due: none

Make CRAY-XC40 arch file source-able
  arch/CRAY-XC40_gnu.psmp
Due: none

Make Cray arch files source-able
  arch/CRAY-XC40_gnu.psmp
  arch/CRAY-XC50_gnu.psmp
Due: none

precommit: Add check for Python shebang
  src/start/python/sample_force_env.py
  src/start/python/setup.py
  src/start/python/test/test_force_env.py
  src/start/python/test/test_standalone.py
  tools/precommit/check_file_properties.py
Due: none

RI-HFX| Dense contraction optimization + TDDFT forces + flavor switching
  src/hfx_admm_utils.F
  src/hfx_ri.F
  src/hfx_types.F
  src/input_cp2k_hfx.F
  src/mp2_cphf.F
  src/qs_linres_kernel.F
  src/qs_tddfpt2_fhxc_forces.F
  src/qs_tddfpt2_forces.F
  src/response_solver.F
  src/rpa_axk.F
  src/rpa_gw_sigma.F
  src/rpa_hfx.F
  src/rpa_rse.F
  tests/QS/regtest-hfx-ri-2/CH3-b3lyp-ADMM.inp
  tests/QS/regtest-hfx-ri-2/Ne-hfx-pbc-metric-mo.inp
  tests/QS/regtest-hfx-ri-2/Ne-hfx-pbc-metric-rho.inp
  tests/QS/regtest-tddfpt-force-3/TEST_FILES
  tests/QS/regtest-tddfpt-force-3/h2o_f33.inp
  tests/QS/regtest-tddfpt-force-3/h2o_f34.inp
  tests/QS/regtest-tddfpt-force-3/h2o_f35.inp
  tests/QS/regtest-tddfpt-force-3/h2o_f36.inp
Due: doxify, prettify, analyze_src

Format string revised
  src/motion/neb_utils.F
  src/motion/vibrational_analysis.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
