Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Add spack based ssmp CUDA P100 tester
  make_cp2k.sh
  tools/dashboard/dashboard.conf
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_psmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-rawhide
  tools/docker/cp2k-ci.conf
  tools/docker/generate_dockerfiles.py
Due: shfmt

Sync CUDA version with docker container
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none

pass correct number of electrons
  src/emd/rt_propagation_output.F
Due: doxify, prettify, analyze_src

pretty
  src/emd/rt_propagation_output.F
Due: doxify, prettify, analyze_src

adjusted tolerance
  tests/QS/regtest-admm-1/TEST_FILES.toml
Due: none

pretty
  src/qs_moments.F
Due: doxify, prettify, analyze_src

added descriptions
  src/qs_moments.F
Due: doxify, prettify, analyze_src

bc optional errors removed
  src/qs_moments.F
Due: doxify, prettify, analyze_src

Expand help message and add working directory detection
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

adjust reference value
  tests/QS/regtest-admm-1/TEST_FILES.toml
Due: none

Add qs_moment_kpoints_deep
  src/qs_moments.F
Due: doxify, prettify, analyze_src

Drop version from spack folder name
  tools/docker/Dockerfile.test_spack_openmpi-psmp
  tools/docker/Dockerfile.test_spack_psmp
  tools/docker/Dockerfile.test_spack_psmp-4x2
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_psmp-fedora
  tools/docker/Dockerfile.test_spack_psmp-gcc10
  tools/docker/Dockerfile.test_spack_psmp-gcc11
  tools/docker/Dockerfile.test_spack_psmp-gcc12
  tools/docker/Dockerfile.test_spack_psmp-gcc14
  tools/docker/Dockerfile.test_spack_psmp-gcc15
  tools/docker/Dockerfile.test_spack_psmp-opensuse
  tools/docker/Dockerfile.test_spack_psmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-rawhide
  tools/docker/Dockerfile.test_spack_ssmp-static
  tools/docker/generate_dockerfiles.py
Due: none

Spack 1.1.0 -> 1.1.1
  make_cp2k.sh
Due: shfmt

Augment prefix inspections
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp-static.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none

missing term (#4823)
  src/emd/rt_propagation_output.F
  tests/QS/regtest-admm-1/H2O-admm-emd_lsd.inp
  tests/QS/regtest-admm-1/TEST_FILES.toml
Due: doxify, prettify, analyze_src

Remove local spack recipe for deepmdkit
  tools/spack/spack_repo/cp2k_dev/packages/deepmdkit/package.py
Due: none

Remove local spack recipe for dbcsr
  tools/spack/spack_repo/cp2k_dev/packages/dbcsr/package.py
Due: none

Sync local with upstream recipe
  tools/spack/spack_repo/cp2k_dev/packages/openblas/package.py
Due: none

Drop local spack recipe for plumed
  tools/spack/spack_repo/cp2k_dev/packages/plumed/package.py
Due: none

Remove local spack recipe for greenx
  tools/spack/spack_repo/cp2k_dev/packages/greenx/cmake.patch
  tools/spack/spack_repo/cp2k_dev/packages/greenx/package.py
Due: none

Remove local spack recipe for mimic_mcl
  tools/spack/spack_repo/cp2k_dev/packages/mimic_mcl/package.py
Due: none

Format package file
  tools/spack/spack_repo/cp2k_dev/packages/spglib/package.py
Due: none

More message outputs
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

Add DBCSR cmake configuration check. Apply only to DBCSR > 2.9.1
  CMakeLists.txt
  cmake/cp2kConfig.cmake.in
  docs/getting-started/build-from-source.md
  tools/spack/spack_repo/cp2k_dev/packages/dbcsr/package.py
Due: none

Drop download of spack-packages
  make_cp2k.sh
Due: shfmt

Add recent commit tag for spack-packages
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp-static.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none

libint 2.11.1 -> 2.11.2
  tools/spack/cp2k_deps_psmp.yaml
  tools/spack/cp2k_deps_ssmp-static.yaml
  tools/spack/cp2k_deps_ssmp.yaml
Due: none
