Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Fix Intel OpenMP scoping in SKALA force path (#5786)
  src/qs_vxc_atom.F
Due: doxify, prettify, analyze_src

Add NVIDIA B200 GPU support
  CMakeLists.txt
  docs/technologies/accelerators/cuda.md
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage9/install_dbcsr.sh
Due: shfmt

Use portable CBLAS type aliases
  src/torch_c_api.cpp
Due: analyze_src, clang-format

Guard RTP hybrid tests with Libint
  tests/QS/regtest-rtp-5/TEST_FILES.toml
  tests/QS/regtest-rtp-6/H2O-rtp-addedmos.inp
  tests/QS/regtest-rtp-6/H2O-rtp-admm-addedmos.inp
  tests/QS/regtest-rtp-6/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

Use portable CBLAS type aliases in LibTorch wrappers (#5789)
  src/torch_c_api.cpp
Due: analyze_src, clang-format

Reduce CSCS H100 regtest concurrency
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Guard RTP hybrid regtests with Libint (#5790)
  tests/QS/regtest-rtp-5/TEST_FILES.toml
  tests/QS/regtest-rtp-6/H2O-rtp-addedmos.inp
  tests/QS/regtest-rtp-6/H2O-rtp-admm-addedmos.inp
  tests/QS/regtest-rtp-6/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

Stabilize remaining Pascal regression testers
  tools/docker/Dockerfile.test_cuda_P100
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/generate_dockerfiles.py
  tools/spack/cp2k_deps_p.yaml
Due: none

Backport OpenMPI OB1 pending packet fix
  tools/spack/spack_repo/cp2k_dev/packages/openmpi/package.py
  tools/spack/spack_repo/cp2k_dev/packages/openmpi/pml-ob1-pending.patch
  tools/toolchain/scripts/stage1/install_openmpi.sh
  tools/toolchain/scripts/stage1/openmpi-5.0.10-pml-ob1-pending.patch
Due: shfmt

Reduce CSCS H100 regtest concurrency (#5791)
  ci/cscs_daint_spack_psmp_h100.yaml
Due: none

Reduce duplicate GFN2 finite differences
  tests/xTB/regtest-tblite-gfn2-2/Ar_fcc_gfn2_kp_debug.inp
  tests/xTB/regtest-tblite-gfn2-2/Ar_fcc_gfn2_kp_spglib_backend_debug.inp
  tests/xTB/regtest-tblite-gfn2-2/TEST_FILES.toml
Due: none

Reduce duplicate GFN2 finite-difference checks (#5793)
  tests/xTB/regtest-tblite-gfn2-2/Ar_fcc_gfn2_kp_debug.inp
  tests/xTB/regtest-tblite-gfn2-2/Ar_fcc_gfn2_kp_spglib_backend_debug.inp
  tests/xTB/regtest-tblite-gfn2-2/TEST_FILES.toml
Due: none

Raise Spack P100 psmp regression timeout
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/generate_dockerfiles.py
Due: none

Raise OpenMPI pdbg regression timeout
  tools/docker/Dockerfile.test_spack_openmpi-pdbg
  tools/docker/generate_dockerfiles.py
Due: none

Backport OpenMPI shared-memory progress fix (#5787)
  tools/docker/Dockerfile.test_spack_openmpi-pdbg
  tools/docker/generate_dockerfiles.py
  tools/spack/spack_repo/cp2k_dev/packages/openmpi/package.py
  tools/spack/spack_repo/cp2k_dev/packages/openmpi/pml-ob1-pending.patch
  tools/toolchain/scripts/stage1/install_openmpi.sh
  tools/toolchain/scripts/stage1/openmpi-5.0.10-pml-ob1-pending.patch
Due: shfmt

Packit: Use label requirement for copr_build job in PR (#5785)
  .packit.yaml
Due: none

Stabilize remaining Pascal dashboard runs (#5792)
  tools/docker/Dockerfile.test_cuda_P100
  tools/docker/Dockerfile.test_spack_psmp-P100
  tools/docker/Dockerfile.test_spack_ssmp-P100
  tools/docker/generate_dockerfiles.py
  tools/spack/cp2k_deps_p.yaml
Due: none

Stabilize ill-conditioned ScaLAPACK check
  tests/QS/regtest-scalapack-generalized/real_kp.inp
Due: none

Accept B200 in make_cp2k helper
  make_cp2k.sh
Due: shfmt

Fix Skala flag handling and shared installation
  CMakeLists.txt
  cp2k_build.md
  docs/methods/dft/gauxc.md
  make_cp2k.sh
  src/CMakeLists.txt
  src/cp2k_info.F
  src/input_cp2k_xc.F
  src/skala_gpw_functional.F
  src/xc/xc_gauxc_functional.F
  status.md
  tests/TEST_DIRS
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage5/install_stage5.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
Due: doxify, prettify, analyze_src, shfmt

update make_cp2k
  make_cp2k.sh
Due: shfmt

Add shared skala installation for GauXC and skala_ftorch
  CMakeLists.txt
  tests/QS/regtest-gauxc-gpw-coords/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-mol/TEST_FILES.toml
  tests/QS/regtest-gauxc-skala/TEST_FILES.toml
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

fix formatting for new skala installation
  CMakeLists.txt
  make_cp2k.sh
  src/cp2k_info.F
  src/input_cp2k_xc.F
  src/skala_gpw_functional.F
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: doxify, prettify, analyze_src, shfmt

small fix from rebasing
  tests/TEST_DIRS
Due: none

Rename regtest-skala-cuda to regtest-gauxc-cuda and update TEST_DIRS
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

Remove unnecessary files from the last commit
  1H2_GAUXC_PBE-RESTART.wfn
  H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS-RESTART.kp
  build_tool
  comparing
  cp2k_build.md
  make_cp2k.sh_try
Due: none

Fix TOML files and remove empty test directories
  tests/QS/regtest-gauxc-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

Move CUDA-enabled tests to regtest-skala-cuda and non-CUDA test to regtest-skala-native-gpw-mol
  1H2_GAUXC_PBE-RESTART.wfn
  H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS-RESTART.kp
  build_tool
  comparing
  cp2k_build.md
  make_cp2k.sh_try
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_INV_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_INV_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mol/H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS_NATIVE.inp
  tests/QS/regtest-skala-native-gpw-mol/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

fixing problems with testing infrastructure
  tests/QS/regtest-gauxc-cuda/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-ae-kp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-gth-kp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-kp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-mech/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

fixing test_dirs
  tests/TEST_DIRS
Due: none

Align ska-native/ska-cuda reference values with GauXC master
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-ae-kp/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-ecp/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-coords/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mol/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

Add TEST_FILES.toml for gauxc-gapw-gth and gauxc-gpw-nlcc, update TEST_DIRS
  tests/QS/regtest-gauxc-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-nlcc/TEST_FILES.toml
  tests/TEST_DIRS
Due: none

Reorganize SKALA tests: move NATIVE_SKALA tests from gauxc to ska-native/ska-cuda directories
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_AE_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GAPW_GPWTYPE_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_INV_STRESS.inp
  tests/QS/regtest-gauxc-cuda/H2_NATIVE_SKALA_GPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-gauxc-cuda/TEST_FILES.toml
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GAPW_AE_ATOM_COMPOSITE.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_KP_INV_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_KP_SPGLIB_STRESS.inp
  tests/QS/regtest-skala-cuda/H2_NATIVE_SKALA_GPW_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-cuda/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/HF_NATIVE_SKALA_GAPW_PAW_NLCC_STRESS.inp
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GPWTYPE_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_KP_SPGLIB_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_XC_GTH_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mech/TEST_FILES.toml
Due: none

Refactor scala model installation to shared location via setup_skala
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

formatting fixes and removing moved input names
  docs/methods/dft/gauxc.md
  tests/QS/regtest-gauxc-gapw-base/TEST_FILES.toml
  tests/QS/regtest-gauxc-gapw-ecp/TEST_FILES.toml
  tests/QS/regtest-gauxc-gpw-nlcc/TEST_FILES.toml
  tools/toolchain/scripts/stage5/install_skala.sh
Due: shfmt

fix some testing and install for gauxc / skala-ftorch
  tests/QS/regtest-skala-native-gpw-coords/TEST_FILES.toml
  tests/QS/regtest-skala-native-gpw-mol/TEST_FILES.toml
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

addressed changes related to W_cache
  src/fm/cp_fm_diag.F
  src/gw_non_periodic_ri_rs.F
  src/post_scf_bandstructure_types.F
Due: doxify, prettify, analyze_src

update tests with master branch and small fix
  tests/QS/regtest-gauxc-gapw-ecp/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-base/TEST_FILES.toml
  tests/QS/regtest-skala-native-gapw-gth/H2_MIXED_AE_GTH_NATIVE_SKALA_DIRECT.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_MIXED_AE_GTH_NATIVE_SKALA_PAW.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_ATOM_COMPOSITE.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_KP_INV_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_KP_SPGLIB_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/H2_NATIVE_SKALA_GAPW_GTH_KP_SYM_STRESS.inp
  tests/QS/regtest-skala-native-gapw-gth/TEST_FILES.toml
  tools/toolchain/scripts/stage5/install_skala.sh
  tools/toolchain/scripts/stage6/install_gauxc.sh
  tools/toolchain/scripts/stage6/install_skala_ftorch.sh
Due: shfmt

rename scala flag to skala-ftorch in make_cp2k.sh
  make_cp2k.sh
Due: shfmt

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
