Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Fix LIBGRPP include paths
  arch/Darwin-gnu-arm64.psmp
  arch/Darwin-gnu-arm64.ssmp
  arch/Eiger-mc-gnu.psmp
  arch/Eiger-mc-intel.psmp
  arch/Linux-amd-x86_64.ssmp
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
Due: none

Remove again numerically instable example (libgrrp)
  tests/QS/regtest-ecp/TEST_FILES
Due: none

ccECP (#3940)
  data/ECP_POTENTIALS
  src/CMakeLists.txt
  src/aobasis/ai_overlap_ppl.F
  src/atom_types.F
  src/common/gfun.F
  src/core_ppl.F
  tests/QS/regtest-ecp/ECP_BASIS_POT
  tests/QS/regtest-ecp/HCl_ccECP.inp
  tests/QS/regtest-ecp/HCl_force.inp
  tests/QS/regtest-ecp/TEST_FILES
Due: doxify, prettify, analyze_src, regen_data

DBM: improved filtering matrix
  src/dbm/dbm_matrix.c
Due: analyze_src, clang-format

DBM: improved filtering matrix (#3938)
  src/dbm/dbm_matrix.c
Due: analyze_src, clang-format

Fixed #3937
  src/dbm/dbm_multiply_gpu.c
Due: analyze_src, clang-format

Fix atomicAdd hardware flags
  CMakeLists.txt
  cmake/cp2kConfig.cmake.in
  src/CMakeLists.txt
Due: none

Fixed #3937 (#3942)
  src/dbm/dbm_multiply_gpu.c
Due: analyze_src, clang-format

Enable hardware support for atomic operations on mi250 (#3943)
  CMakeLists.txt
  cmake/cp2kConfig.cmake.in
  src/CMakeLists.txt
Due: none

Coding convention fix
  src/core_ppl.F
Due: doxify, prettify, analyze_src

Coding convention fix (#3946)
  src/core_ppl.F
Due: doxify, prettify, analyze_src

benchmarks should not restart
  benchmarks/QMMM_CBD_PHY/CBD_PHY.inp
  benchmarks/QMMM_ClC/ClC-19.inp
  benchmarks/QMMM_ClC/ClC-253.inp
  benchmarks/QMMM_MQAE/MQAE.inp
  benchmarks/QMMM_MQAE/MQAE_single_node.inp
  benchmarks/QS_LiH_HFX/input_bulk_HFX_3.inp
  benchmarks/QS_low_scaling_GW/GW.inp
Due: none

benchmarks should not restart (#3944)
  benchmarks/QMMM_CBD_PHY/CBD_PHY.inp
  benchmarks/QMMM_ClC/ClC-19.inp
  benchmarks/QMMM_ClC/ClC-253.inp
  benchmarks/QMMM_MQAE/MQAE.inp
  benchmarks/QMMM_MQAE/MQAE_single_node.inp
  benchmarks/QS_LiH_HFX/input_bulk_HFX_3.inp
  benchmarks/QS_low_scaling_GW/GW.inp
Due: none

DBM: improved hashtable_insert and dbm_shard_lookup
  src/dbm/dbm_shard.c
  src/dbm/dbm_shard.h
Due: analyze_src, clang-format

fix cmake
  CMakeLists.txt
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt

check cxx standard
  CMakeLists.txt
Due: none

clean
  tools/docker/scripts/build_cp2k_cmake.sh
Due: shfmt

Optimize the transformation spherial -> cartesian in collocate
  src/grid/hip/grid_hip_collocate.cu
Due: analyze_src

Prepare for containerized CI/CD at CSCS (not yet operational)
  ci/cscs.yml
  ci/docker/test_psmp.Dockerfile
Due: none

prettify
  CMakeLists.txt
Due: none

Move code for creating complex CSR matrices into cp_dbcsr_api.F
  src/dbx/cp_dbcsr_api.F
  src/qs_scf_csr_write.F
Due: doxify, prettify, analyze_src

Enable PyTorch with CMake + Spack
  CMakeLists.txt
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt

disentangle texio and grpp tests
  tests/QS/regtest-trexio-2/Ne_ecp_rks_cartesian.inp
  tests/QS/regtest-trexio-2/Ne_ecp_rks_filename.inp
  tests/QS/regtest-trexio-2/TEST_FILES
  tests/QS/regtest-trexio-2/stuttgart_rlc.cp2k
  tests/TEST_DIRS
Due: none

rb
  CMakeLists.txt
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt

update
  src/CMakeLists.txt
  tests/QS/regtest-trexio-2/TEST_FILES
  tools/toolchain/scripts/stage3/install_libgrpp.sh
Due: shfmt

update
  src/CMakeLists.txt
Due: none

remove unrelated code
  tools/toolchain/scripts/stage3/install_libgrpp.sh
Due: shfmt

Disentangle TrexIO and libgrpp tests and enable TrexIO in CI
  CMakeLists.txt
  tests/QS/regtest-trexio-2/Ne_ecp_rks_cartesian.inp
  tests/QS/regtest-trexio-2/Ne_ecp_rks_filename.inp
  tests/QS/regtest-trexio-2/TEST_FILES
  tests/QS/regtest-trexio-2/stuttgart_rlc.cp2k
  tests/TEST_DIRS
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/spack/cp2k-dependencies.yaml
  tools/toolchain/scripts/stage3/install_libgrpp.sh
Due: shfmt

PAO-ML: Allow for training data to have less than num_neighbors atoms
  tools/pao-ml/pao/dataset.py
Due: regen_data

Remove support for complex matrices from cp_dbcsr_api.F
  src/cp_dbcsr_operations.F
  src/dbx/cp_dbcsr_api.F
  src/emd/rt_bse.F
  src/start/input_cp2k.F
Due: doxify, prettify, analyze_src

rebase
  CMakeLists.txt
  src/CMakeLists.txt
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt

Enable sirius+libvdwxc builds with CMake and improve Spack environment
  CMakeLists.txt
  src/CMakeLists.txt
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/build_cp2k_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt

Replace call to dbcsr_norm() with alternatives
  src/almo_scf_optimizer.F
  src/cp_dbcsr_operations.F
  src/ct_methods.F
  src/dbx/cp_dbcsr_api.F
  src/dm_ls_scf_curvy.F
  src/iterate_matrix.F
  src/mao_optimizer.F
  src/qs_scf_block_davidson.F
Due: doxify, prettify, analyze_src
