Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

DBM: Move mempool chunk resizing out of critical region
  src/dbm/dbm_mempool.c
Due: analyze_src, clang-format

grid: Workaround variable arguments bug on macOS
  src/grid/grid_replay.c
Due: analyze_src, clang-format

Remove lrho1_eq_lrho0
  src/cp_control_types.F
  src/cp_control_utils.F
  src/qs_rho0_methods.F
Due: doxify, prettify, analyze_src

[cmake] Fix a compilation bug
  CMakeLists.txt
  src/CMakeLists.txt
Due: none

Fix the dftd3 and dftd4 input sections
  src/input_cp2k_pwdft.F
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

Fix typo in vdw functional naming convention
  src/CMakeLists.txt
  src/sirius_interface.F
Due: doxify, prettify, analyze_src

[cmake] Fix __SHORT_NAME__ and other cleanups
  CMakeLists.txt
  cmake/CompilerConfiguration.cmake
  cmake/GitSubmodule.cmake
  cmake/modules/FindACE.cmake
  cmake/modules/FindBlas.cmake
  cmake/modules/FindLibXSMM.cmake
  src/CMakeLists.txt
Due: none

Use out-of-place trsm/trmm
  src/base/base_uses.f90
  src/fm/cp_fm_cholesky.F
Due: doxify, prettify, analyze_src

Fix typo
  CMakeLists.txt
  src/CMakeLists.txt
Due: none

offloadStreamWaitEvent: removed unused argument
  src/dbm/dbm_multiply_gpu.c
  src/grid/gpu/grid_gpu_task_list.cu
  src/offload/offload_runtime.h
Due: analyze_src, clang-format

DBM: avoid offload_activate_chosen_device in internal routines
  src/dbm/dbm_multiply_gpu.c
Due: analyze_src, clang-format

Fixed short-cycled condition
  src/qs_core_matrices.F
Due: doxify, prettify, analyze_src

CNEO documentation
  docs/methods/dft/cneo.md
  docs/methods/dft/index.md
Due: none

Turn openpmd_series_close into a procedure
  src/input/cp_output_handling_openpmd.F
  src/openPMD.F
Due: doxify, prettify, analyze_src

Continue
  src/input/cp_output_handling_openpmd.F
  src/openPMD.F
  src/pw/realspace_grid_openpmd.F
Due: doxify, prettify, analyze_src

DBM/OFFLOAD: prepared for hybrid execution
  src/dbm/dbm_miniapp.c
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_gpu.c
  src/dbm/dbm_multiply_gpu.h
  src/offload/offload_runtime.h
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

Same for store_chunk procedures
  src/openPMD.F
  src/pw/realspace_grid_openpmd.F
Due: doxify, prettify, analyze_src

CMake: fixed OpenCL build dependency
  CMakeLists.txt
  src/CMakeLists.txt
Due: none

DBM/CMake: fixed CUDA compilation
  src/CMakeLists.txt
Due: none

Fix typo in DFT+U energy warning messages
  src/dft_plus_u.F
Due: doxify, prettify, analyze_src

Improve documentation for H2O force fields
  data/forcefield_section/H2O/SPC.sec
  data/forcefield_section/H2O/SPCE.sec
  data/forcefield_section/H2O/TIP3P.sec
  data/forcefield_section/H2O/TIP3P_FLEXIBLE.sec
  tests/Fist/regtest-water/H2O-SPC-6x6x6.inp
  tests/Fist/regtest-water/H2O-SPCE-6x6x6.inp
  tests/Fist/regtest-water/H2O-TIP3P-6x6x6.inp
  tests/Fist/regtest-water/H2O-TIP3P_FLEXIBLE-6x6x6.inp
Due: regen_data

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
