Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Legacy build_dbcsr cleanup
  src/f77_interface.F
Due: doxify, prettify, analyze_src

Rebased changes.
  exts/build_dbcsr/Makefile
Due: none

Rely on commonly used -std flag.
  exts/build_dbcsr/Makefile
Due: none

Removed CXXSTD flag from CFLAGS (OpenCL).
  exts/build_dbcsr/Makefile
Due: none

Legacy build_dbcsr cleanup (#3319)
  exts/build_dbcsr/Makefile
  src/f77_interface.F
  tools/toolchain/scripts/arch_base.tmpl
Due: doxify, prettify, analyze_src

DBM: introduced OpenCL support
  src/dbm/.gitignore
  src/dbm/Makefile
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_gpu.c
  src/dbm/dbm_multiply_gpu.h
  src/dbm/dbm_multiply_gpu_kernel.cu
  src/dbm/dbm_multiply_gpu_kernel.h
  src/dbm/dbm_multiply_opencl.c
  src/dbm/dbm_multiply_opencl.cl
  tools/precommit/README.md
  tools/precommit/precommit.py
Due: analyze_src, clang-format

Updated INSTALL.md
  INSTALL.md
Due: none

Removed some remaining code of local/private build option (not upstreamed).
  src/dbm/dbm_multiply.c
Due: analyze_src, clang-format

Whitelisted OPENCL_DBM_SOURCE_MULTIPLY_OPENCL.
  INSTALL.md
  tools/precommit/check_file_properties.py
Due: none

Eliminated macro definitions of N-blocking (BN) and loop-unroll configuration which impacts opencl/common (LU).
  src/dbm/dbm_multiply_opencl.c
  src/dbm/dbm_multiply_opencl.cl
Due: analyze_src, clang-format

Add DBM's OpenCL based sources to CMakeLists.
  src/CMakeLists.txt
Due: none

DBM: introduced OpenCL support (#3321)
  INSTALL.md
  src/CMakeLists.txt
  src/dbm/.gitignore
  src/dbm/Makefile
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_gpu.c
  src/dbm/dbm_multiply_gpu.h
  src/dbm/dbm_multiply_gpu_kernel.cu
  src/dbm/dbm_multiply_gpu_kernel.h
  src/dbm/dbm_multiply_opencl.c
  src/dbm/dbm_multiply_opencl.cl
  tools/precommit/README.md
  tools/precommit/check_file_properties.py
  tools/precommit/precommit.py
Due: analyze_src, clang-format

SPGLIB 1.16.2 -> 2.3.1
  arch/CRAY-XC40-gnu.psmp
  arch/CRAY-XC50-gnu.psmp
  arch/Darwin-gnu-arm64.psmp
  arch/Darwin-gnu-arm64.ssmp
  arch/JURECA-cpu.psmp
  arch/JURECA-gpu.psmp
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-aarch64.psmp
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  arch/Linux-intel-x86_64.psmp
  tools/toolchain/scripts/stage7/install_spglib.sh
Due: shfmt

Disable SPGLIB tests
  tools/toolchain/scripts/stage7/install_spglib.sh
Due: shfmt

Drop spglib in gcc8 test
  tools/docker/Dockerfile.test_gcc10
  tools/docker/Dockerfile.test_gcc11
  tools/docker/Dockerfile.test_gcc12
  tools/docker/Dockerfile.test_gcc8
  tools/docker/Dockerfile.test_gcc9
  tools/docker/Dockerfile.test_i386
  tools/docker/generate_dockerfiles.py
Due: none

[cmake] Fix a typo
  CMakeLists.txt
Due: none

look for compilers first
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
Due: none

Update tools/docker/generate_dockerfiles.py
  tools/docker/generate_dockerfiles.py
Due: none

Bump DLA-Future version to 0.4.0 in CI
  tools/spack/cp2k-dependencies.yaml
Due: none

update spack
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
Due: none

Update tools/docker/Dockerfile.test_cmake
  tools/docker/Dockerfile.test_cmake
Due: none

try excluding gcc
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
Due: none

try re-naming to gcc-runtime
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
Due: none

print before and after
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
Due: none

change just package name
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
Due: none

Add methods section for Bethe-Salpeter
  docs/methods/properties/optical/bethe-salpeter.md
  src/bse_full_diag.F
  src/bse_main.F
  src/bse_util.F
  src/input_cp2k_mp2.F
  src/rpa_gw_sigma_x.F
Due: doxify, prettify, analyze_src

ugly workaround
  tools/docker/Dockerfile.test_cmake
Due: none

enable spack build cache
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
  tools/docker/scripts/test_regtest_cmake.sh
  tools/spack/cp2k-dependencies.yaml
Due: shfmt

Adjust 5 regtests
  tests/QS/regtest-bse/TEST_FILES
  tests/QS/regtest-nmr-6/TEST_FILES
  tests/QS/regtest-tddfpt-force-2/TEST_FILES
  tests/SE/regtest-3-3/H2O-4.inp
Due: none

cleanup ugly workaround
  tools/docker/Dockerfile.test_cmake
  tools/docker/generate_dockerfiles.py
Due: none

BSE: Fix conventions
  src/bse_util.F
Due: doxify, prettify, analyze_src

Fix convention 2nd print
  src/bse_util.F
Due: doxify, prettify, analyze_src

[PWDFT] Print the free energy
  src/force_env_methods.F
  src/pwdft_environment_types.F
  src/sirius_interface.F
Due: doxify, prettify, analyze_src
