Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

several fixes, comments of F. Stein
  src/tblite_interface.F
  src/tblite_ks_matrix.F
  src/tblite_types.F
Due: doxify, prettify, analyze_src

Toolchain update: GCC 14.2.0 -> 14.3.0
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  tools/toolchain/scripts/stage0/install_gcc.sh
Due: shfmt

Update Darwin arch files
  arch/Darwin-gnu-arm64.psmp
  arch/Darwin-gnu-arm64.ssmp
Due: none

remove reallocation error
  src/tblite_interface.F
Due: doxify, prettify, analyze_src

Fix Gromacs build for the QM/MM tester
  tools/toolchain/install_requirements_ubuntu.sh
Due: shfmt

Jvp gfn grad (#4242)
  src/qs_environment.F
  src/qs_force.F
  src/qs_scf_output.F
  src/tblite_interface.F
  src/tblite_ks_matrix.F
  src/tblite_types.F
  tests/xTB/regtest-tblite-gfn1/COBe_gfn1_force.inp
  tests/xTB/regtest-tblite-gfn1/H2SO4_gfn1_force.inp
  tests/xTB/regtest-tblite-gfn1/Hg2Cl2_gfn1_force.inp
  tests/xTB/regtest-tblite-gfn1/TEST_FILES.toml
  tests/xTB/regtest-tblite-gfn2/CH2O_gfn2_force.inp
  tests/xTB/regtest-tblite-gfn2/COBe_gfn2_force.inp
  tests/xTB/regtest-tblite-gfn2/TEST_FILES.toml
  tests/xTB/regtest-tblite-ipea1/CH2O_ipea1_force.inp
  tests/xTB/regtest-tblite-ipea1/COBe_ipea1_force.inp
  tests/xTB/regtest-tblite-ipea1/TEST_FILES.toml
Due: doxify, prettify, analyze_src

small fix for building without tblite
  src/tblite_interface.F
Due: doxify, prettify, analyze_src

Fixed data races and undefined behavior
  src/aobasis/ai_oneelectron.F
  src/commutator_rpnl.F
  src/core_ae.F
  src/core_ppl.F
  src/core_ppnl.F
  src/dbm/dbm_matrix.c
  src/dbm/dbm_shard.c
  src/qs_harmonics_atom.F
  src/qs_kinetic.F
  src/qs_ks_atom.F
  src/qs_overlap.F
  src/qs_vcd_ao.F
  src/rt_propagation_velocity_gauge.F
Due: doxify, prettify, analyze_src, clang-format

removing unecessary variable
  src/tblite_interface.F
Due: doxify, prettify, analyze_src

fixing the fix
  src/tblite_interface.F
Due: doxify, prettify, analyze_src

small fix for building without tblite (#4247)
  src/tblite_interface.F
Due: doxify, prettify, analyze_src

unused variables not marked
  src/tblite_interface.F
Due: doxify, prettify, analyze_src

Retire testers as the Merlin6 cluster will be decommissioned soon
  tools/dashboard/dashboard.conf
Due: none

Remove unneeded imports
  src/pw/realspace_grid_openpmd.F
Due: doxify, prettify, analyze_src

mark unused variables (#4250)
  src/tblite_interface.F
Due: doxify, prettify, analyze_src

tried calculating forces
  src/input_cp2k_global.F
  src/start/cp2k_runs.F
Due: doxify, prettify, analyze_src

Add CSCS CI tester to dashboard
  ci/cscs_eiger_spack_ssmp.yaml
  tools/dashboard/dashboard.conf
Due: none

Remove dead code branch
  src/pw/realspace_grid_openpmd.F
Due: doxify, prettify, analyze_src

Optimization for stride == 1 1 1
  src/openPMD.F
  src/pw/realspace_grid_openpmd.F
Due: doxify, prettify, analyze_src

Add git commit SHA to tester output
  ci/cscs_eiger_spack_ssmp.yaml
  ci/docker/build_cp2k_spack.Dockerfile
  ci/docker/build_deps_spack.Dockerfile
Due: none

extract forces
  src/born_methods.F
  src/start/cp2k_runs.F
Due: doxify, prettify, analyze_src

Adapt tolerance
  tests/QS/regtest-bs/TEST_FILES.toml
Due: none

Retrieve git commit SHA before script
  ci/cscs_eiger_spack_ssmp.yaml
Due: none

Check upload
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
  ci/cscs_eiger_toolchain_psmp.yaml
Due: none

Protect spaces
  ci/cscs_eiger_spack_ssmp.yaml
Due: none

Extend git info
  ci/cscs_eiger_spack_ssmp.yaml
  ci/docker/build_cp2k_spack.Dockerfile
Due: none

Fix typo; use hex code for blanks
  ci/cscs_eiger_spack_ssmp.yaml
Due: none

Try double quotes
  ci/cscs_eiger_spack_ssmp.yaml
Due: none

Fix script name in error message
  ci/cscs_eiger_spack_ssmp.yaml
  tools/docker/scripts/setup_spack_cache.sh
Due: shfmt

Add remaining CI testers to CP2K dashboard
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
  ci/cscs_eiger_toolchain_psmp.yaml
  tools/dashboard/dashboard.conf
Due: none

Retrieve git commit SHA before script (#4254)
  ci/cscs_eiger_spack_psmp.yaml
  ci/cscs_eiger_spack_ssmp.yaml
  ci/cscs_eiger_toolchain_psmp.yaml
  ci/docker/build_cp2k_spack.Dockerfile
  tools/dashboard/dashboard.conf
  tools/docker/scripts/setup_spack_cache.sh
Due: shfmt

build: fix CMake files
  CMakeLists.txt
  cmake/CompilerConfiguration.cmake
Due: none

calculate born tensor
  src/born_methods.F
  src/born_types.F
  src/start/cp2k_runs.F
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
