Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-ast
        name: Check python ast (with Python 2.7)
        language_version: python2.7
        stages: [manual]
    -   id: check-ast
        name: Check python ast (with Python 3)
        language_version: python3
        stages: [manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    -   id: black
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py
        language: script
        files: '.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            tools/.*|
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false

start: fix compilation with Intel with compiler_options intrinsic
  src/start/cp2k.F
  tools/conventions/conventions.supp
Due: doxify, prettify, analyze_src

toolchain: do not error out on all LHS reallocs
  tools/toolchain/scripts/generate_arch_files.sh
Due: none

Add compiler options for AVX512
  tools/toolchain/scripts/install_elpa.sh
Due: none

Check for getenforce command explicitly
  tools/toolchain/scripts/install_openblas.sh
Due: none

Add ()
  tools/toolchain/scripts/install_openblas.sh
Due: none

Specify path to FFTW explicitly
  tools/toolchain/scripts/install_libvdwxc.sh
Due: none

Ignore error from patch command with selinux
  tools/toolchain/scripts/install_openblas.sh
Due: none

toolchain: disable automatic build of reflapack
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/install_reflapack.sh
Due: none

Remove obsolete arch file
  arch/Linux-x86-64-gfortran.sdbg
Due: none

Use only realloc-lhs instead of realloc-lhs-all
  arch/Linux-x86-64-gfortran-regtest.pdbg
  arch/Linux-x86-64-gfortran-regtest.psmp
  arch/Linux-x86-64-gfortran-regtest.sdbg
  arch/Linux-x86-64-gfortran-regtest.ssmp
Due: none

Fix leak
  src/start/cp2k.F
Due: doxify, prettify, analyze_src

benchmarks: add results on many nodes for DFT-LS and RPA
  benchmarks/QS_DM_LS/README.md
  benchmarks/QS_mp2_rpa/128-H2O/README.md
Due: none

PP and MOLOPT basis sets for Lanthanides: Jun-Bo Lu et al. J. Chem. Theory Comput. 2019, 15, 11, 5987-5997 https://doi.org/10.1021/acs.jctc.9b00553
  data/BASIS_MOLOPT_LnPP1
  data/LnPP1_POTENTIALS
Due: regen_data

PP and MOLOPT basis sets for Lanthanides: Jun-Bo Lu et al. J. Chem. Theory Comput. 2019, 15, 11, 5987-5997 (#665)
  data/BASIS_MOLOPT_LnPP1
  data/LnPP1_POTENTIALS
Due: regen_data

prettify: report warnings with file name and line number
  tools/prettify/prettify.py
Due: none

Refactoring of bibliography output
  src/common/bibliography.F
  src/common/reference_manager.F
Due: doxify, prettify, analyze_src

Refactoring of bibliography output (#667)
  src/common/bibliography.F
  src/common/reference_manager.F
Due: doxify, prettify, analyze_src

add Github Action workflow to create release tarball
  .gitattributes
  .github/workflows/release-tarball.yml
Due: none

Enable odd number of electrons in S-ALMO
  src/almo_scf.F
  tests/QS/regtest-almo-2/TEST_FILES
  tests/QS/regtest-almo-2/s-almo-no-deloc-odd-ne.inp
Due: doxify, prettify, analyze_src

XC: Move calc_g and init_pw92 into fypp file This split prepares the addition of srLDA which is based on PW92.
  src/xc/xc_perdew_wang.F
  src/xc/xc_perdew_wang.fypp
Due: doxify, prettify, analyze_src

Tests: Add Tests with range-separated Double-Hybrids
  tests/QS/regtest-rs-dhft/CH3-rsLDAlrMP2.inp
  tests/QS/regtest-rs-dhft/CH3.xyz
  tests/QS/regtest-rs-dhft/H2O-srLDAlrMP2.inp
  tests/QS/regtest-rs-dhft/H2O_gas.xyz
  tests/QS/regtest-rs-dhft/TEST_FILES
  tests/QS/regtest-rs-dhft/TEST_FILES_RESET
  tests/TEST_DIRS
Due: none

XAS_TDP| 1) Switched to libint2 for 2-center RI integrals 2) Implemented RI metric for extra screening of exchange integrals
  src/cp_control_types.F
  src/input_cp2k_dft.F
  src/qs_o3c_methods.F
  src/xas_tdp_kernel.F
  src/xas_tdp_methods.F
  src/xas_tdp_types.F
  src/xas_tdp_utils.F
  tests/QS/regtest-xastdp/Ne-LDA-extRI_XAS.inp
  tests/QS/regtest-xastdp/Ne-pbc-shortrange-metric.inp
  tests/QS/regtest-xastdp/Ne-pbc-truncated-metric.inp
  tests/QS/regtest-xastdp/TEST_FILES
Due: doxify, prettify, analyze_src

XAS_TDP| Removed SYEVR diagonalization option (and all related code)
  src/fm/cp_fm_diag.F
  src/input_constants.F
  src/input_cp2k_dft.F
  src/xas_tdp_methods.F
  src/xas_tdp_types.F
  src/xas_tdp_utils.F
  tests/QS/regtest-xastdp/Ar-HF-2p-SOC-os.inp
  tests/QS/regtest-xastdp/Ar-HF-2p-SOC-rcs.inp
  tests/QS/regtest-xastdp/C2H2-PBE-ri_region.inp
  tests/QS/regtest-xastdp/CH3-PBE-uks.inp
  tests/QS/regtest-xastdp/Ne-LDA-e_range.inp
  tests/QS/regtest-xastdp/Ne-LDA-extRI_XAS.inp
  tests/QS/regtest-xastdp/Ne-pbc-shortrange.inp
  tests/QS/regtest-xastdp/Ne-pbc-truncated.inp
Due: doxify, prettify, analyze_src

N^3 GW based on DBCSR tensors
  src/input_cp2k_mp2.F
  src/mp2_gpw.F
  src/mp2_integrals.F
  src/rpa_gw.F
  src/rpa_gw_im_time_util.F
  src/rpa_main.F
  src/rpa_util.F
  tests/QS/regtest-gw-cubic/G0W0_H2O_PBE0.inp
  tests/QS/regtest-gw-cubic/G0W0_H2O_PBE_periodic.inp
  tests/QS/regtest-gw-cubic/G0W0_OH_PBE.inp
  tests/QS/regtest-gw-cubic/G0W0_OH_PBE_svd.inp
  tests/QS/regtest-gw-cubic/G0W0_kpoints_from_Gamma.inp
Due: doxify, prettify, analyze_src

O(N^3) GW: logging of tensor operations
  src/rpa_gw.F
  src/rpa_gw_im_time_util.F
Due: doxify, prettify, analyze_src

Image Charge model for O(N^3) GW
  src/rpa_gw.F
  src/rpa_gw_ic.F
  src/rpa_gw_im_time_util.F
  src/rpa_main.F
  tests/QS/regtest-gw-ic-model/IC_no_wf_update.inp
Due: doxify, prettify, analyze_src

O(N^3) GW: DBCSR update, choice of load balanced process grids taking into account that one tensor dimension is small (number of MOs).
  src/rpa_gw_im_time_util.F
Due: doxify, prettify, analyze_src

O(N^3) GW: adding timings
  src/rpa_gw.F
  src/rpa_gw_ic.F
Due: doxify, prettify, analyze_src

fix for inconsistent matrix sizes
  src/rpa_gw.F
  src/rpa_gw_ic.F
  src/rpa_gw_im_time_util.F
Due: doxify, prettify, analyze_src
