Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Partially reverted #4378
  src/CMakeLists.txt
Due: none

UPF file convertion: Add wavefunction info for SOC
  src/atom_energy.F
Due: doxify, prettify, analyze_src

Fix arg list for do_regtest.py
  tools/fedora/cp2k.spec
Due: none

wrong variable name (#4367)
  tools/toolchain/scripts/stage8/install_dftd4.sh
Due: shfmt

tblite update (periodic gfn2?)
  tools/toolchain/scripts/stage8/install_tblite.sh
Due: shfmt

tblite update (periodic gfn2?) (#4382)
  tools/toolchain/scripts/stage8/install_tblite.sh
Due: shfmt

Add MPI switch
  tools/fedora/cp2k.spec
Due: none

UPF file convertion: Add wavefunction info for SOC (#4380)
  src/atom_energy.F
Due: doxify, prettify, analyze_src

Try to fix lib path for RPM build
  tools/fedora/cp2k.spec
Due: none

Update Apple M1 arch file (macOS Darwin)
  arch/Darwin-gnu-arm64.psmp
Due: none

Do not set LIBDIR path
  tools/fedora/cp2k.spec
Due: none

Do not set INSTALL_LIBDIR
  CMakeLists.txt
Due: none

fix
  ci/docker/build_deps_spack.Dockerfile
Due: none

xpmem
  tools/spack/cp2k_deps_psmp.yaml
Due: none

deps with mpich
  ci/cscs_eiger_spack_psmp.yaml
  ci/docker/build_deps_spack.Dockerfile
  tools/spack/cp2k_deps_psmp.yaml
Due: none

change spack config
  ci/docker/build_deps_spack.Dockerfile
Due: none

env modification
  ci/docker/build_deps_spack.Dockerfile
Due: none

restore xpmem
  ci/docker/build_deps_spack.Dockerfile
  tools/spack/cp2k_deps_psmp.yaml
Due: none

disable
  ci/cscs_eiger_spack_psmp.yaml
  cmake/cmake_cp2k.sh
Due: shfmt

run bench
  ci/cscs_eiger_spack_psmp.yaml
Due: none

mpich -> cray-mpich
  ci/docker/build_deps_spack.Dockerfile
Due: none

make image public
  ci/cscs_eiger_spack_psmp.yaml
Due: none

disable elpa
  ci/docker/build_deps_spack.Dockerfile
Due: none

enable dlaf
  cmake/cmake_cp2k.sh
Due: shfmt

change tag
  ci/cscs_eiger_spack_psmp.yaml
Due: none

update
  ci/docker/build_deps_spack.Dockerfile
Due: none

bench
  ci/cscs_eiger_spack_psmp.yaml
Due: none

remove nolocal
  ci/cscs_eiger_spack_psmp.yaml
Due: none

update
  ci/docker/build_deps_spack.Dockerfile
  tools/spack/cp2k_deps_psmp.yaml
Due: none

sirius
  ci/docker/build_deps_spack.Dockerfile
  tools/spack/cp2k_deps_psmp.yaml
Due: none

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
