Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Add CI for full CP2K build with Spack/CMake
  ci/docker/build_cp2k_spack_psmp.Dockerfile
  ci/docker/build_cp2k_toolchain_psmp.Dockerfile
  ci/spack/cp2k_deps_all.yaml
  cmake/cmake_cp2k.sh
Due: shfmt

CMake: resolve inconsistencies with DBCSR (#4080)
  cmake/cmake_cp2k.sh
  tools/docker/scripts/install_dbcsr.sh
Due: shfmt

CMake: automatically select BLAS/ScaLAPACK
  cmake/cmake_cp2k.sh
Due: shfmt

CMake: automatically select BLAS/ScaLAPACK (#4095)
  cmake/cmake_cp2k.sh
Due: shfmt

Update CP2K specs due to PR #4063
  tools/fedora/cp2k.spec
Due: none

Use correct flag
  tools/fedora/cp2k.spec
Due: none

Test
  tools/fedora/cp2k.spec
Due: none

Add flag
  tools/fedora/cp2k.spec
Due: none

Add DLA and PLUMED to Spack/CMake CI test (Eiger)
  ci/docker/build_deps_spack_psmp.Dockerfile
  ci/spack/cp2k_deps_all.yaml
  cmake/cmake_cp2k.sh
Due: shfmt

Update arch file
  arch/Linux-gnu-x86_64.psmp
Due: none

Update arch file for Merlin tester
  arch/Linux-gnu-x86_64.psmp
Due: none

Add py-torch and update DLA version for Spack/CMake CI
  ci/docker/build_cp2k_spack_psmp.Dockerfile
  ci/spack/cp2k_deps_all.yaml
  cmake/cmake_cp2k.sh
Due: shfmt

Search for Torch cmake config files
  CMakeLists.txt
  ci/docker/build_cp2k_spack_psmp.Dockerfile
  cmake/cmake_cp2k.sh
Due: shfmt

Remove non-existing variable
  CMakeLists.txt
Due: none

[cmake] Cleanup the GPU architecture logic
  CMakeLists.txt
  src/CMakeLists.txt
Due: none

Use more work
  tests/QS/regtest-ot/H2O-geo-ot-lumo-all.inp
Due: none

Fix trexio writing and reading MOs and energy derivatives
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

RI_HFX| Add extra print option
  src/hfx_ri.F
  src/input_cp2k_hfx.F
Due: doxify, prettify, analyze_src

Wip: properly deal with row/column major
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/openPMD.F
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src, clang-format

Fix trexio writing and reading MOs and energy derivatives (#4105)
  src/trexio_utils.F
Due: doxify, prettify, analyze_src

EC interface for H derivatives
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

Ext Model response forces
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

Updates for External Method Response Forces (#4107)
  src/energy_corrections.F
Due: doxify, prettify, analyze_src

Invert things on the C side
  src/binding/openPMD/openPMD.cpp
  src/binding/openPMD/openPMD.h
  src/openPMD.F
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src, clang-format

Formatting
  src/openPMD.F
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

Sort particle types
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

Write particles in parallel
  src/pw/realspace_grid_cube.F
Due: doxify, prettify, analyze_src

DBM: optionally reuse DBCSR's libsmm_acc_process
  src/dbm/Makefile
  src/dbm/dbm_hyperparams.h
  src/dbm/dbm_mempool.c
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_cpu.c
  src/dbm/dbm_multiply_cpu.h
  src/dbm/dbm_multiply_gpu.c
  src/dbm/dbm_multiply_opencl.c
  src/dbm/dbm_shard.c
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

DBM: optionally reuse DBCSR's libsmm_acc_process (#4109)
  src/dbm/Makefile
  src/dbm/dbm_hyperparams.h
  src/dbm/dbm_mempool.c
  src/dbm/dbm_multiply.c
  src/dbm/dbm_multiply_cpu.c
  src/dbm/dbm_multiply_cpu.h
  src/dbm/dbm_multiply_gpu.c
  src/dbm/dbm_multiply_opencl.c
  src/dbm/dbm_shard.c
  tools/precommit/check_file_properties.py
Due: analyze_src, clang-format

Homogenise configuration: Merge Spack/CMake config files
  ci/docker/build_deps_spack_psmp.Dockerfile
  cmake/cmake_cp2k.sh
  tools/docker/Dockerfile.test_spack
  tools/docker/generate_dockerfiles.py
  tools/spack/cp2k-dependencies.yaml
  tools/spack/cp2k_deps_all.yaml
  tools/spack/cp2k_deps_minimal.yaml
Due: shfmt
