Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Cut release version 2024.1
  REVISION
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

Increase development version after 2024.1 release
  docs/index.md
  docs/versions.md
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

style: make code pretty
  INSTALL.md
  src/deepmd_wrapper.F
  src/fist_nonbond_env_types.F
  src/force_fields_all.F
  src/force_fields_input.F
  src/input_cp2k_mm.F
  src/manybody_deepmd.F
  src/manybody_potential.F
  src/pair_potential.F
  src/pair_potential_types.F
  tools/toolchain/README.md
  tools/toolchain/scripts/stage6/install_deepmd.sh
Due: doxify, prettify, analyze_src, shfmt

fix: invalid read and write of memory
  src/CMakeLists.txt
  src/deepmd_wrapper.F
  src/fist_nonbond_env_types.F
  src/force_fields_input.F
  src/input_cp2k_mm.F
  src/manybody_deepmd.F
  src/pair_potential_types.F
  tools/toolchain/scripts/stage6/install_deepmd.sh
Due: doxify, prettify, analyze_src, shfmt

chore: disable shellcheck
  INSTALL.md
  tools/toolchain/scripts/stage6/install_deepmd.sh
Due: shfmt

fix: double counting from multiple MPI processes
  src/manybody_deepmd.F
  src/manybody_potential.F
Due: doxify, prettify, analyze_src

test: fix result of regtest
  tests/Fist/regtest-deepmd/TEST_FILES
Due: none

refactor: redesign input section fix: fix compiling when no `-D__DEEPMD` style: reformat INSTALL document
  INSTALL.md
  src/deepmd_wrapper.F
  src/fist_nonbond_env_types.F
  src/fist_nonbond_force.F
  src/force_fields_input.F
  src/input_cp2k_mm.F
  src/manybody_deepmd.F
  src/pair_potential_types.F
  tests/Fist/regtest-deepmd/DeePMD_water_double.inp
  tests/Fist/regtest-deepmd/DeePMD_water_single.inp
  tests/Fist/regtest-deepmd/H2O-DPLR-model.pb
  tests/Fist/regtest-deepmd/TEST_FILES
Due: doxify, prettify, analyze_src

Add DeePMD-kit C++ Interface
  INSTALL.md
  src/common/bibliography.F
  src/cp2k_info.F
  src/deepmd_wrapper.F
  src/fist_nonbond_env_types.F
  src/force_fields_all.F
  src/force_fields_input.F
  src/input_cp2k_mm.F
  src/manybody_deepmd.F
  src/manybody_potential.F
  src/pair_potential.F
  src/pair_potential_types.F
  tools/toolchain/README.md
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/arch_base.tmpl
  tools/toolchain/scripts/common_vars.sh
  tools/toolchain/scripts/stage6/install_deepmd.sh
  tools/toolchain/scripts/stage6/install_stage6.sh
Due: doxify, prettify, analyze_src, shfmt

style: make code pretty
  src/deepmd_wrapper.F
Due: doxify, prettify, analyze_src

chore: reformat reference
  src/common/bibliography.F
  src/input_cp2k_mm.F
  src/manybody_deepmd.F
Due: doxify, prettify, analyze_src

fix: 'c_null_ptr' has no IMPLICIT type
  src/deepmd_wrapper.F
Due: doxify, prettify, analyze_src

chore: update biography;
  src/common/bibliography.F
  src/input_cp2k_mm.F
  src/manybody_deepmd.F
  tools/toolchain/scripts/stage6/install_deepmd.sh
Due: doxify, prettify, analyze_src, shfmt

chore: remove ldeepmd_op
  tools/toolchain/scripts/stage6/install_deepmd.sh
Due: shfmt

fix: index error for more than 2 elements
  src/force_fields_input.F
  src/pair_potential_types.F
Due: doxify, prettify, analyze_src

chore: remove useless tfcc and deepmd_mode
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/common_vars.sh
Due: shfmt

chore: make code pretty
  src/force_fields_input.F
Due: doxify, prettify, analyze_src

style: make code pretty
  src/deepmd_wrapper.F
  src/manybody_deepmd.F
  tests/Fist/regtest-deepmd/DeePMD_W.inp
Due: doxify, prettify, analyze_src

Bug fix for parallel runs: state following with ADDED_MOS
  src/qs_tddfpt2_assign.F
Due: doxify, prettify, analyze_src

test: add lsan.supp for deepmd and tf
  tools/toolchain/scripts/stage6/install_deepmd.sh
Due: shfmt

Add support for DeePMD
  INSTALL.md
  data/DeePMD/W.pb
  src/CMakeLists.txt
  src/common/bibliography.F
  src/cp2k_info.F
  src/deepmd_wrapper.F
  src/fist_nonbond_env_types.F
  src/fist_nonbond_force.F
  src/force_fields_all.F
  src/force_fields_input.F
  src/input_cp2k_mm.F
  src/manybody_deepmd.F
  src/manybody_potential.F
  src/pair_potential.F
  src/pair_potential_types.F
  tests/Fist/regtest-deepmd/DeePMD_W.inp
  tests/Fist/regtest-deepmd/TEST_FILES
  tests/TEST_DIRS
  tools/toolchain/README.md
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/arch_base.tmpl
  tools/toolchain/scripts/stage6/install_deepmd.sh
  tools/toolchain/scripts/stage6/install_stage6.sh
Due: doxify, prettify, analyze_src, regen_data, shfmt

Bug fix for parallel runs: state following with ADDED_MOS (#3199)
  src/qs_tddfpt2_assign.F
Due: doxify, prettify, analyze_src

Enable compilation without deepmd (unused arguments)
  src/deepmd_wrapper.F
  src/manybody_deepmd.F
Due: doxify, prettify, analyze_src

External potential: Do not re-parse potential function at each grid-point
  src/qs_external_potential.F
Due: doxify, prettify, analyze_src

Slight refactoring of deepmd_wrapper.F
  src/deepmd_wrapper.F
  src/fist_nonbond_env_types.F
  src/manybody_deepmd.F
Due: doxify, prettify, analyze_src

Docker: Use Python virtual env for ASE test
  tools/docker/scripts/test_ase.sh
Due: shfmt

Docker: Disable DeePMD for ARM64 test
  tools/docker/Dockerfile.test_arm64-psmp
  tools/docker/generate_dockerfiles.py
Due: none

DEBUG: Osczillatorstrength for TDDFT+SOC within length and velocity representation
  src/qs_tddfpt2_soc.F
  src/qs_tddfpt2_soc_types.F
  src/qs_tddfpt2_soc_utils.F
Due: doxify, prettify, analyze_src

Manual: Prepare for new GW / BSE page
  docs/conf.py
  docs/methods/post_hartree_fock/index.md
  docs/methods/properties/bandstructure_gw.md
  docs/methods/properties/bethe-salpeter.md
  docs/methods/properties/index.md
  docs/methods/properties/optical.md
  docs/methods/properties/time-dependent-dft.md
  docs/methods/sampling/newton-x.md
Due: none

TDDFT+SOC: Fix oscillator strength within length and velocity representation
  src/qs_tddfpt2_soc.F
  src/qs_tddfpt2_soc_types.F
  src/qs_tddfpt2_soc_utils.F
Due: doxify, prettify, analyze_src

ECP nuclear gradients
  src/core_ppl.F
  src/libgrpp_integrals.F
  tests/QS/regtest-ecp-2/ECP_BASIS_POT
  tests/QS/regtest-ecp-2/ICl_lanl2dz_gpw.inp
  tests/QS/regtest-ecp-2/Rn_stuttgart_gapw.inp
  tests/QS/regtest-ecp-2/SbH3_def2_gapw.inp
  tests/QS/regtest-ecp-2/TEST_FILES
  tests/TEST_DIRS
Due: doxify, prettify, analyze_src

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
