Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

doxify:
  name: Run doxify
  entry: ./tools/doxify/doxify.sh
  language: script

prettify:
  name: Run prettify
  entry: ./tools/prettify/prettify.py --no-report-errors
  language: script

analyze_src:
  name: Run analyze_src
  entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
  language: script

regen_data:
  name: Regenerate checked-in data files
  entry: make --always-make data
  language: system
  pass_filenames: false

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=llvm
  additional_dependencies:
  - clang-format

shfmt:
  name: Reformat shell scripts with shfmt
  minimum_pre_commit_version: 2.4.0
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -sr
  - -w

Prettify
  cmake/modules/FindLibXC.cmake
Due: none

build: patch to support libxc 7
  CMakeLists.txt
  cmake/cp2kConfig.cmake.in
  cmake/modules/FindLibXC.cmake
Due: none

Update arch files
  arch/Darwin-gnu-arm64.psmp
  arch/Darwin-gnu-arm64.ssmp
  arch/Linux-gnu-x86_64.psmp
Due: none

Cut release version 2025.1
  CMakeLists.txt
  REVISION
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

Increase development version after 2025.1 release
  CMakeLists.txt
  docs/index.md
  docs/versions.md
  src/cp2k_info.F
Due: doxify, prettify, analyze_src

MPICH 4.0.3 -> 4.2.3
  arch/Linux-gnu-aarch64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  tools/toolchain/scripts/stage1/install_mpich.sh
Due: shfmt

Ignore memory leak in MPICH 4.2.3 (MPL_malloc)
  tools/toolchain/scripts/stage1/install_mpich.sh
Due: shfmt

Add trexio to sourceable GNU arch files
  arch/Linux-gnu-x86_64-static.ssmp
  arch/Linux-gnu-x86_64.psmp
  tools/toolchain/scripts/stage8/install_trexio.sh
Due: shfmt

adjust links for gw examples in manual
  docs/methods/properties/bandstructure_gw.md
Due: none

Fix variable name
  tools/toolchain/scripts/stage8/install_pugixml.sh
Due: shfmt

Integrate libsmeagol into regression testing
  arch/Linux-gnu-x86_64.psmp
  tests/QS/regtest-smeagol-2/TEST_FILES
  tests/SLOW_TESTS_SUPPRESSIONS
  tools/toolchain/install_cp2k_toolchain.sh
  tools/toolchain/scripts/stage7/install_libsmeagol.sh
Due: shfmt

Test libsmeagol only with Intel and GCC 14
  arch/Linux-gnu-x86_64.psmp
  tools/docker/Dockerfile.test_intel-psmp
  tools/docker/generate_dockerfiles.py
  tools/toolchain/install_cp2k_toolchain.sh
Due: shfmt

PAO-ML: Add scripts for training an equivariant model
  tools/docker/scripts/install_misc.sh
  tools/docker/scripts/test_misc.sh
  tools/pao-ml/README.md
  tools/pao-ml/example.pao
  tools/pao-ml/pao-retrain.py
  tools/pao-ml/pao-train.py
  tools/pao-ml/pao-validate.py
  tools/pao-ml/pao/__init__.py
  tools/pao-ml/pao/dataset.py
  tools/pao-ml/pao/io.py
  tools/pao-ml/pao/model.py
  tools/pao-ml/pao/training.py
Due: regen_data, shfmt

RTP: Rewrite taylor_full_complex_dbcsr to only use real matrices
  src/emd/rt_bse_types.F
  src/ls_matrix_exp.F
  tests/QS/regtest-ls-rtp/TEST_FILES
Due: doxify, prettify, analyze_src

Arnoldi: Remove support for complex input matrices
  src/arnoldi/arnoldi.fypp
  src/arnoldi/arnoldi_api.F
  src/arnoldi/arnoldi_data_methods.F
  src/arnoldi/arnoldi_geev.F
  src/arnoldi/arnoldi_methods.F
  src/arnoldi/arnoldi_types.F
  src/iterate_matrix.F
  src/pexsi_methods.F
  src/preconditioner_makes.F
  src/preconditioner_solvers.F
  tests/QS/regtest-pao-5/TEST_FILES
Due: doxify, prettify, analyze_src, regen_data

Remove support for complex matrices from dbcsr_vector.F
  src/dbcsrx/dbcsr_vector.F
Due: doxify, prettify, analyze_src

Rename dbcsrx/dbcsr_vector.F -> arnoldi/arnoldi_vector.F
  src/CMakeLists.txt
  src/PACKAGE
  src/arnoldi/PACKAGE
  src/arnoldi/arnoldi_api.F
  src/arnoldi/arnoldi_data_methods.F
  src/arnoldi/arnoldi_methods.F
  src/arnoldi/arnoldi_vector.F
  src/dbcsrx/PACKAGE
Due: doxify, prettify, analyze_src, regen_data

refactor get_exciton_descriptors to prepare for usage with tddft
  src/bse_full_diag.F
  src/bse_properties.F
Due: doxify, prettify, analyze_src

link exciton descriptor routine against tddfpt2 module
  src/bse_properties.F
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_properties_dft.F
  src/qs_tddfpt2_methods.F
  src/qs_tddfpt2_properties.F
Due: doxify, prettify, analyze_src

add doxygen info
  src/qs_tddfpt2_properties.F
Due: doxify, prettify, analyze_src

polish output of descriptors in TDDFT
  src/bse_full_diag.F
  src/bse_print.F
  src/cp_control_types.F
  src/cp_control_utils.F
  src/input_cp2k_properties_dft.F
  src/qs_tddfpt2_methods.F
  src/qs_tddfpt2_properties.F
Due: doxify, prettify, analyze_src

add test for exciton descriptors in tddfpt module
  src/bse_print.F
  src/qs_tddfpt2_properties.F
  tests/QS/regtest-bse/TEST_FILES
  tests/QS/regtest-tddfpt-prop/TEST_FILES
  tests/QS/regtest-tddfpt-prop/h2o_exciton_descriptors.inp
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Update INSTALL.md
  INSTALL.md
Due: none

Pretty
  INSTALL.md
Due: none

Docs: Add more acronyms and empty k-point page
  docs/acronyms.md
  docs/methods/dft/index.md
  docs/methods/dft/k-points.md
Due: none

Path conditions:
  doxify: any of: ^src/.*\.(F|f90)$
  prettify: any of: ^src/.*\.(F|f90)$, but not: (?x)^(
  src/base/base_uses.f90|
  src/common/util.F|
)$
  analyze_src: any of: ^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$
  regen_data: any of: data/*
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: (?x)^(
  tools/manual/collapsibleList.js|
  tools/manual/toggle_folding.js|
)$
  shfmt: any of: \.sh$
