Repository cp2k/cp2k: changes, and which pre-commit hooks are due for each by the changed paths.
All: doxify, prettify, analyze_src, regen_data, clang-format, shfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
-   repo: https://github.com/ambv/black
    rev: "19.10b0"
    hooks:
    -   id: black
        name: Reformat Python files with the black code formatter
        files: '^.*(/PACKAGE)|(\.py)$'
        exclude: >-
          (?x)^(
            exts/.*|
            tools/prettify/fprettify/.|
            tools/build_utils/fypp|
          )$
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
    -   id: markdownlint
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: doxify
        name: Run doxify
        entry: ./tools/doxify/doxify.sh
        language: script
        files: '^src/.*\.(F|f90)$'
    -   id: prettify
        name: Run prettify
        entry: ./tools/prettify/prettify.py --no-report-errors
        language: script
        files: '^src/.*\.(F|f90)$'
        exclude: >-
          (?x)^(
            src/base/base_uses.f90|
            src/common/util.F|
          )$
    -   id: analyze_src
        name: Run analyze_src
        entry: ./tools/conventions/analyze_src.py --fail --suppressions ./tools/conventions/conventions.supp
        language: script
        files: '^src/.*\.(F|fypp|c|cu|cpp|h|hpp)$'
    -   id: regen_data
        name: Regenerate checked-in data files
        entry: make --always-make data
        language: system
        files: 'data/*'
        pass_filenames: false
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format
        language: python
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
        args: ['-i', '-fallback-style=none', '--style=llvm']
        additional_dependencies: ['clang-format']
        exclude: >-
          (?x)^(
            tools/manual/collapsibleList.js|
            tools/manual/toggle_folding.js|
          )$
    -   id: shfmt
        name: 'Reformat shell scripts with shfmt'
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ['-i=2', '-ci', '-sr', '-w']
        files: '\.sh$'

Update DBCSR
  exts/build_dbcsr/Makefile
Due: none

Added journal reference
  docs/methods/dft/hartree-fock/ri_kpoints.md
  src/common/bibliography.F
  src/hfx_ri_kp.F
Due: doxify, prettify, analyze_src

improve convergence of GW bandstructure calculation & improve manual
  docs/methods/properties/bandstructure_gw.md
  docs/methods/properties/optical/bethe-salpeter.md
  src/common/bibliography.F
  src/gw_communication.F
  src/gw_small_cell_full_kp.F
  src/gw_utils.F
  src/input_cp2k_mp2.F
  src/input_cp2k_properties_dft.F
  src/post_scf_bandstructure_utils.F
  src/rpa_gw.F
  tests/QS/regtest-scalable-gw/07_G0W0_periodic_H2O_kp_sampling_SCF.inp
  tests/QS/regtest-scalable-gw/TEST_FILES
Due: doxify, prettify, analyze_src

correct regtest filename
  tests/QS/regtest-scalable-gw/07_G0W0_periodic_H2Te_kp_sampling_SCF.inp
  tests/QS/regtest-scalable-gw/TEST_FILES
Due: none

prettify
  tests/QS/regtest-scalable-gw/07_G0W0_periodic_H2Te_kp_sampling_SCF.inp
Due: none

trigger regtest again (present commit shouldn't cause slow RI-HFX test)
  src/gw_large_cell_gamma.F
Due: doxify, prettify, analyze_src

improve convergence of GW bandstructure calculation & improve manual
  docs/methods/properties/bandstructure_gw.md
  docs/methods/properties/optical/bethe-salpeter.md
  src/common/bibliography.F
  src/gw_communication.F
  src/gw_large_cell_gamma.F
  src/gw_small_cell_full_kp.F
  src/gw_utils.F
  src/input_cp2k_mp2.F
  src/input_cp2k_properties_dft.F
  src/post_scf_bandstructure_utils.F
  src/rpa_gw.F
  tests/QS/regtest-scalable-gw/07_G0W0_periodic_H2Te_kp_sampling_SCF.inp
  tests/QS/regtest-scalable-gw/TEST_FILES
Due: doxify, prettify, analyze_src

Docs: Remove issue because it's not needed for APS-style citations
  src/common/bibliography.F
  src/common/reference_manager.F
Due: doxify, prettify, analyze_src

Docs: Fix malformatted authors
  src/common/bibliography.F
Due: doxify, prettify, analyze_src

Docs: Reformat authors to match APS citation style
  docs/generate_input_reference.py
  docs/methods/properties/x-ray/correction_scheme.md
  src/common/bibliography.F
  src/common/reference_manager.F
Due: doxify, prettify, analyze_src

Conventions: Fix false positives for allocatable char components
  tools/conventions/analyze_gfortran_ast.py
  tools/conventions/conventions.supp
Due: none

Updated libgrpp
  src/libgrpp_integrals.F
  tools/toolchain/scripts/stage3/install_libgrpp.sh
Due: doxify, prettify, analyze_src, shfmt

Abbreviate journal names, add missing pages, introduce small/large caps
  src/common/bibliography.F
Due: doxify, prettify, analyze_src

add optical properties from BSE and improve cutoff handling
  src/bse_full_diag.F
  src/bse_main.F
  src/bse_util.F
  src/input_cp2k_mp2.F
  src/mp2.F
  src/mp2_gpw.F
  src/mp2_integrals.F
  src/mp2_setup.F
  src/mp2_types.F
  src/rpa_gw_sigma_x.F
  src/rpa_main.F
  tests/QS/regtest-bse/BSE_H2O_PBE.inp
  tests/QS/regtest-bse/TDA_H2O_PBE.inp
  tests/QS/regtest-bse/TEST_FILES
  tests/TEST_TYPES
Due: doxify, prettify, analyze_src

Updated LIBXSMM.
  tools/toolchain/scripts/stage4/install_libxsmm.sh
Due: shfmt

* Adjusted tolerances.
  tests/QS/regtest-hfx-ri/TEST_FILES
  tests/QS/regtest-lrigpw/TEST_FILES
Due: none

Updated LIBXSMM
  tools/toolchain/scripts/stage4/install_libxsmm.sh
Due: shfmt

Prettify
  CMakeLists.txt
Due: none

Removed "supports x86 platforms" since ARM64 is supported as well.
  CMakeLists.txt
Due: none

Improve formatting of references in output file
  src/common/reference_manager.F
Due: doxify, prettify, analyze_src

Remove month and day from bibliography
  docs/generate_input_reference.py
  src/common/bibliography.F
  src/common/reference_manager.F
Due: doxify, prettify, analyze_src

Remove duplicate bibliography entries
  src/common/bibliography.F
Due: doxify, prettify, analyze_src

Update index.md
  docs/methods/properties/optical/index.md
Due: none
